[2015-11-16 18:38] parcel31u opened #273 "0.6.0.1015 Assembly Machine NEI integration doesn't work or is missing"
Even when adding MT recipes, looking up recipes in NEI doesn't work and there is no in gui recipe checker. (standalone)

[2015-11-16 18:42] Carbon-Ghost commented on #273
Has been removed from normal mod, you can readd minetweaker recipes for it and other recipes, but it was mean't for modpack makers ;) Please close this.

[2015-11-16 18:57] Xen1290 commented on #273
https://github.com/TechReborn/TechReborn/issues/240

[2015-11-16 18:59] modmuss50 commented on #273
Nothing has been removed, I did recode it, it should have backwards compatability.

[2015-11-16 19:01] #273 closed

[2015-11-16 19:02] modmuss50 commented on #273
I will get a build with this on curse tonight.

[2015-11-16 22:24] parcel31u opened #274 "0.6.1.1021 (standalone) crash in creative menu"
http://pastebin.com/N0wJMasa

[2015-11-16 22:48] modmuss50 commented on #274
I will get this fixed soon, and push another update that will include the reactor.

[2015-11-17 07:52] #268 closed

[2015-11-17 07:52] #274 closed

[2015-11-17 08:52] BakermanLP opened #275 "Machines don't use energy"
Hello,
when you filled up a machine with EU and put some work in the machine, the internal buffer doesn't go down / gets consumed.

Tested versions:
- industrialcraft-2-2.2.790-experimental.jar
- RebornCore-1.0.0.8-universal.jar
- TechReborn-0.6.1.1021-universal.jar

Thanks for your mod.

Michael (aka BakermanLP)

[2015-11-17 11:13] #275 closed

[2015-11-17 12:30] BakermanLP commented on #275
Sorry to say that, but https://github.com/TechReborn/TechReborn/commit/9283e46a1fdc2b313e1ef4168b148ce794fe1271 doesn't fix the problem. No Energy usage in single block and multiblock machines.

[2015-11-17 13:25] Aroma1997 commented on #254
@Xen1290 no, you're not uding the latest version. The latest version is .b59

[2015-11-17 13:32] Xen1290 commented on #254
Now yes, yesterday the latest version was b58. I'll try if this is fixed.

[2015-11-17 13:32] modmuss50 commented on #254
The crash is fixed. and I cannot see an easy way for walia to get client side only data.

[2015-11-17 13:32] #254 closed

[2015-11-17 13:33] modmuss50 commented on #275
@BakermanLP opps, It should be fixed, now. I've noticed some of the recipes don't use a lot of power so it might take a while for you to see the power go down. But it has been fixed.

[2015-11-17 13:49] Xen1290 commented on #254
Yes, fixed with b59

[2015-11-17 14:31] BakermanLP commented on #275
Now it works as intended. Thanks a lot!

[2015-11-18 08:27] BakermanLP opened #277 "Minetweaker and Fusion Reactor"
Hello (again),
I am trying to implement some recipes into the fusion reactor.

This is the file:
http://pastebin.com/a5r1qXKj

Removing the recipes is working, adding new ones not.

The error is:
[09:10:18] [Client thread/INFO]: [CHAT] ERROR: TechReborn.zs:27 > No such static member in mods.techreborn.fusionReactor: addRecipe
[09:10:18] [Client thread/INFO]: [CHAT] ERROR: Error executing TechRebor

[2015-11-18 08:29] #277 closed

[2015-11-18 08:35] modmuss50 commented on #277
Very quick fix.

[2015-11-18 11:34] BakermanLP commented on #277
WOW ... that was very fix. Thanks! BTW ... works like a charm!

[2015-11-18 16:31] Xen1290 commented on #227
Now this is the "machines not implemented from GregTech 2" issue.

[2015-11-18 16:34] modmuss50 commented on #227
Ok thanks for that.

[2015-11-18 16:36] Xen1290 commented on #227
:+1:

[2015-11-18 16:38] Xen1290 opened #278 "Some NEI Handler are missing"
From GregTech 2:
NEI Handlers for:
- [ ] Magic Energy Converter
- [ ] Distillation Tower

For that machines:
- [ ] Semi-fluid Generator
- [ ] Thermal Generator
- [ ] Gas Turbine
- [ ] Diesel Generator

Here a preview from GT2, same for all machines:
![2015-11-18_17 27 07](https://cloud.githubusercontent.com/assets/8685029/11247160/2cc1df38-8e1b-11e5-8eb5-33a64cb73e80.png)

TechReborn-0.7.0.1036-un

[2015-11-18 16:49] Xen1290 opened #279 "Missing information and slots in AESU/LESU/IDSU"
Missing Charge and Discharge slots, and informations in the black screen.
See here, from GregTech2:
![2015-11-18_17 00 53](https://cloud.githubusercontent.com/assets/8685029/11247379/20dddc48-8e1c-11e5-9dad-d0202c03cf69.png)
![2015-11-18_17 01 11](https://cloud.githubusercontent.com/assets/8685029/11247380/20e08f56-8e1c-11e5-900d-023768be64eb.png)
![2015-11-18_17 26 48](https://cloud.githubusercon

[2015-11-18 16:54] Xen1290 opened #280 "Wrong Industrial Electrolyzer progress bar"
See:
TechReborn
![2015-11-18_17 53 32](https://cloud.githubusercontent.com/assets/8685029/11247672/5f60ee6e-8e1d-11e5-8f7b-1d31e0865a87.png)
GregTech2
![2015-11-14_15 00 46](https://cloud.githubusercontent.com/assets/8685029/11247680/6c7d9958-8e1d-11e5-943f-6b1316c957a8.png)
TechReborn-0.7.0.1036-universal
RebornCore-1.0.0.10

[2015-11-18 17:17] Xen1290 opened #281 "Power Issues"
If you fill the interenal storage with a batbox and a cable and then, remove the cable, you have infinite energy in the machines.This for all machines.
To reproduce, use this setup:
![2015-11-18_18 15 16](https://cloud.githubusercontent.com/assets/8685029/11248253/79ffe998-8e20-11e5-971e-2e377b55a63d.png)
![2015-11-18_18 15 20](https://cloud.githubusercontent.com/assets/8685029/11248254/7a0d9e1c-8

[2015-11-18 17:24] Xen1290 opened #282 "Wrong Vacuum Freezer Name"
![2015-11-18_18 01 03](https://cloud.githubusercontent.com/assets/8685029/11248358/0a022222-8e21-11e5-81b9-64b61ff193c8.png)

[2015-11-18 17:26] modmuss50 commented on #281
What version are you running?

[2015-11-18 17:27] Xen1290 commented on #281
TechReborn-0.7.0.1036-universal
RebornCore-1.0.0.10

[2015-11-18 18:01] Aroma1997 commented on #254
And what was the thing with the tooltip?

[2015-11-18 18:06] modmuss50 commented on #254
I thought it was possible to show the amount of power in a machine in walia easily. It wasn't. So I couldn't fix it. It was nothing to do with your mod.

[2015-11-18 18:35] #281 closed

[2015-11-18 18:36] gigabit101 commented on #282
GG @modmuss50

[2015-11-18 18:36] #282 closed

[2015-11-18 18:43] modmuss50 commented on #282
@gigabit101 I only had to copy and paste about 500 classes and hope I didnt miss anything.

[2015-11-18 19:41] #264 closed

[2015-11-18 19:56] modmuss50 commented on #227
Ive updated the list, the chunkLoaded will be put it add-ons at some point.

[2015-11-18 20:14] #263 closed

[2015-11-19 15:43] Xen1290 opened #283 "Question about Fusion Reactor"
The Fusion Reactor is intended in this way? It's very different from GregTech 2.
Different GUI, different multiblock ...etc?

[2015-11-19 16:29] gigabit101 commented on #283
Nope this is the same as what was in Gtech 2.78c what is the version we are remaking

[2015-11-19 16:29] #283 closed

[2015-11-19 16:52] Xen1290 commented on #283
Oh,sorry. the only version of GregTech 2 that I have is from FTB Ultimate, and the only foundable in GregTech tread, and let me know if I miss something:
Alloy Smelter was added in 2.80f
Digital Chest was added in 2.79d
(http://ftb.gamepedia.com/GregTech_2/Changelog)
So these machines will be removed?
Sorry but I can't understand why some machines are added, other not, and others that have never e

[2015-11-19 17:44] gigabit101 commented on #283
There are a few things in TechReborn just for map makers like the Assembly machine.
As for the digital chest yes that will be removed.
And the Alloy Smelter will be off by default but will still be there for mapmakers.
I think @parcel31u is using it in his pack??

[2015-11-19 17:45] gigabit101 opened #284 "Remove Digital Chest"
Digital Chest was added after the version we are remaking Quantum Chest is still fine

[2015-11-19 17:45] gigabit101 opened #285 "Alloy Furnace/Smelter should be off by default"

[2015-11-19 17:48] gigabit101 commented on #236
Nope it is not a issue no other machine eg: forestry engines return the cells.

[2015-11-19 17:49] gigabit101 commented on #237
This needs to be done for making some of the cells for the fusion reactor

[2015-11-19 17:54] gigabit101 opened #286 "Player Detector"
No Gui
Max power in 32 eu/t
ON right click change mode

Modes
Detect only player who right clicked
Detect all player's who right clicked

emits redstone signal if true

[2015-11-19 17:59] gigabit101 opened #287 "Scrapboxinator"
Put scrap box's in bottom slot and a random item from scrapbox drop tables is placed in top slot
32 eu/t
Gui
http://puu.sh/lrjdn/31f59896a2.jpg

[2015-11-19 17:59] parcel31u commented on #283
Yes I am.

[2015-11-19 18:01] gigabit101 commented on #283
well there u go it will be staying in the mod just with no recipe by default

[2015-11-19 18:02] wormzjl commented on #236
But the gt machines are known for not comsuming cells

[2015-11-19 18:02] gigabit101 opened #288 "Charge-O-Matt"
Rename charge bench to Charge-O-Matt and rework to fit the old style gui
http://puu.sh/lrjuo/49400b288d.jpg

[2015-11-19 18:03] gigabit101 commented on #236
well shit you are right http://puu.sh/lrjy6/afd66db33b.jpg

[2015-11-19 18:13] Xen1290 commented on #283
@gigabit101 Oh well, thanks for the informations. So maybe move these machines to addons instead of remove? So someone can merge the gap between 2.78c and 2.90h.

[2015-11-19 20:06] modmuss50 commented on #230
I still dont know what is wrong with this? Is it just the place where you have to click is out?

[2015-11-19 20:19] gigabit101 commented on #230
The recipes button is showing up inside the recipe handler

[2015-11-19 20:19] gigabit101 commented on #230
and its not in the right place

[2015-11-19 20:20] modmuss50 commented on #230
It does that in the vanilla crafting table, no way to fix.

[2015-11-19 20:20] gigabit101 commented on #230
well its overlapping slots

[2015-11-19 20:21] modmuss50 commented on #230
ok, That should be easy to fix.

[2015-11-19 21:22] Xen1290 opened #289 "Some questions"
@gigabit101 @modmuss50 I put here some questions, because I can't find any other place to ask.

- In README, I read that you have the permission to use Greg's textures, so why only a few are used? Textures are messed up, some guis are 512x,some are 256x, some have still the G of GregTech and others have useless slots, etc.. So maybe switch to almost only use greg textures?(Faithful or classic with

[2015-11-20 01:21] walkerjonny opened #290 "Crash with GregTech 5.09.10 and TechReborn 0.5.6.1005+: Ambiguous Recipe"
Hi,

it seems that you have now an issue with GT5u.
There is an ambiguous recipe exception when updating from TechReborn 0.5.6.963 to newer builds while GregTech 5u 5.09.10 is already present.
http://pastebin.com/jBtNRyTt
Is there really no way for you to catch those Ambiguous Recipe Exceptions?

[2015-11-20 07:33] modmuss50 commented on #290
I can add a check for Greg tech and then not add that recipe

[2015-11-20 08:13] joflashstudios commented on #290
@walkerjonny you're running GT5u alongside a GT2 clone? I'm honestly curious - why?

[2015-11-20 08:30] modmuss50 commented on #290
I did say that we weren't supporting it, but I dont see that it would be a problem if I was to fix it.

[2015-11-20 08:36] modmuss50 commented on #290
The recipe that is crashing it is just a basic macerator one:

https://github.com/TechReborn/TechReborn/blob/master/src/main/java/techreborn/compat/recipes/RecipesIC2.java#L1221

[2015-11-20 08:39] modmuss50 commented on #289
I think we should use Greg's textures but without the G.

[2015-11-20 10:15] walkerjonny commented on #290
Oh, I didn't know that you do not support GT5u alongside with TechReborn.
I have just recogniced that you aimed to make TechReborn compatible to as many mods as possible
I like to do both development stages to compare them and to have just fun with it.
By the way: Why macerating 10 Redstone Dust out of a Block of Redstone that was made out of 9 Redstone Dust usually? This is very unusual at all an

[2015-11-20 11:11] modmuss50 commented on #290
Thanks for spotting that, I will fix the recipe to only give you 9, and I will not add that recipe when GT is installed.

[2015-11-20 11:20] walkerjonny commented on #290
Well, as long as you do not change the output amount to something else than the usual amount the recipes should not become ambiguous even when you add them.

[2015-11-20 15:43] Xen1290 commented on #289
I think so

[2015-11-20 15:44] gigabit101 commented on #289
I agree maybe we should replace the "G" with a "T" why we are at it

[2015-11-20 17:52] Carbon-Ghost commented on #289
Can you please make a list of all machines please ? I have all 16x16 textures, I just need the list of which one you need + I also have GUIs

[2015-11-20 17:54] modmuss50 commented on #289
I am thinking of rewriting all GUIs in code. I'm not sure if I will do though.

[2015-11-20 18:05] Xen1290 commented on #289
For me, the important thing is to match the GUI with classic gregtech style without the G, but with a T, like gigabit suggested.

[2015-11-20 18:11] Carbon-Ghost commented on #289
Listen, I can do all of this + Replacing G by T But I just need a list ^-^ ( and a bit of time ).

[2015-11-20 18:12] modmuss50 commented on #289
I am recoding all of the guis, they will be a lot easier to maintain, and get the style correct/perfect.

[2015-11-20 18:14] Carbon-Ghost commented on #289
All 16x16 I guess ^-^ Also can someone list me all GTR machines for me to do textures pls :P

Gonna use classical ones, I have no time to do exp ones + Imo GTR should support IC2 classic in priority as a GT 4 revival for exp already exist, GT5u ( have all old stuff + new ones + new stuff based on old ones as a continuation and to blend in )

Gonna maybe do exp one if I have time ^^

[2015-11-20 18:18] gigabit101 commented on #289
Well the mod can be loaded by itself its stand alone

[2015-11-20 18:47] Carbon-Ghost commented on #289
Yup but is still wip when standalone :/

[2015-11-20 18:54] modmuss50 commented on #289
Its only missing recipes. If someone makes a PR with recipes it will be done.

[2015-11-20 18:55] Carbon-Ghost commented on #289
I can make a MT script but don't have time atm and have a massive headache, anyway for now I am out..

[2015-11-20 22:50] wormzjl commented on #219
Seems to be bugged still
Using the following expression
mods.techreborn.alloySmelter.removeInputRecipe(<techreborn:ingot:0>);
I got this in the MT log
ERROR: Error executing tic.zs: null
java.lang.NullPointerException
	at techreborn.compat.minetweaker.MTGeneric.removeInputRecipe(MTGeneric.java:36)
	at Tic.__script__(tic.zs:22)
	at __ZenMain__.run(tic.zs)
	at minetweaker.runtime.MTTweaker.load(MTTw

[2015-11-21 08:54] modmuss50 commented on #219
That should fix it ^^^

[2015-11-21 09:05] modmuss50 commented on #289
an MT isn't very useful, I guess I could port it thought...

[2015-11-21 18:41] Xen1290 commented on #289
Oh, I think not only GUI, but also blocks and items textures need to match original GregTech style.

[2015-11-21 19:51] joflashstudios commented on #289
@Xen1290 this was something I noticed a while back - namely that all the machine textures are missing the border they had in GT.

[2015-11-21 19:54] joflashstudios commented on #289
@Carbon-Ghost Are you saying GT5u is a GT4 revival? That's not correct. It's a continuation of GT5, which is drastically different from GT4.

[2015-11-22 10:27] #290 closed

[2015-11-22 11:17] #286 closed

[2015-11-22 12:45] Speiger commented on #252
Well there is a problem @modmuss50 IC2 Exp Upgrades and IC2 Classic upgrades are totally differend...

[2015-11-22 12:46] modmuss50 commented on #252
Is there an API or something that I can hook into?

[2015-11-22 12:51] Speiger commented on #252
IC2 Classic has a API in the API area and Exp has a API in their sourceCode...
The could colide^^

[2015-11-22 12:56] Speiger commented on #252
for classic:
https://github.com/TinyModularThings/IC2Classic/blob/master/src/main/java/ic2/api/item/IMachineUpgradeItem.java
https://github.com/TinyModularThings/IC2Classic/blob/master/src/main/java/ic2/api/tile/IMachine.java

[2015-11-22 13:31] modmuss50 commented on #252
With it being in the source code it could be hard for me to use. With yours I can use JTraits to add it to the class

[2015-11-22 13:36] Speiger commented on #252
well with sourcecode i mean simply its not in the API. so you require IC2 Exp to have the class aviable...

[2015-11-22 14:20] modmuss50 commented on #252
I was trying not to do that, but it looks like I may have to

[2015-11-22 14:26] modmuss50 commented on #252
its not as simple as just implementing the class and it works? I need to write some code to handle the items?

[2015-11-22 14:46] Speiger commented on #252
Well actuall it is... But with Exp you have the problem that you can not detect it easy with @Optional

[2015-11-22 14:48] Speiger commented on #252
So you have to implement these interfaces and have to be sure that Exp is installed.... (For machines and ItemUpgrades)

If you want to make that machines get supportet you have to simply check the upgrade slots and calculate the numbers. you do not have to support every function but that what you want to support. (onInstalling (classic only i think) and onTick should be supported)

[2015-11-22 14:49] modmuss50 commented on #252
Ok, that doesn't sound too bad. Thanks for the help

[2015-11-22 15:02] Speiger commented on #252
only problem you will have if you support Exp then you need Special external TileEntites because @Optional is not working for Exp... So you can not remove the Interface from Your machines if you support Exp (only if you do it yourself). Other way around it is possible

[2015-11-22 15:10] modmuss50 commented on #252
Ive got away round that issue.

[2015-11-22 15:27] Speiger commented on #252
cool

[2015-11-23 20:40] modmuss50 opened #291 "1.8.8 Update blog thing"
https://modmuss50.me/shots/2015-11-23_20-39-52.png

Nothing works, no textures for anythig.

[2015-11-23 21:16] Xen1290 commented on #291
Without Ic2 or thermal expansion, everything is useless, no e-net, no cross-mod compatibility, etc... I think you should wait until 1.9, because for example cofh will never update to 1.8. 1.9 is the selected modded version as far as I know.

[2015-11-23 21:35] modmuss50 commented on #291
We have a built in E-Net, we are supporting the 1.8 port of RF. ATM 1.8.8 is just a bit of fun. I still aim on getting a stable 1.7.10 build at somepoint

[2015-11-23 21:51] Xen1290 commented on #291
ah, now I understand

[2015-11-24 21:43] modmuss50 commented on #291
Blocks without jsons: https://modmuss50.me/shots/2015-11-24_21-14-27.png
Items without json: https://modmuss50.me/shots/2015-11-24_21-34-27.png

[2015-11-25 21:03] modmuss50 commented on #291
https://modmuss50.me/shots/2015-11-25_21-03-06.png

[2015-11-26 21:50] modmuss50 commented on #291
Builds are now on jenkins:
http://modmuss50.me:8080/job/RebornCore-1.8.8/
and
http://modmuss50.me:8080/job/TechReborn-1.8.8/

Its not that far off from a public beta, just need to register all of the textures.

[2015-11-27 21:54] modmuss50 commented on #291
Things should be getting stable now. Testing would be appreciated.

[2015-11-28 22:10] #291 closed

[2015-11-28 22:10] #289 closed

[2015-11-28 22:53] modmuss50 opened #292 "License change"
We would like to change the license of TechReborn to the MIT license. But first I need the permission of all of the people who have contributed.

@Amamiya-Nagisa

Please reply to this issue saying that you are happy for us to change the license of your code.

[2015-11-28 22:53] gigabit101 commented on #292
I agree to the change

[2015-11-28 22:56] Mattabase commented on #292
I agree to the change

[2015-11-28 23:04] Tntrololol commented on #292
I agree to the change

[2015-11-29 00:24] primetoxinz commented on #292
I agree to the change

[2015-11-29 00:34] UniversalLP commented on #292
I agree to the change

[2015-11-29 00:47] joflashstudios commented on #292
Sounds good.

[2015-11-29 00:50] MrBretze commented on #292
I agree to the change

[2015-11-29 05:00] TehporP commented on #292
go ahead     do whatever you want :)

[2015-11-29 05:57] TheQuantumGeneral commented on #292
Fine by me, go ahead.

[2015-11-29 08:12] asiekierka commented on #284
Is it really a bug to add new things?

[2015-11-29 10:22] Mj11jM commented on #292
go ahead

[2015-11-29 12:53] Carbon-Ghost commented on #289
It's not a perfect revival of GT4, but rather a continuation of GT4 / how GT5 was supposed to be as a lot of mechanics and stuff from GT4 was re-implemented.

[2015-11-29 13:13] joflashstudios commented on #284
I really agree with @asiekierka - I think the goal shouldn't so much be to re-implement a specific version and feature-set of GregTech as much as it is to take GregTech and use it as a basis/inspiration for a mod that's fun to play. I don't think you should really make ANY design decisions just based on what was or wasn't in 2.79c (or whatever version.)

If there's a design/balance/whatever reason

[2015-11-29 13:55] Xen1290 commented on #284
I've said this for weeks...

[2015-11-29 13:57] modmuss50 commented on #284
So you saying take the good things from GT and then merge it to make it work great with modern minecraft?

[2015-11-29 14:04] Xen1290 commented on #284
For me, re-implement all GregTech(2-3)things and then add other, like BluePower did

[2015-11-29 14:05] modmuss50 commented on #284
I need a solid list of things that need doing, not just a bunch of random github issues. I will come up with a place where I can see what needs doing.

[2015-11-29 21:17] joflashstudios commented on #284
What I was talking about isn't even so much about original content, thought that is also good if it's creative and fun to play.

What I was saying was that I think it is pointlessly restrictive to say that you're essentially re-implementing a specific release of GT. My original understanding of the project was that you were trying to take all of the fun and general flavor of GT pre-GT5 where thing

[2015-11-30 08:52] Mazdallier commented on #292
It doesn't change anything for the translation work so go ahead !

[2015-11-30 10:01] Calenria commented on #182
Data Orb and Data Control Circuit seem to be missing.

[2015-11-30 10:31] modmuss50 commented on #292
@Amamiya-Nagisa are you around?

[2015-11-30 11:07] TehporP commented on #292
@modmuss50
He agree    he dont know how to use github

[2015-11-30 11:17] modmuss50 commented on #292
ok thanks for that :)

[2015-11-30 11:17] #292 closed

[2015-11-30 17:50] Carbon-Ghost commented on #292
I also agree, but seems like I was forgotten xD Oh well not really important as I don't understand licenses and haven't done much anyways xD

[2015-11-30 17:53] liach commented on #292
@Carbon-Ghost You was not in [this list](https://github.com/TechReborn/TechReborn/graphs/contributors)

[2015-11-30 18:04] Carbon-Ghost commented on #292
I used to though :C ( and I did some textures and was the official IC2 classic bug finder ) :C

[2015-11-30 18:05] modmuss50 commented on #292
You didn't commit, so it would have been classed as the other persons work

[2015-11-30 18:23] Carbon-Ghost commented on #292
oh kk ^-^

Derp :P

[2015-12-01 08:39] TheQuantumGeneral commented on #284
I agree with the points made by Joflashstudios

[2015-12-02 13:52] wormzjl commented on #227
And the electric sorting machine that used to separate small dust from normal dusts

[2015-12-05 09:35] wormzjl opened #293 "Industrial grinder multiblock checking bug"
I put it like this
![image](https://cloud.githubusercontent.com/assets/2989009/11607149/43e9dd74-9b44-11e5-980d-3cce9cbee043.png)
And it works
![image](https://cloud.githubusercontent.com/assets/2989009/11607150/4c8f11d8-9b44-11e5-91db-fc8e3904bb48.png)

Edit:same for implosion compressor, but it seems that the blast furnance and vacuum freezer has no problem

[2015-12-05 15:04] wormzjl opened #294 "Don't use localization in config files"
This can mess up stuff sometimes

[2015-12-05 15:14] modmuss50 commented on #294
Good point, I would be ok if the configs were gen'ed in the language of choice, but I would reset when if someone changed the language on custom configs. For example a mod pack.

[2015-12-05 15:15] modmuss50 commented on #293
1.7.10 or 1.8.8?

[2015-12-05 15:17] wormzjl commented on #293
1.7.10 for sure

[2015-12-05 15:18] modmuss50 commented on #293
Ok thanks, wasn't sure if it was something that I broke during porting.

[2015-12-05 18:17] gigabit101 commented on #293
GG @modmuss50

[2015-12-05 20:23] #293 closed

[2015-12-07 14:21] wormzjl commented on #217
Can fix this anytime soon?

[2015-12-07 15:41] modmuss50 commented on #217
Its a pain to fix, but I needs doing.

[2015-12-08 22:17] wormzjl opened #295 "Iron alloy furnace derp"
Edit: Seems that this bug only happens with the iron alloy furnace, the electric one works well

Feed with 1 gold and 1 silver ingot -> you get 2 electrum ingots, which is normal
Feed with 1 stack of gold and silver. it becomes...
![image](https://cloud.githubusercontent.com/assets/2989009/11670250/7bffd1a6-9e09-11e5-9116-1af34688fd3c.png)
Where item in the first slot is consumed by 4, and the sec

[2015-12-08 22:34] wormzjl commented on #295
Also, when broken by a pickaxe this thing drops a machine block, but it does not require a machine block when crafting

[2015-12-10 18:23] wormzjl opened #296 "Unable to automatically insert cells into machine cells slots"
for machines like electrolyzer

[2015-12-11 13:36] wormzjl opened #297 "Crash trying to connect bluepower tubes to machine"
http://pastebin.com/XxT7SAmK

[2015-12-11 19:07] modmuss50 commented on #297
Do you happen to have a multi part cable next to a BC tube? It could also be an issue with uncomplication as you also have that installed.

[2015-12-11 19:17] wormzjl commented on #297
No I only have the industrial grinder+bp tube

[2015-12-11 19:24] modmuss50 commented on #297
Thats strange as that crash is coming from a multi part ic2 cable.

[2015-12-11 19:26] wormzjl commented on #297
From my memories ic2 cables shouldn't be multipart?

[2015-12-11 19:27] modmuss50 commented on #297
We add support for them, and this error is being called from one. Can you still load the world?

[2015-12-11 19:28] wormzjl commented on #297
No it keeps crashing :p

[2015-12-11 19:31] modmuss50 commented on #297
Gah, sorry.

[2015-12-11 20:24] wormzjl commented on #297
Since you have mentioned adding fmp support for ic2 wires, did you replace the original one or just added some asm?

[2015-12-11 20:41] modmuss50 commented on #297
They get converted when you try to place a cover on them, there is no asm or replacement

[2015-12-11 20:43] wormzjl commented on #297
Hmm I haven't placed any covers, perhaps you can add a config for that to prevent such problems?

[2015-12-11 21:21] modmuss50 commented on #297
I get a different crash. But I can confirm.

[2015-12-11 21:24] modmuss50 commented on #297
https://gist.github.com/modmuss50/3573e3c2ad8631b50bc9 That's what I get

[2015-12-11 21:27] modmuss50 commented on #297
From IRC:
21:25 <@amadornes> yeah, that's already been reported
21:25 <@amadornes> but I can't do much to fix it right now since I'm working on the "rewrite"

[2015-12-11 21:33] #296 closed

[2015-12-11 21:33] modmuss50 commented on #297
Its a BluePower bug, sorry

[2015-12-11 21:38] modmuss50 commented on #295
Are the ones in NEI showing up correctly? If so its an issue with the logic.

[2015-12-11 21:40] wormzjl commented on #295
Yeah nei was fine

[2015-12-11 21:41] wormzjl commented on #297
Derp :p

[2015-12-11 21:52] #295 closed

[2015-12-12 11:45] #284 closed

[2015-12-12 11:48] #297 closed

[2015-12-13 01:26] gxy17886 opened #298 "1.8.8 version Material loss"
I download the mod 1.8.8 version and play a time .but I look all block are black and pink .I hope author can fix the Material loss. forhe version 11.15.0.1624.thanks

[2015-12-13 01:26] gxy17886 commented on #298
forge version 11.15.0.1624

[2015-12-13 09:15] modmuss50 commented on #298
Did it happen when you updated forge, because that version of forge fixed an issue with that. See: https://github.com/MinecraftForge/MinecraftForge/commit/0632f2aadf50a39b3300a6999ec0085ffc6b3a8f

[2015-12-13 09:38] gxy17886 commented on #298
you means the problem of forge ?but I update the forge right now ,this problem still exist.forge version 11.15.0.1625

[2015-12-13 09:47] modmuss50 commented on #298
Did this happen after you updated forge? Or did it just randomly happen?

[2015-12-13 09:54] gxy17886 commented on #298
eww...today I fine the TechReborn 1.8.8 version in the curse and download it. It is the first time play this MOD in the 1.8.8 version . All the block and items are material loss . the first 1.88 forge version is 1624.and then update 1625.please look at the picture .(http://i4.tietuku.com/507c8ab722be1fc2.png).Hope you can look at.:-D.If not can you tell me picture bed you can see. thanks

[2015-12-13 09:55] gxy17886 commented on #298
sorry, web: http://i4.tietuku.com/507c8ab722be1fc2.png

[2015-12-13 10:00] modmuss50 commented on #298
Ah!, ok I get what you mean.

[2015-12-13 13:37] #298 closed

[2015-12-13 13:49] modmuss50 commented on #298
As soon as it gets verified by curse you will need to download the latest version of Reborn core

[2015-12-13 13:55] gxy17886 commented on #298
OK.I will update the reborn core .thanks again.And finally 1.8.8 version can play technology type MOD。:-D

[2015-12-14 00:50] gxy17886 opened #299 "Some 1.8.8 version BUG"
hey,I came again.today I update the reborn core version .AND play  for a while.Find some problem.Let me tell you.
1.All texture material  of machine are lose. But all the items can see the texture.(only 3 items can't see). web: http://i4.tietuku.com/118105717903c212.png  and http://i4.tietuku.com/2ce7868951d5a6b2.png.
2.when I test the MOD .I take the block .and see a shadow of a bow.and dialog pr

[2015-12-14 11:01] modmuss50 commented on #299
I can confirm this, it works fine in dev, but does not work in a obofed env.

[2015-12-14 11:07] #299 closed

[2015-12-14 11:50] Xyic0re opened #300 "missing dusts"
Small dust for green sapphire is missing.
Olivine regular dust is missing along with the small dust.

  public static final String[] types = new String[]
            {"Almandine", "AluminumBrass", "Aluminum", "Alumite", "Andradite",
                    "Antimony", "Ardite", "Ashes", "Basalt", "Bauxite", "Biotite",
                    "Brass", "Bronze", "Cadmium", "Calcite", "Charcoal", "Chrome",

[2015-12-14 13:50] wormzjl opened #301 "diesel generator crash"
http://pastebin.com/6xYKz3Wi

[2015-12-14 17:41] modmuss50 commented on #301
How do I reproduce this? Its it in 1.7?

[2015-12-14 17:45] #300 closed

[2015-12-14 18:03] wormzjl commented on #301
yeah 1.7
I've just found this in the log, no idea how it happened since I got remove errored TEs on

[2015-12-14 18:03] liach commented on #301
https://github.com/TechReborn/TechReborn/blob/master/src/main/java/techreborn/tiles/TileDieselGenerator.java#L149

[2015-12-14 18:13] #301 closed

[2015-12-15 03:10] Xyic0re commented on #182
Assembling machine, missing recipe and uses

[2015-12-16 09:08] BakermanLP opened #302 "AESU doesn't keep settings between saves"
To reproduce: Place an AESU, set output to anything, for example 512 EU, "Save and Quit to title". Reload World an settings are gone.

Tested version:
- TechReborn-0.7.2.1066-universal.jar

[2015-12-16 09:12] BakermanLP opened #303 "Enhancement: Implement Modtweaker support to the Rolling Machine"
Hello,
it would be nice, to add some recipes to the rolling machine via Mine- / ModTweaker.

Thanks!

Michael (aka BakermanLP)

[2015-12-16 11:07] #302 closed

[2015-12-16 12:05] BakermanLP opened #304 "Grinder doesn't recognize multiblock structure"
I built the grinder multiblock
3x3 standard machine casings
3x3 hollow reinforced machine casings with water in the middle
3x3 standard machine casings
Then I placed a industrial grinder at the middle layer on the middle block.

![indgrinder](https://cloud.githubusercontent.com/assets/3873443/11840315/220d4826-a3f5-11e5-865a-70778dde4a97.jpg)
But I got the error "Missing Multiblock" in the gui.
Ot

[2015-12-16 15:56] #304 closed

[2015-12-16 17:42] assasing123 opened #305 "Server Side Crash on load TechReborn"
[11:41:01] [Server thread/INFO]: Starting minecraft server version 1.8.8
[11:41:04] [Server thread/INFO]: Loading properties
[11:41:04] [Server thread/INFO]: Default game type: SURVIVAL
[11:41:04] [Server thread/INFO]: Generating keypair
[11:41:04] [Server thread/INFO]: Starting Minecraft server on *:25565
[11:41:04] [Server thread/INFO]: Using default channel type
[11:41:04] [Server thread/WARN]:

[2015-12-17 07:01] BakermanLP commented on #305
Have you also installed the Reborn Core mod? http://minecraft.curseforge.com/projects/reborncore/files

[2015-12-17 07:50] BakermanLP commented on #304
Thank you, now this works great!

[2015-12-17 11:05] covers1624 commented on #305
^^

[2015-12-17 11:09] modmuss50 commented on #305
If we could have the full log, it would be more usefull.

[2015-12-17 16:10] wlhlm opened #306 "Crash trying to open Thermal Generator interface"
Right-clicking a freshly placed Thermal Generator with a Lava Bucket and trying to open its user interface afterwards results in the game crashing.

[Crashlog](https://paste.ee/p/OJX8H)

Excerpt from the log:
[code]

TechReborn 0.7.3.48
RebornCore 1.2.1.36
Forge 1635

[2015-12-18 02:27] BBoldt opened #307 "[1.8.8] update to latest JEI api"
https://paste.ee/p/MU85C

[code]

* TechReborn-1.8.8-0.7.2.40-universal
* jei_1.8.8-2.8.3.39
* Forge 11.15.0.1635

[2015-12-18 02:39] BBoldt commented on #307
Didn't notice I wasn't on the latest tech reborn version, but I don't know if it is fixed in that either. Feel free to yell at me if it is. :P

[2015-12-18 07:33] modmuss50 commented on #307
It's not the first time the API had broken, I will update it when I get the chance.

[2015-12-18 18:56] modmuss50 commented on #307
Its working fine for me on:
JEI: 2.9.0.42
Techreborn on 1.8.8 branch

[2015-12-18 19:02] #307 closed

[2015-12-20 22:10] modmuss50 opened #308 "Compat config doesn't work as inteneded"

[2015-12-22 23:43] modmuss50 opened #309 "Ores dont render"
https://i.imgur.com/OgGWJrZ.png

[2015-12-23 12:46] modmuss50 commented on #308
It does work as inteneded

[2015-12-23 12:46] #308 closed

[2015-12-23 17:58] modmuss50 opened #310 "Missing recipes with ic2 classic"
see: http://forum.industrial-craft.net/index.php?page=Thread&postID=197650#post197650

[2015-12-25 19:55] wormzjl opened #311 "Industrial grinder multiblock issues"
First, placing water in the center of the multiblock does not work, it needs to be air
Secondly, it does not detect multiblock structure properly after server reboot. I have to replace the central block with something else and break it to make it work.

[2015-12-30 01:38] modmuss50 opened #312 "Use forge bucket system"
https://github.com/MinecraftForge/MinecraftForge/blob/509cc79112674c70ad8ef9e508de8d2dc01d0bd0/src/test/java/net/minecraftforge/debug/DynBucketTest.java

I will add this when we update to 1.8.9 (should be soon as mappings are out)

[2015-12-30 15:04] #312 closed

[2015-12-30 18:33] BBoldt opened #313 "Fusion Coil recipe error"
This issue is present in both 1.8.8 and 1.7.10.

Top is the recipe that is in the mod, bottom is what it should be. Nichrome heating coils.
![](http://i.imgur.com/TcR5Tec.png)

[2016-01-01 12:53] modmuss50 opened #314 "Crash when breaking ore"
http://pastebin.com/RZWvfW9H

This is from curse comments.

[2016-01-02 23:56] #314 closed

[2016-01-03 00:00] #309 closed

[2016-01-03 00:04] modmuss50 opened #315 "Port BC/OC recipes"
https://gist.github.com/BBoldt/a29cc5e745856225423c

[2016-01-04 01:57] BBoldt opened #316 "Things that would be nice to have in Tech Reborn without IC2 (or just in general), my thoughts"
Thought I would just condense everything into a list here, these are just general thoughts that have come to mind while dealing with the 1.8.9 version of Tech Reborn sans IC2.

Quality of Life improvements:
* Hammer - new item, for making plates
* Rolling machine recipes for all plates
* Industrial grinder recipes for ALL ores, so that ore processing is actually possible, currently it only handles

[2016-01-04 02:36] BBoldt opened #317 "[1.8.8] Make machine recipe buttons work with JEI handler"
The buttons just don't work currently I think.

[2016-01-04 05:08] mezz commented on #317
Discussed on IRC, this feature does not exist in JEI yet.
Creating this issue: https://github.com/mezz/JustEnoughItems/issues/81

[2016-01-04 05:08] #317 closed

[2016-01-04 13:20] modmuss50 opened #318 "Add multipart cables, that use the internal power system"
Now that MCMutliPart is out I will port the mulitpart system I made for 1.7 to 1.8 and then add some cables

[2016-01-04 13:59] TheDoctorSoda opened #319 "Machine GUI titles state the name, rather than the process."
A very minor enhancement request which I could probably PR myself later today, but the machine titles say their name, rather than the process.

For example, a furnace in vanilla had the title "Smelting" rather than "Furnace"

A crafting table says "Crafting" rather than "Crafting Table"

[2016-01-04 14:00] modmuss50 commented on #316
Thanks again :)

I like the idea of a hammer(Can I have a texture please) and adding the recipes to the rolling machine. That is definitely possible.

I should be able to make the grinder work for all ores easily, im not sure why that is not a thing.
I can also add the dust recipes to this.

Smelting recipes should also be there not sure why they are not.

It will take a bit of work to display EU

[2016-01-05 05:07] yuyuyzl opened #320 "Blast Furnace won't accept second input item from pipe"
as title...i think is nothing more to say, just the same problem as the electrolyzer won't accept empty cell in earlier version... fix it plz. ty.

[2016-01-05 05:09] yuyuyzl commented on #311
well it is proved that the Arcane lamp in thaumcraft put a invisible light source in the center of the grinder and your machine won't accept it as air. so plz use isAir() method or just replace it with water source, thanks for your help.

[2016-01-05 12:45] modmuss50 commented on #311
Thats a new one! I will get that fixed

[2016-01-08 21:36] Sasikaa opened #321 "Harvest the Galena ore with pickaxe!"
When harvest the GALENA ore, (The ore texture Purple-Black...) my game is crashing. Try harvest iron Pickaxe, and other mod pickaxe, not working.
Here is my crash log:
http://pastebin.com/QW26t84h

[2016-01-08 21:43] modmuss50 commented on #321
Grrr, I thought I fixed both of the issues...

[2016-01-09 00:38] #305 closed

[2016-01-09 11:41] #321 closed

[2016-01-09 11:42] #318 closed

[2016-01-09 14:32] modmuss50 opened #322 "Add fluid tool tip or someting"
@parcel31u

[2016-01-09 14:35] modmuss50 opened #323 "Add MT support to generators."
@parcel31u

[2016-01-09 17:34] DerMistkaefer opened #324 "[1.7.10] [Server] Multipart Crash"
When I use following mods one a server then the server isn't starting.

Mods:
forge-1.7.10-10.13.4.1558-1.7.10-universal
ForgeMultipart-1.7.10-1.2.0.345-universal
industrialcraft-2-2.2.810-experimental
RebornCore-1.1.0.19-universal
TechReborn-1.7.10-0.7.4.1079-universal

Server Crash Report:
[code]

In Version 1076 of TechReborn is all okey.

I hope I can hep you.

[2016-01-09 22:49] modmuss50 commented on #324
The way to fix this before I push an update out is to disable ForgeMultipartCompat in the config file. (this will NOT disable multipart ic2 cables)
Thanks for the report.

[2016-01-10 00:11] DoughnutDev opened #325 "Crash on 1.8.9 with Biomes O' Plenty"
Crash Report: http://pastebin.com/82Ku3HS2

[2016-01-10 18:11] kwpugh opened #326 "Crash on 1.8.9 Server"
See pastern crash report:

http://pastebin.com/raw/f7g6fwWm

[2016-01-10 18:14] modmuss50 commented on #326
Have you got reborn core installed?

[2016-01-10 18:21] kwpugh commented on #326
Yes.   As shown in my crash report:

reborncore{1.3.0.6} [RebornCore] (RebornCore-1.8.9-1.3.0.6-universal.jar)

Is this the correct version of the RebornCore?

[2016-01-11 00:22] gigabit101 commented on #325
http://files.minecraftforge.net/maven/com/github/glitchfiend/biomesoplenty/BiomesOPlenty/1.8.9-3.0.0.1623/BiomesOPlenty-1.8.9-3.0.0.1623-changelog.txt

[2016-01-11 00:22] #325 closed

[2016-01-11 15:12] modmuss50 commented on #326
I cannot seam to find out what is wrong with this one, very strange. It also happens in dev

[2016-01-12 23:41] cauliflower69 commented on #326
We had the same crash on addition of your mod

[2016-01-13 08:55] covers1624 commented on #326
Does reborn core still use the cofh stripper?

[2016-01-13 08:57] modmuss50 commented on #326
I don't think so, but that would explain it. I will have a look later.

[2016-01-13 09:40] covers1624 commented on #326
the reason i say this is that sometimes the default classwriter has issues with super classes ans will sometimes break in such a way that a class will become a super class for itself, if this is the case i have a class writer that fixes it.

[2016-01-13 10:17] modmuss50 commented on #326
That might be useful, but it still happens in dev. It's strange how it just broke.

[2016-01-13 10:40] covers1624 commented on #326
i had a similar issue and chicken bones pointed out that it was the class writer, ill take a look for you when i get home

[2016-01-13 11:06] modmuss50 commented on #326
ok thanks

[2016-01-13 13:29] modmuss50 commented on #326
After a lot of debuging I found the issue, https://github.com/TechReborn/RebornCore/commit/d20885e142c7319c94ffea0acb5bfbe41f65d587

https://i.imgur.com/xL9ntmN.png Why the fuck does MC do this??

[2016-01-13 13:29] #326 closed

[2016-01-13 15:41] #324 closed

[2016-01-13 17:12] cauliflower69 opened #327 "Server Crash - TechReborn-1.8.9-0.7.8.35"
http://pastebin.com/51j3tsLT

[2016-01-13 17:16] modmuss50 commented on #327
Fix is coming very soon

[2016-01-13 17:16] cauliflower69 commented on #327
Thanks

[2016-01-13 17:17] #327 closed

[2016-01-13 17:18] modmuss50 commented on #327
This will be on curse in about 10 mins - Sorry

[2016-01-13 17:21] cauliflower69 commented on #327
No need to apologies, thanks for a quick fix

[2016-01-13 17:22] modmuss50 commented on #327
I should of tested it, I fixed one crash.

[2016-01-13 17:26] modmuss50 commented on #327
And its up on curse, Ive taken the last build down.

[2016-01-13 17:26] cauliflower69 commented on #327
Thanks I'll test it now

[2016-01-13 17:26] modmuss50 commented on #327
wait, it got rejected by curse

[2016-01-13 17:32] modmuss50 commented on #327
ok, its live, not sure why they rejected it the first time.

[2016-01-13 17:36] cauliflower69 commented on #327
It booted!

[2016-01-13 17:37] modmuss50 commented on #327
have fun :+1:

[2016-01-13 22:28] cauliflower69 opened #328 "PDA Crash"
The PDA once in hand renders as the black and purple square. Once you right click on it you get a crash to desktop

http://pastebin.com/q4mzTXfr

[2016-01-15 17:24] madzig21 commented on #246
I cant even get my LESU to hold a charge it seems to discharge it self as soon as it gains.
example i input a full battbox connected to it one way so it just charges the LESU and as soon as it get 32 eu it drops to somthing like -56943 eu (number is random each time) *note im using 62 lesu blocks and one lesu interface block

[2016-01-16 04:03] gigabit101 commented on #151
The Pda will be rewritten in 1.8.9

[2016-01-16 04:03] #151 closed

[2016-01-16 04:21] gigabit101 commented on #322
for what ??

[2016-01-16 04:25] #320 closed

[2016-01-16 04:26] #319 closed

[2016-01-16 04:31] #311 closed

[2016-01-16 04:36] #266 closed

[2016-01-16 08:24] modmuss50 commented on #322
There is no way to see how much power a fluid can be turned into in different machines. NEI handler or something would do it

[2016-01-16 12:55] Xen1290 commented on #266
Why?

[2016-01-16 13:03] modmuss50 commented on #266
Was it fixed? If not its a bug

[2016-01-16 13:15] modmuss50 commented on #151
@gigabit101 what about the pda just links to the wiki. The wiki can be updated by anyone, and doesn't need a mod update to update. We just need someone to help write it.

[2016-01-16 13:16] modmuss50 commented on #151
The multiblock stuff can stay in the pda

[2016-01-16 18:13] gigabit101 commented on #266
I can't reproduce
On 16 Jan 2016 1:03 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-01-17 06:52] covers1624 commented on #151
^^ I like that idea.

[2016-01-17 09:59] modmuss50 commented on #151
We might be able to go as far as right click a block with the pda and it opens the relevant wiki page.

[2016-01-17 12:20] XuPuPG opened #329 ""Single" and "double" recipes incompatible"
Hey modmuss, here's a video :)
https://youtu.be/n_HwYKCl3lk
Chemical reactor I took as an example.

[2016-01-18 15:06] SwordKorn20 commented on #316
You made a comment on CurseForge that you wanted this to be a standalone mod. So far, especially noticeable in 1.8.9, is the lack of early tier machinery akin to IC2.

I like the sound of this mod a lot but without a 1.8.9 release of IC on the horizon; this mod needs some work to make it truly standalone!

That being said, great work guys!

[2016-01-18 15:12] modmuss50 commented on #316
cables are in a separate mod: http://minecraft.curseforge.com/projects/fluxed-redstone
And  yes, a lot of things are missing to allow a fun gameplay experience in 1.8, atm its more of a prototype to show things are possible in 1.8

[2016-01-18 15:14] SwordKorn20 commented on #316
Oh I have fluxed redstone already! Didn't realise you guys had made them compatible!

[2016-01-18 15:22] modmuss50 commented on #316
Techreborn works with rf (Is a config setting - on by defualt in 1.8) even thought the guis are in EU

[2016-01-21 09:57] xKillerbees opened #330 "No Recipes in 1.8.9"
Pretty sure you are aware, just didn't see an issue for it to make it 'official'.

[2016-01-21 11:07] modmuss50 commented on #330
The thing is this mod is an IC2 addon, and recipes use IC2. So when there is no IC2 there is no recipes. This does happen when you run the 1.7 version without IC2. It may be fixed, or you might just have to wait for ic2 to update.

[2016-01-21 11:08] modmuss50 commented on #330
Dupe of #157 #182 #310

[2016-01-29 10:15] Amamiya-Nagisa opened #331 "1.7.10:TechReborn-1.7.10-0.7.8.1081 crushed with the industrialcraft-2-2.2.811"
---- Minecraft Crash Report ----
// Quite honestly, I wouldn't worry myself about that.

Time: 16-1-27 下午9:35
Description: Initializing game

java.lang.RuntimeException: ambiguous recipe: [[1xgt.meta.ore.normal.bedrock@8339, 1xgt.meta.ore.normal.default@8339, 1xgt.meta.ore.broken.default@8339] -> [10xgt.meta.dust@8339]]
	at ic2.core.BasicMachineRecipeManager.displayError(BasicMachineRecipeManager.

[2016-01-29 10:16] modmuss50 commented on #331
Try removing Greg tech

[2016-01-29 11:04] #331 closed

[2016-02-06 11:43] modmuss50 opened #332 "Should we stop supporting running without ic2?"
This is a question. The issue is that a lot of the missing recipe issues that are open are for when we are running without ic2. I though It might be a good idea to ignore them and close them. The mod would still run without ic2 just without recipes. If a pack maker wants to add them its up to them.

Doing this would close:
#330
#316
#315
#182
#157

I am thinking of going on a massive bug fixing sp

[2016-02-06 11:49] #328 closed

[2016-02-06 11:52] #313 closed

[2016-02-06 14:09] wormzjl commented on #332
IMO, GT is only good as an addon for ic2
That's why I don't like gt5, it has gone too far :P

[2016-02-06 15:16] modmuss50 commented on #332
Exactally, I get loads of questions about why there is no reipces and its becuase its an ic2 addon. The reason I allowed it to load without ic2 was becuase pack makers like the machines to create custom recipes.

[2016-02-06 18:04] gigabit101 commented on #332
@themattabase is currently making a pack without ice me and him are going
to be making recipes in the pack what I will then put in techreborn
On 6 Feb 2016 3:16 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-02-06 18:07] modmuss50 commented on #332
Ok, that sorts the issue then.

[2016-02-06 18:07] #332 closed

[2016-02-06 18:09] BBoldt commented on #315
You can close this issue.

These recipes aren't very well designed. They only make sense in the pack I made.

[2016-02-06 18:09] #315 closed

[2016-02-06 18:11] BBoldt commented on #332
I think Tech Reborn has a lot of potential as a standalone mod, especially in 1.8.9.

Just add some warnings that there will be missing recipes without IC2.

[2016-02-06 20:15] The-Fireplace opened #333 "TechReborn Ores can be mined with Wood-Tier pickaxes"
I believe most of them should take at least Iron Tier to mine them, not wood or stone.

[2016-02-06 20:21] #333 closed

[2016-02-10 09:53] modmuss50 opened #335 "Update to official 1.8 RF api"
https://github.com/CoFH/RedstoneFlux-API/tree/1.8

The issue with doing this is that It will break other mods that use the unofficial one.

[2016-02-10 22:22] #335 closed

[2016-02-10 22:23] gigabit101 commented on #335
dont no why that didn't close

[2016-02-10 22:26] modmuss50 commented on #335
The commit wasn't on the default branch.

[2016-02-10 22:29] gigabit101 commented on #335
ahh

[2016-02-13 21:47] NinjaKap opened #336 "Machines Essential for TechReborn Progression & Understanding"
Hello!
We just installed TechReborn on the TechnologyAdvanced II modpack, which I handle myself. I have played around with TechReborn briefly before, but not in the detail I need now.
First of all, we're using IC2 Classic Experimental by Speiger. Because of this, we don't have the Forge Hammer so desperately needed by TechReborn. Luckily, Immersive Engineering is taking on the burden of a Plate Be

[2016-02-14 19:17] NinjaKap commented on #336
I think porting the current 1.8 version of TechReborn to 1.7.10 will be helpful. Most people won't be using this mod with 1.8, but 1.7.10, as IC2 is still on 1.7.10 - 1.8 and 1.7 versions should be released and updated at the same time with the same stuff. It seems to me that that's one of the main issues with recipes?

[2016-02-14 19:26] wormzjl commented on #336
I strongly suggest using IC2 exp + uncomplication instead of ic2 classic
This would avoid a lot of problems

[2016-02-14 19:27] NinjaKap commented on #336
That's a great idea - the only issue is Uncomplication is pretty crap for what we're accomplishing. It interferes with some of our other mods. That would be ideal, but I love my IC2 Classic
Thanks for the suggestion tho!

[2016-02-14 23:08] The-Fireplace opened #337 "Many ores don't render correctly in the inventory anymore"
Many ores and some other blocks from this mod no longer render correctly in the inventory with the latest version of the mod.

[2016-02-15 11:47] MrBretze commented on #337
@modmuss50 What do you not use the vanilla model render ?

[2016-02-15 21:12] covers1624 commented on #336
Porting the 1.8 version back to 1.7 is not practical at all. It would be easier to cherry pick features to use for 1.7 from 1.8. Also i don't understand what things you would want from the 1.8 version. From my understanding the 1.8 branch is just a proof of concept and no additional features have been added to it if anything things are missing. The issue with recipes is that Tech Reborn relies on

[2016-02-15 23:27] modmuss50 commented on #337
Because why not? No Jsons, more bugs.

[2016-02-15 23:29] modmuss50 commented on #336
Porting commits is fine, 1.7 and 1.8 should be equal in features. They are not because i'm being lazy. At some point we need to sit down and and the recipes so people will stop complaining about no recipes. It is still helpful for people to open issues with their ideas.

@Mattabase and @gigabit101 said they are working on it.  I've got a couple of days off so I can see what I can do to help.

[2016-02-15 23:32] MrBretze commented on #337
I do not bug for my mod

[2016-02-16 00:13] gigabit101 commented on #336
Right there will be some bug fix's and recipe fix's for 1.7.10 coming soon but after that I will be moving to getting the 1.8 version running on its own with Ic2/Classic recipes still available in the config. 1.7.10 is coming to the end of its life so moving to 1.8 is what needs to be done

[2016-02-16 00:17] modmuss50 opened #338 "Final 1.7 requests?"
Commits to merge:

- https://github.com/TechReborn/TechReborn/commit/b3bec47b11e7b4d80e356e84cb7fce7b7d1f6a1f

- https://github.com/TechReborn/TechReborn/commit/0d35ecb70fddb8d43f4524e8ec0946fe807485ce

Things to fix:

- #329

Comment on this to get the last things you need then 1.7 will be done with.

[2016-02-16 00:17] modmuss50 commented on #336
See #338 for 1.7 things ^^^

[2016-02-16 00:47] gigabit101 commented on #338
Its mostly recipe stuff just add recipes for anything that is uncraftable with ic2 installed and the close 1.7.10 unless a game breaking bug appears

[2016-02-16 00:50] gigabit101 commented on #329
@modmuss50 maybe try to get a 1.7.10 fix for this aswell ??

[2016-02-16 00:52] gigabit101 commented on #230
same as #329

[2016-02-16 00:52] #230 closed

[2016-02-16 00:53] #157 closed

[2016-02-16 00:55] #322 closed

[2016-02-16 00:56] #278 closed

[2016-02-16 00:57] gigabit101 commented on #252
Might have to use are own till Ic2 gets to 1.8.9

[2016-02-16 00:57] #252 closed

[2016-02-16 00:57] #193 closed

[2016-02-16 00:58] gigabit101 commented on #191
when Ic2 gets to 1.8.9

[2016-02-16 00:58] #191 closed

[2016-02-16 00:58] gigabit101 commented on #285
a

[2016-02-16 00:58] #285 closed

[2016-02-16 01:01] #237 closed

[2016-02-16 01:02] #280 closed

[2016-02-16 01:02] gigabit101 opened #339 "1.8.9 TODO"
- [ ] Support for direct liquid input in electrolyzer
- [ ] Fix Wrong Industrial Electrolyzer progress bar
- [x] Scrapboxinator
- [ ] Change Charge Bench to Charge-O-Mat
- [ ] Wrench Requirement config
- [x] Retrogen (1/2 done)
- [ ] Fix GUIS #279
- [x] Update AESU, IDSU, and LESU to fit the new GUI textures for them
- [ ] Transformers for new power net
- [ ] Fix: Energy storage units (AESU, IDSU,

[2016-02-16 06:56] wormzjl commented on #338
This
https://github.com/TechReborn/TechReborn/issues/236

[2016-02-16 08:06] wormzjl commented on #191
what's the point of delaying this to 1.8 anyway?

[2016-02-16 09:12] #329 closed

[2016-02-16 09:21] #236 closed

[2016-02-16 09:22] modmuss50 commented on #338
All of the above requests are done.

[2016-02-16 09:29] wormzjl commented on #338
And I forgot this one since it's not opened by myself
https://github.com/TechReborn/TechReborn/issues/217

[2016-02-16 10:00] #217 closed

[2016-02-16 10:00] modmuss50 commented on #338
and that's done

[2016-02-16 10:05] wormzjl commented on #338
awsome

[2016-02-16 13:59] #337 closed

[2016-02-16 22:18] #338 closed

[2016-02-17 23:34] BBoldt commented on #339
I could help, yes, but you'll have to tell me exactly what you want made.

[2016-02-17 23:35] modmuss50 commented on #339
The thing is, I dont know :P Something different might be a good idea.

[2016-02-17 23:40] gigabit101 commented on #339
How about a giant hamster wheel and get a animal to run in it also @modmuss50 have fun rendering that ;)

[2016-02-17 23:42] modmuss50 commented on #339
Get me a model and yes I will do it

[2016-02-19 19:54] modmuss50 commented on #339
Add recipe crossover thing to find missing items.
Macerator(Grinder?)
Compressor
Circuits
Machine Block
Rubber Trees, and rubber
Coal Burning
Move powerapi into RebornCore, allows for solar panel mod

[2016-02-19 23:32] #294 closed

[2016-02-20 00:09] modmuss50 commented on #339
Full missing items list: https://gist.github.com/modmuss50/0a685e90db6770868947

[2016-02-20 01:11] modmuss50 commented on #182
see #339

[2016-02-20 01:11] #182 closed

[2016-02-20 01:11] modmuss50 commented on #227
see #339

[2016-02-20 01:11] #227 closed

[2016-02-20 01:12] modmuss50 commented on #310
see #339

[2016-02-20 01:12] #310 closed

[2016-02-20 01:12] modmuss50 commented on #330
see #339

[2016-02-20 01:12] #330 closed

[2016-02-20 01:12] modmuss50 commented on #336
see #339

[2016-02-20 01:12] #336 closed

[2016-02-20 01:12] modmuss50 commented on #316
see #339

[2016-02-20 01:12] #316 closed

[2016-02-20 01:15] NinjaKap commented on #339
Power Gen Options? Well, UU-Matter. Make a "UU-Matter Generator" which uses UU-Matter & Water to generate mass amounts of power. Could be a promising idea?

[2016-02-20 01:15] #306 closed

[2016-02-20 01:16] modmuss50 commented on #339
Thats not a bad idea :+1:

[2016-02-20 08:56] covers1624 commented on #339
If you need any help with the rendering of this Hamster wheel, give me a pong on TS after the weekend, The new WorldRender in 1.8.9 is a LOT different from 1.7.

[2016-02-20 09:39] modmuss50 commented on #339
@covers1624 I think we were joking :P

[2016-02-20 19:53] TheDoctorSoda commented on #339
Sure
On Feb 20, 2016 11:48 AM, "Modmuss50" <notifications@github.com> wrote:

[2016-02-20 19:54] TheDoctorSoda commented on #339
What will the machine sides look like?
On Feb 20, 2016 11:53 AM, "The Doctor Soda" <tds@thedoctorsoda.com> wrote:

[2016-02-20 19:55] modmuss50 commented on #339
This: https://github.com/TechReborn/TechReborn/blob/1.7.10/src/main/resources/assets/techreborn/textures/blocks/machine/machine_side.png

[2016-02-20 20:07] #323 closed

[2016-02-21 00:45] covers1624 commented on #339
@modmuss50 I wasn't. Throw any TE Rendering this way i know the WorldRenderer for 1.8.9.

[2016-02-21 03:33] ProfessorProspector commented on #339
@modmuss50 Just wanted to let you know, this is me TheDoctorSoda. I've been meaning to do the rebranding under this new name for a while and finally decided to do it because my website domain is expiring soonish (still 100 days but I wanna get ready)

[2016-02-21 04:11] ProfessorProspector opened #343 "Rubber trees sometimes spawn inside other trees"
![2016-02-20_20 07 56](https://cloud.githubusercontent.com/assets/6166773/13200831/0ba20048-d80e-11e5-8c75-7914775089d9.png)
![2016-02-20_20 07 52](https://cloud.githubusercontent.com/assets/6166773/13200832/0ba593b6-d80e-11e5-83d9-2892cf0eede2.png)

[2016-02-21 04:11] ProfessorProspector opened #344 "Rubber trees don't spawn in slow layer blocks, they spawn on top of them"
![2016-02-20_20 01 22](https://cloud.githubusercontent.com/assets/6166773/13200840/299bc782-d80e-11e5-9753-deaa96ffbe6e.png)
![2016-02-20_20 01 17](https://cloud.githubusercontent.com/assets/6166773/13200841/299eaf9c-d80e-11e5-8998-04a47d84b426.png)

[2016-02-21 04:24] BBoldt commented on #339
Someone needs to go through and test all the multiblocks, last time I tried them a couple weeks ago, I got a series of crashes. I didn't save them because I thought the 1.8.9 branch wasn't really worth using or going to be improved. You guys seem to be working on that now though.

[2016-02-21 05:40] ProfessorProspector opened #345 "Rubber tree's need a custom tree generator"
Or if they do it's incredibly rare. Also maybe they should grow a little faster in general?

[2016-02-21 08:21] ProfessorProspector commented on #339
@modmuss50 For the machines, is there an on and off texture?

[2016-02-21 09:36] gigabit101 commented on #339
For the machines yes
On 21 Feb 2016 8:22 am, "Prospector" <notifications@github.com> wrote:

[2016-02-21 11:40] Pilad opened #347 "Black hud..."
Any hud is black....
http://pixs.ru/showimage/2016022117_5063928_20778439.png

[2016-02-21 12:05] Pilad commented on #347
Please add support modtweaker.

[2016-02-21 12:13] modmuss50 commented on #347
There is full minetweaker support. See here: http://blamejared.com/modtweaker/ Thanks for reporting that issue. It wont get fixed in 1.7, but It will get fixed for when you update to 1.8

[2016-02-21 12:13] modmuss50 commented on #343
Im going to close this as its the same issue as the other two rubber tree issues

[2016-02-21 12:13] #343 closed

[2016-02-21 12:13] #344 closed

[2016-02-21 12:14] modmuss50 commented on #345
Im writing a custom tree generator for them atm that will fix all of the issues.

[2016-02-21 13:28] Pilad commented on #347
Hmm... Version minecraft 1.7.10 and last build TechReborn-1.7.10-0.7.12.1089-universal, and hud is black (((

[2016-02-21 13:29] modmuss50 commented on #347
Yes, I will fix that, but we are no longer working on the 1.7 version

[2016-02-21 13:34] Pilad commented on #347
I am waiting for fix )))

[2016-02-21 13:40] #345 closed

[2016-02-21 14:17] #347 closed

[2016-02-21 23:08] ProfessorProspector commented on #339
Do we still need grinder and extractor front textures? Is the grinder just a macerator?

[2016-02-21 23:10] ProfessorProspector opened #351 "Some metals don't have storage blocks?"
For example copper and tin. Not sure if this is intended or not.

[2016-02-22 01:46] gigabit101 commented on #351
copper and tin where added to world gen last minute for stand alone reasons so no its not intended

[2016-02-22 02:25] ProfessorProspector opened #354 "Rubber sapling disappears when it attempts to grow but fails"
Steps to reproduce:

1. Plant and grow a rubber tree.
2. Plant another sapling right next to it, and attempt to grow it. Sapling will disappear and no tree will grow.

[2016-02-22 08:06] ProfessorProspector opened #355 "Sap only grows on north and west sides"
Is this intended?

![2016-02-22_00 04 49](https://cloud.githubusercontent.com/assets/6166773/13212701/1d622908-d8f8-11e5-9f6b-2a0c314ec766.png)
![2016-02-22_00 04 53](https://cloud.githubusercontent.com/assets/6166773/13212702/1d625914-d8f8-11e5-87da-f7618f0aad08.png)
![2016-02-22_00 04 45](https://cloud.githubusercontent.com/assets/6166773/13212703/1d77d8e8-d8f8-11e5-896a-0bf442d28281.png)

[2016-02-22 11:13] #355 closed

[2016-02-22 11:13] #354 closed

[2016-02-23 04:44] ProfessorProspector opened #357 "the jenkins broke"
;(

its been trying to build for hours

[2016-02-23 05:38] ProfessorProspector commented on #357
I think it has something  to do with the CraftTweaker api or something not being downloaded properly. Gradle keeps crashing when I try to setup a workspace, and it is mentioning CraftTweaker.

[2016-02-23 08:20] modmuss50 commented on #357
The website that gradle uses to download crafttweaker is down. Not a lot I can do about it. Ive tweeted him about it.

[2016-02-23 15:52] ProfessorProspector commented on #357
Yeah I assumed as much. Hopefully it'll be up soon. Broke my workspace and havery no way of getting another right now.

[2016-02-23 16:16] modmuss50 commented on #357
It should be fixed, I am also working on improving the jenkins to be quicker and more stable. Maven uploads are currently broken, but should be fixed soon. But you can setup your workspace

[2016-02-23 20:19] 12cool725 commented on #338
Is there a way to prevent changing recipes from IC2 or other mods?

[2016-02-23 20:21] modmuss50 commented on #338
Yes, it should all be in the config

[2016-02-23 20:26] 12cool725 commented on #338
Where exactly? I can't, for example, find the IC2 recipe for Iridium Reinforced Plate. Also my config looks like this:

[TechReborn.zip](https://github.com/TechReborn/TechReborn/files/143355/TechReborn.zip)

[2016-02-23 20:30] modmuss50 commented on #338
ok, I will take a look at this. You might be right.

[2016-02-24 00:09] ProfessorProspector commented on #357
Gonna go ahead and close this. All appears to be well now?

[2016-02-24 00:09] #357 closed

[2016-02-24 00:11] modmuss50 commented on #357
Yes, im having some issues with my website that im trying to fix. The jenkins and gradle is uneffected. But I am restarting nginx a lot atm.

[2016-02-24 00:20] modmuss50 commented on #357
Ive tracked down the issue, so it should be stable agian now. And jenkins builds are 2x faster

[2016-02-24 01:14] ProfessorProspector commented on #357
Yaaaay
On Feb 23, 2016 4:20 PM, "Modmuss50" <notifications@github.com> wrote:

[2016-02-24 16:16] modmuss50 opened #358 "Blocks loose facing state and block drops are broken"
I cannot seam to fix them now, so leaving this here to fix at somepoint

[2016-02-24 20:52] #358 closed

[2016-02-25 13:53] gigabit101 opened #359 "JEI Alloy Smelter is not showing stack amount required"
Eg this recipe requires 3 copper and 1 tin
http://puu.sh/nkUaT/b383d2695b.jpg

[2016-02-25 13:53] gigabit101 commented on #359
@mezz can you take a look at this ?

[2016-02-25 13:58] #351 closed

[2016-02-25 14:11] gigabit101 commented on #339
@ProfessorProspector can we get a texture for a Iron hammer used to make plates early game

[2016-02-25 14:11] gigabit101 commented on #339
@ProfessorProspector also copper and tin blocks

[2016-02-25 15:17] ProfessorProspector commented on #339
Now wait...wasn't refined iron used back in the versions were recreating?
And sure I'll make those after school.
On Feb 25, 2016 6:11 AM, "Gigabit101" <notifications@github.com> wrote:

[2016-02-25 15:20] modmuss50 commented on #339
That animation looks cool

[2016-02-25 15:21] gigabit101 commented on #339
In ic2 yes but Greg tech still used plates
On 25 Feb 2016 3:18 pm, "Prospector" <notifications@github.com> wrote:

[2016-02-25 15:21] ProfessorProspector commented on #339
Ah that makes sense. And thanks
On Feb 25, 2016 7:21 AM, "Gigabit101" <notifications@github.com> wrote:

[2016-02-25 15:25] ProfessorProspector commented on #339
Do we want to keep the iconic IC2 plate texture, or make one unique for TechReborn?

[2016-02-25 15:31] gigabit101 commented on #339
It's OK atm but can I get a gui texture for the Manuel so a book like
texture and a texture for the item as well
On 25 Feb 2016 3:25 pm, "Prospector" <notifications@github.com> wrote:

[2016-02-25 15:34] ProfessorProspector commented on #339
For the GUI texture...like a vanilla book gui or something a bit...bigger?

[2016-02-25 15:35] gigabit101 commented on #339
Something like the botania book I think will be cool
On 25 Feb 2016 3:34 pm, "Prospector" <notifications@github.com> wrote:

[2016-02-25 15:36] gigabit101 commented on #339
The faster I can get the gui the better going to work on the rewrite today
On 25 Feb 2016 3:35 pm, "travis nicholls" <thegigabit101@gmail.com> wrote:

[2016-02-25 15:38] ProfessorProspector commented on #339
Hmm I won't be able to start it until I get home later today in like 6 hours

[2016-02-25 15:41] gigabit101 commented on #339
That's fine I have work to do anyways and other things I can do first
On 25 Feb 2016 3:38 pm, "Prospector" <notifications@github.com> wrote:

[2016-02-25 15:43] modmuss50 commented on #339
Gig, if yo could load the pages from file, it would be possible to download/update the pda separate to the mod. This would allow a website where people could post contributions. I can do the downloading stuff.

[2016-02-25 15:44] modmuss50 commented on #339
Even if you just read json files form the jar file.

[2016-02-25 15:46] 12cool725 commented on #338
There are other bugs/minor enhancements that might need fixing/application. E.g.
![2016-02-25_10 30 55](https://cloud.githubusercontent.com/assets/7034311/13324180/8ef77f50-dbaa-11e5-98e5-26201c4f25eb.png)
I can't look up Assembly Machine recipes.
(Will edit this post w/further findings)

[2016-02-25 15:48] gigabit101 commented on #339
It's not worth it atm but I do have a clearer idea of what I won't it to do
this time
On 25 Feb 2016 3:44 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-02-25 15:48] gigabit101 commented on #339
Also modmuss can you get the cables in or just the cable item for the
moment fir recipe sacks
On 25 Feb 2016 3:44 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-02-25 15:50] gigabit101 commented on #338
Um the last 1.7 build is already out
On 25 Feb 2016 3:47 pm, "12cool725" <notifications@github.com> wrote:

[2016-02-25 15:51] modmuss50 commented on #339
I'll add a cable item, and if fluxed red stone is in use the cable from that.

[2016-02-25 15:53] gigabit101 commented on #339
That works for now
On 25 Feb 2016 3:51 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-02-25 16:51] modmuss50 commented on #338
If its a major bug it can be fixed. But small things wont be. Feel free to report them to be fixed in 1.8

[2016-02-25 18:39] modmuss50 commented on #339
@ProfessorProspector Got a texture list here:

Lava/Water cell(Item), base of other ones
pump(item) could be like a bike pump or something?
teleporter(Item)
advancedAlloy(Item)
lvTransformer(Item)
mvTransformer(Item)
hvTransformer(Item)

Solar panel(block)

[2016-02-25 18:57] modmuss50 commented on #339
@gigabit101 can I use your water turbine code? And I will add the windturbine without fancy rendering.

[2016-02-25 18:58] gigabit101 commented on #339
Sure
On 25 Feb 2016 6:57 pm, "Modmuss50" <notifications@github.com> wrote:

[2016-02-25 20:12] modmuss50 commented on #339
Items that need a recipe:
- [x] Grinder
- [x] Generator
- [ ] Compressor
- [x] Extractor
- [x] ElectricFurnace
- [ ] windMill
- [x] solarPanel
- [ ] waterMill
- [ ] miningDrill
- [ ] diamondDrill
- [x] pump
- [ ] teleporter
- [ ] advancedAlloy
- [ ] lvTransformer
- [ ] mvTransformer
- [ ] hvTransformer

And more I guess

[2016-02-25 23:02] ProfessorProspector commented on #339
I'll get on that texture work in a bit. Also...what do you think about dynamic cells, like the bucket.

[2016-02-25 23:07] modmuss50 commented on #339
It's possible, I don't think we have fluids for every cell.

[2016-02-25 23:10] ProfessorProspector opened #360 "Texture TODO"
Any TechReborn contributors, just edit this post.

(In no particular order):
- [ ]  Water Cell
- [ ]  Lava Cell
- [ ]  Guide Book Item
- [ ]  Guide Book GUI
- [ ]  Solar Panel
- [ ]  LV Transformer
- [ ]  MV Transformer
- [ ]  HV Transformer
- [ ]  Iron Hammer
- [ ]  Pump Item
- [ ]  Teleporter Item
- [ ]  Advanced Alloy
- [ ]  Copper Block
- [ ]  Tin Block
- [ ]  Bronze Block

[2016-02-26 01:37] ProfessorProspector opened #361 "Machine casing dupe bug"
Breaking generators drops both a generator and a machine casing. This can be repeated to make infinite casings.

[2016-02-26 03:06] ProfessorProspector commented on #339
hey @gigabit101 next time you're working on this could you move everything in the manuel down a few pixels? Need a tiny bit of extra room for the border :P

[2016-02-26 03:13] parcel31u opened #362 "Missing GUI texture Standalone 1.7.10 0.7.12.1089"
Missing Gui textures for diseal generator and semifluid generator

[2016-02-26 03:38] ProfessorProspector commented on #362
Would a resource pack temporarily suffice, or is there actually no texture path registered?

[2016-02-26 05:54] parcel31u commented on #362
http://i.imgur.com/FTHG2Yc.png

[2016-02-26 06:12] ProfessorProspector commented on #362
Well I fixed the texture issue but it appears the texture called
semifluid_generator.png is not actually the correct one for the semifluid
generator...so I'm not actually sure what it's supposed to look like.

On Thu, Feb 25, 2016 at 9:54 PM, parcel31u <notifications@github.com> wrote:

[2016-02-26 07:44] modmuss50 commented on #362
I can fix this, but we did release the last 1.7 version. I guess it wont harm to have another one,

[2016-02-26 07:46] ProfessorProspector commented on #362
Maybe see if there are any other quick bugs worth fixing if your doing
another release
On Feb 25, 2016 11:44 PM, "Modmuss50" <notifications@github.com> wrote:

[2016-02-26 13:35] gigabit101 commented on #339
@ProfessorProspector done

[2016-02-26 14:56] ProfessorProspector commented on #360
Whoever added the wrench texture--already did one a few daya ago. Also did an electric wrench one.

[2016-02-26 15:54] ProfessorProspector commented on #339
Aren't the transformers supposed to be blocks? Or are these different transformers?

[2016-02-26 16:19] modmuss50 commented on #339
Yes they are, but in RF transformers aren't needed, I've got an idea though. So hold off

[2016-02-27 08:51] #359 closed

[2016-02-27 08:52] mezz commented on #359
![2016-02-27_00 49 10](https://cloud.githubusercontent.com/assets/916092/13372069/56dba4a0-dcec-11e5-8a30-1ce8243dafde.png)

Fixed in the latest version

[2016-02-27 08:52] modmuss50 commented on #359
Thanks mezz :+1:

[2016-02-27 14:09] gigabit101 commented on #359
Thanks mezz :+1:

[2016-02-27 20:23] ProfessorProspector commented on #359
Thanks mezz :+1:

[2016-02-27 21:38] ProfessorProspector opened #363 "Would you like me to make a cable model?"
It would be a json model.

[2016-02-27 22:27] modmuss50 commented on #363
If its just a basic cable model no, if its something more advanced I will see if I can do it in code.

[2016-02-28 00:54] ProfessorProspector commented on #361
Still dupes

[2016-02-28 01:00] ProfessorProspector commented on #361
Yep I am a derp and haven't updated reborncore in like forever

[2016-02-28 01:00] #361 closed

[2016-02-28 01:02] ProfessorProspector opened #364 "None of the machines drop their inventory"

[2016-02-28 03:42] #363 closed

[2016-02-28 04:12] ProfessorProspector opened #365 "Alright, so I am very confused. Which gregtech version is this recreating?"
The github readme says 2.78, the curse page says GT4.

Which is it? And does anyone have a download of the gregtech version that is being recreated?

[2016-02-28 08:40] Xen1290 commented on #365
Everyone is confused about this. See the closed issues

[2016-02-28 09:35] gigabit101 commented on #365
![ss 2016-02-28 at 09 34 57](https://cloud.githubusercontent.com/assets/5615438/13378435/920f1058-ddfe-11e5-8809-5fbb028c3198.png)

[2016-02-28 09:35] #365 closed

[2016-02-28 09:36] gigabit101 commented on #365
there are a few differences to be compatible with IC2 experimental and now standalone

[2016-02-28 09:36] gigabit101 commented on #365
as for the curse page I did not write it so....

[2016-02-28 09:37] modmuss50 commented on #365
I will change it

[2016-02-28 09:37] gigabit101 commented on #365
o0 hey @modmuss50

[2016-02-28 09:38] gigabit101 commented on #364
@modmuss50 did you break this when moving stuff into reborn core ?

[2016-02-28 09:39] modmuss50 commented on #364
Yes, I fixed it, but then broke it again, when fixing it for the wrench

[2016-02-28 09:39] gigabit101 commented on #364
GG

[2016-02-28 09:42] gigabit101 commented on #363
@ProfessorProspector can you message us in the #TechReborn irc channel on esper and not open issues ?

[2016-02-28 11:18] #364 closed

[2016-02-28 11:18] modmuss50 commented on #362
@gigabit101 are we going to fix this?

[2016-02-28 12:53] gigabit101 commented on #362
Umm if you won't to I don't have a 1.7.10 environment set up atm
On 28 Feb 2016 11:18 am, "Modmuss50" <notifications@github.com> wrote:

[2016-02-28 12:55] modmuss50 commented on #362
I can fix it, I've got one on my other PC. I don't see why not

[2016-02-28 15:22] ProfessorProspector commented on #363
Yeah, I will from bow on. Main problem is that we can almost never be on at the same time, our timezones must be way off.

[2016-02-28 15:26] MrBretze commented on #363
UK VS California yes, it's not the same time zones ><

[2016-02-28 17:02] #362 closed

[2016-02-28 17:04] modmuss50 commented on #363
I've got a bouncer, so I will eventually get the messages.

[2016-02-28 17:38] QuantumCoretex opened #366 "Alloy Furnace Crash"
[2016-02-28-3.log.gz](https://github.com/TechReborn/TechReborn/files/150049/2016-02-28-3.log.gz)
I noticed a crash every time I tried to play an alloy furnace (The version was 1090)
sorry btw it was caused when placing an alloy furnace next to a industrial craft 2 iron furnace.
[crash-2016-02-28_09.55.24-server.txt](https://github.com/TechReborn/TechReborn/files/150044/crash-2016-02-28_09.55.24-se

[2016-02-28 17:39] ProfessorProspector commented on #366
Crash report and logs please

[2016-02-28 18:49] modmuss50 commented on #366
You didnt happen to place it next to a door?

[2016-02-28 18:51] modmuss50 commented on #366
worldObj.notifyBlockChange(xCoord, yCoord, zCoord, blockType); is causing it to crash. I will take a look. That is very odd. I don't think I need that line so it should be an easy fix

[2016-02-28 18:58] #366 closed

[2016-02-28 19:13] modmuss50 commented on #288
can we put this and #287 in the todo?

[2016-02-28 19:14] ProfessorProspector commented on #288
don't see why not

[2016-02-28 19:20] #287 closed

[2016-02-28 19:20] #288 closed

[2016-02-28 19:30] QuantumCoretex commented on #366
sorry if this bug was already solved

[2016-02-28 19:31] ProfessorProspector commented on #366
No, it wasn't. Thanks for the report, we got it fixed now ;)

[2016-02-28 20:32] modmuss50 commented on #366
A new build is on curse that fixes it

[2016-02-29 02:20] ProfessorProspector opened #367 "PlaceTorch method doesn't actually place the torch."
See Drill for example of behaviour

[2016-02-29 15:56] gigabit101 commented on #367
yeah It broke in the 1.8 port will look into it later

[2016-02-29 23:37] ProfessorProspector opened #368 "Tinker's support"
Add molten metals and tinker smelting/alloy support

[2016-03-01 16:15] #367 closed

[2016-03-01 16:15] gigabit101 commented on #368
wrong issue number derp...

[2016-03-02 15:21] #303 closed

[2016-03-02 16:47] modmuss50 commented on #246
Im merging this with the other one

[2016-03-02 16:47] #246 closed

[2016-03-02 21:36] phalcoon opened #369 "Implosion Compressor Multi block"
The implosion Compressor does not recognize it's multi block.
using TechReborn-1.7.10-0.7.13.1091-universal

[2016-03-03 03:54] ProfessorProspector opened #370 "Perhaps move the manual into RebornCore?"
I was thinking, how about we move the manual into reborn core? Then it can be repurposed for other mods, and potentially third party mods.

[2016-03-03 07:37] modmuss50 commented on #370
I don't think this will happen, let's see what @gigabit101 says?

[2016-03-03 08:00] BakermanLP commented on #303
I am sorry to ask that ... could you please backport this to the 1.7.10er Version? PLEASE :)

[2016-03-03 08:04] modmuss50 commented on #303
I will if we end up doing another 1.7 version

[2016-03-03 08:05] BakermanLP commented on #303
Thanks a lot!

[2016-03-03 08:49] gigabit101 commented on #369
This one dose need to fixed FYI

[2016-03-03 08:53] gigabit101 commented on #370
There are a load of things I will move into reborn  core after I finish with it

[2016-03-05 11:37] #369 closed

[2016-03-05 18:02] Armagedon13 opened #371 "In World Rendering Crash(1.8.9)"
http://imgur.com/AVNWkac
Crash Report:
http://pastebin.com/ECHJGEez

[2016-03-06 13:21] modmuss50 commented on #371
I think we might have to just remove it 1.8

[2016-03-06 13:22] gigabit101 commented on #371
Yeah I have some Ideas for a replacement but will have to me after we get the rest done

[2016-03-06 13:22] gigabit101 commented on #371
ps leave the code in reborncore atm

[2016-03-06 22:34] gigabit101 opened #372 "Add Recycler"

[2016-03-06 22:35] #371 closed

[2016-03-07 03:17] Prospector commented on #372
I'll pop this in here because it's sorta related to scrap boxes, but at some point we should add MineTweaker (or Crafttweaker, whatever it's called nowadays) support for the scrapbox loot.

[2016-03-07 07:51] Prospector commented on #372
also we really need a weight system for scrapboxes. Good stuff pops up wayyyy to much, and in the old days most of it was scrap, grass, gravel, and wooden tools.

[2016-03-07 18:35] #372 closed, assigned to gigabit101

[2016-03-07 20:38] Prospector opened #373 "Config TODO"
- [ ] Wrench Requirement
- [x] Disable sound and particle effect on cables

Gregtech's default config file:
[GregTech.txt](https://github.com/TechReborn/TechReborn/files/162494/GregTech.txt)

[2016-03-08 01:15] Prospector commented on #339
Is there any way to make the uninsulated cable shock sounds not stack? When you're touching two or three of them the sound is unbearable.

Also, why is BlockMachineBase in reborn core, and not techreborn?

[2016-03-08 04:05] Prospector opened #374 "Glass fiber cable texture issue"

[2016-03-08 04:44] Prospector opened #375 "Thermal generator does not use the isActive thing properly"

[2016-03-08 06:18] Prospector opened #376 "Generator still burns when it's at it's maximum energy storage capacity"

[2016-03-08 06:23] Prospector opened #377 "Iron Furnace's isActive state is based on the items being processed, rather than their fuel."
For example, put in one cobblestone and one coal in the iron furnace. When the cobblestone is done smelting, the furnace turns off.

Now, put one cobble and one coal into a vanilla furnace. The furnace stays lit until the fuel runs out.

[2016-03-08 06:24] Prospector opened #378 "Electric furnace and iron furnace (and I assume all other machines) turn off for a split second between processes."
Very much sorry for the issue spam, I wasn't sure whether to put a bunch of issues into one or to make separate ones.

[2016-03-08 08:23] modmuss50 commented on #374
can you explain?

[2016-03-08 08:23] modmuss50 commented on #375
Whats wrong with it?

[2016-03-08 08:24] Prospector commented on #374
Transparent parts of the texture are black. Same issue I had with the glass
fiber cable texture.
On Mar 8, 2016 12:23 AM, "Modmuss50" notifications@github.com wrote:

[2016-03-08 08:25] Prospector commented on #375
When it's on it does not appear to change the is active status
On Mar 8, 2016 12:23 AM, "Modmuss50" notifications@github.com wrote:

[2016-03-08 08:25] modmuss50 commented on #374
ok, I will take a look into it, I did notice that the cables were a bit weird.

[2016-03-08 17:24] modmuss50 opened #379 "1.9 TODO"
This is the list of things that will be changed in 1.9:
- [ ] Rewirte GUI system
- [ ] Rewirte power net to use capabillitys
- [ ] Make the powernet threaded
- [ ] Use new item handlers
- [ ] Rewrite API

[2016-03-09 04:09] Prospector opened #380 "Retrogen"
For ores and rubber trees. Would be good to get this in before the big release.

[2016-03-09 07:56] modmuss50 commented on #376
I think this is fine, it would be up to the player to prevent fuel waste

[2016-03-09 07:58] Prospector commented on #376
Alright. Though that is different from how the old IC2 did it. Speaking of, we need a page in the manual that says the differences between old IC2/GT and TechReborn, for the older players who remember the old mod.

[2016-03-09 08:22] modmuss50 commented on #376
I can add it

[2016-03-09 08:35] #375 closed, assigned to nobody

[2016-03-09 12:01] EverybodyLies opened #381 "Machine recipes allow all ore dict tags of an item"
Using TechReborn-1.7.10-0.7.15.1096 i added few recipes via MineTweaker.
`grinder.addRecipe(Dust, null, null, null, Ingot, null, 100, 32);`

Problem is: grinder recipes takes all oredict-tags from Ingot (i have 4 tags) and uses it as input conditions, that ruined all recipe logic. Here's an example:

Ingot info:

[code]

That few tags can matches almost everything from various details and material

[2016-03-09 12:40] modmuss50 commented on #381
It might have to be fixed in TabulaRasa, but I will take a look

[2016-03-09 12:41] EverybodyLies commented on #381
@modmuss50, I can test that oredict-tags on different ids, if you need it.

[2016-03-09 12:43] modmuss50 commented on #381
I may be able to add a flag, to disbale ore dic for a certain recipe.

[2016-03-09 12:43] EverybodyLies commented on #381
It would be great. However, maybe you can change inputs type to IIngredient, that can contain IOreDictTag and IItemStack, and just verify input type (ore/item)?

[2016-03-09 13:22] Dalidul opened #382 "1.7.10 Assembling Machine is not available"
It is impossible to craft Assembling Machine because it has no recipe.
Also Assembling Machine can not make any crafts.

[2016-03-09 13:35] gigabit101 commented on #382
The Assembling Machine was readded for map makers only it is not needed to progress with the mod

[2016-03-09 13:35] #382 closed, assigned to nobody

[2016-03-09 13:46] #376 closed, assigned to nobody

[2016-03-09 13:59] #377 closed, assigned to nobody

[2016-03-09 14:01] gigabit101 commented on #378
Is this really that much of a issue

[2016-03-09 14:01] modmuss50 commented on #378
no

[2016-03-09 14:02] #378 closed, assigned to nobody

[2016-03-09 14:03] #370 closed

[2016-03-09 14:12] modmuss50 commented on #380
The way I have done it will "break" all current worlds, there will just be twice as much ore.

[2016-03-10 08:21] modmuss50 commented on #381
@EverybodyLies I saw you created a wiki page, we do have an offical wiki here: http://techreborn.ninja/
sadly is got nothing on it

[2016-03-10 14:57] EverybodyLies commented on #381
@modmuss50, sorry for creating empty wiki page. just thinking, its not possible (no permissions), but...

[2016-03-10 21:48] #374 closed, assigned to nobody

[2016-03-10 21:50] modmuss50 commented on #379
I will reopen when 1.9 is a thing

[2016-03-10 21:50] modmuss50 commented on #380
Ive done what I can do, in my mind its not worth it.

[2016-03-10 21:51] modmuss50 commented on #380
If someone wants to fix what I have in on another branch

[2016-03-10 21:51] modmuss50 commented on #373
Can go in 1.8 todo

[2016-03-10 21:51] #373 closed, assigned to nobody

[2016-03-10 21:52] modmuss50 commented on #360
Can also all go in 1.8 todo

[2016-03-10 21:52] modmuss50 commented on #380
Can also go in todo

[2016-03-10 21:53] modmuss50 commented on #279
moving into todo

[2016-03-10 21:53] #279 closed

[2016-03-10 21:54] modmuss50 commented on #381
Its not my thing to fix, the other mod is over registering its ores.

[2016-03-10 21:55] modmuss50 commented on #339
Ive updated the list, and removed all of the completed things

[2016-03-10 22:03] modmuss50 commented on #339
Most of the textues in that list arent needed @ProfessorProspector

[2016-03-10 22:47] Prospector commented on #339
Alright. If you wanna remove any go ahead. I just stared adding a bunch of IC2 things.

[2016-03-10 22:58] Prospector commented on #380
Hmm is there any other way we could implement a machine or something to get ores for people in existing worlds? Could be defaulted to off.

[2016-03-11 00:06] covers1624 commented on #380
I have an idea or 2 for fixing retro gen, ill let you know on ts later. It's too complicated to explain here.

[2016-03-11 07:43] EverybodyLies commented on #381
@modmuss50, all 4 oredict-tags registered with MineTweaker. it can't be TabulaRasa. I'm sure. Also, it can't be error with ignoring metadata of item, because input slot shows different ids (`TabulaRasa:RasaItem4`, `TabulaRasa:RasaItem5`, `TabulaRasa:RasaItem7`) with various meta. As i tested, MineTweaker does not make mistakes when registering oredict in any recipes - when input is IItemStack or I

[2016-03-11 07:58] EverybodyLies commented on #381
@modmuss50, same thing happens with Industrial Blast Furnace. Rolling all items with at least one of maching tags.
http://i.imgur.com/t9gRN8L.png

[2016-03-11 07:59] Prospector commented on #381
Wait what's the problem exactly? I don't get it.

[2016-03-11 08:00] EverybodyLies commented on #381
@ProfessorProspector Input in recipe is Ingot with 4 different oredict-tags. Recipe uses all items, that have at least one maching tag, that is 100+ items.

In my modpack i use oredict-tags and MT scripts for add some stats to materials. 38 materials, each of them has 13 different items (dust, ingot, gear, etc.). Recipe input accidentally maching all of that.

[2016-03-11 08:03] Prospector commented on #381
The machine would need to check for ore tags, then iterate through every item in the game to find a matching tag, then add a recipe for it which I am fairly certain is not happening. I don't know how Tabula Rasa works but I'm fairly sure it's probably the cause. @modmuss50 any ideas?

[2016-03-11 08:04] EverybodyLies commented on #381
TabulaRasa dont have any oredict-tag mechanic. It can just add blank items. Ore registered with minetweaker script.

[2016-03-11 08:07] Prospector commented on #381
Oh. If I am understanding this correctly, your saying that if I give a dirt block the tag blockTest, and I give a stone block blockTest, and add a recipe for the dirt block in a grinder, then I would also be able to grind stone?

[2016-03-11 08:07] EverybodyLies commented on #381
I cant test it. Wait for a minute.

[2016-03-11 08:12] EverybodyLies commented on #381
@modmuss50, @ProfessorProspector  Ok, tested.

[code]

This script adding stone to cobblestone recipe, and grinder takes `<ore:stone>` and `<ore:grindertest>` as input. Same thing with Industial Blast Furnace.

[2016-03-11 08:20] modmuss50 commented on #381
ok, I will take a look at it later

[2016-03-11 10:45] modmuss50 commented on #380
Adding a command to do it would be easier, less laggy, and you could say what would regen. And it would not break existing worlds

[2016-03-11 10:48] Prospector commented on #380
Hmm good point. Yes this is a good idea.

[2016-03-11 10:51] Prospector commented on #339
Are the transformers going to be blocks again or what? If you have an idea for their function let me know and I can start on textures later today.

[2016-03-11 10:56] modmuss50 commented on #380
The command will take a radius (in chunks) then you can define what ores/world features are regened, I may rewrite the ore gen to allow more config controls over it.

[2016-03-11 10:58] modmuss50 commented on #339
yeah, they are going to be blocks. They will work the same as they do in ic2

[2016-03-11 11:00] Prospector commented on #380
Hmm perhaps we should move the ore configs to a separate file then. They already take up like half the document.

[2016-03-11 11:02] Prospector commented on #339
Are we not going to do energy storage blocks? Like batbox, mfe, etc?

[2016-03-11 11:03] modmuss50 commented on #339
humm, its easy to do. We can

[2016-03-11 11:06] Prospector commented on #339
After the mod is up to par of the old gregtech, is it coin to continue to expand the mod in the same style as if Greg didn't go crazy and still was working on the mod, or are we just leaving it completely as it was?

[2016-03-11 11:33] modmuss50 commented on #339
Once it's all done, I'm done with it. I will fix things and update to new mc. Other people can add new things. But I cannot work on the same thing for ever.

[2016-03-12 11:49] modmuss50 commented on #380
Its been added, enable in ore.json, disable once you have loaded the chunks you wanted to be generated

[2016-03-12 11:49] #380 closed, assigned to modmuss50

[2016-03-12 17:16] gigabit101 opened #383 "More 1.8 Things"
- [x] Bat box
- [x] MFE
- [x] MFSU
- [ ] Induction furnace
- [x] Turn transformers back into blocks

[2016-03-12 17:20] modmuss50 commented on #383
Most of them are easy to do, could almost do the energy storgeblocks and the transformers in one block

[2016-03-12 18:06] Prospector commented on #383
Well you could do all 6 in one block. We could make upgrades to change
which tier they are?
On Mar 12, 2016 9:20 AM, "Modmuss50" notifications@github.com wrote:

[2016-03-12 19:32] modmuss50 commented on #383
Im doing them in the same block, just with different block sates, no point wasting 6 block ids

[2016-03-14 01:04] Prospector commented on #379
Totally didn't mean to close this. Must've accidentally hit the button when scrolling on mobile.

[2016-03-14 02:49] Prospector opened #384 "Texture name convention"
We are using both camelCase and snake_case in our textures at what appears to be random. I say we need to decide on one naming convention.

My vote's for snake_case, but I'd like to hear your guys' ideas. The reason I'm voting on snake_case is because that's what vanilla uses and I like consistency.

[2016-03-14 04:13] Prospector opened #385 "Survival Playtesting Issues"
Since we're nearing a release, I decided to give a survival playtest a try. Here's a few of the issues I've noticed from my play so far. I'll edit this as I find more issues:
- [x] Copper and tin ores don't have smelting recipes
- [ ] No compressor recipe
- [ ] Electric furnace doesn't work when cables are attached to it. (Actually a lot of machines don't)
- [ ] Extractor has no progress bar
- [ ]

[2016-03-14 07:14] modmuss50 commented on #385
I started putting a pack together to play, i will get a server up within the next week or so

[2016-03-14 07:15] modmuss50 commented on #384
Ok snake_case is fine

[2016-03-14 07:15] #384 closed, assigned to nobody

[2016-03-14 12:19] gigabit101 commented on #385
@modmuss50 you can host it on the dedi if you wont

[2016-03-14 12:19] gigabit101 commented on #385
sorry im not working on TR at while my internet is like this I cant really commit to the repo

[2016-03-14 13:02] modmuss50 commented on #385
Yeah no worries, I've got 3 weeks off after this week, so i will have some time.

[2016-03-14 13:16] gigabit101 commented on #385
Well my new cable should be here Thursday
On 14 Mar 2016 1:02 pm, "Modmuss50" notifications@github.com wrote:

[2016-03-14 13:17] modmuss50 commented on #385
Ah good :+1:

[2016-03-16 21:11] Prospector opened #386 "Post-Big (v1.0.0) Release TODO"
These can wait until after the big release. If we can squeeze them in, great, but don't prioritize these:

**1.8.9:**
- [ ] Induction furnace
- [ ] Fix: Energy storage units (AESU, IDSU, etc.) cannot be placed up or downwards
- [ ] Wrench Requirement config
- [ ] Change Charge Bench to Charge-O-Matt

**1.9.0:**
- [ ] Make the powernet threaded
- [ ] Rewrite API

Also above 1.8 changes should also

[2016-03-16 21:12] #383 closed, assigned to nobody

[2016-03-16 21:19] Prospector opened #387 "Pre-Big (v1.0.0) Release TODO"
**1.8.9:**
- [ ] Support for direct liquid input in electrolyzer
- [ ] Fix Wrong Industrial Electrolyzer progress bar
- [ ] Fix GUIS #279
- [x] Transformers for new power net
- [ ] Fix: Thermal Generator's isActive state
- [ ] Fix: Machines do not work well with automation (ie: extraction, insertion, etc.)
- [ ] No compressor recipe
- [ ] Electric furnace doesn't work when cables are attached to i

[2016-03-16 21:19] #339 closed

[2016-03-16 21:19] #379 closed, assigned to nobody

[2016-03-16 21:21] #385 closed, assigned to nobody

[2016-03-16 21:31] Prospector opened #388 "test"

[2016-03-16 21:31] modmuss50 opened #389 "Test"

[2016-03-16 21:32] #388 closed, assigned to nobody

[2016-03-16 21:32] #389 closed, assigned to nobody

[2016-03-17 08:29] modmuss50 commented on #387
I have moved all of these to youtrack

[2016-03-17 08:29] #387 closed, assigned to nobody

[2016-03-17 08:34] Prospector commented on #387
Awesome. Heading to bed now
On Mar 17, 2016 1:29 AM, "Modmuss50" notifications@github.com wrote:

[2016-03-19 13:45] Dalidul opened #390 "1.7.10 Iridium Neutron Reflector does not reflects pulses"
Iridium Neutron Reflector do not encrease rods energy output

[2016-03-20 03:55] Prospector commented on #390
This probably will not get a fix, we've moves onto 1.8/1.9

[2016-03-20 11:39] modmuss50 commented on #390
^^

[2016-03-20 11:39] #390 closed, assigned to nobody

[2016-03-23 18:14] escman1999 opened #392 "techreborn plates not craftable in survival with ic2 classic since there's no forge hammer"
i know you're only doing bug fixes for 1.7.10 now, but could you please consider adding compressor recipes for techreborn plates when ic2 classic is installed?

[2016-03-23 18:31] modmuss50 commented on #392
1.7 is too old. Not happening. Sorry

[2016-03-23 18:31] #392 closed, assigned to nobody

[2016-03-24 12:44] FilipK-CZ opened #393 "MineTweaker Rolling Machine support"
Can you add Rolling Machine support for MineTweaker?

[2016-03-24 12:44] modmuss50 commented on #393
its in

[2016-03-24 12:44] #393 closed, assigned to nobody

[2016-03-24 12:45] FilipK-CZ commented on #393
Ou. How can I use it?

[2016-03-24 12:46] modmuss50 commented on #393
http://blamejared.com/new/modtweaker/1.8.9/Techreborn%20MTRollingMachine.html

[2016-03-24 12:47] FilipK-CZ commented on #393
And 1.7.10?

[2016-03-24 12:48] modmuss50 commented on #393
no, not happening. update

[2016-03-24 12:48] modmuss50 commented on #393
actually, its the same.

[2016-03-24 12:49] FilipK-CZ commented on #393
Thx :)

[2016-03-27 14:01] AKTheKnight opened #398 "Crash when using ** with sponge"
Yeah i forgot to change the **: Heliumplasma Bucket
Occasionally the game will crash when placing this near sponge:

http://pastebin.com/BD3d06wt

[2016-03-27 14:04] AKTheKnight opened #399 "Bunch of things I found when messing around."
Any issues/bugs/weird stuff I found while checking out the jenkins release:
RebornCore-1.9-2.0.3.39-universal
TechReborn-1.9-1.0.0.74-universal

Textures:
    Advanced Circuit Board
    Diamond Saw Blade
    Superconductor
    Pump
    Teleporter
    Diamond Jackhammer
    All the sources

Recipes:
    Teleporter
    Advanced drill
    Chainsaw
    Processor circuit board
    Advanced circuit boar

[2016-03-27 14:46] #398 closed, assigned to nobody

[2016-03-27 16:39] Prospector opened #400 "Texture Issues"
Pump
Teleporter

[2016-03-27 16:39] Prospector opened #401 "Recipe Issues"
Teleporter [ Removed ]
Advanced drill [ Fixed ]
Advanced chainsaw [ Fixed ]
basic circuit board  [ Removed ]
Processor circuit board  [ Removed ]
Advanced circuit board  [ Removed ]
Charge bench [ Fixed ]
Omni tool [ Going to rework ]
All Jackhammers [ Fixed ]
Nuke [ Really overpowered--keeping it without recipe ]
A lot of the plates [ None of them are needed yet ]
All the nuggets [ this will be t

[2016-03-27 16:39] Prospector opened #402 "Drills don't seem to lose power"

[2016-03-27 16:40] Prospector opened #403 "Advanced drill no faster than diamond drill?"

[2016-03-27 16:40] AKTheKnight opened #404 "Manual issues"
Double images
Writing going off screen
Black selection box not covering writing

[2016-03-27 16:40] Prospector opened #405 "Manual Issues"
Double images
Writing going off screen
Black selection box not covering writing

[2016-03-27 16:40] #405 closed, assigned to nobody

[2016-03-27 16:40] gigabit101 commented on #404
Its not finished

[2016-03-27 16:40] #404 closed, assigned to gigabit101

[2016-03-27 16:40] Prospector opened #406 "Rock cutter not silk touching"

[2016-03-27 16:41] Prospector opened #407 "Some kind of sound when igniting nuke"

[2016-03-27 16:41] Prospector opened #408 "Solar panels not turning off when moved"

[2016-03-27 16:41] gigabit101 commented on #407
sounds are broken for madders in forge atm

[2016-03-27 16:42] #407 closed, assigned to nobody

[2016-03-27 16:42] modmuss50 commented on #407
Nothing I can do

[2016-03-27 16:42] gigabit101 commented on #408
what are you moving it with

[2016-03-27 16:42] modmuss50 commented on #408
This is not us, the moving thing is doing it wrong

[2016-03-27 16:42] #408 closed, assigned to nobody

[2016-03-27 16:43] Prospector opened #410 "Solar panels being powered with a solar panel above them?"

[2016-03-27 16:43] Prospector opened #411 "Mass fab not producing anything?"

[2016-03-27 16:43] Prospector opened #412 "Vacuum freezer gui"

[2016-03-27 16:43] Prospector opened #413 "Spelling Issues"
- Cables: Should be "Entities" NOT "Entity's"

[2016-03-27 16:43] Prospector commented on #399
Split into multiple issues

[2016-03-27 16:43] #399 closed, assigned to nobody

[2016-03-27 16:45] #402 closed, assigned to nobody

[2016-03-27 16:45] #403 closed, assigned to nobody

[2016-03-27 16:45] #406 closed, assigned to nobody

[2016-03-27 16:46] gigabit101 commented on #410
This did not happen in my last test

[2016-03-27 16:46] modmuss50 commented on #410
Can someone confirm?

[2016-03-27 16:47] gigabit101 commented on #410
im not on comp stuck on laptop while babysitting

[2016-03-27 16:47] Prospector commented on #410
not sure if true or not just copied all this stuff from @AKTheKnight's list

[2016-03-27 16:47] Rushmead commented on #410
http://uploads.rushmead.xyz/uploader/share/rushmead/2016-03-27_17-47-14.png

[2016-03-27 16:47] #410 closed, assigned to nobody

[2016-03-27 16:47] gigabit101 commented on #411
I dont think are scrap works in this derp...

[2016-03-27 16:48] Rushmead opened #414 "Matter Fabricator isnt getting power."

[2016-03-27 16:48] gigabit101 commented on #400
sources dont have Icons anymore look for water source these need to be hidden from JEI

[2016-03-27 16:50] gigabit101 commented on #401
if someone wonts to take care of these you can get them here http://ftbwiki.org/GregTech

[2016-03-27 16:53] Prospector commented on #386
Moved to TODO tracker

[2016-03-27 16:53] #386 closed, assigned to nobody

[2016-03-27 17:31] mystise opened #416 "Wrench doesn't rotate machines or break energy storage devices"

[2016-03-27 17:31] mystise opened #417 "Picks take no durability loss when breaking IC2-like energy storage devices"

[2016-03-27 17:32] mystise opened #418 "Generators drop double their internal item storage when broken"

[2016-03-27 17:32] mystise opened #419 "Lava cells don't work in thermal generator"

[2016-03-27 17:32] mystise opened #420 "Lava buckets give 2000mb in thermal generator"

[2016-03-27 17:33] mystise opened #421 "Diesel Generator and Semifluid Generator Missing Gui Texture"

[2016-03-27 17:34] mystise opened #422 "Batteries can't be placed in energy storage devices"

[2016-03-27 17:35] mystise opened #423 "AESU's GUI's buttons are interfering with armor and battery slots"
Edit: An image showing the issue

![2016-03-27_11 50 23](https://cloud.githubusercontent.com/assets/246232/14066828/1ee043b6-f412-11e5-8734-50daf58ee15f.png)

[2016-03-27 17:35] Rushmead commented on #418
Could you please show me this happening and what version are you running?

[2016-03-27 17:35] mystise opened #424 "Energy transfer doesn't work without cables, so without MCMP energy can't be used"

[2016-03-27 17:36] Prospector commented on #424
Well I mean the solution is to install mcmp.

[2016-03-27 17:37] gigabit101 commented on #424
This will not be a issue when MCMP gets merged into forge

[2016-03-27 17:37] #424 closed, assigned to nobody

[2016-03-27 17:38] gigabit101 commented on #422
They are not implemented yet...

[2016-03-27 17:38] gigabit101 commented on #421
image ?

[2016-03-27 17:39] gigabit101 commented on #417
um not are issue

[2016-03-27 17:39] mystise commented on #418
Hm. That's odd, I was able to replicate it every time a few minutes ago, I'll attempt to replicate and if I can I'll post again.

I'm on version 1.0.1.75

[2016-03-27 17:39] mystise commented on #421
![2016-03-27_11 39 28](https://cloud.githubusercontent.com/assets/246232/14066782/9a867c58-f410-11e5-90d8-504ef92692ca.png)
![2016-03-27_11 39 30](https://cloud.githubusercontent.com/assets/246232/14066783/9a872752-f410-11e5-8dfa-a99a4df24ca8.png)

[2016-03-27 17:40] gigabit101 commented on #421
....

[2016-03-27 17:42] mystise commented on #424
But energy transfer should be working using just output to input. Putting a generator next to an energy storage device fills the generators internal storage and never puts it in the energy storage device.

[2016-03-27 17:43] gigabit101 commented on #424
That is not a thing the internal power net will do

[2016-03-27 17:43] Prospector commented on #424
This works properly if you're using the RF config, not sure why this doesn't work with EU.

[2016-03-27 17:44] modmuss50 commented on #424
If you do not have MCMP, enable RF. I thought we would have MCMP in forge by now, so yeah.

[2016-03-27 17:46] mystise commented on #418
It's when broken with a wrench.

![2016-03-27_11 45 45](https://cloud.githubusercontent.com/assets/246232/14066810/84d979a4-f411-11e5-85e9-093c12d549ff.png)
![2016-03-27_11 45 49](https://cloud.githubusercontent.com/assets/246232/14066812/84f98898-f411-11e5-8562-ddd796f069d8.png)
![2016-03-27_11 45 54](https://cloud.githubusercontent.com/assets/246232/14066813/84ff6e7a-f411-11e5-9b10-e1e1b6a063cb.

[2016-03-27 17:47] Prospector commented on #418
Interesting.

[2016-03-27 17:49] mystise commented on #417
BaseTileBlock lacks a hardness setting in the constructor. This is what causes the lack of durability loss, as the blocks break as fast as a torch. Breaking a torch, or any other instantly breakable block, with a tool in survival causes no durability loss.

[2016-03-27 17:53] mystise opened #425 "Putting fluid bucket in a quantum tank causes crash"
I shift clicked a bucket of lava and water into the quantum tank and the following crashes occurred.

Lava: https://gist.github.com/adudney/a7df34a3e61ec212c845

Water: https://gist.github.com/adudney/19cc86f7cf252b679ab8

[2016-03-27 17:57] #421 closed, assigned to Prospector

[2016-03-27 18:01] Prospector commented on #412
Not sure what the issue is.

[2016-03-27 18:01] #412 closed, assigned to Prospector

[2016-03-27 18:03] modmuss50 commented on #420
working fine for me, can someone else test?

[2016-03-27 18:04] Prospector commented on #420
Confirming issue. Putting lava bucket in gives 2000 mb rather than 1000

[2016-03-27 18:05] #425 closed, assigned to gigabit101

[2016-03-27 18:05] Prospector commented on #420
Actually no. It's just clientside. I relogged and it properly went back down.

[2016-03-27 18:05] modmuss50 commented on #420
ah ok, I can fix this

[2016-03-27 18:06] mystise opened #426 "Uninsulated Copper and uninsulated Tin cables look exactly the same"
![2016-03-27_12 06 13](https://cloud.githubusercontent.com/assets/246232/14066899/5421fa04-f414-11e5-90b7-ca58bb2c9a55.png)

[2016-03-27 18:06] #420 closed, assigned to modmuss50

[2016-03-27 18:10] mystise opened #427 "Using higher tier cables with low tier sources and sinks causes explosions"
This may be intended behavior, but it isn't what IC2 and GT used to do, so I thought it was worth bringing up anyway. How full the generator is before you connect the cable determines the size of the explosion and how violently it throws you.

![2016-03-27_12 08 39](https://cloud.githubusercontent.com/assets/246232/14066924/e5c93de6-f414-11e5-8717-3e8f60e7a73b.png)
![2016-03-27_12 08 40](https://c

[2016-03-27 18:15] #413 closed, assigned to Prospector

[2016-03-27 18:16] gigabit101 commented on #417
RebornCore issue

[2016-03-27 18:20] mystise opened #428 "MFE and MFSU drop themselves when broken with a pick rather than a machine block"

[2016-03-27 18:21] #426 closed, assigned to modmuss50

[2016-03-27 18:25] gigabit101 commented on #428
Lv Transformer and Batbox drop themselfs
MV Transformer and MFE drop machine block
HV Transformer and MFSU drop advanced machine blocks

[2016-03-27 18:37] mystise opened #429 "Some machines drop strange blocks when broken with a pick"
Most machines drop a lower tier machine block than they were crafted with, but stranger are machines that drop blocks that aren't involved in their crafting recipes at all:
Higher tier machine casings - Standard machine casing
Advanced Machine Block - Aluminum Machine Hull
LESU block - Machine Block

There may be more, I haven't tested all of the blocks.

[2016-03-27 18:38] #416 closed, assigned to modmuss50

[2016-03-27 18:40] mystise commented on #428
The issue is shown below: (For reference)

![2016-03-27_12 38 30](https://cloud.githubusercontent.com/assets/246232/14067071/0ab19d8e-f419-11e5-8d73-1e8cdc7f7e14.png)
![2016-03-27_12 38 34](https://cloud.githubusercontent.com/assets/246232/14067073/0ad7da9e-f419-11e5-83b0-b2a580978d8a.png)
![2016-03-27_12 38 38](https://cloud.githubusercontent.com/assets/246232/14067072/0ad2c41e-f419-11e5-9fa1-372

[2016-03-27 18:42] mystise opened #430 "Some items lack textures/models, showing the missing texture icon."
![2016-03-27_12 29 57](https://cloud.githubusercontent.com/assets/246232/14067081/3929470c-f419-11e5-8b28-cd4200cb77c2.png)
![2016-03-27_12 37 03](https://cloud.githubusercontent.com/assets/246232/14067083/393882e4-f419-11e5-97c6-3eddecccc6b0.png)
![2016-03-27_12 39 12](https://cloud.githubusercontent.com/assets/246232/14067082/3937ebcc-f419-11e5-9590-50f770b3b90c.png)

The diamond jackhammer and

[2016-03-27 18:43] modmuss50 commented on #430
Dupe of #400

[2016-03-27 18:43] #430 closed, assigned to nobody

[2016-03-27 18:46] mystise commented on #400
Other items:
Superconductor
Diamond saw blade
Diamond Jackhammer
Advanced Circuit Board

[2016-03-27 18:46] modmuss50 commented on #400
yeah, they have been fixed in git.

[2016-03-27 18:54] #429 closed, assigned to gigabit101

[2016-03-27 18:56] #414 closed, assigned to modmuss50

[2016-03-27 18:57] #411 closed, assigned to nobody

[2016-03-27 18:58] #417 closed, assigned to modmuss50

[2016-03-27 19:03] mystise opened #431 "Higher tier machine casings drop standard machine casings when broken with a pick"
Standard machine casings aren't a crafting component in any of the higher tiers

![2016-03-27_13 03 11](https://cloud.githubusercontent.com/assets/246232/14067196/4e7e77f0-f41c-11e5-9475-5478a6a34cbc.png)
![2016-03-27_13 03 16](https://cloud.githubusercontent.com/assets/246232/14067197/4ea73aa0-f41c-11e5-9d3e-29468061814d.png)
![2016-03-27_13 03 18](https://cloud.githubusercontent.com/assets/24623

[2016-03-27 19:04] mystise opened #432 "Advanced machine blocks drop aluminum machine hulls when broken with a pick"
Aluminum machine hulls aren't craftable, and aren't currently used in any recipes.

![2016-03-27_13 04 14](https://cloud.githubusercontent.com/assets/246232/14067202/7276da94-f41c-11e5-876b-72f7cb958cdb.png)
![2016-03-27_13 04 16](https://cloud.githubusercontent.com/assets/246232/14067204/729ec7a2-f41c-11e5-929e-534d421af854.png)
![2016-03-27_13 04 18](https://cloud.githubusercontent.com/assets/24

[2016-03-27 19:06] mystise opened #433 "Some centrifuge and electrolyzer recipes use beryllium cells rather than empty cells"
For example the redstone centrifuge recipe from GT3 compared to the tech reborn redstone centrifuge recipe:

![screen shot 2016-03-27 at 13 00 55](https://cloud.githubusercontent.com/assets/246232/14067213/ac1141a4-f41c-11e5-93b0-f9eb28f6fa1b.png)
![screen shot 2016-03-27 at 13 02 50](https://cloud.githubusercontent.com/assets/246232/14067214/ac2ac886-f41c-11e5-996c-e032b37f7927.png)

[2016-03-27 19:08] mystise opened #434 "Centrifuging all wood types returns advanced circuit parts and saplings"
The GT3 recipe only accepted rubber wood, took 16 instead of 15 logs, outputted plant balls rather than saplings, and outputted sticky resin rather than advanced circuit parts:

![screen shot 2016-03-27 at 13 00 30](https://cloud.githubusercontent.com/assets/246232/14067218/dca00c1a-f41c-11e5-894d-8e6de3c3dcb2.png)
![screen shot 2016-03-27 at 13 02 42](https://cloud.githubusercontent.com/assets/24

[2016-03-27 19:09] #431 closed, assigned to gigabit101

[2016-03-27 19:10] gigabit101 commented on #434
ore dict issue I Think

[2016-03-27 19:10] Prospector commented on #431
I have 117 unread emails from github. What did you guys do lol

[2016-03-27 19:10] gigabit101 commented on #431
we released a version on curse

[2016-03-27 19:11] mystise commented on #431
I was excited for TechReborn's 1.0 release and did a bunch of creative testing :P

[2016-03-27 19:11] modmuss50 commented on #431
There will be a new version going up soon, with some of the fixes we have done recently.

[2016-03-27 19:11] #432 closed, assigned to nobody

[2016-03-27 19:18] #423 closed, assigned to Rushmead

[2016-03-27 21:06] lanAnderson opened #435 "Energy storage blocks do not output energy"
I am not able to get energy to output from any of the energy storage block, and they seem to accept energy from all sides including the output.

(The MFE also doesn't have a GUI)

Using:
Forge 12.16.0.1811
TechReborn-1.9-1.0.2.92
RebornCore-1.9-2.0.3.41
MCMultiPart-1.1.0_55-universal

[2016-03-27 22:09] Rushmead commented on #435
Hi, yeah they are currently being worked on and should be fixed tomorow. Apologies

[2016-03-28 07:06] Prospector opened #436 "Add tooltips for the names we changed"
For example:

Add "BatBox" to the Battery Box description.

Add "Macerator" to the Grinder description.

[2016-03-28 09:34] Rushmead commented on #435
@modmuss50 this relates to the powernet(Which seems to be broken), assigning you!

[2016-03-28 09:38] modmuss50 commented on #435
It's it all broken? Or does it break randomly?

[2016-03-28 09:43] Rushmead commented on #435
http://uploads.rushmead.xyz/uploader/share/rushmead/2016-03-28_10-40-51.mp4

[2016-03-28 11:24] #428 closed, assigned to Rushmead

[2016-03-28 11:25] Rushmead commented on #422
This is in the latest build!

[2016-03-28 11:25] #422 closed, assigned to Rushmead

[2016-03-28 11:55] #419 closed, assigned to Prospector

[2016-03-28 12:36] #418 closed, assigned to nobody

[2016-03-28 12:42] Rushmead commented on #434
i've fixed some of this but we dont have any Plant balls, so i'll leave it to @gigabit101

[2016-03-28 12:43] modmuss50 commented on #434
I can fix the rest of this

[2016-03-28 12:58] #433 closed, assigned to nobody

[2016-03-28 16:02] #435 closed, assigned to modmuss50

[2016-03-28 16:50] #434 closed, assigned to modmuss50

[2016-03-28 16:50] #436 closed, assigned to nobody

[2016-03-28 18:37] modmuss50 commented on #381
I will fix this when we have MineTweaker for 1.9

[2016-03-28 18:40] #427 closed, assigned to modmuss50

[2016-03-28 19:06] Prospector commented on #381
This isn't just with minetweaker. Any recipe. For example, look at extractor recipes. Only ModBlocks.rubber_log was registered but you can use any logWood.

[2016-03-28 19:08] modmuss50 commented on #381
yeah, it can be done in code, its a minetweaker issue.

[2016-03-28 19:11] Prospector commented on #381
? it's not minetweaker. this happens without minetweaker

[2016-03-28 19:16] Prospector commented on #381
This recipe is registered:
![image](https://cloud.githubusercontent.com/assets/6166773/14087417/c8eb2fca-f4de-11e5-8c66-f83730bb7c00.png)

Yet any logWood works in the recipe:

![image](https://cloud.githubusercontent.com/assets/6166773/14087439/ea787a26-f4de-11e5-91a9-f03eeee54efc.png)

Not using minetweaker/crafttweaker.

[2016-03-28 20:39] Sailren opened #439 "almost no textures at all"
was this already in a issue or is this new?

http://abload.de/img/2016-03-28_22.28.07qku8c.png

[2016-03-28 20:41] modmuss50 commented on #439
What os and graphics card are you on?

[2016-03-28 20:42] Sailren commented on #439
windows 7 and igp in amd 5800k apu, i used a faithful pack at the same time, but it also happens without, lemme test build 126 from jenkins

[2016-03-28 20:43] modmuss50 commented on #439
try without the texture pack?

[2016-03-28 20:47] Sailren commented on #439
well, now it seems to be fixed, the icons are back even with texture pack on, but your redpower 2 armor are missing textures

btw, the transformers have all batbox in their tooltip not sure if this is intended

[2016-03-28 20:59] Sailren opened #440 "batboxes"
u are using 32eu for batbox i guess, 512 for mfe and 2048 for mfsu, isn't there supposed to be a cesu with 128 eu?

[2016-03-28 21:01] modmuss50 commented on #439
@Rushmead can you look at the last comment? and yes. there are not textures yet for the armor.

[2016-03-28 21:01] #439 closed, assigned to modmuss50

[2016-03-28 21:05] Prospector commented on #439
The armour textures are there unless I forgot to push them?

[2016-03-28 21:05] Sailren opened #441 "there also seems to be something wrong with the boxes"
not sure how to describe this and sorry if i post very often, but im very interested in this mod cuz it combines two famous mods in one sweet jar

http://abload.de/img/2016-03-28_23.00.177psnf.png

http://abload.de/img/2016-03-28_23.00.201wsfu.png

the second isn't supposed to be a battery box, i assume it should be a transformer best with internal redstone control

[2016-03-28 21:06] Prospector commented on #439
They're for sure there. Refresh your resources folder.

[2016-03-28 21:11] Prospector commented on #440
That was added in ic2 exp but we could add it.

[2016-03-28 21:12] Sailren commented on #441
~~isssue with idsu: http://abload.de/img/2016-03-28_23.11.14ahkit.png~~

~~going to sleep now m8, i will check here again tomorrow, in theory i could help with finding issues, sounds funn~~

**Fixed**

[2016-03-28 21:20] Rushmead commented on #439
@modmuss50 yeah its known, have you got guis for the transformers @ProfessorProspector?

[2016-03-28 21:20] modmuss50 commented on #439
Transformers dont have guis...

[2016-03-28 21:21] Rushmead commented on #439
Cool, ill do the transformers in the morning.

[2016-03-28 21:21] Prospector commented on #441
We should also add an EV Transformer http://wiki.industrial-craft.net/index.php?title=EV_Transformer

[2016-03-28 21:22] Prospector commented on #439
Transformers aren't supposed to have guis

[2016-03-28 21:23] gigabit101 commented on #440
nope

[2016-03-28 21:23] #440 closed, assigned to nobody

[2016-03-28 21:25] modmuss50 commented on #441
@Sailren finding issues, is very helpful. We cannot fix things if we dont know about them

[2016-03-28 21:26] Sailren commented on #441
i have a lot more strange stuff with machines, but maybe something like advanced machines like rotary macerators, induction furnaces, nuclear jetpacks, stuff perhaps from ic2 classic, your choice what u want to get inside, and the ev transformer, maybe u could add that to supercondensator transform anythig above ev down to 2048 if this makes sense

[2016-03-28 21:28] gigabit101 commented on #441
We have a api so add-ons are always possible and would be nice to see

[2016-03-28 21:30] Sailren commented on #441
if this gets stable and people wake up there could show up some addons, ic2 included gt w/o gregs nerfs, seems to be a good choice, and u would be the first before cofh rofl :D

[2016-03-28 21:31] gigabit101 commented on #441
you should look at the config file more to come ;)

[2016-03-28 21:33] Sailren commented on #441
those rf guys seem to be very far away from 1.9, there isnt even any public alpha yet :D

[2016-03-28 21:34] gigabit101 commented on #441
TechReborn has a config to allow are machine to be powered with RF fyi

[2016-03-28 21:35] Prospector commented on #441
TechReborn supports RF, there's a config to use it.

[2016-03-28 21:35] Sailren commented on #441
yeah, i meant stuff like thermal expansion and Immersive Engineering

@ProfessorProspector from your icon i imagine u will add overclockers

[2016-03-28 21:38] gigabit101 commented on #441
IE is already on 1.8 just not public

[2016-03-28 21:39] gigabit101 commented on #441
Ender IO is 1.8 aswell

[2016-03-28 21:41] Sailren commented on #441
1.9, if this is going well u would be atleast a well known mod for 1.9, and one of the first proper ones, we will see what time brings, maybe one modder or team shows up anytime soon with a blockbuster mod, yeah yeah

[2016-03-28 21:44] Sailren commented on #441
time is running short, need to count uu in dreams, gonna check in tomorrow and help with finding issues if i find some

(gibts hier auch deutsche?)

[2016-03-28 21:44] gigabit101 commented on #441
get build off jenkins if you wont to find new bugs

[2016-03-28 21:44] modmuss50 commented on #441
Thanks for that

[2016-03-28 21:45] Sailren commented on #441
i will m8, i live on a bleeding edge, i'm kind of a nerd, always wants to have the newst stuff xD

[2016-03-28 22:23] Prospector opened #442 "Energy and Lapotron crystals do not store energy"

[2016-03-28 22:57] Prospector opened #443 "Crash when inserting non-powered items into MFSU with hopper"

[2016-03-28 23:36] #442 closed, assigned to Prospector

[2016-03-28 23:39] Chelkin opened #444 "Cupronickel not possible to create - Alloy Furnace recipe issue and bronze created instead"
Unable to craft cupronickel via Iron Alloy Furnace.  On adding Copper and Nickel to the Iron Alloy Furnace it creates 4x bronze instead of 2x cupronickel.  Attempted on latest version of mod for 1.7.10 and 1.9 (with no other mods) as of 29/3/16 and issue is the same.  Unable to progress further through tech as Cupronickel coils are required for blast furnace and further tech progression.

Currentl

[2016-03-29 02:16] mystise opened #445 "Redstone centrifuge recipe takes a single empty cell but produces 4 cells"
![2016-03-28_20 03 16](https://cloud.githubusercontent.com/assets/246232/14095924/00c4b338-f522-11e5-90a0-454aacb24ad9.png)

[2016-03-29 02:17] mystise opened #446 "Endstone centrifuge recipe takes beryllium cells rather than empty cells"
![2016-03-28_20 02 26](https://cloud.githubusercontent.com/assets/246232/14095935/1136a2da-f522-11e5-9cd2-5641bf5cd3ef.png)

[2016-03-29 02:18] mystise opened #447 "Phosphorous centrifuge recipe takes beryllium cells rather than empty cells"
![2016-03-28_20 02 24](https://cloud.githubusercontent.com/assets/246232/14095942/298696ba-f522-11e5-9012-886484164335.png)

[2016-03-29 02:18] mystise opened #448 "Rubber wood centrifuge recipe takes beryllium cells rather than empty cells"
![2016-03-28_20 02 23](https://cloud.githubusercontent.com/assets/246232/14095951/3a480358-f522-11e5-86b7-40d704f59635.png)

[2016-03-29 02:19] mystise opened #449 "Beryllium cell/bucket spelled Berylium"
![2016-03-28_20 19 04](https://cloud.githubusercontent.com/assets/246232/14095967/59fa7d52-f522-11e5-8747-56d2a06c0ef0.png)
![2016-03-28_20 19 23](https://cloud.githubusercontent.com/assets/246232/14095972/5f3f5350-f522-11e5-871c-e0785032bfaf.png)

[2016-03-29 02:22] mystise opened #450 "Emerald dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 21 16](https://cloud.githubusercontent.com/assets/246232/14096026/d5bd4046-f522-11e5-8c5c-cfd256c86671.png)

[2016-03-29 02:23] mystise opened #451 "Missing recipe placeholder electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 21 47](https://cloud.githubusercontent.com/assets/246232/14096039/e31c941c-f522-11e5-8b24-5bceff3a2da3.png)

[2016-03-29 02:23] mystise opened #452 "Dye electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 21 52](https://cloud.githubusercontent.com/assets/246232/14096043/ef8d1a0a-f522-11e5-962c-51728c74268c.png)

[2016-03-29 02:23] mystise opened #453 "Peridot dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 21 57](https://cloud.githubusercontent.com/assets/246232/14096049/fa54d78e-f522-11e5-98a0-03daa9a50e41.png)

[2016-03-29 02:24] mystise opened #454 "Pyrope dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 01](https://cloud.githubusercontent.com/assets/246232/14096058/0498e0fa-f523-11e5-9d6b-a332a9173180.png)

[2016-03-29 02:24] mystise opened #455 "Sand electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 04](https://cloud.githubusercontent.com/assets/246232/14096067/109bfd9c-f523-11e5-8ab3-91a7d23246c6.png)

[2016-03-29 02:24] mystise opened #456 "Almandine dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 07](https://cloud.githubusercontent.com/assets/246232/14096071/1bc2c868-f523-11e5-9eb0-6de955fe238b.png)

[2016-03-29 02:25] mystise opened #457 "Spessartine dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 09](https://cloud.githubusercontent.com/assets/246232/14096076/27e7864c-f523-11e5-8b1f-a313a2092da5.png)

[2016-03-29 02:25] mystise opened #458 "Andradite electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 11](https://cloud.githubusercontent.com/assets/246232/14096088/3480475e-f523-11e5-9146-7d680226e481.png)

[2016-03-29 02:25] mystise opened #459 "Grossular dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 13](https://cloud.githubusercontent.com/assets/246232/14096097/408509ea-f523-11e5-95ce-ae68fbc7791c.png)

[2016-03-29 02:25] Prospector commented on #457
Thanks for all the reports! Your work is very much appreciated!

[2016-03-29 02:26] mystise opened #460 "Uvarovite dust electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 16](https://cloud.githubusercontent.com/assets/246232/14096105/4caacef8-f523-11e5-975b-eb875e32a359.png)

[2016-03-29 02:26] mystise opened #461 "Dark ashes electrolyzer recipe uses beryllium cells rather than empty cells"
![2016-03-28_20 22 19](https://cloud.githubusercontent.com/assets/246232/14096111/570b386a-f523-11e5-97c0-54c7a3fc8528.png)

[2016-03-29 02:27] mystise commented on #457
Happy to help :) Sorry if the report spam is a bit much, but last time I listed multiple things per issue the first thing on the list being fixed got the whole issue marked as being fixed :P Whoops.

[2016-03-29 02:28] mystise opened #462 "TechReborn items rendered in hand like 1.8 style blocked sword"
Cell:
![2016-03-28_20 04 44](https://cloud.githubusercontent.com/assets/246232/14096137/975f3042-f523-11e5-8a51-377e0ab9e8ec.png)

Vanilla bone:
![2016-03-28_20 04 59](https://cloud.githubusercontent.com/assets/246232/14096138/976e21a6-f523-11e5-8cc8-b2f8f6bfc0be.png)

This is especially funny with the wrench and pickaxes:
![2016-03-28_20 28 38](https://cloud.githubusercontent.com/assets/246232/14

[2016-03-29 02:30] Prospector commented on #457
It's fine, though some of the issues could be put together like all of the ones not using empty cells could go together, etc

[2016-03-29 02:30] mystise commented on #444
Can confirm, iron alloy furnace produces bronze and only consumes 1 copper and one tin, while the electric alloy furnace produces cupronickel just fine. The iron alloy furnace also stopped producing after one run, the progress bar stuck at 0 (or 1 if you don't leave the GUI), presumably because it is checking for the correct recipe before starting, but then producing incorrect output items.

![201

[2016-03-29 02:31] Prospector commented on #462
Yeah, this is a JSON-destroyer issue. It'll get fixed eventually.

[2016-03-29 02:31] #462 closed, assigned to nobody

[2016-03-29 02:32] mystise commented on #457
In the future I will do just that, thanks for you and the team's work on this mod :)

[2016-03-29 02:33] mystise opened #463 "Input slots in machines don't have filters"
For example, the alloy furnace is happy to accept coal in a metal slot and electrum in the fuel slot, and a generator accepts gold as a fuel (but doesn't do anything with it)

![2016-03-28_20 32 38](https://cloud.githubusercontent.com/assets/246232/14096252/612b250c-f524-11e5-819e-056493118738.png)
![2016-03-28_20 32 39](https://cloud.githubusercontent.com/assets/246232/14096253/61402344-f524-11e5

[2016-03-29 02:34] mystise opened #464 "IDSU and LESU guis chopped up strangely"
![2016-03-28_20 12 03](https://cloud.githubusercontent.com/assets/246232/14096265/7eb81486-f524-11e5-8cf5-2e98fff2897d.png)
![2016-03-28_20 12 04](https://cloud.githubusercontent.com/assets/246232/14096266/7ec5f790-f524-11e5-8a65-fbbfe2a871b9.png)

[2016-03-29 02:36] mystise opened #465 "Wrenching low tier (BatBox, MFE, MFSU) battery storage drops both wrenched item and pickaxe item"
Works normally on generators and machines.

![2016-03-28_20 36 19](https://cloud.githubusercontent.com/assets/246232/14096314/c0d9d980-f524-11e5-81d6-e275bf649c2f.png)
![2016-03-28_20 36 21](https://cloud.githubusercontent.com/assets/246232/14096315/c0e9230e-f524-11e5-87f4-157a5e6d6a4e.png)
![2016-03-28_20 36 24](https://cloud.githubusercontent.com/assets/246232/14096316/c0e97142-f524-11e5-841f-d7

[2016-03-29 02:37] mystise opened #466 "Wrenching other energy storage blocks (LESU, IDSU, AESU) doesn't do anything"
Shift right click leaves them exactly where they are

[2016-03-29 02:39] mystise opened #467 "Rotating Battery Box with wrench rotates to opposite face clicked"

[2016-03-29 02:39] mystise opened #468 "Rotating any energy storage device that is not the Battery Box does nothing"
Except when clicking on the top face, which opens the GUI

[2016-03-29 02:43] mystise opened #469 "Missing Recipe Placeholder allows you to turn flint and other materials into diamonds and coolant cells"
I'm sure this is going away but I thought I'd make an issue to track it.

![2016-03-28_20 40 40](https://cloud.githubusercontent.com/assets/246232/14096371/70504cd2-f525-11e5-8679-7f65e1798213.png)
![2016-03-28_20 40 43](https://cloud.githubusercontent.com/assets/246232/14096376/7062aa62-f525-11e5-9433-db44604647b0.png)
![2016-03-28_20 40 44](https://cloud.githubusercontent.com/assets/246232/14096

[2016-03-29 02:44] parcel31u opened #470 "Server Crash"
http://pastebin.com/Y3kaD72f

[2016-03-29 02:44] mystise opened #471 "Basic circuit board is uncraftable but used in some items"
Namely:
- Destructopack
- Rock cutter

![2016-03-28_20 06 48](https://cloud.githubusercontent.com/assets/246232/14096409/da625412-f525-11e5-9c49-6683acb11698.png)

[2016-03-29 02:45] Prospector commented on #470
Looks like a HoloInventory issue?
![image](https://cloud.githubusercontent.com/assets/6166773/14096424/9e65d086-f51d-11e5-9453-1c18a4d2221e.png)

[2016-03-29 02:47] #445 closed, assigned to nobody

[2016-03-29 02:48] #447 closed, assigned to nobody

[2016-03-29 02:49] #464 closed, assigned to nobody

[2016-03-29 02:49] mystise opened #472 "Highly advanced machine block drops regular machine block when broken with a pick"
Other machine blocks are unaffected. On a side note, none of them are wrenchable.

![2016-03-28_20 46 51](https://cloud.githubusercontent.com/assets/246232/14096512/9c785c90-f526-11e5-97f6-b69e85c76206.png)
![2016-03-28_20 46 54](https://cloud.githubusercontent.com/assets/246232/14096513/9c786488-f526-11e5-82c0-f7e343ad6282.png)

[2016-03-29 02:53] #449 closed, assigned to nobody

[2016-03-29 02:57] Prospector commented on #472
They're not supposed to be wrenchable, they're crafting ingredients. Will be fixed in next push.

[2016-03-29 02:57] #472 closed, assigned to nobody

[2016-03-29 02:59] Prospector commented on #471
Dupe of #401

[2016-03-29 02:59] #471 closed, assigned to nobody

[2016-03-29 03:13] mystise opened #473 "Quantum tank has missing top texture in third person"
First person and item in inventory are fine, item in inventory's third person view and actual third person view are not.

![2016-03-28_21 11 51](https://cloud.githubusercontent.com/assets/246232/14096946/bff95112-f529-11e5-8a40-afdbf6383583.png)

[2016-03-29 06:07] Speiger commented on #441
@gigabit101 am i seeing wrong? You copied the Battery Box? Really? You are kidding me right?

[2016-03-29 07:07] Prospector commented on #441
What do you mean? We needed to use lots of IC2's features so we could run standalone.

[2016-03-29 07:13] #446 closed, assigned to nobody

[2016-03-29 07:13] #448 closed, assigned to nobody

[2016-03-29 07:13] #450 closed, assigned to nobody

[2016-03-29 07:13] #451 closed, assigned to nobody

[2016-03-29 07:13] #452 closed, assigned to nobody

[2016-03-29 07:13] #453 closed, assigned to nobody

[2016-03-29 07:13] #454 closed, assigned to nobody

[2016-03-29 07:13] #455 closed, assigned to nobody

[2016-03-29 07:13] #456 closed, assigned to nobody

[2016-03-29 07:13] #457 closed, assigned to nobody

[2016-03-29 07:13] #458 closed, assigned to nobody

[2016-03-29 07:13] #459 closed, assigned to nobody

[2016-03-29 07:13] #460 closed, assigned to nobody

[2016-03-29 07:13] #461 closed, assigned to nobody

[2016-03-29 07:13] Prospector opened #474 "Using beryllium cells rather than empty cells"
Centrifuge:
- Rubber Wood
- Endstone Dust

Electrolyzer:
- Emerald Dust
- ?
- Lapis (? Bug report said dye)
- Peridot Dust
- Pyrope Dust
- Sand
- Almandine Dust
- Spessartine Dust
- Andradite Dust
- Grossular Dust
- Uvarovite
- Dark Ashes

[2016-03-29 07:15] Speiger commented on #441
@ProfessorProspector there is a difference to implement features to Stand alone and simply copy features... Because EnergyStorage is only a Buffer thing and not really needed...
They should at least ask before they copied this "idea" it is still under IC2 License/My license

[2016-03-29 07:19] Prospector commented on #441
Ideas aren't copyrighted. Every single thing in TechReborn is built from the ground up, nothing is stolen or taken from IC2 or Gregtech, except the ideas (and a few textures, but I'm slowly replacing them). We're trying to recreate the experience of playing the old GT 2.78, and to do so there are many things from IC2 we needed to reimplement.

That's like saying Thermal Expansion shouldn't be allo

[2016-03-29 07:32] Speiger commented on #441
I know its stated for TinyModularThings and as long i did not tell something differend then these rules count for almost every project i am providing:
https://github.com/TinyModularThings/TinyModularThings/blob/master/Permissions.txt

[2016-03-29 07:35] Speiger commented on #441
@ProfessorProspector Idea of a Macerator and Pulverizer are differend. They technically do the same job but still Thermal Expansion did use a differend name... The TechReborn Team used the name from the Original mods and same numbers and almost same system... Only guis are little differend but have still key components... So i count that more stealing then naming something differend, giving it a n

[2016-03-29 07:36] Rushmead commented on #441
its very simple, dont like the mod? Dont use it.

[2016-03-29 07:41] Prospector commented on #441
We have every right to use an idea from IC2 as long as it's not using any of the same code or assets of it. And we are not.

[2016-03-29 07:46] modmuss50 commented on #470
Yeah, looks like a holoInventory issue, report it to them, it might have something to do with us though. @dries007 any ideas?

[2016-03-29 07:48] modmuss50 commented on #473
This is a json destroyer issue.

[2016-03-29 07:49] modmuss50 commented on #469
We need to add the missing items

[2016-03-29 07:49] #467 closed, assigned to nobody

[2016-03-29 07:49] Prospector commented on #469
Also need to replace teleporter and pump with blocks

[2016-03-29 07:49] modmuss50 commented on #467
Thats how we decided for it to work, it makes it easy to point it down or up

[2016-03-29 07:50] Speiger commented on #441
Yeah but you are refering to the IC2 licence but this thing is a Classic thing and there you did not think that my license is also applying to it..

[2016-03-29 07:51] Prospector commented on #441
No, nothing's been copied from IC2 classic. We have instances of 1.4.7 minecraft with IC2 and GT2.78 and everything we use is copied directly from there. Though everything in IC2Classic is was also in IC2, so are you claiming you own everything from the old IC2?

[2016-03-29 07:54] modmuss50 commented on #463
This should be possible

[2016-03-29 07:55] Prospector commented on #441
Here's my 1.4 instance folder: http://i.imgur.com/AZdJ0bd.png

Everything we copy is from the IC2 version in that folder, or the GT version in that folder. Nothing from IC2 classic.

[2016-03-29 07:56] modmuss50 commented on #469
Yeah, I can do that. I might just put WIP on them for now

[2016-03-29 07:58] modmuss50 commented on #474
Is this an issue with the recipe, or an issue with getting the empty cell?

[2016-03-29 07:59] Prospector commented on #474
Not sure. I'm not even sure where these recipes are registered. They weren't in the ModRecipes file I don't think.

[2016-03-29 08:00] Rushmead commented on #474
Its an issue with getting the empty cell i think

[2016-03-29 08:00] Speiger commented on #441
@ProfessorProspector no i am not claming everything from IC2 Classic. I am claiming only the thing i did add to it... BatteryBox is a thing from classic so?
Edit: talked to modmuss50... Everything fine.

[2016-03-29 08:00] Prospector commented on #474
Maybe we should separate the different machine recipes into different classes. It's super hard (impossible) to navigate it without CTRL+F and even then it's hard to find what I'm looking for

[2016-03-29 08:01] modmuss50 commented on #441
the bat box has been in ic for ages, way before ic2 classic was a thing. I remember using it in 1.2

[2016-03-29 08:01] Rushmead commented on #441
http://wiki.industrial-craft.net/index.php?title=BatBox Sorry we added 4 letters onto an existing machine from Ic2

[2016-03-29 08:03] modmuss50 commented on #441
If you think we copied code, the mod is open source. Feel free to point out what we copied and I will recode it.

[2016-03-29 08:10] Prospector commented on #470
Isn't holoinventory a clientside mod?

[2016-03-29 08:36] #474 closed, assigned to nobody

[2016-03-29 08:38] Prospector opened #475 "Make upgrades work :P"
modmuss that's your job lol

[2016-03-29 08:58] AKTheKnight commented on #473
#BlameJsonDestroyer

[2016-03-29 09:01] #443 closed, assigned to Rushmead

[2016-03-29 09:02] #466 closed, assigned to Rushmead

[2016-03-29 09:02] #468 closed, assigned to Rushmead

[2016-03-29 09:31] #441 closed, assigned to Rushmead

[2016-03-29 09:46] #463 closed, assigned to modmuss50

[2016-03-29 10:29] modmuss50 commented on #473
I've rewritten part of json destroyer to fix all the issues.

[2016-03-29 10:29] #473 closed, assigned to modmuss50

[2016-03-29 10:36] Prospector commented on #473
Wait like ALL the issues?

[2016-03-29 10:37] modmuss50 commented on #473
yes, items all fixed, tools all fixed, blocks all fixed

[2016-03-29 10:38] Prospector commented on #473
Wow good job, didn't take you long either at all.

[2016-03-29 10:38] covers1624 commented on #473
RIP #BlameJsonDestroyer 2016-2016

[2016-03-29 11:03] gigabit101 commented on #473
I can hold a sword woop woop
![ss 2016-03-29 at 12 02 22](https://cloud.githubusercontent.com/assets/5615438/14105884/31e80ac6-f5a6-11e5-820d-5ad72f847c46.jpg)

[2016-03-29 12:04] camondk commented on #159
Hi there..
Hope you are able to fix my problem :)
Its all started, when i made a tesseract and right clicked it.. And pooof when the game..
So everytime i right click the tesseract - it crashes.

So here is my crash report, hope that your able to see what the problem is.

Kind Regards Partick

`---- Minecraft Crash Report ----
// But it works on my machine.

Time: 3/29/16 1:57 PM
Description: Tick

[2016-03-29 12:12] modmuss50 commented on #159
@camondk this has got nothing to do with us, please can you report it to the thermal expansion developers. You don't even have our mod installed :/

[2016-03-29 12:18] modmuss50 commented on #444
This will only be fixed in 1.9

[2016-03-29 12:57] covers1624 commented on #159
@modmuss50 The FML Loading screen has been known to cause issues. just FYI.

[2016-03-29 13:05] modmuss50 commented on #159
Look at the dates for the issues

[2016-03-29 15:00] dries007 commented on #470
No @ProfessorProspector its not. My first guess its because this mod (or some other mod in the pack) is using null for something it should be using null for. I'll look into it.

[2016-03-29 15:45] covers1624 commented on #159
Yeah, i know. figured it was relevant for the original issue.

[2016-03-29 15:51] dries007 commented on #470
@parcel31u Do you happen to know what Item causes this?

The contents of the inventory your looking at gets turned into NBT, send to the client and decoded, just like for example chests, but I don't handle null itemstacks on the client side, since they are filtered out on the server side, before sending to the client.

The error occurs because `ItemStack.loadItemStackFromNBT(tag);` is returning nu

[2016-03-29 16:02] parcel31u commented on #470
@dries007 Specifically looking at the diesel generator from techreborn.

[2016-03-29 16:18] dries007 commented on #470
@parcel31u how do you have set them up? Its been forever since I played with IC², so I don't know how it all works anymore :p

[2016-03-29 16:46] Sailren commented on #470
diesel generator is like combustion egine from buildcraft or biogas engine from forestry just for eu and maybe rf

[2016-03-29 16:48] dries007 commented on #470
but if I put one down, no IC² cables connect to it, and if I put in fuel it does nothing at all?

[2016-03-29 16:49] Sailren commented on #470
the cable stuff belongs to mc multipart, but he is waiting for forge if they revert their event stuff or not

[2016-03-29 16:52] gigabit101 commented on #470
You need MC multipart for the cables to work there is a tooltip on cables saying this

[2016-03-29 16:53] gigabit101 commented on #470
as soon as it is merged into forge this will not be a issue

[2016-03-29 16:53] Sailren commented on #470
he should give them his code so its faster for us available

[2016-03-29 16:54] gigabit101 commented on #470
will.make no diff forge has work to be done on it still and forge will be updating to 1.9.1 soon

[2016-03-29 16:55] Sailren commented on #470
leaks?

[2016-03-29 16:56] gigabit101 commented on #470
no it has already been said after the re factor they wanted to move to 1.9.1

[2016-03-29 16:56] gigabit101 commented on #470
also basic logic applies here as well

[2016-03-29 16:56] dries007 commented on #470
@gigabit101 I disagree
https://dries007.net/screenshots/2016-03-29_18-55-06.png

Also, we are talking about 1.7.10 here, since Holoinventory is 1.7.10 only

[2016-03-29 16:57] gigabit101 commented on #470
you are using 1.7 why did you not say that

[2016-03-29 16:58] gigabit101 commented on #470
well the mod was not finished back then so try using the cables from TR as the RF config might be on

[2016-03-29 17:00] dries007 commented on #470
Because I did not make this issue.
Shouldn't it fill up its internal buffer regardless of if I put on cables or not?
https://dries007.net/screenshots/2016-03-29_19-00-35.png

[2016-03-29 17:01] Sailren commented on #470
true

[2016-03-29 17:01] modmuss50 commented on #470
it should do yes

[2016-03-29 17:02] gigabit101 commented on #470
... It might have just not been finished at that point

[2016-03-29 17:02] dries007 commented on #470
But how is this person crashing then?
@parcel31u do you know what items where in the slots of the generator?

[2016-03-29 17:03] gigabit101 commented on #470
I don't remember what was broken in that version

[2016-03-29 17:04] Sailren commented on #470
doesn't seem to be much since bakermanlp uses techreborn in his project RET series and this is 1.7.10

[2016-03-29 17:06] gigabit101 commented on #470
well good 2 know

[2016-03-29 17:06] gigabit101 commented on #470
wrong button lol

[2016-03-29 17:06] dries007 commented on #470
omg the email spamm

[2016-03-29 17:06] modmuss50 commented on #470
I didnt even click the button

[2016-03-29 17:07] gigabit101 commented on #470
lol

[2016-03-29 17:14] modmuss50 commented on #470
Is there something to fix, or shall I close it?

[2016-03-29 17:14] gigabit101 commented on #470
Its 1.7 and I don't think its ares

[2016-03-29 17:14] #470 closed, assigned to nobody

[2016-03-29 17:15] Sailren commented on #470
https://www.youtube.com/watch?v=ZXsQAXx_ao0

rofl

[2016-03-29 17:16] mystise commented on #467
So I suppose there won't be the fancy wrench usage of GT5 and above? (This is personally my favorite method of wrench usage)

http://ftb.gamepedia.com/Wrench_(GregTech_5)#Rotating_the_output_side

[2016-03-29 17:20] dries007 commented on #470
I guess I need more information, but it seems to mee like a bug in your code (or a strange interaction). I can see if I can build in some protection in HoloInventory.

ps: Just a friendly note: Treating the github issue tracker like an IRC channel with quick, gibberish, incomprehensible comments and memes is not going to make others eager to help or respond.

[2016-03-29 17:21] Sailren commented on #470
it wasnt supposed to be offensive, it just fit into modmuss "shall i close it" sentence

[2016-03-29 17:23] dries007 commented on #470
I know, its not offensive, but it's not very professional. Its also a bunch of email spam again :email:

[2016-03-29 17:25] dries007 commented on #400
Totally referenced the wrong issue number, sorry.

[2016-03-29 17:28] mystise opened #476 "Can't rotate or wrench IDSU, AESU, or LESU"
Right click does nothing except on top face, which opens the GUI. Shift-right click does nothing even when clicking on the top face.

[2016-03-29 17:29] mystise opened #477 "MFSU drops advanced machine block when broken with a pick"
It should drop a regular machine block, as it's crafted from an MFE which uses a regular machine block.

![2016-03-29_11 29 20](https://cloud.githubusercontent.com/assets/246232/14117350/852794b8-f5a1-11e5-8e1f-2a1b5a1e101c.png)
![2016-03-29_11 29 24](https://cloud.githubusercontent.com/assets/246232/14117351/85379520-f5a1-11e5-95cd-d0ec03a51909.png)

[2016-03-29 17:30] mystise opened #478 "IDSU GUI button strangeness"
![2016-03-29_11 26 18](https://cloud.githubusercontent.com/assets/246232/14117362/91cd5e0a-f5a1-11e5-8093-9e767f074e01.png)

[2016-03-29 17:33] Rushmead commented on #476
Please update to the latest version.

[2016-03-29 17:34] mystise commented on #476
I am on the latest jenkins version. TechReborn: 1.0.3.139 RebornCore:2.0.4.44

[2016-03-29 17:38] gigabit101 commented on #477
Its crafted with both or at least should be

[2016-03-29 17:49] mystise opened #479 "Breaking LESU, IDSU, and AESU with pickaxe drops the block rather than a machine block"
Based on their crafting recipes, the IDSU and AESU should drop advanced machine blocks, while the LESU should drop either itself or an LESU block (In GT3 all the machines didn't have a defined tool, so breaking them with a pick dropped nothing, and they were also insanely hard to break with a pick. I would prefer that way, but at least the current way is better than IC2 where they break faster tha

[2016-03-29 17:50] mystise commented on #477
Huh. The current recipe uses 2 advanced circuits instead.

![2016-03-29_11 49 55](https://cloud.githubusercontent.com/assets/246232/14117956/6d884d40-f5a4-11e5-9bfa-2aa75cb4fe2b.png)
![2016-03-29_11 49 53](https://cloud.githubusercontent.com/assets/246232/14117955/6c2b7792-f5a4-11e5-8370-e2706a88942f.png)

[2016-03-29 17:51] mystise opened #480 "Centrifuging Helium produces Deuterium rather than Helium 3"
![2016-03-29_11 44 03](https://cloud.githubusercontent.com/assets/246232/14117981/8bdb673c-f5a4-11e5-862e-8d6f77c62e00.png)

GT3 recipe for comparison:
![2016-03-29_11 44 10](https://cloud.githubusercontent.com/assets/246232/14117972/81f52ba4-f5a4-11e5-8528-34819a3463a3.png)

[2016-03-29 17:54] mystise opened #481 "Electrolyzer recipe duplicates cells and gives extra hydrogen"
I checked GT3 and I'm not sure what this recipe was supposed to be. _shrug_

![2016-03-29_11 54 10](https://cloud.githubusercontent.com/assets/246232/14118092/029d7eb4-f5a5-11e5-9fc0-19e4e3973325.png)

[2016-03-29 17:59] gigabit101 commented on #477
yeah I will fix that

[2016-03-29 18:00] mystise opened #482 "Beryllium cell has old unlocalized name"
![2016-03-29_11 59 38](https://cloud.githubusercontent.com/assets/246232/14118223/c46fc7b8-f5a5-11e5-9a0f-43f2b3cf3cad.png)

[2016-03-29 18:08] mystise opened #483 "Fusion reactor recipes"
1. Helium 3 + Deuterium = Helium is replaced by Deuterium + Tritium = Helium 3, which is a conflicting recipe with Deuterium + Tritium = Helium.

![2016-03-29_12 03 58](https://cloud.githubusercontent.com/assets/246232/14118385/787bb47e-f5a6-11e5-8342-427dfc3670eb.png)

GT2 recipe for comparison:
![2016-03-29_12 03 56](https://cloud.githubusercontent.com/assets/246232/14118387/78d96524-f5a6-11e5-8

[2016-03-29 19:28] #478 closed, assigned to nobody

[2016-03-29 22:14] mystise opened #484 "Electrolyzer recipes"
Running TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

1. Pyrite returns only 1 sulfur

![2016-03-29_15 42 51](https://cloud.githubusercontent.com/assets/246232/14124856/22e34148-f5c5-11e5-9beb-c680da93598f.png)

GT2:
![2016-03-29_15 42 53](https://cloud.githubusercontent.com/assets/246232/14124860/26208c1c-f5c5-11e5-988c-eb246b2fcee3.png)

2. Sulfuric acid processing returns sulfur dust rather than

[2016-03-29 22:23] mystise opened #485 "Chemical reactor recipes"
- Calcite dust currently reacts with nothing to produce Missing Recipe Placeholder (I couldn't find the equivalent GT2 recipe)

![2016-03-29_16 18 35](https://cloud.githubusercontent.com/assets/246232/14125733/fd1a8368-f5c9-11e5-9630-73f3ec7e9259.png)
- Phosphorous reacts with Calcite to produce 3xMissing Recipe Placeholder (I couldn't find the equivalent GT2 recipe)

![2016-03-29_16 20 17](https:

[2016-03-29 22:45] mystise opened #486 "Centrifuge Recipes"
- Blaze powder currently centrifuges to sulfur and dark ashes at a 1->1+1 rate, when it should be an electrolyzer recipe at a 4->1+1 rate.

![2016-03-29_16 24 37](https://cloud.githubusercontent.com/assets/246232/14125901/decae078-f5ca-11e5-8fd5-29c29fc472a0.png)

GT2:
![2016-03-29_16 24 36](https://cloud.githubusercontent.com/assets/246232/14125904/e2abff7e-f5ca-11e5-8681-6f60283ea599.png)
- Basa

[2016-03-29 22:52] mystise commented on #476
On the latest version (TechReborn 1.0.3.140 RebornCore: 2.0.4.44) the AESU and IDSU can be rotated by the wrench, the LESU cannot. The AESU, IDSU, and LESU cannot be broken with the wrench either.

[2016-03-29 22:53] mystise commented on #479
This still occurs on TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

[2016-03-29 22:56] mystise opened #487 "AESU starts at 64EU/t output, drops to 30EU/t when hitting any button, refuses to change further"
TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

[2016-03-29 22:57] mystise opened #488 "IDSU has button behind text"
TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

![2016-03-29_16 57 39](https://cloud.githubusercontent.com/assets/246232/14126601/5fc39bda-f5cf-11e5-861a-4992dc324f27.png)

[2016-03-29 22:59] mystise opened #489 "Thermal Generator doesn't return empty cells when using lava cells"
TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

[2016-03-29 23:02] mystise commented on #476
Rotating is also client side only, so rotating then entering and exiting the GUI causes them to revert back to their original state.

[2016-03-29 23:06] mystise opened #490 "Energy storage blocks don't accept energy from the opposite side they output to"
TechReborn: 1.0.3.140 RebornCore: 2.0.4.44

![2016-03-29_17 06 38](https://cloud.githubusercontent.com/assets/246232/14126771/a1078452-f5d0-11e5-8912-f10a55127874.png)
![2016-03-29_17 06 42](https://cloud.githubusercontent.com/assets/246232/14126772/a115b874-f5d0-11e5-99e7-34b6ac21135a.png)
![2016-03-29_17 06 43](https://cloud.githubusercontent.com/assets/246232/14126773/a1217880-f5d0-11e5-9f1d-48

[2016-03-30 01:44] Prospector commented on #401
I'm not sure what the circuit boards are for. They're not even in gregtech. Not sure where they came from.

[2016-03-30 02:40] mystise commented on #483
Note also that both helium recipes are supposed to return helium plasma, for use in the plasma generator.

[2016-03-30 20:13] gigabit101 commented on #401
there was a mix up not long after project started where things from other versions where added just remove anything that is not needed

[2016-03-30 20:37] Prospector commented on #401
Gonna do a bit of "housekeeping" when I get home and get rid of these unnecessary things.

[2016-03-31 05:07] oldjunyi opened #491 "Industrial grinder mess up everything"
Setup:
3x3 standard machine casings
3x3 hollow reinforced machine casings with air in the middle
3x3 standard machine casings
An industrial grinder attached to center of a face
Then I right clicked the industrial grinder:
![2016-03-31_13 01 07](https://cloud.githubusercontent.com/assets/641817/14165896/b6b9465c-f740-11e5-9436-09763fa2a56e.png)

There are only broken textures, messed inventory and

[2016-03-31 10:05] modmuss50 commented on #491
@mezz any ideas?

[2016-03-31 15:09] Sailren opened #492 "no processing"
i placed some silver ore from TeREBo into the macerator and hooked up three gens to it via glas fiber, i took the ore out of the macerator and placed it inside again to test if it would explode, nada, it just not processing, three gens should be sucifient to power it, even 1 should be

http://abload.de/img/2016-03-31_17.04.27z8y14.png

the gens are all active

http://abload.de/img/2016-03-31_17.04

[2016-03-31 15:14] Sailren commented on #491
the missing multiblock could be water inside as in gt <5 or full casings, try to place 1 reinforced inside to replace air

[2016-03-31 15:20] Sailren commented on #491
i have a similar bug like this, but it's not JEI, its the block itself, as u can see in this pic is jei not installed

http://abload.de/img/2016-03-31_17.22.39zdspr.png

http://abload.de/img/2016-03-31_17.22.37m1s9j.png

http://abload.de/img/2016-03-31_17.22.34y5spy.png

http://abload.de/img/2016-03-31_17.22.31wxsl2.png

http://abload.de/img/2016-03-31_17.22.28jssrd.png

[2016-03-31 15:25] modmuss50 commented on #491
ok, thanks for that. It must be an issue with the gui

[2016-03-31 15:26] Sailren commented on #491
no problem, i like to help :)

[2016-03-31 15:27] AKTheKnight commented on #492
This is an issue with the grinder not getting power. If you try with copper insulated cables it might work

[2016-03-31 15:27] Sailren commented on #492
not getting power with 3 generators and almost lossless cable?

since which ic2 is the macerator a power sink block? the matter fabricator surely, but not a tier 1 processor

[2016-03-31 15:37] Sailren commented on #492
oh btw, are u guys implementing advanced machines for those "i have no time, i want fast copper" people?

this:

http://ftbwiki.org/Induction_Furnace

http://ftbwiki.org/Centrifuge_Extractor

http://ftbwiki.org/Singularity_Compressor

http://ftbwiki.org/Rotary_Macerator

[2016-03-31 16:40] gigabit101 commented on #492
That seems to be a power issue fyi might be a power net bug
as for advanced machines Add-on mod might be the best way for that

[2016-03-31 17:43] Sailren commented on #492
if we get some

[2016-03-31 17:46] gigabit101 commented on #492
There is already one being made and I may end up making it myself

[2016-03-31 17:46] Sailren commented on #492
do u have a link for the WIP mod?

[2016-03-31 17:47] gigabit101 commented on #492
nope

[2016-03-31 17:48] Sailren commented on #492
how do u know that there is 1 made

[2016-03-31 17:48] gigabit101 commented on #492
But I will do advanced machines myself https://github.com/gigabit101/AdvancedMachinesReborn might start it tonight

[2016-03-31 17:48] gigabit101 commented on #492
and I said being made... @Rushmead is making one

[2016-03-31 17:49] Sailren commented on #492
cool stuff, btw i like your mods, some of them are very good

[2016-03-31 17:49] gigabit101 commented on #492
Ty

[2016-03-31 17:51] gigabit101 commented on #444
@modmuss50 do you know why this is happening ?

[2016-03-31 17:52] gigabit101 commented on #444
dont the use the same recipe handler

[2016-03-31 20:14] Sailren opened #493 "industrialcraft uses rf now and buildcraft has ic2 transformers?"
is this a joke or the truth?

[2016-03-31 20:15] gigabit101 commented on #493
why open a issue here we dont know

[2016-03-31 20:15] #493 closed, assigned to nobody

[2016-03-31 20:56] mezz commented on #491
My best guess is that the gui's guiLeft is set to 0, and the texture is being offset to put it in the right place.

[2016-04-01 03:15] #400 closed, assigned to Prospector

[2016-04-01 12:03] #491 closed, assigned to nobody

[2016-04-01 12:03] #492 closed, assigned to nobody

[2016-04-01 12:06] #477 closed, assigned to gigabit101

[2016-04-01 12:11] #488 closed, assigned to nobody

[2016-04-01 18:35] #465 closed, assigned to modmuss50

[2016-04-01 18:40] #490 closed, assigned to modmuss50

[2016-04-01 19:06] #482 closed, assigned to nobody

[2016-04-01 19:08] #479 closed, assigned to modmuss50

[2016-04-01 19:10] #480 closed, assigned to gigabit101

[2016-04-01 19:13] #469 closed, assigned to nobody

[2016-04-01 19:23] #444 closed, assigned to nobody

[2016-04-01 19:52] Prospector commented on #492
Hey @Gigabit101 want some textures for the advanced machines?

[2016-04-02 00:59] Prospector commented on #482
Ah yes, I was starting to fix the misspelling in the name but guess I forgot to finish :P

[2016-04-02 02:22] Prospector opened #494 "Rubber leaves are non-transparent on Fancy mode"
![image](https://cloud.githubusercontent.com/assets/6166773/14223921/3a0a745a-f83f-11e5-90ee-d87eeca00856.png)

[2016-04-02 03:44] Prospector opened #495 "To Remove"
These can be removed, but I'm not sure how I can remove them without screwing up all of the ids.
- Advanced circuit parts
- basic circuit board
- advanced circuit board
- rock cutter blade
- teleporter
- pump
- mass hole device
- crushed ores

And these need to be re-added as blocks:
- pump
- teleporter

[2016-04-02 08:05] covers1624 commented on #494
I have the same issue with jarrm, the only way to fix it that I have found is to asm a hook in, otherwise you could create a client tick handler and cache if fancy is enabled and then set the leaves to fancy the way vanilla does if the fancy cache has changed.

[2016-04-02 10:30] modmuss50 commented on #494
No, is an issue with json destroyer in 1.9

[2016-04-02 10:39] covers1624 commented on #494
Ahh, I see.

[2016-04-02 11:03] gigabit101 commented on #492
I sure do

On Friday, 1 April 2016, Prospector notifications@github.com wrote:

[2016-04-02 15:34] HarrisFauntleroy opened #496 "After relaunching my game, player detector blocks lost their textures"
If I placed new ones they would work fine

http://imgur.com/9xgYjoS

TechReborn-1.9-1.0.4.143-universal
RebornCore-1.9-2.0.4.46-universal

[2016-04-02 15:35] Prospector commented on #496
Yep, they're a work in progress

[2016-04-02 15:37] HarrisFauntleroy commented on #496
I assume everything is WIP, just these are behaving differently in regards to texture loading to all the other machines. Bug reports yo.

[2016-04-02 15:38] HarrisFauntleroy opened #497 "Gas Turbine missing GUI texture"
http://i.imgur.com/dkukZrF.png

TechReborn-1.9-1.0.4.143-universal
RebornCore-1.9-2.0.4.46-universal

[2016-04-02 15:40] HarrisFauntleroy opened #498 "Industrial grinder GUI not culling JEI... or something"
Every other machines GUI has JEI off to the side as normal, the industrial grinder seems to get messed up.

Picture shows Industrial grinder working wrong and blast furnace working correctly

http://imgur.com/a/8ITtp

TechReborn-1.9-1.0.4.143-universal
RebornCore-1.9-2.0.4.46-universal

[2016-04-02 23:21] Prospector commented on #498
Dupe, and I believe this is already fixed? Don't think it's in a curse build yet though #491

[2016-04-02 23:21] #498 closed, assigned to nobody

[2016-04-03 00:20] Armagedon13 opened #499 "TechReborn 1.8.9 bugs"
-Texture Incomplete:
Quantum Tank
Chermical Reactor
Plasma generator
Fusion Reactor
Lighting Rod
- Texture Lost
  Advanced Circuit Boards
  Diamond Saw Blades
  Super Conductor
  Pump
  Teleporter
  Water Mill
  Wind Mill
  Energy Cristal
  Lapotron Cristal
  Diamond JackHammer(0 EU and 100 EU)
  Refined Iron Ingot
  Super Conductor
- Recipe lost
  1 item lost "Missing Recipe Place Holder"
  Assem

[2016-04-03 00:23] Prospector commented on #499
Would you mind checking which of these bugs exist in 1.9? We're not working on the 1.8 version anymore, but we do plan on porting the changes in 1.9 to our 1.8 branch soon. Most of these have probably been fixed in 1.9

[2016-04-03 01:42] Armagedon13 commented on #499
Of course, thanks for answering

[2016-04-03 03:42] Armagedon13 opened #500 "1.9 install mcmp to place cables"
what is this?

[2016-04-03 06:25] Prospector commented on #500
MCMultipart is required for the cables.

[2016-04-03 06:25] #500 closed, assigned to nobody

[2016-04-03 19:34] Sailren opened #501 "hv transformer"
is the hv transformer supposed to have 412 eu output? shouldn't it be 512?

http://abload.de/img/2016-04-03_21.32.129auwr.png

[2016-04-03 19:55] modmuss50 commented on #501
Yeah, looks like a typo

[2016-04-03 20:00] Prospector commented on #501
Gonna fix this along with making the outputs configurable.

[2016-04-03 20:01] Sailren commented on #501
like in experimental?

[2016-04-03 22:20] #501 closed, assigned to Prospector

[2016-04-04 02:55] kreezxil opened #502 "1.8.9-0.8.0.316 crashes dedicated forge server 1.8.9 build 1808 on startup"
Issue: techreborn-1.8.9-0.8.0.316 crashes dedicated forge server 1.8.9 build 1808 on startup

crash report:
https://gist.github.com/178e52e67b868e618a0c333a4accddc9

fml server latest:
https://gist.github.com/3bc0519908e79706cca69acaaca66c75

[2016-04-04 14:12] Sailren opened #503 "transformers doesnt work at all"
first picture: http://abload.de/img/2016-04-04_16.05.33tez30.png

http://abload.de/img/2016-04-04_16.07.21blszz.png

http://abload.de/img/2016-04-04_16.05.22n2sf5.png

http://abload.de/img/2016-04-04_16.04.487ws9i.png

http://abload.de/img/2016-04-04_16.04.306msoz.png

[2016-04-04 14:18] cookta2012 commented on #503
What version of Minecraft, what other mods, and version of forge, and what version of Tech Reborn

[2016-04-04 14:20] Sailren commented on #503
1.9
mcmp, quark by vazkii
1836
1.0.4.162

the first mfsu behind the coal generator doesn't get power if i dont connect it with a cable

that was weird, after client reload u have to disconnect cable from mfsu and replace again so it charges again, same happens to 2nd mfsu, u have to replace the hv cable so it recognizes the inventory for pwoer storage

those heat gens in lava refuse to generate po

[2016-04-04 22:07] #497 closed, assigned to nobody

[2016-04-05 09:43] Mach12 opened #504 "Latest release build for 1.9 crashes on Init"
The title is pretty self-explanatory, I'll just drop the crash log and leave the rest to you.
[Crash report](https://github.com/TechReborn/TechReborn/files/204195/crash-2016-04-05_11.18.43-client.txt)

[2016-04-05 10:08] modmuss50 commented on #504
Update reborn core

[2016-04-05 10:08] #504 closed, assigned to nobody

[2016-04-05 10:18] Mach12 commented on #504
Then you need to provide a minimal required version of reborncore in your mod.

This kind of issue is normally resolved by telling Forge (through mcmod.info I think) that you require version X of mod Y or higher, in which case it will be prompted explicitly to the user and not through a crash.

[2016-04-05 10:53] #502 closed, assigned to modmuss50

[2016-04-05 10:59] modmuss50 commented on #499
Most of this wont get fixed in 1.8, use 1.9 or 1.8 with ic2

[2016-04-05 10:59] modmuss50 commented on #496
yeah, they were crashing on placement, this was the quick fix. I will get them working soon

[2016-04-05 22:27] Prospector opened #505 "Getting more done in GitHub with ZenHub"
Hola! @ProfessorProspector has created a [ZenHub](http://www.zenhub.io) account for the **TechReborn** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub

[2016-04-05 22:28] modmuss50 commented on #505
Yeah get this ^^

[2016-04-05 22:28] #505 closed, assigned to nobody

[2016-04-06 03:48] VanDerGroot opened #506 "Message to install MCMP even though MCMP is not compatible with current TR version."
When selecting cables it says that MCMP should be installed for them to be placeable. The current version of MCMP only supports 1.7.10.

[2016-04-06 06:05] covers1624 commented on #506
You need mc multipart not forge multipart.

[2016-04-06 06:06] VanDerGroot commented on #506
Oh, I see. This should be made obvious, and linked to, from somewhere.

[2016-04-06 06:08] covers1624 commented on #506
This one over here http://minecraft.curseforge.com/projects/mcmultipart?gameCategorySlug=mc-mods&projectID=239431

[2016-04-06 06:10] #506 closed, assigned to nobody

[2016-04-06 08:02] modmuss50 commented on #506
It is hopefully going to get merged into forge at somepoint

[2016-04-06 10:05] modmuss50 opened #507 "Make MCMP a dep"

[2016-04-06 13:57] Prospector commented on #507
Is it listed as a dep?

[2016-04-06 13:58] modmuss50 commented on #507
No

[2016-04-06 14:26] covers1624 commented on #507
I'm going to do some reworking to CB's DepDownloader for JARRM to provide popups to the client to confirm if they want to download the mod automatically or from a link. Does that seem like an option for TR ?

[2016-04-06 14:28] modmuss50 commented on #507
Well we cannot download someone else's mod. We just need to link to it

[2016-04-06 14:33] covers1624 commented on #507
Probably best to have it as a required dependency then.

[2016-04-06 14:40] Prospector commented on #507
Yeah, most people will have MCMP anyway, why not just require it?

[2016-04-06 17:50] gigabit101 commented on #507
Lets just make it a dep until its merged

[2016-04-06 22:12] ghost opened #508 "[1.9] MFE Drops itself and a machine block when wrenched"
TechReborn v. 1.0.4.143

Well title says it and also, when wrenching a grinder with blocks inside, the blocks get doubled. For example if I have a grinder with 16 Iron Ore Blocks inside, when I wrench it you get 32.

[2016-04-07 01:16] kreezxil opened #509 "1.8.9-0.8.1.317 crashes dedicated forge server 1.8.9 build 1847 on startup"
Issue: techreborn-1.8.9-0.8.1.317 crashes dedicated forge server 1.8.9 build 1847 on startup

crash report:
https://gist.github.com/038d5d394bef2dfcbf597091885b58b4

fml server latest:
https://gist.github.com/3b07b78b4d1df07c9c1a05717b10c306

[2016-04-07 20:47] Pilad opened #510 "Black hud..."
I test last TechReborn-1.7.10-0.7.15.1096-universal
Black hud in all machines.
Fix please.

[2016-04-07 20:47] modmuss50 commented on #510
Update to 1.9

[2016-04-07 20:47] #510 closed, assigned to nobody

[2016-04-07 20:53] Pilad commented on #510
Need version for 1.7.10.
1.9 no thanks ((

[2016-04-07 20:58] modmuss50 commented on #510
We stopped working on 1.7 a long time ago. Sorry :(

[2016-04-08 12:56] ghost opened #511 "[1.9] Crash and World Corruption (Industrial Centrifuge)"
Using Forge 1816 and Tech Reborn 1.0.4.143 with Reborn Core 2.0.2.31 (Or 2.0.4.46) One is the version on the File name, the other is the one informed on MultiMC

When you have an Industrial Centrifuge going and lets say you have still 32 Rubber Wood on it, if you shift left click a stack of 64 (Or anything above what it can fit in there I guess) the game crashes and the world gets corrupted as the

[2016-04-08 13:25] #511 closed, assigned to modmuss50

[2016-04-08 14:00] MechWarrior99 opened #512 "Different cable texture north south, from east west texture. (1.9)"
I don't think I need to explain anything else. But if I do let me know :)
![2016-04-07_20 57 59](https://cloud.githubusercontent.com/assets/8076495/14385886/6a4246bc-fd57-11e5-84d3-e0a9b332be83.png)

[2016-04-08 14:01] Prospector commented on #512
Yeah, think that's modmuss' job :P

[2016-04-08 14:04] Prospector commented on #512
Hmm, I haven't tested this, but are the up and down sides fine?

[2016-04-08 14:05] modmuss50 commented on #512
yes they are

[2016-04-08 14:05] modmuss50 commented on #512
@Rushmead broke it, but Im going to fix it

[2016-04-08 14:08] Prospector commented on #512
Wanna come on the BGC discord channel for a sec modmuss?

[2016-04-08 14:24] MechWarrior99 opened #513 "Machines update there textures slowly (1.9)"
If you have more than one item in a machine to be processed, when it is done processing one item the texture changes to the off texture then back to the on texture instead of it just staying on the on texture.

[2016-04-08 14:24] modmuss50 commented on #513
Yeah, I can have a look into this issue

[2016-04-08 14:25] Prospector commented on #513
And you guys said this wasn't a real issue :P

[2016-04-08 14:25] modmuss50 commented on #513
its not, its a minor thing

[2016-04-08 14:29] Prospector commented on #513
#378 was closed real quick :P

[2016-04-08 14:31] MechWarrior99 commented on #513
This bugs me vary much. :P

[2016-04-08 18:30] parcel31u opened #514 "Semifluid generator uses no fuel and constantly outputs 500RF/t (1.7.10)"
After burning through one bucket of any fuel

[2016-04-08 18:32] modmuss50 commented on #514
I can look into it for 1.9, 1.7 is very old now

[2016-04-08 21:02] #514 closed, assigned to nobody

[2016-04-09 01:36] Prospector opened #515 "Releasing my textures as completely open?"
So I've been thinking, and I want to release all of my textures as open for anyone to use for any mod or anything, but I wanted to ask if you guys would be okay with me also releasing the TechReborn textures that I've done as public too? The reason I ask is if you'd think it would be weird if anyone used some of the textures that are in TechReborn for their own mod?

[2016-04-09 09:26] modmuss50 commented on #515
dont make an issue for this ask in irc

[2016-04-09 09:26] #515 closed, assigned to nobody

[2016-04-09 12:34] Prospector commented on #515
Wanted to make sure it didn't get buried
On Apr 9, 2016 2:26 AM, "Modmuss50" notifications@github.com wrote:

[2016-04-09 12:36] modmuss50 commented on #515
Yeah I see what you mean, like I said on IRC they are your textures so it doesn't bother me. Might want to check with @gigabit101 first.

[2016-04-09 13:33] Prospector commented on #515
Actually, I'm gonna go ahead and decide against it especially because I didn't make the base metallic backing for the machine texture, that was from the old IC2.

[2016-04-09 15:43] #513 closed, assigned to modmuss50

[2016-04-09 18:05] MechWarrior99 opened #516 "[1.9] Thermal Generator doesn't change textures"
The Thermal Generator does not change texture to it's "on" texture when it is generating power.

[2016-04-10 01:15] gigabit101 opened #517 "Add power generation to tooltips"

[2016-04-10 01:15] gigabit101 opened #518 "Items can be pulled from input slots"

[2016-04-10 02:02] jesmores opened #519 "Wrenching Electric Furnace yields Electric Alloy Furnace"
#### Versions
- Minecraft 1.9
- Forge 12.16.0.1859
- TechReborn-1.9-1.0.4.143
- RebornCore-1.9-2.0.4.46
#### Repro
1. Place an Electric Furnace
2. Using the bronze wrench, try to wrench the Electric Furnace
#### Expected

Get Electric Furnace back
#### Actual

Got Electric _Alloy_ Furnace

[2016-04-10 02:16] jesmores opened #520 "Wrenching Batbox gives two Batboxes"
#### Versions
- Minecraft 1.9
- Forge 12.16.0.1859
- TechReborn-1.9-1.0.4.143
- RebornCore-1.9-2.0.4.46
#### Repro
1. Place Batbox
2. Wrench Batbox
#### Expected

Get Batbox
#### Actual

Get 2 Batboxen

[2016-04-11 00:32] Prospector commented on #518
Also fuel slots, I presume? Upgrade slots also when we add upgrades

[2016-04-11 00:33] gigabit101 commented on #518
yes

[2016-04-11 10:50] modmuss50 commented on #518
I am going to rework a lot of things to do with this, hopefully it won't break a lot

[2016-04-11 22:05] #509 closed, assigned to nobody

[2016-04-13 12:42] modmuss50 commented on #507
This is not happening, its supposed to be in a few weeks

[2016-04-13 12:42] #507 closed, assigned to nobody

[2016-04-13 12:42] modmuss50 commented on #499
1.8 is dead

[2016-04-13 12:42] #499 closed, assigned to nobody

[2016-04-13 12:45] modmuss50 commented on #519
Ive fixed this

[2016-04-13 12:45] #519 closed, assigned to nobody

[2016-04-13 15:41] modmuss50 commented on #520
Working as inteneded

[2016-04-13 15:41] #520 closed, assigned to nobody

[2016-04-13 15:41] #518 closed, assigned to modmuss50

[2016-04-13 15:41] modmuss50 commented on #518
If machines still do it update them to the new system

[2016-04-13 15:42] modmuss50 commented on #508
working fine in dev

[2016-04-13 15:42] #508 closed, assigned to nobody

[2016-04-13 15:55] modmuss50 commented on #476
The wrench needs a recode, it does not use the api correctally

[2016-04-13 15:57] modmuss50 commented on #516
It does in dev

[2016-04-13 15:57] #516 closed, assigned to nobody

[2016-04-13 16:54] TrikSteve opened #521 "1.9 Crash Forge 1863"
Pastebin Below
http://pastebin.com/raw/Jn9h319j

[2016-04-13 16:59] modmuss50 commented on #521
Try removing inventory tweaks?

[2016-04-13 17:15] liach commented on #521
@TrikSteve InvTweaks did not update to latest forge which fry added encapsulation for all events. That's why `IllegalAccessError` happened.

[2016-04-13 17:25] #521 closed, assigned to nobody

[2016-04-13 17:26] TrikSteve commented on #521
Gotcha. Looks like that cleared it up.  Didn't have any other mods error about inventory tweaks, but will wait till update.  Trying to build a pack.  Thanks

[2016-04-14 05:48] xiaoschannel opened #522 "LV Transformer duplicates when wrenched"
Environment: newest forge (1864), MCMP, TechReborn, RebornCore (all from curse) when I'm posting this.

How to replicate: Place down a LV transformer, wrench it.

[2016-04-14 05:53] xiaoschannel opened #523 "MFE facing direction resets to the way it's placed sometimes"
Environment: Forge 1864, MCMP, RebornCore, TechReborn newest as of posting issue (on curse).

How to replicate: Place down a MFE, use wrench to change its direction, then either:
1, place a copper cable next to it
2, right click to open the GUI

MFE then resets its direction to the way it's placed.

[2016-04-14 06:53] #522 closed, assigned to nobody

[2016-04-14 16:50] Zkaface opened #524 "Startup Crash in any combination"
Can not start the client (but server is running) with TechReborn and RebornCore.

This Error occurs:

Caught exception from techreborn
java.lang.IllegalAccessError: tried to access field net.minecraftforge.oredict.OreDictionary$OreRegisterEvent.Name from class invtweaks.InvTweaksItemTree

Doesn't matter, which version I use (I tried the last two versions of TechReborn and RebornCore ->1.9). Some p

[2016-04-14 16:53] modmuss50 commented on #524
Remove inventory tweaks is an issue with them not updating to newer versions of forge

[2016-04-14 16:53] #524 closed, assigned to nobody

[2016-04-15 19:06] JCMais commented on #368
Was this implemented or closed by mistake? Because currently (latest techreborn version, minecraft 1.9) I cannot smelt techreborn ores in Tinkers smeltery

[2016-04-15 19:07] modmuss50 commented on #368
This has neaver been a thing, I will look into it

[2016-04-15 19:08] gigabit101 commented on #368
It should work with copper/tin/lead but as for the rest of are ores I don't see a point?

[2016-04-15 21:49] Prospector commented on #368
Alloys?

[2016-04-16 08:38] Sailren opened #525 "startup crash regarding org/hjson/JsonValue"
used version is .179 from jenkins

http://paste.ubuntu.com/15866071/

well, deleting config doesn't help, the ores.json screws up though

for some reasons cxlibrary is involved in a null pointer exception

@CubeX2

[2016-04-16 09:11] modmuss50 commented on #525
Update reborn core

[2016-04-16 09:11] #525 closed, assigned to nobody

[2016-04-16 10:04] Sailren opened #526 "Properly implement Magic Energy Absorber"
are you going to make the magic energy absorber like greg did in 2.78 so it can tap into ender crystals? if yes, maybe u should consider to make it harder to craft since u can do this in 1.9

http://abload.de/img/2016-04-16_12.00.38kru73.png

http://abload.de/img/2016-04-16_12.01.02jiu6j.png

make a blast proof containment for crystals and voila free power, seems a bit overpowered to me

overpower

[2016-04-16 10:45] modmuss50 commented on #526
Does the magical energy absorber even work in TechReborn. I dont think it does.

[2016-04-18 18:45] JCMais opened #527 "[Feature Request] Any possibility of adding fluid pipes?"
Sorry if here is only for issues, I saw that you guys use YouTrack for features, but I didn't saw a link to it.

I'm asking for those blocks because right now it's getting complicated to get a mod with them working in Minecraft 1.9.

Pressure pipes works, but they don't have normal pipes. NeoTech is supposed to have them, but they are not working afaik, and having two tech mods is not what I would

[2016-04-18 18:53] modmuss50 commented on #527
1st thing, you track is broken, I need to remove that.

We will have to see @gigabit101 and anyone else what are you opinions?

[2016-04-18 18:55] modmuss50 commented on #527
if we do decide to add them, they will be MCMP only, and nothing too complicated.

[2016-04-18 19:04] JCMais commented on #527
Thanks for the quick reply, anything working would be great. I will keep watching.

[2016-04-18 20:36] gigabit101 commented on #527
Again this is not a part of GTech this might be better suited in a add-on / another mod

[2016-04-18 20:36] #527 closed, assigned to modmuss50

[2016-04-18 20:37] modmuss50 commented on #527
If I get time I will do it. Time is rare at the moment.

[2016-04-18 20:37] gigabit101 commented on #526
It dose nothing not a issue also It will have recipes depending on the magic mod eg: Thaumcraft recipe/ Botania recipe and so on

[2016-04-18 20:38] gigabit101 commented on #527
yeah I have the same problem

[2016-04-18 20:38] modmuss50 commented on #527
Ive got 1st of 19 exams in 2 weeks. So it might happen after them.

[2016-04-18 20:42] Ionaru opened #528 "Problem using gradlew build"
Hello guys,

I wanted to set up the workspace for the 1.7.10 branch of this mod but when I use the command 'gradlew build', this pops up:

:compileJava
FAILURE: Build failed with an exception.
What went wrong:
Could not resolve all dependencies for configuration ':compile'.
Unexpected state Evicted for parent node for dependency from mcp.mobius.waila:Waila:1.5.10_1.7.10(default) to codechicken:Cod

[2016-04-18 20:43] modmuss50 commented on #528
Are you trying to build the mod or include it? If so link you build.gralde. And run with --stracktrace and give me the full ouput?

[2016-04-18 20:47] Ionaru commented on #528
I'm trying to build it (I'd like to fix a few things in the 1.7.10 version)

http://pastebin.com/6UmJ5Asu

[2016-04-18 20:50] gigabit101 commented on #528
PR's are always welcome we will release new builds if people PR fix's in we just are not working on it are self

[2016-04-18 20:51] modmuss50 commented on #528
@Ionaru try running `gradlew setupDecompWorkspace build` also have you got it running in dev?

[2016-04-18 20:52] modmuss50 commented on #528
ok, I think its to do with chicken bones removing his maven. I will work on a fix. Just need to find the files

[2016-04-18 20:54] Ionaru commented on #528
`gradlew setupDecompWorkspace build` didn't work either, same error.

[2016-04-18 20:59] modmuss50 commented on #528
Fixed in last 1.7 commit

[2016-04-18 20:59] #528 closed, assigned to nobody

[2016-04-18 21:19] Ionaru commented on #528
Thank you guys so much!

[2016-04-18 21:51] Prospector commented on #527
Well, I've never done anything like this but I mean I could see how the cables are done and maybe attempt something

[2016-04-18 21:54] Ionaru opened #529 "runClient results in NoSuchMethodError: mantle..."
Another problem (sorry...)
When executing runClient, the client will start and then crash with the following report:
http://pastebin.com/cN8mzY2Y
(The same with runServer)

In the full log, there's this line
`Skipping event FMLPreInitializationEvent and marking errored mod Natura since required dependency Mantle has errored`
But Mantle seems to be loaded

The dev environment is otherwise working a

[2016-04-19 00:56] sironin opened #530 "Industrial Grinder multiblock issues"
In the latest release 1.9 version the industrial grinder never detects its multiblock.

[2016-04-19 06:42] modmuss50 commented on #529
This is an issue with mantle crashing. I dont think we need it so I will remove it.

[2016-04-19 06:47] #529 closed, assigned to modmuss50

[2016-04-19 07:26] #512 closed, assigned to modmuss50

[2016-04-21 00:24] cauliflower69 opened #531 "Crash on stratup with inventory tweaks"
http://pastebin.com/njtVaHFR

[2016-04-21 02:05] ssblur opened #532 "Transformer Duplication"
Upon breaking an LV transformer with a pickaxe, 2 LV Transformers are dropped.
Only other mod is Silent's Gems.

[2016-04-21 02:11] Prospector opened #533 "Allow charging of RF tools with EU in the chargebench (even when the mod's in EU mode)"
Had this idea when talking with a developer of a mod that adds RF-powered tools. It doesn't make sense to be able to charge EU items with RF, but if you could charge your RF tools in our chargebench I feel like it would be fine.

[2016-04-21 07:21] modmuss50 opened #534 "Move all tiles to the new system"

[2016-04-21 07:24] modmuss50 commented on #531
I dont think INV tweaks has updated to the latest forge. Go report it to them. Dupe of #524

[2016-04-21 07:24] #531 closed, assigned to nobody

[2016-04-21 07:27] modmuss50 commented on #532
What version are you using?

[2016-04-21 14:36] ssblur commented on #532
1.0.5.173 for Minecraft 1.9. Sorry about the lack of info, wrote it in a hurry.

[2016-04-21 15:35] modmuss50 commented on #532
ok thanks, I thought this was fixed. But it isnt.

[2016-04-21 16:27] ssblur commented on #532
Thank you for your time!

[2016-04-23 11:00] Yulife opened #535 "[1.9] Rubber leaves render as fast"
Should use fancy as default, fast would be an option for people with not a fast PC.

[2016-04-23 11:01] Yulife opened #536 "[1.9] Rubber logs do not rotate"
Would be fixable with JSONs I think (take a look at oak log jsons)

[2016-04-23 11:01] Yulife opened #537 "[1.9] Machines do not accept power"
I placed a compressor next to a loaded MFSU/Batbox and it did not explode / get powered. I did not place any cables.

[2016-04-23 11:05] modmuss50 commented on #535
Dupe of #494

[2016-04-23 11:05] #535 closed, assigned to nobody

[2016-04-23 11:46] modmuss50 commented on #537
You need to use a cable

[2016-04-23 11:46] #537 closed, assigned to nobody

[2016-04-23 11:52] modmuss50 opened #538 "Move to JSON files"
This needs to be done at some point. Even if json destroyer exports them. At the moment RP devs cannot customise the blocks to their full ability.

Im not sure what the best practices on json files are. If people could post examples / ideas in the comments. This most likely wont happen until I have finished my exams, unless someone else wants to undertake the conversion.

[2016-04-23 11:52] modmuss50 commented on #536
I think I can fix this without moving to json files, but it might move to json files for this anyway

[2016-04-23 12:14] modmuss50 commented on #494
Fixed in: https://github.com/TechReborn/TechReborn/commit/e7f9c679dfc0f717d03c0a44596507405a28208b

[2016-04-23 12:14] #494 closed, assigned to nobody

[2016-04-23 12:14] modmuss50 commented on #535
Fixed in https://github.com/TechReborn/TechReborn/commit/e7f9c679dfc0f717d03c0a44596507405a28208b

[2016-04-23 12:16] modmuss50 commented on #532
Was this with a wrench or pick? I cannot seem to repoduce it in dev.

[2016-04-23 12:23] #530 closed, assigned to nobody

[2016-04-23 12:32] #523 closed, assigned to nobody

[2016-04-23 15:42] oldjunyi opened #539 "Industrial grinder can not store water"
Put a water bucket in it or right click with a water bucket will returns an empty bucket, but it still holds no water.
By the way, the empty cell can not pickup water. Is it a bug? (I am not familiar with GregTech)

[2016-04-23 16:10] ssblur commented on #532
This was with a pick axe from Silent's Gems.

[2016-04-23 16:11] modmuss50 commented on #532
Ok thanks, I will need to look into this more then

[2016-04-23 19:21] Yulife commented on #538
I think you have multiple machine side textures in your assets, for example Gregtech's and Tier 1's, those could use the same png in the model. I could post a json as an example soon.

[2016-04-23 19:21] modmuss50 commented on #538
Yeah, exmaples would be great as I have no idea how this works.

[2016-04-23 19:22] Prospector commented on #538
I know a bit about this. Also that is intentional, so that resource pack authors could make different tier machines look different.

[2016-04-23 19:23] Prospector commented on #538
Also does this mean json destroyer is gonna be discontinued or something

[2016-04-23 19:24] modmuss50 commented on #538
We will have to see.

[2016-04-23 19:26] Yulife commented on #538
@ProfessorProspector ah right, that's kind of sensible. But with jsons we can define any texture on any side on any model anyway :)

[2016-04-23 22:51] escman1999 opened #540 "missing textures and small localization bugs"
the thick neutron reflector, and the regular neutron reflector don't have textures, there are also some missing texture and localization bugs with the lithium battery and a couple of power and speed upgrades

[2016-04-24 12:22] LuxusDarkangel opened #541 "1.8.9 backport?"
1.8.9 is still an active version and not everybody is porting to 1.9 yet. I heard those two versions aren't very different code wise, will it be possible to backport newer versions, at least for some months? (until there's a stable version)

[2016-04-24 12:24] modmuss50 commented on #541
No, not worth the effort. I did plan on it but I haven't got the time

[2016-04-24 12:28] #541 closed, assigned to nobody

[2016-04-24 15:21] modmuss50 commented on #495
Is this the full list? now that we are working towards 1.1 we can remove things.

[2016-04-24 16:39] LuxusDarkangel commented on #541
Then it's not better to continue developing for 1.8.9 which is the "active" modded version instead of 1.9?

[2016-04-24 16:40] Prospector commented on #541
1.9 is the latest version, and if someone doesn't want to update, that's their problem, not ours. They can use outdated and unsupported software, but we won't.

[2016-04-24 16:42] gigabit101 commented on #541
1.8.9 is not the "active" version anyway's where is forge...

[2016-04-24 16:43] LuxusDarkangel commented on #541
Yeah, forge 1.8 has more than a year and it's starting to get mods now, so i don't think so...
Anyway, it's just a suggestion, good luck with the project.

[2016-04-24 16:44] Prospector commented on #541
1.9 has been out for a month or two, and has 150 mods. 1.8 has been out for a year and a half, and there is 300 mods. 1.8 is dead. move on.

[2016-04-24 16:44] modmuss50 commented on #541
No, 1.9 is we're we are at.

[2016-04-24 18:19] xiaoschannel opened #542 "Jenkin down?"
I was looking for the update log, and got the below when accessing http://modmuss50.me:8080/job/TechReborn-1.9/

[code]

[2016-04-24 18:23] modmuss50 commented on #542
Find the builds here: modmuss50.me:8080 the urls changed when I updated to Jenkins 2

[2016-04-24 18:23] #542 closed, assigned to nobody

[2016-04-24 18:24] modmuss50 commented on #542
http://modmuss50.me:8080/job/TechReborn/job/TechReborn-1.9/

[2016-04-24 20:51] modmuss50 commented on #538
Machines are done in the world, inventory blocks needs fixing. Then the rest of the blocks need moving over.

[2016-04-24 22:27] Prospector commented on #538
Manual or generated? I can fix them if manual

[2016-04-25 00:28] vegeta897 commented on #530
Industrial Grinder still not detecting multiblock in 1.0.6.197 for me.

[2016-04-25 04:27] covers1624 commented on #538
@modmuss50 when you register inventory variants it needs to be in preinit or they will not bake.

[2016-04-25 06:49] modmuss50 commented on #530
Mind posting a screen shot of it?

[2016-04-25 10:12] modmuss50 commented on #538
All machines are done. I will move the other blocks later

[2016-04-25 10:12] #538 closed, assigned to modmuss50

[2016-04-25 10:23] modmuss50 commented on #536
Im not going to fix this becuase it would mess with the way the sap block states work. It might be fixed at somepoint but not soon

[2016-04-25 13:38] Prospector commented on #536
This can be solved by having the rubber logs drop "decorative" rubber logs.

[2016-04-25 13:42] Yulife commented on #536
Well just handle it in code and render it via JSON.

[2016-04-25 13:45] Prospector commented on #123
This should be possible in 1.9, since mojang did it with skulls and pumpkins.

[2016-04-26 20:47] #540 closed, assigned to nobody

[2016-04-26 22:05] w00tc0d3 opened #543 "[ADDITION?] Fission reactor"
Hello,

As IC2 hasn't been released for 1.9 yet, we are missing out on the standard reactor. Taking the extra isotopes TechReborn adds into account, it might be wise to add this functionality to TechReborn?

Please let me know what you think about it, I could try to implement/program it.

Thanks,
w00tc0d3

[2016-04-27 01:52] vegeta897 commented on #530
Sorry for the delayed response.
- 3x3 Standard Machine Casings on top and bottom layers
- 3x3 Reinforced Machine Casings in the middle layer
- Water in the center block (second screenshot has 2 blocks removed to show this)
- Industrial Grinder attached to the side

![image](https://cloud.githubusercontent.com/assets/1789096/14839419/bc610172-0bf8-11e6-8426-7f2126c556a9.png)
![image](https://cloud.

[2016-04-27 03:56] Prospector commented on #543
If you would be willing to give it a go yourself, feel free to submit a PR. I'd say the more features that fit in-line with the mod's goal are awesome ;)

[2016-04-27 07:34] modmuss50 commented on #530
Ok thanks for that, I will take a look

[2016-04-28 00:42] Prospector commented on #489
Hm, can't even find where the thermal generator's fuels are registered at.

[2016-04-28 00:46] Prospector commented on #532
I cannot reproduce either. Must be a silent's gems problem then.

[2016-04-28 00:46] #532 closed, assigned to Prospector

[2016-04-28 02:13] ssblur commented on #532
Bug is not replicable in the newest version for myself either, so apparently you fixed it. Thank you!

[2016-04-28 04:15] Prospector commented on #532
Ah, awesome ;)

[2016-04-28 18:16] Yulife commented on #495
- Plates
- Doge Coin
- Tellerium
- Antimony
- Forge Hammer
- Laser Focus
- Chunkloader
- Heat Generator
- Battery Alloy
- Red Alloy
- Blue Alloy
- Cadmium
- Cupronickel (as in the ingots, etc, not the heating coil!)
- Kanthal(as in the ingots, etc, not the heating coil!)
- Nichrome(as in the ingots, etc, not the heating coil!)
- Magnalium
- Osmium
- Gem Armour
- Lodestone
- Indium

[2016-04-28 18:54] w00tc0d3 commented on #543
@ProfessorProspector Does it have to simulate IC2's reactor mechanics? Or is another approach preferred?

[2016-04-28 18:55] modmuss50 commented on #543
It can be based of the ic2 machanics. It doesnt need to be exact. Some level of thining about the logic would be nice.

[2016-04-28 19:12] w00tc0d3 commented on #543
@modmuss50 I was tinkering with the idea of designing a different system. Something along the lines of cooling reactor components with fluids which get converted to hot fluids with a certain ratio, and degrading fuel rods (which means that less heat will be radiated, and therefore, electric energy output will be reduced).

The hot fluids could power a turbine, which outputs shaft power. Which we c

[2016-04-28 19:13] modmuss50 commented on #543
Something diffrent might be a cool idea.

[2016-04-28 20:26] adamringeisen opened #544 "Petition to change the name of this mod to Craigtech."
You know it's the right thing to do.

[2016-04-28 20:35] ghost commented on #544
No.

[2016-04-28 20:36] #544 closed, assigned to nobody

[2016-04-28 20:36] modmuss50 commented on #544
just no

[2016-04-28 21:48] ProfessorProspector commented on #544
Seems like a good idea to me lol

[2016-04-28 21:51] Prospector commented on #495
Gonna keep plates in, we plan on using them for an addon.

[2016-04-28 21:52] Prospector commented on #495
I've got a lot of stuff half removed in my env so nobody touch that stuff or there's gonna be all kinds of merge conflicts

[2016-04-28 21:54] ghost commented on #495
plates, are amazing , also what was the mass hole device ?

[2016-04-28 23:00] w00tc0d3 commented on #543
Well, after spending two hours on Wikipedia I have a few ideas which I'll work out in the coming days. The concepts (only a few easy components) are easy to grasp but the number of different configurations is immense.

What about the shaft power idea? I thought it might be a rather interesting idea, and it provides yet more different possible configurations.

[2016-04-28 23:04] Prospector commented on #543
I like it. FYI we have an irc channel, #TechReborn on espernet

[2016-04-29 14:47] Yulife commented on #495
- Circuit Parts
- Machine Hulls
- Gem Tools

[2016-04-29 15:02] Prospector commented on #495
Why not keep gem stuff? IMO it's part of the experience because anyone running GT had red power which had gem tools and armour. I think about TR as recreating the experience, rather than just GT

[2016-04-29 15:03] ghost commented on #495
Why remove the gem tools ?

[2016-04-29 15:03] Yulife commented on #495
I guess. I just thought that you wanted to recreate IC2 and GT and not mods like Redpower :)

[2016-04-29 15:13] modmuss50 commented on #495
I dont think we should remove everying to be on par with that exact version. Just remove the usless stuff

[2016-04-29 22:06] MCEventHorizon opened #545 "Crashing with InvTweaks"
I think it's an issue with TechReborn since InvTweaks works without it:

---- Minecraft Crash Report ----

WARNING: coremods are present:
  LoadingPlugin (Quark-beta-18.jar)
  NowWithRendering (redstonepaste-mc1.9-1.7.3.jar)
  FldLoadingPlugin (FastLeafDecay-1.9-1.6.jar)
  LoadingPlugin (RandomThings-MC1.9-3.7.jar)
  FMLPlugin (InventoryTweaks-1.61-dev-45.jar)
  Reborn Core ASM (RebornCore-1.9-2.1

[2016-04-29 22:07] modmuss50 commented on #545
Report it to them not me. Dupe of #531

[2016-04-29 22:07] #545 closed, assigned to nobody

[2016-04-30 04:42] #495 closed, assigned to Prospector

[2016-04-30 04:43] Prospector opened #546 "Teleporters"
Reimplement teleporters from IC2 -- with our own little twist on it, a little. Somehow make it easier to use.

[2016-04-30 04:44] Prospector opened #547 "Pumps"
Reimplement pumps. Not actually sure how IC2 pumps worked, I always used buildcraft ones. Whoever wants to do this, go for it, but try to make it a little different, or easier to use if you can.

[2016-04-30 05:05] BBoldt commented on #495
KEEP THE DOGE COIN HOW DARE YOU

[2016-04-30 05:06] Prospector commented on #495
rip dogecoin

[2016-04-30 06:58] modmuss50 commented on #495
Dogecoin has to go, its using a massive texture and is stupid. The other stuff im not convinced with

[2016-04-30 08:38] BBoldt commented on #495
D:

Think of the memes!

[2016-04-30 08:41] Yulife commented on #495
No memes allowed

[2016-04-30 11:59] modmuss50 opened #548 "Client Kicked from server when placing an ic2 in a pre existing fmp part"
1.7.10 FTB One mods

[2016-05-01 11:42] b0bst3r opened #549 "[1.9] Recycler issues"
1 - Doesn't appear to consume power
2 - Scrap it's made can suddenly disappear from the output box
3 - Putting hopper on top will put items into the output box if it's empty
4 - Recycler carries on working if the output box contains the input items (see 3) and there's nowhere for the scrap to go.

Forge 1865
RebornCore-1.9-2.1.0.53-universal
TechReborn-1.9-1.0.6.197-universal

[2016-05-01 21:56] w00tc0d3 opened #550 "[1.9] NPE when generating a new world"
Hello,

TechReborn crashes my world with a NPE when trying to generate the world. The problem is in this for-loop: https://github.com/TechReborn/TechReborn/blob/1.9/src/main/java/techreborn/world/TechRebornWorldGen.java#L222 . I'll try to debug it.

[2016-05-01 21:58] modmuss50 commented on #550
Mind posting the log?

[2016-05-01 21:58] modmuss50 commented on #550
Also mind posting ores.hjson from the config?

[2016-05-01 21:59] modmuss50 commented on #550
@ProfessorProspector removed some ores, and might not have removed them from the world gen

[2016-05-01 22:02] w00tc0d3 commented on #550
@modmuss50 Deleting the config folder worked. I recommend auto-regenerating the json files after the latest update. :)

[2016-05-01 22:03] modmuss50 commented on #550
I can add some checks to make sure the ores are valid, if not remove them. So I will leave this open

[2016-05-01 23:21] Prospector commented on #550
Oh yeah, this is my bad. Removing ores is fun :P

[2016-05-01 23:24] Prospector commented on #550
Hey @modmuss50, would it be possible to allow any block to be generated with the config?

[2016-05-04 16:28] modmuss50 opened #551 "[1.7.10] Iridium ore not spawing"
There is no irdium ore on the FTB one test server

[2016-05-04 19:17] w00tc0d3 commented on #543
Just to let you know this is still a thing -- I spent some hours designing an API the other day. It might take a while to finish it, especially since I leave this weekend for approx. a week on school excursion.

[2016-05-04 19:18] modmuss50 commented on #543
Yeah, if your up for it great. If you need some help we can create a new branch for it and I can help you.

[2016-05-04 19:20] modmuss50 commented on #543
If you have irc we are on esper.net at #TechReborn or I can talk on discord: https://discord.gg/0tCDWb77cvetwm0e (IRC is the main place)

[2016-05-04 20:21] modmuss50 commented on #551
Not going to fix, find it in chests or spawn it your self

[2016-05-04 20:21] #551 closed, assigned to modmuss50

[2016-05-04 22:10] Prospector commented on #551
Does it spawn in 1.9?

[2016-05-05 06:49] modmuss50 commented on #551
I rewrote the ore spawning system so I asume it does. Might we worth checking

[2016-05-05 07:02] Prospector commented on #551
Speaking of ore gen, did you see the curse comment regarding too frequent
ore gen?

[2016-05-05 07:07] modmuss50 commented on #551
No, I might change the defulat values

[2016-05-05 22:13] MCEventHorizon opened #552 "[1.9] Silver And Lead Ore can't be smelted in a furnace."
Is this a bug? Since other Ores are smelt-able.

[2016-05-05 22:20] modmuss50 commented on #552
Yeah it would be

[2016-05-06 15:11] 0Navis0 opened #553 "Broken recipes wich causes minecraft to crash when Inventory Tweaks is installed or when I go in the control parameters durring the game"
Ok I post this crash here too because I think that TechReborn has a link with this crash. I get a serious crash when I try to launch minecraft with the last 1.9 version of Inventory Tweaks, TechReborn and Quark.
http://pastebin.com/U3mHZgSa

I noticed that when I create a new word, I get these errors. It doesn't make the game to crash, but I think it's the reason of why Inventory Tweaks crashes wh

[2016-05-06 15:16] 0Navis0 opened #554 "The rubber trees aren't recognized by Better Foliage"
I finded a very strange bug with TechReborn. The rubber tree isn't recognized by the mod Better Foliage. It has for result that the dense foliage and falling leaves effects don't applicate them to the tree.

[2016-05-06 15:24] modmuss50 commented on #553
Can someone point me to the inv tweeks dev?

[2016-05-06 15:32] 0Navis0 opened #555 "The Nether and Ender ores doesn't generate them"
Everything is in the title. Only the Overworld ores generate them. I use the last 1.9 TechReborn version.

[2016-05-06 15:33] 0Navis0 commented on #553
I can't find it on Github, but here is the CurseForge page. http://minecraft.curseforge.com/projects/inventory-tweaks

[2016-05-06 15:35] vegeta897 commented on #553
I believe this is the relevant issue: Inventory-Tweaks/Inventory-Tweaks#342

[2016-05-06 15:40] 0Navis0 commented on #553
Yeah this crash has been reported many times to the Inventory Tweaks owner. But it seems that nobody had made the link with the broken recipes of TechReborn and Quark.

[2016-05-06 16:44] modmuss50 commented on #553
If you read what he has said in the issue, its not an issue with TechReborn and he is waiting for the next version of modded minecraft. Dupe of #545 and #531 .

[2016-05-06 16:44] #553 closed, assigned to nobody

[2016-05-06 22:08] First-Follow opened #556 "[1.9]Iron Furnaces Don't Work As Expected"
Iron furnaces are neither faster nor more efficient than normal ones. By putting a full stack of smelt-able material and 8 coal into both an iron furnace and a normal one then allowing them to finish one can see that both use up all of their fuel and finish simultaneously. On top of that, the iron furnace will also occasionally only smelt 63 of the 64 items put in.

[2016-05-06 22:14] First-Follow commented on #554
You have to configure Better Foliage to recognize blocks added by mods. Its built in config contains blocks from several popular mods (like BoP), but not all of them.

[2016-05-06 22:22] #554 closed, assigned to nobody

[2016-05-07 08:21] modmuss50 commented on #553
Turns out there is a PR to fix this: https://github.com/Inventory-Tweaks/inventory-tweaks/pull/347

[2016-05-07 12:30] modmuss50 commented on #556
@gigabit101 whats the intended behaviour?

[2016-05-07 12:48] gigabit101 commented on #556
It should be more efficient by half and slightly faster just forgot to add
that after getting it working
On 7 May 2016 1:30 p.m., "Modmuss50" notifications@github.com wrote: