[2017-05-25 23:09] modmuss50 commented on #1088
I don't know, it will be done when it's done.

[2017-05-26 08:25] #1088 closed, assigned to nobody

[2017-05-26 08:25] modmuss50 commented on #1088
Fixed in the next version of RebornCore

[2017-05-27 00:49] #998 closed, assigned to modmuss50

[2017-05-27 00:50] #1053 closed, assigned to nobody

[2017-05-27 00:52] #1019 closed, assigned to modmuss50

[2017-05-27 00:53] modmuss50 commented on #948
Should be long fixed

[2017-05-27 00:53] #948 closed, assigned to nobody

[2017-05-27 00:53] #776 closed, assigned to nobody

[2017-05-27 07:24] Delerium opened #1091 "Rolling Machine Power differences"
Version: 2.3.0.152

Issue:
In JEI, the Generator lists output at 64 EU, and the Rolling Machine lists input at 64 EU, yet the Rolling machine explodes when hooked up to a generator.  The only way it the rolling machine works is if it's input is stepped down to 32 EU.  I wasn't sure if this was caused by JEI reporting the wrong information in the tooltip, or something actually wrong in the pack, so

[2017-05-27 18:20] Delerium commented on #1091
Ok, I just tested version 2.3.1.158 and this problem is fixed.

[2017-05-27 18:20] #1091 closed, assigned to nobody

[2017-05-27 21:29] kreezxil opened #1092 "2.3.1.158 crash when snow layered on top of fusion reactor structure"
Hammercore appeared to be the culprit so I reported it there first.

https://github.com/APengu/HammerCore/issues/5

[2017-05-28 12:30] Skillotic0703 opened #1093 "[1.10.2] Crash with TR Quantum chest"
TechReborn 1.10.2-2.1.13.219
RebornCore 1.10.2-2.13.6.142
Forge 1.10.2 - 12.18.3.2297
https://pastebin.com/4K9Ve0iC
I just tried to put several stacks at a time in a TR Quantum Chest

[2017-05-28 16:31] Skillotic0703 opened #1094 "[1.10.2] Implosion compressor working regardless of the multiblock structure"
TechReborn 1.10.2-2.1.13.219
RebornCore 1.10.2-2.13.6.142
Forge 1.10.2 - 12.18.3.2297
The implosion compressor is always displaying "Incomplete Multiblock" even though I have the multiblock built below the implosion compressor and it works even when the multiblock is not built.

[2017-05-28 16:32] modmuss50 commented on #1094
I think I fixed this a while back on 1.11 but forgot to port it back to 1.10

[2017-05-28 16:33] Skillotic0703 opened #1095 "[1.10.2] Crash with TR quantum tank"
https://pastebin.com/sqLQj3vB
I just put a lava bucket in it and i crashed the game!

[2017-05-28 16:39] Skillotic0703 opened #1096 "[1.10.2] Add support for TE crescent hammer and RA omniwrench"
I think that this can be very useful because we would need only one wrench (EnderIO supports those for information) and it could be very beneficial for your wrench because its implementation seems to be very poor atm.

[2017-05-28 19:29] Skillotic0703 opened #1097 "Generator GUIs"
Can you update GUIs for the Thermal, gas, diesel and semifluid generators to match those of the TR generator? I would like to have the same energy storage display and a fluid bar like in the industrial grinder please.

[2017-05-28 20:01] Skillotic0703 opened #1098 "[1.10.2] Cables accepting power regardless of voltage"
The power system works pretty well now. You can put a grinder in front of an mfsu and it will not charge so it's working as intended but when you put a copper cable between the two machines, power is transferring.
But if I put a gold cable instead of a copper cable the grinder makes smoking particles. SO I think that the problem is that cables accept power regardless of voltage.

[2017-05-28 20:30] Skillotic0703 opened #1099 "[1.10.2] Transformers not working properly"
The HV transformer is outputting LV power, the MV transformer only accepts LV power so everything is working improperly.
What I expected to happen was:
- HV transformer accepts EV and outputs HV
- MV transformer accepts HV and outputs MV
- LV transformer accepts MV and outputs LV

[2017-05-28 20:33] Skillotic0703 opened #1100 "[1.12] Generators are not distributing power evenly between machines"
All generators should be distributing power evenly to all its sides. So if I put a thermal generator between two battery boxes, when the generator stops running, the two battery boxes should have the same amount of power.

[2017-05-28 20:47] Skillotic0703 commented on #1100
The solution imo would be to check the number of sides that can output power. And each side would output the base amount divided by the number of sides.

[2017-05-28 20:57] Skillotic0703 opened #1101 "[1.10.2] Matter fabricator only filling its 4 first slots"
Same than last time but it now fills its 4 first slots.

[2017-05-28 21:05] Skillotic0703 opened #1102 "[1.10.2] Crafttweaker scrap box support"
Could you add crafttweaker support to scrapboxes please?

[2017-05-28 21:14] Skillotic0703 opened #1103 "[1.12] Machines will only input from the top and output from the bottom"
It can be very useful to I/O from the same side or from the back. For example if you put your machines in a wall and don't want to see the refined storage crafters, it can be cool to be able to place them at the back.
Can you make so that we're able to I/O from all sides of the machines?

[2017-05-28 21:20] Skillotic0703 opened #1104 "[1.10.2] [Request] Backport upgrades to 1.10.2"
For the time being 1.10.2 is the main MC version so I think it's legitimate to ask for these as they are more than useful. It's really annoying to have 1K recylers instead of 10 with overclockers to run a matter fabricator. Currently transformers aren't working very well and I think that it's easier to add an upgrade which improves by one level the voltage of a machine instead of fixing the transf

[2017-05-28 21:21] #1104 closed, assigned to nobody

[2017-05-28 21:21] Prospector commented on #1104
No, sorry

[2017-05-28 21:32] modmuss50 commented on #1104
Yeah, backporting the upgrades would be a lot of work. We might be able to speed the recycler up or something. ¯\_(ツ)_/¯

[2017-05-28 21:36] Skillotic0703 commented on #1104
I understand. Thank you for your work. I think that i'll find another solution. Maybe i'll add a recipe for scrap in other mods machines.

[2017-05-30 01:21] seanjohnbell opened #1105 "Unable to create Sulfur Cells"
Unable to create Sulfur Cells with 2.1.12.215 as part of FTB Beyond 1.7.0-1.

JEI doesn't show any available recipes for creating the cells other than breaking down Sulfuric Acid cells... which need the Sulfur Cells in the first place to make!

Gregtech originally had the recipe as combining Sulfur Dust and Cells in the regular crafting grid, but this doesn't appear to be enabled,

[2017-05-30 15:09] THHakureiReimu opened #1106 "[1.7.10] Dragon egg generator setting is invalid."
TechReborn1.7.10-0.7.19.1115
RebornCore-1.1.0.15

\Config\TechReborn.cfg, When Dragon Egg Siphoner EU output is set to 2048,No power generation.

[2017-05-30 20:45] Skillotic0703 opened #1107 "AESU/IDSU GUIs"
Can you change the GUIs of AESU and IDSU to match those of the other power storage units please?

[2017-05-30 20:46] Skillotic0703 opened #1108 "[1.10.2] IDSU not accepting power"
The IDSU doesn't accept power from other power storage units or generators.

[2017-06-01 12:45] modmuss50 commented on #1098
The cables work on FE which does not have voltages or teirs.

[2017-06-01 12:45] #1098 closed, assigned to nobody

[2017-06-01 16:01] Skillotic0703 opened #1109 "[1.11.2/1.12] Magnesium useless without magnalium plates"
Can you just add back the magnalium plate please ? Because without the magnalium plate, magnesium dust is completely useless! It used to be useful because you could craft the windmill with magnalium plates.

[2017-06-01 17:07] Skillotic0703 opened #1110 "[1.12] ThermalExpansion machines compatibility"
In gregtech 2, there was compatibility for Thermal Expansion.
There was recipes in the pulverizer :
- Sodalite Ore -> 12 Sodalite Dust + 10% chance for an Aluminium Dust
- Plate -> Dust recycling recipes

Recipes for the induction smelter:
- Classic induction smelter ore to ingot recipes but with Tungsten ore and it gives tungsten dust instead of tungsten ingots
- Sand + 2 Iron Ingots -> 2 Refined

[2017-06-01 17:54] Skillotic0703 opened #1111 "[1.11.2] Quarry recipe"
Now that buildcraft is out you can add back this recipe for the quarry:
![image](https://cloud.githubusercontent.com/assets/12701912/26693360/2bbeda52-4704-11e7-9514-031b451d5fae.png)

[2017-06-01 18:56] Skillotic0703 opened #1112 "[1.11.2] 60K helium coolant cell recipe"
The recipe for 60k helium coolant cell requires an Helium cell but the recipes works even if you replace the helium cell by any cell.
![image](https://cloud.githubusercontent.com/assets/12701912/26695867/bf528c52-470c-11e7-8179-cf28817155de.png)

[2017-06-01 19:06] modmuss50 commented on #1111
yeah, thanks for reminding me :)

[2017-06-01 21:29] Skillotic0703 opened #1113 "[1.11.2/1.12] Canning machine"
I think that this machine is pretty important for some recipes (sulfur cells, wolframium cells) even though you created some recipes, they feel a bit wrong. It doesn't seem to me that it would be very difficult to implement because you already have a bunch of machines, so you already set the general logic for your machines up. Please implement this machine (and don't forget crafttweaker support if

[2017-06-01 21:39] modmuss50 commented on #1106
1.7.10 is unsupported, please update.

[2017-06-01 21:39] #1106 closed, assigned to nobody

[2017-06-01 21:49] GamingWithJean opened #1114 "Eletronic circuit not in JEI HELP PLEASE"
Thanks for reporting an issue! However, before you report an issue, please read the following:

 * We will not backport to an old version of minecraft. Do not suggest this
 * Make sure you're using the latest version of TechReborn, RebornCore, and Forge before reporting a bug!
 * Don't argue with any TechReborn developers. What they say goes. Feel free to suggest a way to implement something, but

[2017-06-01 21:50] modmuss50 commented on #1114
Need more info, mod version? are you using a mod pack? Config changes?

[2017-06-01 21:50] GamingWithJean commented on #1114
It is in the newest update for the modpack ftb Beyond

[2017-06-01 21:51] GamingWithJean commented on #1114
I Just started TechReborn but i dont want to use the IC2 Circuits

[2017-06-01 21:53] GamingWithJean commented on #1114
Can you help me please?

[2017-06-01 21:54] modmuss50 commented on #1114
In beyond you have to use IC2 to progress into TR

[2017-06-01 21:54] GamingWithJean commented on #1114
Oh.....

[2017-06-01 21:54] #1114 closed, assigned to nobody

[2017-06-01 21:54] GamingWithJean commented on #1114
i hate ic2

[2017-06-01 21:55] GamingWithJean commented on #1114
so no recipe for eletronic circuit from TR

[2017-06-02 00:11] skye006 opened #1115 "Single Battery"
For some reason the recipe for the single battery does not work for me. I seem to have the right recipe but nothing shows up in the output of the crafting grid.
[http://imgur.com/a/2kq3W](url)

[2017-06-02 00:13] skye006 opened #1116 "Cutting Knife Glitch"
When using the workbench thing from forestry to make compost, the knife does not lose durability and i can use it infinitly.
(latest update installed)
[http://imgur.com/a/6GVlx](url)

[2017-06-02 00:13] skye006 commented on #1115
as for the version of the pack i have the latest release update

[2017-06-02 00:25] Prospector commented on #1116
What knife? TR does not add a cutting knife

[2017-06-02 00:26] Prospector commented on #1115
Wrong mod, mate. I think you have us confused with Actually Additions.

[2017-06-02 00:26] #1115 closed, assigned to nobody

[2017-06-02 00:27] #1116 closed, assigned to nobody

[2017-06-02 01:01] skye006 commented on #1116
Completely clicked on the wrong github link. Sorry bout that

[2017-06-02 01:01] skye006 commented on #1115
Switched up the links. Thought this was a diff github. Sorry bout that

[2017-06-02 14:44] modmuss50 commented on #1111
Added: https://github.com/TechReborn/TechReborn/commit/a6d0e57d1021eed72cd0bdae45ebd9914beca0e9

[2017-06-02 14:44] #1111 closed, assigned to nobody

[2017-06-02 14:49] #1086 closed, assigned to nobody

[2017-06-02 14:49] modmuss50 commented on #1086
Fixed by removing them, I dont see a point in fixing them, as I will have to get rid of them in a few weeks for 1.12 anyway.

[2017-06-02 15:00] modmuss50 commented on #1102
`mods.techreborn.scrapbox.addScrapboxDrop(<minecraft:command_block>);`

[2017-06-02 15:00] #1102 closed, assigned to nobody

[2017-06-02 15:00] modmuss50 commented on #1096
I am not adding new features to 1.10.2, sorry.

[2017-06-02 15:00] #1096 closed, assigned to nobody

[2017-06-02 15:01] modmuss50 commented on #1109
No new features in 1.10

[2017-06-02 15:01] modmuss50 commented on #1110
I will look into this once TE updates to 1.11

[2017-06-02 15:03] modmuss50 commented on #1079
`mods.techreborn.scrapbox.addScrapboxDrop(<minecraft:command_block>);`

[2017-06-02 15:03] #1079 closed, assigned to nobody

[2017-06-02 15:22] #1068 closed, assigned to nobody

[2017-06-02 15:22] modmuss50 commented on #1092
Open an new issue if it is us.

[2017-06-02 15:22] #1092 closed, assigned to nobody

[2017-06-02 19:10] #999 closed, assigned to nobody

[2017-06-02 19:10] #761 closed, assigned to nobody

[2017-06-02 19:10] #938 closed, assigned to nobody

[2017-06-02 19:33] #1064 closed, assigned to nobody

[2017-06-02 19:36] #1101 closed, assigned to nobody

[2017-06-02 19:42] #1084 closed, assigned to nobody

[2017-06-02 19:43] modmuss50 commented on #1072
Click the power bar to change the value its shown in.

[2017-06-02 19:43] #1072 closed, assigned to nobody

[2017-06-02 19:43] #1066 closed, assigned to nobody

[2017-06-02 19:44] #1065 closed, assigned to nobody

[2017-06-02 19:46] Skillotic0703 commented on #1109
First I thought that I would be able to create a modpack centered around TechReborn in 1.10.2, but now I think that this isn't going to be possible so I will just help you to improve the 1.11.2 version until the other mods update to 1.11.2. So can you add the magnalium plates in 1.11.2 please (It's just an item and a rolling machine recipe)?
![image](https://cloud.githubusercontent.com/assets/1270

[2017-06-02 19:46] modmuss50 commented on #994
Should be fixed in newer versions.

[2017-06-02 19:46] #994 closed, assigned to nobody

[2017-06-02 19:47] modmuss50 commented on #1109
I will put it on the list

[2017-06-02 19:51] Skillotic0703 opened #1117 "[1.11.2] Plate bending machine"
I know that you added recipes for plates in the compressor but it looks very weird to use the compressor for plates. And I have good arguments to convince you to add the plate bending machine :
- If you add it, you can add ore dict support for it so it automatically creates recipes for plates from other mods.
- If the plate creation functionnality already exists in other mods, it would be easier t

[2017-06-02 19:53] modmuss50 commented on #1117
I could auto add recipes to the compressor if needed, but I dont think it is. MT can be used to remove the recipes. If you really want I can add a config to remove the recipes? But that would have to be a special case.

[2017-06-02 19:53] #1117 closed, assigned to nobody

[2017-06-02 20:01] Skillotic0703 commented on #1117
No thank you, I don't want to bother you, I just realized that this is just a detail, it's not important ;)

[2017-06-02 20:02] modmuss50 commented on #1117
Quick note, if you want to ask quick questions it might be easier to ask on our discord server: https://discord.gg/0tCDWb77cvetwm0e Saves the effort of opening an issue and then waiting for a reply.

[2017-06-02 20:20] Skillotic0703 commented on #1090
I remember that in gregtech 2 there was the pneumatic generator upgrade that allowed the machines to be able to be powered by MJ power. MJ is not anymore and RF took its place so I think that you should also add this upgrade in 1.12 (maybe you could wait until CoFH mods come out when 1.12 releases). The conversion ratio was 1 EU for 1 MJ so now it means that 10 RF should give 4 FE. But I think tha

[2017-06-02 20:23] Prospector commented on #1090
When we do TR3 it won't run on any existing power system, and it won't behave like any of them either. There will be some way to generate it with FE, but direct conversions aren't really a thing that would work.

[2017-06-02 22:21] #866 closed, assigned to nobody

[2017-06-03 04:57] Valchap commented on #1090
I just want to hear your opinion.
Would not it be better that all mods use ForgeEnergy ?

[2017-06-03 06:25] Prospector commented on #1090
Forge Energy should be used where it makes sense to be used, and not where it doesn't.

[2017-06-04 10:34] jusvit commented on #1043
#956
#1112

[2017-06-05 09:42] jusvit commented on #1043
I've narrowed the problem(I think) to
`public static ItemStack getCellWithFluid(Fluid fluid, int stackSize) {
		Validate.notNull(fluid);
		ItemStack stack = new ItemStack(ModItems.CELL);
		getFluidHandler(stack).fill(new FluidStack(fluid, CAPACITY), true);
		return stack;
	}`
In DynamicCell.java
Doesn't return a valid item stack for the fluid.

[2017-06-05 12:44] Skillotic0703 opened #1118 "[1.11.2] Grinder recipes can not be removed with Crafttweaker"
TechReborn-1.11.2-2.3.3.174
RebornCore-1.11.2-2.16.1.115
Forge 13.20.0.2310
I write a script to remove recipes from the grinder. Then I reload the scripts with /mt reload. It doesn't tell me that the script is not working but when I try the recipe in the grinder, the recipe still works and it's displayed in JEI.

[2017-06-05 12:47] Skillotic0703 opened #1119 "[1.11.2] Weird behaviour of Crafttweaker with the industrial centrifuge"
When I try to make a recipe for the industrial centrifuge, I have to have 4 outputs (I can't just write null instead of setting an output) for the recipe to work. When I put less than 4 outputs it says : "Output stack is null or empty".

[2017-06-05 12:48] modmuss50 commented on #1119
Humm yeah. That would have broken when we moved to 1.11. Should be an easy fix.

[2017-06-05 12:51] modmuss50 commented on #1118
I assume it's just the grinder that has issues?

[2017-06-05 13:20] Skillotic0703 commented on #1118
Yeah with removing yes.

[2017-06-05 13:22] Skillotic0703 opened #1120 "[1.11.2] Crash with Chemical reactor"
I set a minetweaker recipe that makes 5 water cells with 4 hydrogen cells and 1 compressed air cell in 10 ticks. The recipe works pretty well and then I added 4 overclocker upgrades and it crashed.
https://pastebin.com/HjpHG0uz
Edit : It only happens with 4 upgrades but not 3.

[2017-06-05 13:48] Skillotic0703 opened #1121 "[1.11.2] Recipes still showing in JEI after removal with Crafttweaker"
This doesn't happen with all machines (I didn't test all the machines)

It happens with :
- Industrial centrifuge
- Rolling machine

It doesn't happen with :
- Alloy furnace
- Chemical reactor

[2017-06-05 20:24] Skillotic0703 opened #1122 "[1.10.2/1.11.2] Brass ingot display"
When checking the uses for Brass in JEI there is always a subscript 4.
![image](https://cloud.githubusercontent.com/assets/12701912/26801586/95a405b4-4a3d-11e7-9eb6-4f7756f87144.png)
![image](https://cloud.githubusercontent.com/assets/12701912/26801611/a68fcf52-4a3d-11e7-94a9-c0fb9a1c901e.png)
![image](https://cloud.githubusercontent.com/assets/12701912/26801623/afdf83f4-4a3d-11e7-9771-d616cb1d6f9

[2017-06-05 20:24] modmuss50 commented on #1122
Uhh, ok. We had this issue with redstone a while ago, it wasnt fun to track down.

[2017-06-06 11:57] #1118 closed, assigned to nobody

[2017-06-06 11:57] #1121 closed, assigned to nobody

[2017-06-06 11:59] modmuss50 commented on #1122
Can you check to see if this only happens with just TR and JEI?

[2017-06-06 16:42] Skillotic0703 commented on #1122
Yeah it happens with only TR and JEI! But I also found sth:
![image](https://user-images.githubusercontent.com/12701912/26840839-cdfc5042-4ae7-11e7-9225-234f38204f88.png)
There is the same problem but with a subscript 9 in this recipe.

[2017-06-06 20:20] Prospector commented on #1122
Just bronze? That's odd.

[2017-06-06 20:45] AlthosSilver opened #1123 "Implosion Compressor still Does Not work"
I do not even care now if you actually fix it. I am going to spend however much time I must to destroy your entire project, as its very clearly just a copy of Gregtechs work on IC2 Experimental, and that you apparently have no idea what the fuck you are actually doing. More than half the shit you put in your mod cannot be crafted. Its either disabled by Modpack because its broken, or they see it t

[2017-06-06 20:46] #1123 closed

[2017-06-06 20:46] Skillotic0703 commented on #1122
That's brass actually, I confused but yes, it's just brass.

[2017-06-07 06:17] cryptiklemur commented on #1081
This issue should be left open then, no? Or is this finished now

[2017-06-07 07:12] modmuss50 commented on #1081
Should be fixed

[2017-06-07 11:41] cc2k opened #1124 "[1.7.10] Newest version crashes the game on initialisation"
installed TechReborn-1.7.10-0.7.18.1115-universal in my future modpack, tried to run my modpack and then i got this error log:

[code]

[2017-06-07 12:02] modmuss50 commented on #1124
Uhh 1.7, I will test and see if it does need fixing

[2017-06-07 16:16] modmuss50 commented on #1124
This can be fixed by installing IC2, I will get a proper fix out soon.

[2017-06-07 16:22] #1124 closed, assigned to modmuss50

[2017-06-08 16:36] leagris opened #1125 "Nullpointer exception with CableMultipart.tickPower"
### Versions

- IndustrialCraft-2: 2.7.60-ex111
- MCMultiPart: 2.0.0
- Minecraft Forge 1.11.2: 13.20.0.2311
- RebornCore 1.11.2: 2.16.1.115
- TechReborn 1.11.2: 2.3.3.174

### Minecraft Crash Report

[Link](https://pastebin.com/7QAPQVKH)
[code]

[2017-06-08 19:23] CrossVas opened #1126 "[1.7.10] Black Machine GUI"
Hey!
I know 1.7.10 is a old MC version and still not be update. On the other side i don't want to play with TR [1.8+]. So, i have a question. How i can fix this issue for 1.7.10?

Minecraft Forge 10.13.4.1614
RebornCore-1.1.0.15-universal
TechReborn-1.7.10-0.7.20.1118-universal

![2017-04-02_19 17 06](https://user-images.githubusercontent.com/25727222/26946703-e0ecaafa-4c98-11e7-9c11-50ede3a4e251.

[2017-06-08 19:25] modmuss50 commented on #1126
Few things to try, if you have any graphics mods like optifine, or fastcraft, try removing them.

Try hiding nei? does that help?

Last thing to do, the machines should still work just fine, you might have to put up with it. I wont be fixing this for 1.7 as it isnt a major issue.

[2017-06-08 19:25] #1126 closed, assigned to nobody

[2017-06-08 19:31] CrossVas commented on #1126
Unfortunately, none of the tips did not help to solve the problem.
Thanks anyway!

[2017-06-09 01:04] robintrepte commented on #866
you could change it to a device that makes scrap boxes out of scrap

[2017-06-11 15:18] Skillotic0703 opened #1131 "[1.11.2] Lightning rod only outputting to the front side"
TechReborn-1.11.2-2.3.3.178
RebornCore-1.11.2-2.16.1.118
Forge 13.20.0.2315
The lightning rod only outputs to its front side. It doesn't output to other sides even if there isn't a power input to the front side or if the power input is full.

[2017-06-11 15:25] Skillotic0703 opened #1132 "[1.11.2] Lightning rod outputting wrong voltage"
Lightning rod outputting high voltage instead of insane voltage. I think that it is intentional because transformers aren't working right now but I just submit this issue for the future.

[2017-06-11 21:45] TheLimePixel opened #1133 "[1.11.2] Crash near Blast Furnace"
Here is the problem: I experience a crash which I can reproduce pretty reliably.  Whenever I approach my TechReborn Blast Furnace multi-block structure, my client crashes with the following error:
https://pastebin.com/K7QctDbh

 I wasn't sure whether or not to post this on the RC or TR GitHub, but as the multiblock is from this mod, I went with it. This has been going on for a couple of versions.

[2017-06-13 11:48] #1131 closed, assigned to nobody

[2017-06-13 12:20] modmuss50 commented on #1108
fixed

[2017-06-13 12:20] #1108 closed, assigned to nobody

[2017-06-13 12:21] modmuss50 commented on #922
fixed

[2017-06-13 12:21] #922 closed, assigned to nobody

[2017-06-13 17:55] #1132 closed, assigned to nobody

[2017-06-13 21:37] #775 closed, assigned to modmuss50

[2017-06-13 21:38] #885 closed, assigned to nobody

[2017-06-13 22:14] InterPlay02 opened #1134 "No Rubber Trees in Overworld?"
Hello!

I'm  here today to tell you a strange thing: The rubber trees are NOT beeing generated in overworld.
It seems to be happening only if Tech Reborn is in a pack. I've tested it alone, but everything looks right. But, in my modpack, at least, the rubber trees are not beeing generated in overworld.

But I am pretty sure that I don't changed anything in the mod's config file.
Any idea about wha

[2017-06-13 22:16] modmuss50 commented on #1134
It could well be BOP, I will look into it.

[2017-06-13 22:30] InterPlay02 commented on #1134
Update:
Hm... I've tested out again.
Even without Biomes O'Plenty in the pack, the rubber trees are not beeing generated...
=P

[2017-06-14 08:34] TheLimePixel commented on #1119
Talking about CT support, could you please make the recipes show up in JEI? Idk if the same goes for all machines, but the Rolling Machine recipes never get updated in JEI.

[2017-06-14 08:36] modmuss50 commented on #1119
I thought I fixed this? Are you using the latest 1.11.2 versions of TR, JEI and CT? I might need to take another look.

[2017-06-14 11:13] TheLimePixel commented on #1119
Yes.
![image](https://user-images.githubusercontent.com/25333164/27129514-f928c964-5102-11e7-84e1-0dd694833e75.png)

![image](https://user-images.githubusercontent.com/25333164/27129719-8ba72cd6-5103-11e7-816e-e703b0e81e34.png)

![image](https://user-images.githubusercontent.com/25333164/27129734-9ae007cc-5103-11e7-9fad-f6bf54d1343a.png)

Also, which machines have CT support? I need the Chemical R

[2017-06-14 12:18] modmuss50 commented on #1119
Here is an auto generated list of all the machines: https://wiki.techreborn.ovh/doku.php?id=development:mt

[2017-06-14 12:35] TheLimePixel commented on #1119
Thanks! I thought it'd be on the GitHub as all other mods that have CT support have it, so I didn't even bother checking the wiki.

[2017-06-14 12:35] modmuss50 commented on #1119
You can also enable a config in Reborncore that will try to auto generate all documentation for all installed mods at runtime.

[2017-06-14 12:55] TheLimePixel commented on #1119
Good news! Only the Rolling Machine doesn't show recipes in JEI. I still need it to though. :I

[2017-06-14 16:15] bonnedav opened #1136 "Chrome and Titanium"
How do you get Chrome and Titanium? I can't find the recipe in JEI.
Tech Reborn: 2.1.13.219
Reborn Core: 2-2.13.6.142
JEI: 3.14.7.419
Forge: 12.18.3.2254
MC: 1.10.2

[2017-06-14 16:32] bonnedav commented on #1136
Never mind, I found it.

[2017-06-14 16:32] #1136 closed, assigned to nobody

[2017-06-15 16:54] Skillotic0703 opened #1138 "[1.12] Quantum chest weird behaviour"
Forge 14.21.0.2327
Reborn Core 3.0.1.12
Tech Reborn 2.4.0.50
Everything works fine as long as I don't use shift-click in the quantum chest. When I use shift-click to put one stack in the quantum chest, it works but the time is still displayed in my inventory until I quit the quantum chest GUI. When I try to put multiple stacks at a time in the quantum chest, it only transfers two stacks and the it

[2017-06-15 19:00] justjanne commented on #283
Is there a plan to support the functionality from 2.90h, or are there already addons doing so, etc?

Because I’d especially love to see the Fusion Reactor from 2.90h.

[2017-06-15 20:00] Skillotic0703 commented on #283
As 1.12 will certainly be a plateau version, there will be new features in the future but not now and that'll be  for 1.12. There is a possibility that someday the big fusion reactor comes but it's an important feature so if it comes it would be in several months.

[2017-06-15 20:03] modmuss50 commented on #283
I would love to see it, but I have more important things to work on (like fixing bugs) it would take me a good 1 or 2 weeks to make it. In the future its a possibility.

Im always open to PR's though. (I think someone started it a while back but didn't get to far)

[2017-06-16 16:27] Stetoskop opened #1140 "[1.10.2] Game crashes when opening GUI"
Hey, my friend and I use TechReborn on our private server, the problem is that my friend cannot open any TR GUIs without crashing, but I'm able to avoid that and the GUI opens as usual. We've got a good chunk of other mods installed, but we're using the same exact mods so it doesn't seem like that should affect him only.

[crash-2017-06-16_17.59.06-client.txt](https://github.com/TechReborn/TechReb

[2017-06-18 03:56] kamanabc123 opened #1141 "Issue when used with chisels and bits"
Hey I didn't see this posted as an issue so I thought I would let you know that in the 1.10.2 version when used with chisels and bits if you make a stair using chisels and bits like if u take a stone block and use 1/2 sized grid snapped cube mode and break 2 parts to make it into a stair and u try to go up it like a stair you can't. You get stuck. I noticed this awhile back in a modpack I had befo

[2017-06-18 04:37] E4002X3102 opened #1142 "TechReborn and IC2 not compatible?"
[crash-2017-06-18_12.25.56-client.txt](https://github.com/TechReborn/TechReborn/files/1082904/crash-2017-06-18_12.25.56-client.txt)

Minecraft crashed while loading when I attempt to load BOTH TechReborn and IndustrialCraft 2. Both mods works individually. Would like to know if these 2 mods are not supposed to work/be compatible with each other?

By the way, if they are not going to be compatible

[2017-06-18 09:54] modmuss50 commented on #1142
Looks like I need to update to support newer ic2

[2017-06-18 16:04] modmuss50 commented on #1142
After looking it it more, it seems to be an issue with IC2.

Having said that using the latest versions of TechReborn and IC2 from curse seems to be working ok.

[2017-06-18 16:04] #1142 closed, assigned to nobody

[2017-06-18 16:05] modmuss50 commented on #1141
Nothing to do with TechReborn?

[2017-06-18 16:05] #1141 closed, assigned to nobody

[2017-06-18 16:05] modmuss50 commented on #1140
We talked on discord, its an issue with the energy priority system.

[2017-06-18 16:06] modmuss50 commented on #1134
Try deleting your config, and looking harder. As they work fine for me and other people.

[2017-06-18 16:06] #1134 closed, assigned to nobody

[2017-06-18 16:07] modmuss50 commented on #1125
Does this happen all the time? This wont be able to happen in 1.12 as we fully rewrote the cables.

[2017-06-18 16:41] InterPlay02 commented on #1134
Man... Did you see the link that I've mentioned?
There was other people there, that also has the same thing going on!
One of them have look arround 5000 blocks in all directions... But nothing...
But ok... Sorry for disturbing you.

[2017-06-18 16:50] InterPlay02 commented on #1134
Take a look by yourself:
![config](https://user-images.githubusercontent.com/23037423/27262423-fb73703e-542c-11e7-815f-4055a504ffea.JPG)

[2017-06-19 13:29] E4002X3102 commented on #1142
Updated IC2, RebornCore and TechReborn with the latest versions in curse, and it worked. Thank you and sorry for wasting your time.
In case anyone stop by with similar problems in the future, here's the version no. that worked:
IC2: 2.7.59-ex111
RebornCore: 1.11.2-2.16.1.115-universal
TechReborn: 1.11.2-2.3.3.174-universal

[2017-06-19 18:47] leagris commented on #1125
It is random crash.

Now I have a bad feeling you will only fix it for 1.12.
It is not like magically all other mods we use are ported to 1.12.
Would you be kind looking to fix it in 1.11.2?

[2017-06-19 21:45] Krowerom opened #1143 ""Basic Machine Frame" recipe produces 12 "HV Cables""
Hi, I am trying to run your mod for my server as the 'tech' mod.  At first, I thought there was an incompatibility, but I have reduced the mods to just TechReborn and RebornCore and still get the same issue.

**Running Server with:**
- Forge 14.21.0.2334 (1.12)
- TechReborn 1.12-2.4.1.56
- RebornCore 1.12-3.0.4.44

**Description of issue:**
Attempting to craft a Basic Machine Frame (8 refined iron

[2017-06-19 21:45] modmuss50 commented on #1143
Is it causing any issues with other mods recipes? or is it just TechReborns?

[2017-06-19 21:47] Krowerom commented on #1143
Hi :) that was fast!

I reduced my server to only have TechReborn, I will check out another mod and get back to you.

[2017-06-19 22:04] Krowerom commented on #1143
My server has very few mods (partly because there aren't many 1.12 mods yet!) and I am struggling to find a mod with a recipe that has the 'slab' shape and 'chest' shape using the same materials to produce different items. I can't verify that it affects any other mods.

I have noticed that there is an updated Forge (2335) released today, I will try it on that in case it's a general Forge issue.

[2017-06-19 22:05] modmuss50 commented on #1143
Yeah, thanks for looking into it. Forge still has some issues that will need clearing up, and I know they plan to rewrite the way things are registered soon.

[2017-06-19 22:10] Krowerom commented on #1143
Can you tell me which version of forge you used when updating to 1.12, modmuss? I've tried the two latest Forge releases (2334 and 2335) and both have this recipe issue.

[2017-06-19 22:11] modmuss50 commented on #1143
The newest is going to be your best bet. I will have a look into this tomorrow as its getting late here now.

[2017-06-19 22:12] Krowerom commented on #1143
no worries - thanks for your help too :)

[2017-06-19 22:27] Krowerom commented on #1143
This could be either a 1.12 Forge issue or maybe something wrong in the 1.12 version of TechReborn, I am unable to determine which is the culprit.

I can confirm that using TechReborn-1.11.2-2.3.3.174 with RebornCore-1.11.2-2.16.11.115 on Forge 13.20.0.2315 (1.11.2) and the recipes work fine.

On 1.12 if there is one row full of the refined iron, it produces the HV cables, regardless of the rest o

[2017-06-20 10:40] modmuss50 commented on #1143
Ok, I tracked the issue down, and made it reproducible on my end. Just need to fix it now

[2017-06-20 11:06] modmuss50 commented on #1143
I think this may be a forge issue, I have opened a bug report on their issue tracker here: https://github.com/MinecraftForge/MinecraftForge/issues/4038

[2017-06-20 11:47] #1143 closed, assigned to nobody

[2017-06-20 11:51] modmuss50 commented on #1143
Ok, ive worked around it, Update to the latest forge (I tested with 14.21.0.2340), and update to RebornCore 3.0.5.46.

Thanks for reporting the issue.

[2017-06-21 00:49] Tkdmaster opened #1144 "missing recipes?"
Mod version: TechReborn-1.10.2-2.1.13.219
Forge version: forge-1.10.2-12.18.3.2281

Hello, I'm currently playing the Galactic Engineers mod which has TechReborn in it, and have found that most machines are...uncraftable? One example is the refined iron, its only recipes are nuggets to ingots, and a solid block to ingots, but there's no way to actually make the refined iron itself. Also, soem block

[2017-06-21 07:26] modmuss50 commented on #1144
Do you have ic2 in that pack?

[2017-06-21 07:30] Tkdmaster commented on #1144
IC2 is not in the pack, no. I have tried adding that in myself just to see if that'd help, but still nothing.

[2017-06-23 11:23] ghost opened #1148 "Missing Lang on JEI"
![as](https://user-images.githubusercontent.com/24831406/27480159-882221c4-581f-11e7-8460-f2a70a285442.PNG)
used forge 2347, TechReborn-1.12-2.4.5.92-universal, jei_1.12-4.6.0.65
i forgot to check but i think all machines or blocks or items like this

[2017-06-23 13:06] modmuss50 commented on #1148
Fixed via PR

[2017-06-23 13:06] #1148 closed, assigned to nobody

[2017-06-23 13:06] ghost commented on #1148
thanks.

[2017-06-23 13:07] ghost commented on #1148
uhm, just wanted to ask a little thing, modmuss, are you willing to add jetpacks at anytime? it would really be beauty. thanks again.

[2017-06-23 13:07] modmuss50 commented on #1148
Yeah, I have loads of idea, just not enough time.

[2017-06-23 13:08] ghost commented on #1148
oh thats nice. i hope you have enough free time for your hobbies.

[2017-06-24 15:07] Terpo opened #1150 "[1.12] No Damage to entities?"
1.11.2 with forge 2315
RebornCore-1.11.2-2.16.1.115-universal.jar
TechReborn-1.11.2-2.3.3.174-universal.jar
http://blog.terpo.org/upload/mc/modlist.txt

I'm playing on a server <-> client env. and trying to get damage from uninsulated cables.

For testing I put down 2 MFSUs and connected them with uninsulated HV wires. Standing next to them did transfer all the power but I did not take any damage

[2017-06-25 02:49] GreatestFool opened #1151 "[1.10.2] RFTools storage scanner interaction with TechReborn inventories"
I made a thread about this on /r/feedthebeastcrashes and a guy over there [helped me understand what this error message meant](https://pastebin.com/uSm4yDPp). He also told me I should notify you about this because it didn't seem like it was a RFTools problem.

When a TechReborn machine is within the range of the storage scanner, it prints an error in the server terminal every time it is opened rem

[2017-06-25 10:37] mgwerner opened #1152 "Cannot Find Rubber Trees"
MC 1.11.2, Forge 13.20.0.2300 TR 2.3.3.174

I have scoured the map, spending hours wandering through forest and swamplands, but no rubber trees.  Have been to 10-15 villages and ruins, no sapling in chests.  Not using IC2 with TR, only TR as my tech mod.  Anyone run into this?

[2017-06-25 13:10] myd01 opened #1153 "Adding Custom fuel sources to different generators"
It seems like you can't add custom fuel sources for generators(like gas turbine), or at least I didn't see it in the minetweaker support section in the wiki. I'm currently working on a modpack , I would appreciate it if you can work on that.

[2017-06-25 13:11] modmuss50 commented on #1153
That should be possible

[2017-06-25 13:18] modmuss50 commented on #1152
They are there, just very rare for some reason. I have made them a bit more common by default

[2017-06-25 13:19] myd01 commented on #1153
Wow, that was quick. Well, I guess I will go back to this page to check if there's any new change every now and then.Thanks for replying though.     :3

[2017-06-25 13:27] mgwerner commented on #1152
Is there a way to increase the rate?  I started a new world in case something was wrong, still found none.

[2017-06-25 13:43] modmuss50 commented on #1152
After playing around with it, they dont seem to be spawning at all. The odd one might work.

[2017-06-25 13:45] mgwerner commented on #1152
Well, that pretty much breaks things.  Was it working in a prior build, like 167?  I can drop back to that and delete the regions for now.

[2017-06-26 14:25] mgwerner commented on #1152
I have tried different versions, down to 142, made several creative worlds, and flown around searching.  No rubber trees that I can find in the numerous forests and swamps.  I never found a jungle, but in the hours I have spent looking I should have found a clump, or at least one, right?  I loaded over 100 regions each time searching.

Disappointingly, I will have to add back in IC2 EXP, since the

[2017-06-28 00:59] dmarcuse opened #1154 "[1.10.2] Windmills drop a machine block despite needing only 1/2 of a machine block to craft"
When breaking windmills without a wrench, a machine block is dropped. However, the windmill recipe gives two windmills per machine block, so you're effectively gaining 4 iron every time if you craft and then break windmills.

[2017-06-28 11:23] modmuss50 commented on #1154
Humm, I think the easiest way to fix this is to just make them drop themselves

[2017-06-28 11:29] Skillotic0703 commented on #1154
![image](https://user-images.githubusercontent.com/12701912/27634985-bac6cdd4-5c05-11e7-9221-00d1b60d695f.png)
Windmills should be crafted like this normally so they should effectively drop a machine block.
The easiest fix is to change the recipe!

[2017-06-28 11:30] Skillotic0703 commented on #1154
One generator and 4 carbon plates!

[2017-06-28 14:26] dmarcuse commented on #1154
I like the carbon plates recipe, it forces you to get some basic infrastructure set up (compressor and a generator) and balances it a little better too.

[2017-06-29 10:12] Skillotic0703 opened #1155 "[1.12] Industrial Grinder bugs"
Forge 14.21.1.2387
Tech Reborn 2.6.0.119
Reborn Core 3.0.4.45

- There are two slots, one for item input and one for liquid input but only the top one works and it can input items and liquids. The second slot is completely useless.
- Once you fill some quantity of liquid into the industrial grinder and use the industrial grinder, the liquid gets consumed but the display doesn't get updated. So you

[2017-06-29 10:22] Skillotic0703 opened #1156 "[1.12] Overclocker upgrade weird behaviour"
There is always a little pause between the end of the processing of an item and the beggining of the processing of the second item. During this pause, the progress bar shows a negative percentage.

[2017-06-29 10:23] modmuss50 commented on #1156
How many overclockers do you have in the machine?

[2017-06-29 10:28] Skillotic0703 commented on #1156
With 3 upgrades it shows -1% and with 4 upgrades it shows -50%. But it think that it works fine with 1 or 2.

[2017-06-29 10:32] Skillotic0703 opened #1157 "[1.12] Shift-clicking is weird on TR GUIs"
When shift-clicking items to put them in a slot, they transfer but they are still displayed in the player's inventory and they are not displayed in the machine's slot. On the contrary, when shift-clicking to take off items from a TR inventory, they are still displayed in the inventory but not in the player's inventory. The displaying updates when going out of the GUI.

[2017-06-29 10:55] Skillotic0703 commented on #1157
It also updates when trying to pickup the ghost items!

[2017-06-29 10:57] Skillotic0703 opened #1158 "[1.12] Overclocker in recycler"
The overclocker upgrades don't seem to have any effect on recycler's speed.

[2017-06-29 11:00] Skillotic0703 commented on #1156
The percentage is different in every machine. For example 4 upgrades in industrial centrifuge displays -20%.
It also depends on the recipe and the time it takes.

[2017-06-29 11:24] Skillotic0703 opened #1159 "[1.12] Chemical reactor crash"
Crash report: https://pastebin.com/0N4qWC0T
Steps to reproduce:
- Put 4 overclocker upgrades in a chemical reactor
- Put 1 stack of melon and 1 stack of gold
- Enjoy your crash!

[2017-06-29 11:44] modmuss50 commented on #1159
Can confirm

[2017-06-29 11:50] modmuss50 commented on #1159
Ok, it looks like the issue is because with the overclockers the process time was less than a tick, so I have put a limit on the process time, so it cannot go bellow 1 tick

[2017-06-29 11:50] #1159 closed, assigned to nobody

[2017-06-29 11:56] modmuss50 commented on #1158
Because the recycler doesn't use the core crafting system it wont work. I will remove the slots for now, and add them back in when I have a bit more time to do some changes.

[2017-06-29 11:56] #1158 closed, assigned to nobody

[2017-06-29 11:58] modmuss50 commented on #1157
yeah, I noticed this. I will take a look at some point.

[2017-06-29 14:35] Skillotic0703 opened #1160 "[1.12] Upgrade slots in innapropriate devices"
Here is a list of the devices that shouldn't have upgrade slots:
- Quantum Chest
- Digital Chest
- Charge-O-Mat
- Generator

[2017-06-29 14:50] #1160 closed, assigned to nobody

[2017-06-29 22:08] Razorfin8 opened #1161 "1.12 RFTools Control/TechReborn Crash"
Pastebin: https://pastebin.com/YaHH9VVA
RFTools report: https://github.com/McJty/RFToolsControl/issues/96
I'm pretty sure this is RFTools related and I already submitted an issue to mcjty but it does involve tech reborn so I'm gonna post here too.

Modpack ATM3
mod version: whatever ATM3 is using.

Basically in a creative world, I made a windmill and watermill farm.  The windmill consisted of 4 wi

[2017-06-29 22:09] modmuss50 commented on #1161
Yeah, looks a lot like his issue, I will leave this open just in case.

[2017-06-30 05:04] ExDomino opened #1162 "[1.12] RetroGen seems to not working"
Forge : 14.21.1.2387
RebornCore : 3.2.1.77
TechReborn : 2.6.1.124

Hello, I have activated RetroGen to generate ores in my old world but it seems to not working. No ores from your mod seems to be generated in old chunks, even with "retroGenOres" at true in "config/teamreborn/techreborn/ores.json". We have started a vanilla world on our server and we plan to install your mod without reseting our ma

[2017-06-30 05:50] ExDomino opened #1163 "[Suggestion] Adding sound to machines (ex.: Electric Furnace)"
Hello, my suggestion is simple : adding sound to machines. Ex.: even the vanilla furnace has sound, but your machines are silent. Can you make like IndustrialCraft and add sounds to your machines please? Thank you very much in advance. ^_^

[2017-06-30 07:01] modmuss50 commented on #1163
Yeah I have wanted to do this for a while. Just need to find some good sounds.

[2017-06-30 07:34] modmuss50 commented on #1162
I will test it to see if its working or not.

But the way it works is when a chunk is loaded(not generated) it checks to see if the chunk has allready been populated using our world generator, if it hasnt it should retro gen. So yeah you will need load all the old chunks to find ore in them. I dont think there is a downside to leaving it enabled

[2017-06-30 07:47] ExDomino commented on #1162
Do I have to set the feature to off after? Or I can let it on? How this feature works in order to check if a chunk need to be retro generated or not?

[2017-06-30 07:56] modmuss50 commented on #1162
it wont "re-retro" gen a chunk, so there shouldn't be any issue in leaving it on.

[2017-06-30 08:27] ExDomino commented on #1162
The mod will memorize all regenerated chunk? How? By a file, for example, in the world folder?

[2017-06-30 08:28] modmuss50 commented on #1162
By storing a tag in the chunks NBT data

[2017-06-30 09:22] ExDomino commented on #1162
So, if the retrogen doesn't work, trying to enable it will make that the old chunks will never have the new ores even after the correction of the bug?

[2017-06-30 16:53] Boomflex opened #1164 "[1.12] Oil fails to render a texture in the world"
Hello there,

TR: 2.6.1.124
Reborn Core: 3.2.1.77

Oil loads a broken texture in the world

https://gyazo.com/47b371f3f8c0dec8923c127e14f2f9a8

[2017-06-30 16:58] kohlth opened #1165 "(suggestion) wrench pick"
this idea is a simple yet interesting idea for a pickax and a wrench to use on rotating blocks and picking up machines while having the ability to break blocks

[2017-06-30 16:59] kohlth commented on #1165
possibly a upgrade-able pic or possibly even a multi tool laser with a wrench?

[2017-06-30 19:54] modmuss50 commented on #1164
Working when I try it on latest forge + RC + TR

[2017-06-30 20:53] modmuss50 commented on #1164
Colossal Chest, not me

[2017-06-30 20:53] #1164 closed, assigned to modmuss50

[2017-07-01 00:49] xbony2 opened #1166 "[1.12] Hopper + Iron Furnace pulls from fuel slot"
A Hopper under an Iron Furnace will pull from the fuel slot, pulling Coal instead of pulling the smelted output. This was tested in 1.12 but it might the same in other versions since I don't think it would have changed that much.

[2017-07-01 06:05] ExDomino commented on #1162
Retrogen really doesn't work. I explain : I tested in creating a world without any mod and then adding your mod (with retrogen at true) and re-explore the same world. After, I created two new worlds with the exact same seed and get to the same location. You mod seems to generate ressources at the same place on world 2 and 3 (the worlds where chunks was generated with your mod) but no ressources wa

[2017-07-01 06:45] Razorfin8 commented on #1161
Mcjty replied to the report on his github, according to him it looks like it actually is your mod, heres his reply

"It seems that TechReborn is trying to send energy to the powercells clientside which is not legal.

[2017-07-01 07:55] ddthejj opened #1167 "Vacuum Freezer"
I'm playing FTB infinity beyond (which I believe has the newest version of TechReborn) and the vacuum freezer recipe only takes the reinforced glass from TechReborn and not the reinforced glass from IC2. I'm not sure if this is the right place to post this, and I'll be putting it in the FTB infinity beyond forums too, but I just thought I'd let you know. Thanks!

[2017-07-01 08:12] ddthejj commented on #1167
Also, the singularity compressor can't compress advanced alloy ingots. Also don't know if this is the right place for this.

[2017-07-01 10:31] modmuss50 commented on #1167
Yep this is the correct place

[2017-07-01 10:31] modmuss50 commented on #1166
Thanks for reporting it, should be an easy fix.

[2017-07-01 10:32] modmuss50 commented on #1165
This might be possible, but I dont see a real need for it, as most of the time you wont need a pick around your machines. So the wrench does the job.

[2017-07-01 10:32] #1165 closed, assigned to nobody

[2017-07-01 10:35] #1161 closed, assigned to nobody

[2017-07-01 10:45] #1167 closed, assigned to nobody

[2017-07-01 10:52] #1166 closed, assigned to nobody

[2017-07-01 10:57] #1154 closed, assigned to nobody

[2017-07-01 12:32] VallenFrostweaver opened #1168 "[1.12 - v2.6.1.124] World gen oil has no texture"
As stated above. See image below. :)
![tr oil bug](https://user-images.githubusercontent.com/13642054/27762071-c7cb529e-5e61-11e7-8515-a7bd0fd92dc4.png)

[2017-07-01 12:33] modmuss50 commented on #1168
Do you have the Colossal Chest mod installed?

[2017-07-01 13:10] ExDomino opened #1169 "1.12 - Mining ore too fast"
Forge : 14.21.1.2387
RebornCore : 3.2.1.77
TechReborn : 2.6.1.124

Ores from your mod are mined too fast. You can think by error that you have the good pickaxe to mine it when you don't. For example, trying to mine a silver ore with hands, it take as long as iron ore with a stone pickaxe. You should increase the time needed to mine them please.

Edit : This bug is from a player of my server, but I

[2017-07-01 13:13] ExDomino opened #1170 "1.12 - In multiplayer, IRON furnaces don't turn red when smelting"
Forge : 14.21.1.2387
RebornCore : 3.2.1.77
TechReborn : 2.6.1.124

In multiplayer, when I use an electric furnace to smelt something, the furnace doesn't turn red or something like that. No indication to indicate that an item is still smelting. It's a bit confusing.

By red, I mean the "black" in the model of the furnace, turning red and some fire appear front of it, like vanilla furnace. You also

[2017-07-01 14:02] drcrazy commented on #1170
Not reproducible ))
![image](https://user-images.githubusercontent.com/1382352/27762653-021ecd6e-5e7f-11e7-960f-a6842ae0f470.png)

[2017-07-01 14:03] ExDomino commented on #1170
On multiplayer ? Connected to a server ?

[2017-07-01 14:06] drcrazy commented on #1170
yes. Test TR server.

[2017-07-01 14:07] drcrazy commented on #1170
Forge 14.21.1.2387
TR 2.6.1.131

[2017-07-01 14:07] ExDomino commented on #1170
Ok, I will re-test that on my server.

[2017-07-01 14:07] drcrazy commented on #1170
on a client. Dunno what forge version on server and same TR version on server

[2017-07-01 14:08] ExDomino commented on #1170
My server uses the same Forge and TechReborn version than the client.

[2017-07-01 17:16] dmarcuse commented on #1154
Thanks!

[2017-07-01 17:59] ChloeDawn opened #1171 "[1.12] Ore Dictionary registration is all over the place"
**Mod version:** [2.6.1.124](https://minecraft.curseforge.com/projects/techreborn/files/2443226)

Here's a list of ore dictionary entries my mod reports back when TR is in the instance
[gist/e05acb8b2feefa4916ae3e8d8cc04e4b](https://gist.github.com/anonymous/e05acb8b2feefa4916ae3e8d8cc04e4b)

Normally, most mods wouldn't care, however MoreChisels registers a chisel for every gem and ingot in the o

[2017-07-01 18:00] Prospector commented on #1171
@modmuss50 leave this to me

[2017-07-01 18:15] modmuss50 commented on #1171
Ive got it

[2017-07-01 19:04] #1171 closed, assigned to nobody

[2017-07-01 19:07] VallenFrostweaver commented on #1168
Yes

[2017-07-02 02:17] ExDomino commented on #1169
It applys on all ores that needs a Iron Pickaxe to be mined. When you use a Stone Pickaxe on them, the fast mining speed could let you think that you have the good pickaxe.

[2017-07-02 02:56] ExDomino commented on #1170
On our server, we have this bug. I dunno why you can't reproduce it, but on our server, machines don't change their visual client-side when they are in use server-side. They look like they are not in use.

It's maybe an option? Something wrong? I dunno, but the bug affects all of my players.
Some of them prefer using vanilla furnace instead, because of this bug.

This bug is only when we are conne

[2017-07-02 03:32] ExDomino commented on #1170
Re : Bug maybe fixed in 134, I updated both Reborn Core and Tech Reborn to their latest version and all works perfectly well. I created my server two days ago and didn't notice that new versions of your mod was released in the meantime.

However, the problem about Iron Furnces is still not fixed. Iron Furnaces still don't change their state at all!

[2017-07-02 04:35] kamanabc123 commented on #1141
This only happens when TechReborn is installed......... Don't know how it has nothing to do with it. This could be a problem with chisels and bits but I don't think it is. I will try post an issue on that too.

[2017-07-02 08:30] ExDomino commented on #1162
Forge : 14.21.1.2387 <not upgraded>
RebornCore : 3.2.3.83 <upgraded from 77 to 83>
TechReborn : 2.6.2.139 <upgraded from 124 to 139>

Retrogen still not working.

[2017-07-02 08:51] ExDomino opened #1172 "[Suggestion] Add "easy" config"
Hello,

Your mod is really great but I would like to suggest you a new config (disabled by default of course) to make some changements on your mod:

1) Make that a machine destroyed by a pickaxe returns the exact machine, all the time; (idem for cables)
2) Make that a Low Power machine connected to a High Power doesn't explode but just doesn't function; (you can also add a kind of smoke effect)

T

[2017-07-02 09:59] ExDomino opened #1173 "1.12 : Machines are disconnected from network when chunks are unloaded"
Minecraft : 1.12 < Java 8 >
Forge : 14.21.1.2387
RebornCore : 3.2.3.83
TechReborn : 2.6.2.139
Mode : Multiplayer
Same versions for both client and server.

Machines are disconnected from energy network when chunk unload and reload. Fixing this issue need to remove the cable and then replace it. Else, the machines runs out of power when the Battery Box is full.

And note that when you remove a cabl

[2017-07-02 10:20] ExDomino commented on #1173
When I removed a cable from my network and replaced it, the machines begin to work proprely for a while, but when I removed it, the machines started to continue working just like the cable was still there but a little bit different (jumping from 100% to 99% to 100% all the time when with the cable they stay at 100%). I'm really not sure what is that bug but I think it's either that machines discon

[2017-07-02 10:21] modmuss50 commented on #1168
Fixed here: https://github.com/CyclopsMC/CyclopsCore/commit/e0b1620bf7d7728cc32e9a58cb89869531999490

[2017-07-02 10:21] #1168 closed, assigned to nobody

[2017-07-02 14:05] Willy347 opened #1174 "rolling machine recipes missing"
MC: 1.12
forge: 14.21.1.2387
TR: 2.6.1.124 and 2.6.2.139

the rolling machine doesn't have any recipes in 1.12 so there is no way of making coils. by that logic there is no way to make a blast furnace or make steel so it is not possible to progress any further in the mod

[2017-07-02 16:05] modmuss50 commented on #1174
Ah, I think I know whats up, thanks for reporting 👍

[2017-07-02 17:13] #1174 closed, assigned to nobody

[2017-07-02 21:26] Willy347 opened #1175 "compatibility issue 1.12"
versions above 2.6.1.124 are not compatible with the atm 3 modpack
crash report in attachment
[crash-2017-07-02_23.21.04-client.txt](https://github.com/TechReborn/TechReborn/files/1118115/crash-2017-07-02_23.21.04-client.txt)

[2017-07-02 21:27] modmuss50 commented on #1175
Update reborn core

[2017-07-02 21:27] #1175 closed, assigned to nobody

[2017-07-02 21:36] Willy347 commented on #1175
sorry

[2017-07-03 03:14] ExDomino opened #1176 "1.12 - Water mill produces too many energy (config files don't accept float value for energy)"
Forge : 14.21.1.2387
RebornCore : 3.2.3.83
TechReborn : 2.6.4.144

Hello, I just tested both Water mill and Solar panel. I noticed that a single Water mill placed into water produces two times more energy than a Solar panel. In fact, the Water mill produces as energy as water connected to it. So if the Water mill is inside water with water on each sides, it will produces 4 FE/tick (day and night)

[2017-07-03 07:52] ProsperCraft opened #1177 "[1.12] Server Crash - placing a hopper under an unformed sawmill."
https://gist.github.com/ProsperCraft/56dd892099b018808238af41f60dc85e

If you place just the sawmill block that is not formed with any other blocks then place a hopper under it, the interaction with the unformed multiblock causes the server to crash.

[2017-07-03 07:54] ProsperCraft commented on #1177
Server is now on a crashloop - Here is an an example of one of the crashes -
https://gist.github.com/ProsperCraft/59cd316c89330ccb57838b0de3e928a1

[2017-07-03 08:02] ProsperCraft opened #1178 "[1.12] Breaking a glass fiber cable with your hand gives nothing."
When you break a glass fiber cable with your hand you don't get anything, and it breaks instantly.

[2017-07-03 08:03] ProsperCraft opened #1179 "[1.12] Breaking a glass fiber cable with a pick gives a cobber cable."
Breaking a glass fiber cable with a pick gives a copper cable.

[2017-07-03 08:39] ProsperCraft opened #1180 "[1.12] Using any logs gives oak wood planks in the sawmill."
It does not matter what logs you put in the sawmill it gives oak planks.

You would expect it to give planks of that wood.

Also its giving too many planks per log, 16-18 planks for 1 log is crazy.

[2017-07-03 08:42] modmuss50 commented on #1180
Humm ok, I'm out all day today so I will take a look at this and your other issues later today.

[2017-07-03 09:51] ExDomino commented on #1173
I think the problem comes with the Battery Box that sometime ceasses to output its energy.

[2017-07-03 10:58] Skillotic0703 commented on #1176
The problem is that the windmill should be more expensive than the solar panel!

[2017-07-03 18:12] #1179 closed, assigned to nobody

[2017-07-03 18:48] #1178 closed, assigned to nobody

[2017-07-03 18:52] #1177 closed, assigned to nobody

[2017-07-03 19:16] ghost opened #1181 "Crash on Server"
i think u forgot something
[crash-2017-07-03_22.15.16-server.txt](https://github.com/TechReborn/TechReborn/files/1120399/crash-2017-07-03_22.15.16-server.txt)

[2017-07-03 19:16] modmuss50 commented on #1181
I think you forgot to update reborn core 👍

[2017-07-03 19:16] #1181 closed, assigned to nobody

[2017-07-03 19:27] #1180 closed, assigned to nobody

[2017-07-03 19:40] ghost commented on #1181
oh gosh! curseforge has problems about listing updated mods

[2017-07-03 20:42] ProsperCraft opened #1182 "[1.12] Client kicked when looking at the sawmill interface."
I have a working sawmill, and when I open it now it kicks me, here is the stacktrace from my client.

Nothing is shown on the server.

https://gist.github.com/ProsperCraft/a1cfc77e47c822bc428e53546dc4c10f

[2017-07-03 20:44] modmuss50 commented on #1182
Huh, is this happening when you open the gui? or after you click something in the gui?

[2017-07-03 20:49] modmuss50 commented on #1182
Ah, got it

[2017-07-03 20:49] ProsperCraft commented on #1182
Opening it, I had kicks when standing near it as well but have not isolated my client log on those

[2017-07-03 20:51] #1182 closed, assigned to nobody

[2017-07-04 02:52] Boomflex opened #1183 "[1.12] Recipe showing missing ingots?"
v2.6.4.144

https://gyazo.com/fb336e172dc4584a2a4f4b97c952e029

Ref Iron in top, Aluminium in mid, no ingots in bottom.

[2017-07-04 15:57] #1183 closed, assigned to nobody

[2017-07-05 15:55] James-Webb554 opened #1184 "Exception Loading model for variant "xyz""
Thanks for reporting an issue! However, before you report an issue, please read the following:

 * We will not backport to an old version of minecraft. Do not suggest this
 * Make sure you're using the latest version of TechReborn, RebornCore, and Forge before reporting a bug!
 * Don't argue with any TechReborn developers. What they say goes. Feel free to suggest a way to implement something, but

[2017-07-05 15:55] modmuss50 commented on #1184
Is this preventing the game from starting?

[2017-07-05 15:56] James-Webb554 commented on #1184
No, it cause an extra delay of 5 - 15s each time through.

[2017-07-05 15:58] modmuss50 commented on #1184
It shouldn't slow anything down, this stack trace isnt an error that should cause any great concern.

[2017-07-05 15:58] #1184 closed, assigned to nobody

[2017-07-05 15:58] James-Webb554 commented on #1184
Alright, fair enough.

[2017-07-05 18:57] Skillotic0703 commented on #1112
It also happens in 1.12!

[2017-07-05 20:13] modmuss50 commented on #1163
Done

[2017-07-05 20:13] #1163 closed, assigned to nobody

[2017-07-05 20:15] ExDomino commented on #1163
Thanks. ^_^

[2017-07-06 09:16] ExDomino commented on #1163
Updated to 2.6.6.151. Still no sounds.
Maybe it's for the next version?

Edit : I wrote the bad version number, it's the 151, not the 144.

[2017-07-06 09:31] ExDomino commented on #1170
Updated to 2.6.6.151, Iron Furnace still not red in multiplayer when in function.

Also, taking a block from them make a kind of client-server sync error when trying to place it in the world. It's a minor issue, the problem is solving by itself after a short moment. Possibly a Forge issue, but the problem only concerns the Iron Furnace. I have no problem with the Electric Furnace.

[2017-07-06 09:39] ExDomino commented on #1176
Windmill more expansive, ok. But, what about the Watermill ?
You know, that thing you put into the water and that generates a tons of energy.

[2017-07-06 11:45] Skillotic0703 commented on #1110
Can you reopen this now that TE updated to 1.12?

[2017-07-06 11:46] modmuss50 commented on #1110
Yes I can!

[2017-07-06 11:46] Skillotic0703 commented on #1110
Yeah!!!!

[2017-07-06 11:49] Skillotic0703 commented on #1176
With GT, the water mill used to be crafted with aluminium ingots so yeah it should also be more expensive
!

[2017-07-06 11:55] Skillotic0703 commented on #1120
I will close this as this is fixed in 1.12!

[2017-07-06 11:55] #1120 closed, assigned to nobody

[2017-07-06 11:55] Skillotic0703 commented on #1122
That's also fixed in 1.12!

[2017-07-06 11:55] #1122 closed, assigned to nobody

[2017-07-06 11:58] Skillotic0703 commented on #1094
This is fixed in 1.12 and will probably never get fixed in 1.10.2 so...

[2017-07-06 11:58] #1094 closed, assigned to nobody

[2017-07-06 13:11] TheLimePixel commented on #1069
It also happens in the 1.12 version

[2017-07-06 22:17] modmuss50 commented on #1110
Ok, im editing the issue as I do them so I don't loose track.

[2017-07-06 22:49] #1110 closed, assigned to modmuss50

[2017-07-06 23:03] #1054 closed, assigned to nobody

[2017-07-06 23:54] MonzterAssassin opened #1185 "Crash with Buildcraft 7.99.5"
https://pastebin.com/0v1hMWvg

I'm running newest versions on 1.11.2 (and I understand you're on 1.12) but according to the dev on Buildcraft Discord it was because TR was using BC 7.99.4's API.

[2017-07-06 23:55] modmuss50 commented on #1185
Yeah, that needs fixing.

[2017-07-07 08:48] ExDomino commented on #1163
Updated to 2.6.8.157. Still no sounds.

[2017-07-07 14:06] davqvist commented on #962
@modmuss50 As you just told me that you try fix some issue for 1.10. Can you please backport this to 1.10?

[2017-07-07 14:06] davqvist commented on #955
@modmuss50 As you just told me that you try fix some issue for 1.10. Can you please backport this to 1.10?

[2017-07-07 15:52] modmuss50 commented on #955
I can have a go at trying to fix some of the issues.

[2017-07-07 17:45] ImAK9 opened #1186 "Oil texture bug on (1.12)"
http://i.imgur.com/Kiuwo5a.png

[2017-07-08 03:38] dmarcuse opened #1187 "[1.10.2] Fusion reactor problems"
First off I'm not sure if these is fixed in 1.11 or 1.12 versions of the mod, if they are please let me know.

I've found a few issues with the fusion reactor that make it impractical and difficult to use:

- The reactor seems to always consume the startup energy, even when continuing from a previous cycle - e.g. put in 2 tritium and 2 deuterium cells and charge it up, when the first cells are com

[2017-07-08 12:42] Terpo commented on #1185
good that it is only a small issue :)
changed dependency of bc to 7.99.6 in https://github.com/TechReborn/TechReborn/blob/1.11.2/build.gradle#L123

and https://github.com/TechReborn/TechReborn/blob/1.11.2/src/main/java/techreborn/compat/buildcraft/BuildcraftCompat.java#L54
[code]

[2017-07-08 15:25] modmuss50 commented on #1185
Fixed by removing the FluidPowerManager thing as its no longer used in TechReborn. Once BC is on 1.12 and stable I will update it to support our new fluid power system.

[2017-07-08 15:25] #1185 closed, assigned to nobody

[2017-07-08 17:00] modmuss50 opened #1188 "use 1 iron and not 9"
Thanks for reporting an issue! However, before you report an issue, please read the following:

 * We will not backport to an old version of minecraft. Do not suggest this
 * Make sure you're using the latest version of TechReborn, RebornCore, and Forge before reporting a bug!
 * Don't argue with any TechReborn developers. What they say goes. Feel free to suggest a way to implement something, but

[2017-07-08 17:32] Skillotic0703 opened #1189 "[1.12] Thermal Expansion wrench support"
Support for TE's crescent hammer!

[2017-07-08 17:32] modmuss50 commented on #1189
Yeah, this is planned. I have started the ground work but it requires a full rewrite of all the wrench handling.

[2017-07-08 17:41] Waisse opened #1190 "About machine casings"
I suggest reinforced and advanced machine casings being able to be upgraded from previous tier casing, making blast furnace upgrade not waste that much resources as it is currently.

[2017-07-08 17:44] Waisse opened #1191 "Energy consumption/production tooltip"
Simple, just add a way of knowing how much each machine consume/produce in-game.

[2017-07-08 17:58] modmuss50 commented on #1186
This is because you are using an older version of colossal chests. Please try updating that.

[2017-07-08 18:01] #1188 closed, assigned to nobody

[2017-07-08 18:12] ImAK9 commented on #1186
What if i told you i don't have it? lol

[2017-07-08 18:13] ImAK9 commented on #1186
What has Colossal Chests todo with Tech Reborn?

[2017-07-08 18:18] modmuss50 commented on #1186
Humm, that mod used to break our fluid rendering. Can you try with just TechReborn and Reborncore?

[2017-07-08 18:19] ImAK9 commented on #1186
Sure

[2017-07-08 18:32] #954 closed, assigned to nobody

[2017-07-10 09:09] drcrazy commented on #1170
![image](https://user-images.githubusercontent.com/1382352/28010771-a589561e-6568-11e7-8dbb-e4edc3ed951d.png)

Confirmed for Iron Furnace

[2017-07-10 09:13] drcrazy commented on #1170
Sorry, partially confirmed ).
It is turning red but only bare visible few pale red dots.
![image](https://user-images.githubusercontent.com/1382352/28010836-e6346d8e-6568-11e7-8b86-0cad519670d4.png)

I suggest to make them more bright to be in line with vanilla furnace visibility of burning and with TR electric furnace.

[2017-07-10 11:41] TheLimePixel opened #1194 "[1.12] Crash with Industrial Foregoing"
The 1.12 version crashes when Industrial Foregoing is installed with it. I believe it has something to do with the fact that its Plastic Sheets use the ore dict entry for rubber.

https://pastebin.com/Sk6pnPXG

[2017-07-10 11:42] modmuss50 commented on #1194
Huh, ok. That shouldn't be too hard to fix.

[2017-07-10 15:12] Matikari opened #1195 "1.10 Crash while breaking cables."
Modpack used is "A Grim Life" through the Twitch Curse Launcher. We just recently added Tech Reborn to the pack. We came to have the issue where we were unable to pickup cables, discovered server side but is also a problem on a SP game. Testing through mod disabling we were able to get cables to be picked up once we disable both Better with Mods and More Bees (Forestry).

On a SP test I reduced th

[2017-07-10 16:19] CluelessPhil commented on #1194
Oh thank god some noticed this too :)

[2017-07-10 17:49] #992 closed, assigned to nobody

[2017-07-10 18:10] TheLimePixel commented on #1194
Hmm, in the Reborn Core changelog you said it's fixed, but I now get a new one:
https://pastebin.com/J7jgRq1x

[2017-07-10 18:11] DaedalusGame commented on #1195
cursory looks at the relevant classes makes me assume that cable multiparts might not expose a BlockStateContainer with the block field set...?
No clue about that CTD tho.

[2017-07-10 18:24] modmuss50 commented on #1194
Did you update TR?

[2017-07-10 18:33] TheLimePixel commented on #1194
oh, it didn't show up on CF a few minutes ago. It had the bug where it showed the last time it updated, but it didn't show the update.

[2017-07-10 19:41] modmuss50 commented on #1186
I just checked with the colossal chests dev and he hasn't pushed his fix to curse yet.

[2017-07-11 03:15] Jeyge commented on #1162
The line in Core.java which would allow retro gen to work is commented out and has been as far as I can tell since July of 2016.  Fixing that will lead to many other problems though with the retro gen code.
//MinecraftForge.EVENT_BUS.register(worldGen.retroGen);

[2017-07-13 01:17] ExDomino opened #1196 "[1.12] Usning Wrench on Vacuum Freezer drop an Alloy Smelter"
When I use Wrench on a Vacuum Freezer, it's an Alloy Smelter that is dropped.
Tech Reborn 2.6.9.163.

[2017-07-14 13:30] Kris1432 commented on #1186
Will be looking into stress testing this bug.

[2017-07-15 20:45] Matikari opened #1197 "1.10 Ore Dupe Bug"
Breaking the grinder with the wrench while some ore was in it dropped twice what was there.

[2017-07-16 03:27] tterrag1098 commented on #1186
This is happening on ATC as well, though we do have CC

[2017-07-16 03:28] tterrag1098 commented on #1170
Yeah seconding this, the active texture is barely distinguishable.

[2017-07-16 03:29] tterrag1098 commented on #1157
:+1: to this, I might look at the code myself. It even seems to behave different on client/server as an item will sometimes end up somewhere else once I close the GUI.

[2017-07-16 08:35] modmuss50 commented on #1186
It's happening on unstable without CC, but works fine on its own. So I assume another mod is breaking it. But I guess we are doing something wrong as it's only our fluids. ¯\_(ツ)_/¯

[2017-07-16 08:36] modmuss50 commented on #1170
Ok, so it's just the texture. That's an easy change.

[2017-07-16 09:10] covers1624 commented on #1186
https://github.com/CoFH/Feedback/issues/366 ??

[2017-07-16 09:12] modmuss50 commented on #1186
Could well be that, I will take a look when I get home on Monday. Thanks for pointing that out.

[2017-07-16 15:07] #1194 closed, assigned to nobody

[2017-07-16 15:13] TheLimePixel opened #1198 "[1.12] Dupe bug with TE support"
By the looks of it you've created a process of duping materials with your TE integration.  The Compressor uses only 1 of an item for making a plate, while the TE Pulverizer turns 1 plate into 9 of the corresponding dust allowing you to have 9 times the amount of the certain material that you started with:

![image](https://user-images.githubusercontent.com/25333164/28248743-012c4306-6a4a-11e7-87a3

[2017-07-16 17:25] modmuss50 commented on #1198
Humm, yeah. Good point.

[2017-07-16 19:58] Skillotic0703 commented on #1198
Lign 50 in techreborn/compat/thermalexpansion/RecipeThermalExpansion.java.
Change "RecipeMethods.getMaterial(plate, 9, RecipeMethods.Type.DUST));" to "RecipeMethods.getMaterial(plate, 1, RecipeMethods.Type.DUST));"

[2017-07-17 16:54] TheLimePixel commented on #1198
While we're on this topic, I'd like to mention that you also forgot to fix the gem-plate and redstone-plate recipes in the Compressor.
![image](https://user-images.githubusercontent.com/25333164/28279604-4c0048d2-6b21-11e7-9ff9-1e74f9eb53cb.png)

[2017-07-18 17:45] trilexcom opened #1199 "Output stack is null or empty"
hi Tech Reborn team

i added MalsisDoor and MalisisCore to my pack we have techreborn in 1.12 version installed version number TechReborn-1.12-2.6.9.163-universal when i try to launch the game i get this error msg i wanted to know if its a tech reborn error or should i report it MalisisDoor Mod person, because i only get this error after adding that mod

here is the pastebin https://pastebin.com/4

[2017-07-18 20:46] lynxx131 opened #1200 "[1.12] Small energy glitch with IC2 glass fiber cable"
I am using TR in MC 1.12 with IC2 de-duplication enabled and things are working quite well.

One small thing I noticed is that if I provide too much energy to a TR machine via an IC2 glass fiber cable the machine doesn't explode it does however correctly explode with other cable types such as gold cables.

My test setup is:

IC2 MFE (512EU/t) -> glass fiber cable -> Industrial Blast Furnace (Explo

[2017-07-19 09:40] Fundryi commented on #1199
I have the exact same issue. Hope this can be fixed quick! :)

[2017-07-19 17:23] #1199 closed, assigned to nobody

[2017-07-20 22:23] Skillotic0703 opened #1201 "[1.12] Rolling Machine localization issue in JEI"
The name of the rolling machine is not correctly displayed when looking its recipes in JEI. It displays the unlocalized name!

[2017-07-20 22:50] Skillotic0703 opened #1202 "[1.12] Impossible to charge IC2 items with TechReborn batteries"
For example it's impossible to charge a quantumsuit or mining laser from IC2 in a TechReborn MFSU.
And it's also impossible to charge TechReborn items in IC2 MFSU.
I know that you're working on a new power system but I think that IC2 support is pretty important and having a config to enable using EU in the future would be very enjoyable by players/pack makers!
Forge 1.12-14.21.1.2415
TechReborn-1.

[2017-07-20 23:01] Skillotic0703 opened #1203 "[Suggestion] Remove plates"
You seem to reproduce a version of Gregtech where plates were not yet implemented. So I would suggest to just remove them because they are useless. They just add an annoying crafting step.

[2017-07-20 23:03] Skillotic0703 commented on #1203
I mean, remove the recipes that use them and remove their crafting recipe. Don't remove the item in itself, it could be useful for modpack makers!

[2017-07-21 02:28] Prospector commented on #1203
what recipes use them?

[2017-07-21 07:14] drcrazy commented on #1203
Example of usage: advanced machine block

[2017-07-21 13:20] Skillotic0703 opened #1204 "[1.12] TechReborn machines don't explode"
Battery boxes can accept any voltage without exploding

[2017-07-21 13:23] Skillotic0703 opened #1205 "[1.12] Tooltip problem"
The MFE and MFSU have wrong tooltips. The MFE I/O 128 EU/t and the MFSU I/O 512 EU/t which is correct!

[2017-07-21 13:36] drcrazy commented on #1205
Screen plzz

[2017-07-21 13:59] Skillotic0703 commented on #1205
![2017-07-21_15 58 38](https://user-images.githubusercontent.com/12701912/28466688-81b1daa4-6e2d-11e7-8bcc-c7c1716cfef5.png)

[2017-07-21 13:59] Skillotic0703 commented on #1205
The displayed I/O Rate should be 512 EU

[2017-07-21 14:06] drcrazy commented on #1205
I suspect that 'High' tier is 512 FE or 2048 EU or 512 RF. May I ask you to try to switch tooltip display from EU to FE, please?

[2017-07-21 14:07] Skillotic0703 commented on #1205
No it shows 8192 RF/FE I already verified that!

[2017-07-21 14:29] Prospector commented on #1203
Oh advanced alloys? Yeah those use plates, and always have.

[2017-07-22 01:48] Thill199 opened #1206 "[1.12-6.9.165] Input lag with iron furnace"
There seems to be input lag with most of the machines and the iron furnace. I have to reopen most of the machines for the items to appear. Are there any fixes for this?

[2017-07-22 03:23] Lynxn opened #1207 "Couple bugs on the latest 1.12 edition + suggestion."
Testing the mod in a single player world, it seems a lot of the machines are weird. Not only the fact that the furnace *cough* lacks upgrade slots *cough*, but it seems as if energy Transfer is bugged and the items Desync.
I was play with the IDSU, it accepted power but then didn't give any out, but then randomly decided to start outputting after a couple minutes. The same with the mfsu, yet the m

[2017-07-22 09:05] TheLimePixel commented on #1196
It's been on every 1.12 version of TR so far.

[2017-07-22 09:09] TheLimePixel opened #1208 "[1.12] A Broken Extra recipe"
When you look in JEI, the Data Control Circuit seems to have a recipe where it takes a plate, but when you try to craft it, it doesn't work. While it makes sense for it to not work, why is it even there in the first place?
![image](https://user-images.githubusercontent.com/25333164/28489909-4605ad54-6ece-11e7-8cf7-aea163dbbe67.png)

[2017-07-23 19:19] Skillotic0703 opened #1209 "[1.12] AESU not functionnal"
I think that you know that but I just tell you. You can't even change the output rate in the GUI. It's useless atm.

[2017-07-24 07:09] llloyd4 opened #1210 "[1.10.2] Coal Dust makes IC2 Raw Carbon Fiber"
The recipe for Raw Carbon Fiber in IC2 and in TR are exactly the same, so when I try to craft the TR one I get the IC2 one instead. This, in turn, leads me down the rabbit hole of making the IC2 Carbon Plate, which can't be used in a TR Advanced Machine Block. So...

Minecraft 1.10.2
TechReborn 1.10.2-2.1.17.233
Reborn Core 1.10.2-2.13.6.142
IC2 - 2.6.234-ex110

[2017-07-24 18:13] Fundryi opened #1211 "Newerst 1.12 forge breaks recipes. Crash on startup."
The title says it.

Crash: https://gist.github.com/Fundryi/6bcae5690d36f2ab9b552901d1098a3e

Ohh yea side question, Will you balance the recipes so they work with Thermal Expansion? Because it's kinda an exploit if you use both mods.

[2017-07-24 23:01] modmuss50 commented on #1211
Can you explain: `Because it's kinda an exploit if you use both mods.` and I will look into the crash.

[2017-07-25 09:06] Kris1432 commented on #1186
from looking at the CoFH issue, this seems to be resolved, can you confirm that this is fixed with the latest versions? @PrinceApache

[2017-07-25 09:55] Fundryi commented on #1211
See here.
https://gyazo.com/b65a04ea19b48aecd870fabcade57238
https://gyazo.com/aeebdb57df26d424456e50ad56a8aef7
Okay, nothing new here right, it's balanced and good.
But if u use the Pulverize u could abuse it as an Unlimited resource.
https://gyazo.com/421eabc96c8a1a60924cee68b08879c8

I don't know who adds the recipes, so I thought I just gonna point that out here :)

[2017-07-25 09:56] modmuss50 commented on #1211
Oh yeah, thats an issue. Should be an easy fix.

[2017-07-25 09:56] Fundryi commented on #1211
Oh yea and when do you think u will push the updated/fixes to Curse ?

[2017-07-25 09:56] modmuss50 commented on #1211
Once ive fixed them.

[2017-07-25 09:57] Fundryi commented on #1211
Cool thanks for the info have a nice day! :)

[2017-07-25 19:42] covers1624 commented on #1186
I linked the issue as a similar thing in the backend of the fluid stuff might be happening, this mostlikely has no direct relation to the CoFH issue.

[2017-07-25 19:43] modmuss50 commented on #1186
I will test with the latest unstable update to see if its still an issue.

[2017-07-25 19:48] modmuss50 commented on #1186
Seems to be working in the latest unstable update, can you guys test by updating all your mods to see if its been fixed? If it has I will close this issue.

[2017-07-25 22:57] Wolf-Valecos opened #1212 "[1.11.2] Crafter won't take items."
Crafter and Advanced crafter will not take in items on carts.

[2017-07-26 13:25] Blatts12 opened #1213 "[1.10.2] Crash with GravelMiner when use wrench on cable"
https://pastebin.com/ezYCQx4Z

[2017-07-26 13:51] Blatts12 opened #1214 "[1.10.2] Crash with TCon when breaking cables with TCon's Tools"
https://pastebin.com/mcW3c04A

[2017-07-26 15:54] Kris1432 commented on #1186
I wanna say its fixed on our end, go ahead and close this issue.

[2017-07-26 15:55] #1186 closed, assigned to nobody

[2017-07-27 20:50] FiberSprite opened #1215 "Can't remove recipes from Rolling machine"
Hello, So I'm trying to use craft tweaker to remove a recipe from the machine roller, the recipe for iron bars will not remove.

The script: http://wolfbrotech.com/admin/pastebin/view/4bfc4d05
The Log: http://wolfbrotech.com/admin/pastebin/view/0dff6326
TechReborn Version: 1.10.2-2.1.17.233
I cant figure it out why the recipe wont remove. can anyone help me?

[2017-07-28 19:28] modmuss50 commented on #1212
Fixed + wrong issue tracker.

[2017-07-28 19:28] #1212 closed, assigned to nobody

[2017-07-28 19:29] modmuss50 commented on #1198
Fixed.

[2017-07-28 19:29] #1198 closed, assigned to nobody

[2017-07-28 20:01] #1208 closed, assigned to nobody

[2017-07-28 20:03] #1201 closed, assigned to nobody

[2017-07-28 20:08] #1197 closed, assigned to nobody

[2017-07-29 13:59] perci100 commented on #1210
The techreborn one is shapeless, so move a coal dust one block away from the 2 by 2 grid to create the TR Carbon fibre.

[2017-07-30 06:36] Vectrobe commented on #1020
I will add this here to clarify; the fluid gauge in the GUI doesn't actually update at all once it's been filled, so to be sure you should wrench the grinder and place it back and then re-fill it with water.

[2017-07-30 06:39] Vectrobe opened #1216 "[1.12] Industrial grinder (at least) outputs corrupted cells"
If you put cells in the grinder (water at least, haven't tested mercury just yet), the spent cells it outputs are somewhat corrupt and will not be accepted by other machines as 'empty' cells...

[2017-07-30 06:41] Vectrobe commented on #1216
A workaround however is to fill them with water and then run them through an extractor, the cells are then truly empty.

[2017-07-30 16:06] Blatts12 opened #1217 "[1.10.2] Crash while loading a world"
https://pastebin.com/0xSBHNT8

[2017-07-30 16:06] modmuss50 commented on #1217
Try without optifine

[2017-07-30 17:38] Blatts12 commented on #1217
I got that crash #1214 and directly after that i got this. I got it only once.

[2017-07-30 18:14] FiberSprite commented on #1215
Can anyone help me figure this out, please?

[2017-07-30 19:31] modmuss50 commented on #1217
I have a felling its optifine, and its fixed in 1.12

[2017-07-30 19:31] #1217 closed, assigned to nobody

[2017-07-30 19:31] modmuss50 commented on #1214
Fixed in 1.12

[2017-07-30 19:31] #1214 closed, assigned to nobody

[2017-07-30 23:23] NoctisNocturnal opened #1218 "Can't Macerate Basalt or Marble"
seems like Industrial Craft 2 can't recognize those blocks on the recipe, it simple don't accept, so i can't make calcite dust

[2017-07-31 11:54] ghost opened #1219 "[v1.12] Some items from TR have not correct energy storage"
Some items from TR have not correct energy storage:
1. Lapotronic energy orb: 80k FE instead 80m FE
2. MFSU: 400k instead 40m
3. Steel jackhammer: 4m instead 40k
4. Nano-saber: 400k instead 4m
5. Diamond drill: 400k instead 40k
6. Diamond jackhammer: 80k instead 40k
7. Electric treetap: 20480 FE instead 40k

[2017-07-31 12:46] Skillotic0703 opened #1220 "[1.12] Thermal Expansion Centrifugal Separator support"
One of the best things in gregtech was cross-mod interactions so it would be really, really, really cool to push further the TE integration so here's a list of recipes that should be added to the TE centrifuge:

- 1 Ice Cell => 1 Empty Cell + 1000mB of Water (800 RF)
- 4 Sap => 14 Rubber (26 000 RF)
- 16 Soul Sand => 4 Niter + 1 Pulverized Coal + 10 Sand + 1000mB of Crude Oil (50 000 RF)
- 12 Pulv

[2017-07-31 12:47] Skillotic0703 commented on #1218
You can't even put them in the TR Grinder so that's not a problem with IC2.

[2017-07-31 13:19] modmuss50 commented on #1218
I think this is related to: https://github.com/Chisel-Team/Chisel/issues/507

[2017-07-31 13:30] Skillotic0703 commented on #1218
It also happens with only quark so i don't think so.

[2017-07-31 13:40] PandaPaw opened #1221 "[1.12] (Version::2.6.10.170) Missing Texture"
The oil is missing texture

[2017-07-31 13:41] modmuss50 commented on #1221
Can you provide a full mod list with versions? First make sure all mods are updated.

[2017-07-31 13:48] PandaPaw commented on #1221
I am using All the mods 3 on the twitch launcher so all mod are proberly not upp to date, but most of them are because the pack had an upptate yasterday

[2017-07-31 13:50] PandaPaw commented on #1221
http://i.imgur.com/rRyVupv.png

[2017-07-31 18:37] tgstyle opened #1222 "[1.12] Industrial Grinder and Crafttweaker"
Trying to add a recipe with null for output stack 2-4 says output stack null or empty. Is this not possible? Input stack 2 as null works fine.
mods.techreborn.grinder.addRecipe(<techreborn:dust:20> * 4, null, null, null, <enderore:ore_ender>, null, <liquid:water>, 20, 128);

[2017-07-31 18:57] NoctisNocturnal commented on #1218
yep, the other post, its mine too, the thing is... i cant make calcite dust, cuz to do so, i need basalt dust or marble dust, i know it's some kind of conflict, by the way is there a TR grinder?

[2017-07-31 18:58] modmuss50 commented on #1218
Yes there is, it may be disabled if you IC2 though.

[2017-07-31 19:12] NoctisNocturnal commented on #1218
AHHHHH, probably i've missed that... dam, i even add gregs tech to the mod, to make the dusts craftble... gonna try out, and post it back.

[2017-07-31 19:30] NoctisNocturnal commented on #1218
nope, i've tried grinder and even industrial grinder, but no luck, gonna try bunch of diferent settings, like with and without IC2, Chisel, and so on, but the thing is, it isn't even showing on the recipes, thanks for all support til now!

[2017-07-31 20:21] drcrazy commented on #1218
There is no explicit recipe for grinding marble or basalt in TR, unfortunately. It might still work if mod with marble will have it as OreMarble and not just marble.

[2017-07-31 20:21] modmuss50 commented on #1218
I can add it as a recipe if needed

[2017-07-31 20:24] drcrazy commented on #1218
I'm trying to do that )

[2017-07-31 20:34] NoctisNocturnal commented on #1218
indeed, i've really tried all sorces of "evil" but no, it changes to a common block, not ore anymore...

[2017-07-31 21:11] NoctisNocturnal commented on #1218
Ok, now iam totally lost, i've installed only tech reborn, and still have marble and basalt dust, but no basalt ou marble to be grinded, macerated ou any other way possible to turn into dust, so, definitely iam missing something, my minecraft its version 1.10.2 , thanks folks!

[2017-07-31 21:16] drcrazy commented on #1218
You need to additionally install mod that provide marble itself.

[2017-07-31 21:51] NoctisNocturnal commented on #1218
yep, but for a stand alone mod, its very wierd...

[2017-07-31 22:35] NoctisNocturnal commented on #1218
![sem titulo](https://user-images.githubusercontent.com/30579489/28801251-04d99d12-7627-11e7-8de2-9c640734bfe9.png)

Now i've installed Project Red, this mod contains Marble and Basalt, but even now i can't make Dust from both of this items, any light?

[2017-08-01 03:54] Vectrobe commented on #1073
The iridium plate used by techreborn should be iridium_alloy_plate, as it's crafted from iridium_alloy, so the code where the plate is crafted and used should be changed to use the alloy plate instead, haven't found specifically where these are registered in the code though...

you could also be funny and make it something like "super duper fancy plate!" in the lang file, minecraft needs more shen

[2017-08-01 07:01] Vectrobe opened #1223 "[1.12] Advanced/Reinforced Machine frame registered incorrectly"
They're registered as the same item, causing loops and weirdness with recipes.
<img width="295" alt="screenshot_56" src="https://user-images.githubusercontent.com/3912867/28813081-12a5cc9a-76db-11e7-891b-d0f69a7e32c9.png">

[2017-08-01 09:58] drcrazy commented on #1218
Yes, now it is devs turn to add necessary recipe

[2017-08-01 21:42] NoctisNocturnal commented on #1218
I've managed to find a way around, add two recipes on the macerator from IC2.

MarbleOreDict:stoneMarble = techreborn:dust@32;
BasaltOreDict:stoneBasalt = techreborn:dust@4;

Thanks for all the support! Hugs!

[2017-08-02 04:47] Vectrobe commented on #1073
Oh yea, this also affects 1.12 and technically it's an exploit, not an enhancement, you use a lot less iridium and you don't need diamond dust.

[2017-08-02 04:54] Vectrobe commented on #1200
probably a energy tier miss-match, modern IC2 (really should have been named IC3) has 5 tiers, TR only has the 4 tiers that were around with gregtech (excluding greg's 5th tier, which is probably where the bug is).

[2017-08-02 20:14] llloyd4 opened #1225 "[1.12] [Suggestion] - Grinder - Easier Recipe"
Hello! I was starting out with Tech Reborn as my starting mod just to learn it more when I noticed the starting macerator (Grinder) needs diamonds. I'll probably get shot down for this, but, all I can do is suggest something politely. Ic2 1, which this mod is a spiritual successor to, always used flint, not diamonds, if I recall correctly. Makes it easier early game since diamonds are usually used

[2017-08-03 16:10] CrossVas commented on #1225
Whait a second. TechReborn is a mod based on GregTech 2 and old IC2. It isn't just IC2.
Hence it use GregTech 2 recipe for most TR blocks.
From the other side You can use CraftTweaker to make recipe more easily)

[2017-08-03 16:43] drcrazy commented on #1225
Yes, TR based on ideas\recipes from GT. A lot of time passed since GT and I agree that grinder, being teh very basics should be less expensive. For expensive stuff there is an Industrial Grinder. Anyway modmuss50 AFK for a week, so no changes for that week )

[2017-08-04 10:17] Skillotic0703 opened #1226 "[1.12] Matter Fabricator energy/scrap consumption"
The Matter Fabricator uses too little energy and too much scrap, it's completely OP. In GregTech, it used to consume 8192 EU/t, 16, 666, 666 EU per UU-Matter and 33.3 scrap per UU-Matter but it used to use a percentage system so it can not consume this quantity of energy/scrap with the Matter Fabricator from TechReborn.
So, my suggestion is to consume 8192 EU/t and during 2048 ticks which means th

[2017-08-04 21:23] Skillotic0703 commented on #1220
I put the wrong recipes!

[2017-08-04 21:23] #1220 closed, assigned to nobody

[2017-08-06 04:30] CluelessPhil opened #1227 "[1.12] CraftTweaker Support?"
Any chance of having CraftTweaker support for 1.12?

[2017-08-08 21:39] meerple opened #1228 "Can't charge TR items in IC2 energy storage"
Hi, I am playing All The Mods 3 on MC 1.12. The 'deduplicate' config option is on, which is supposed to integrate TR into IC2. I made a steel chainsaw. I had to use Forestry's worktable, it wouldn't craft in a regular crafting table for some reason. But my real problem is that I can't put the chainsaw into any of IC2s energy storage things, and I can't craft a TR energy thing to charge it. Thanks.

[2017-08-09 02:51] Vectrobe commented on #1187
This applies to the 1.12 builds as well, the reactor's basically unusable at this point as neither does it produce much power (it's not supposed to use energy after the first start, it's much like glowplugs in a diesel engine), nor can you actually automate it. The only thing it's good for currently is iridium and platinum, even then the UU matter method is way cheaper... (way too cheap actually,

[2017-08-09 02:59] Vectrobe commented on #1226
The scrap use is about right IMO, but each UUM needs only 1,600FE, obviously 4 zeros are missing somewhere...

[2017-08-09 03:18] Vectrobe commented on #1226
Looking at the source, the energy per amp value isn't calculated correctly, in fact it isn't calculated at all...

For each 1 value of AMP you need to pull 1666 FE, so at line 122 of TileMatterFabricator you need to add something like;
int feAmpFct = amp * 1666;
and replace the 85 with said value;

[code]

[2017-08-09 03:31] Paul17041993 commented on #1226
Tell a lie, FE is 4 times the value of IE, and RF 4 times the value over that, so the factor would be 26,656...

[2017-08-09 03:50] Vectrobe opened #1229 "LESU outputs 1/4 the energy it had stored"
An LESU controller, filled with X amount of FE, will output only 1/4 of that amount to any target block, the remaining 3/4 is lost. This also means that if you loop the block end-to-end it'll quickly discharge itself.

[2017-08-09 04:20] Vectrobe opened #1230 "1 EU == 4 FE == ... 1RF...? (and other cable weirdness)"
1 RF appears to be taken in as 4 FE, instead of just 1...
While the other way round, FE to RF, has varying factors between devices (tiers?), and will output at a rounding loss, some examples;
- MFSU with 4200FE will output 512RF, 8x decrease
- MFE with 4300FE will output 318RF, 13.5x decrease
- battbox has the same ratio as MFE
these devices also exhibit similar behaviour with low tiers of TR cabl

[2017-08-09 04:38] Vectrobe commented on #1226
RF is currently broken as well however, skewing the numbers...
#1230

[2017-08-09 05:18] dmarcuse commented on #1187
Yeah, it's disappointing. Fusion reactors provided a fun end goal for me but they're not even worth it in the current state.

[2017-08-09 06:31] Vectrobe commented on #1226
#1231

[2017-08-09 14:07] Skillotic0703 commented on #1228
I already opened an issue about this problem. You should close yours. #1202

[2017-08-09 22:39] Vectrobe commented on #1187
I'm actually considering now whether we should have a second reactor tier, the second tier being the newer version that greg made that used liquids directly. The gimmick then being that the second tier only runs off the helium3 recipe, needing either a limited He source or a tier 1 reactor running H2+H3, the resulting plasma is then piped out to generators.

I feel this makes a lot of sense in a d

[2017-08-09 23:58] dmarcuse commented on #1187
Honestly I'd prefer if the current reactor was just scrapped and replaced with the larger, more modular one, maybe with the recipes rebalanced as needed. It would also solve the issue of only having 6 sides available for all forms of I/O with the current one. To keep the progression, it could work similarly to the reactors from GT4, where you can upgrade the casings and coils to access new recipes

[2017-08-11 00:46] meerple opened #1233 "Some recipes don't use ore:machineBlock* when they should"
Hi. I am playing with IC2 on ATM 3 v2.8. The pack removes the recipe for the TR machine block, because it was preventing IC2 machine blocks from being crafted and IC2 machine blocks can be used for TR recipes. But, the Alloy Smelter, Industrial Blast Furnace, Implosion Compressor, Matter Fabricator and Advanced Machine Casing recipes don't use ore dictionary machine blocks, so they aren't craftabl

[2017-08-12 04:06] joshricker opened #1234 "Machines using all available power, regardless of needed power while in EU mode."
I am running the the Age of Engineering pack but notice that any of the tech reborn machines I've tried use all of the available power. For example a industrial electrolyzer shows a usage of 128 eu/t, but will drain all the power it can. Here is an example of a compressor draining 2keu/t [setup](https://lh3.googleusercontent.com/-WODXRcszzAI/WY59GgB4LxI/AAAAAAAADwY/FkhRHGcuojYmxqsJy6S5PAsW6CiBfBP7

[2017-08-12 06:01] modmuss50 commented on #1227
All ready in: https://wiki.techreborn.ovh/doku.php?id=development:mt

[2017-08-12 06:01] #1227 closed, assigned to nobody

[2017-08-12 06:04] modmuss50 commented on #1228
This was removed when we removed the core mod. It would require a large amount of duplicated code to bring back.

[2017-08-12 06:04] #1228 closed, assigned to nobody

[2017-08-12 06:09] modmuss50 commented on #1221
I believe this should be fixed, I'm not 100% sure what mod caused it. Can you try again using the latest version of the pack?

[2017-08-13 10:22] joshricker commented on #1187
Is this actively getting worked on? I'm all for the larger reactor. But I wish it would say in game that the fusion reactor was useless at making power. Just crafted and tried to use it in an Age of Engineering pack and sucks to find out I've wasted the better part of two days getting the infrastructure and materials needed for this thing.

[2017-08-13 20:50] Skillotic0703 commented on #1230
I think that there are general energy problems in TechReborn atm. So it would be cool to find a solution for that!

[2017-08-13 20:50] Skillotic0703 commented on #1234
It also happens in 1.12

[2017-08-14 11:17] #1218 closed, assigned to nobody

[2017-08-14 11:46] #1196 closed, assigned to nobody

[2017-08-15 14:01] g3niusss opened #1237 "Cant auto-input items in fusion reactor"
there is no way to auto-input cells into fusion reactor. MC 1.12, TechReborn-1.12-2.6.10.170-universal

[2017-08-15 16:56] thebody1403 opened #1238 "Crashes when Output/Input to side of Sawmill"
I'm using TechReborn-1.10.2-2.1.17.233, RebornCore-1.10.2-2.13.6.142 and Forge-12.18.3.2422.
The game has crashed when using Refined Storage Importer and Ender IO Item Conduits to the side of the Sawmill. The Sawmill does have the entire multi-block structure.
Crash Log when using Refined Storage Importer:
[2017-08-15-5.log.gz](https://github.com/TechReborn/TechReborn/files/1225745/2017-08-15-5.lo

[2017-08-15 17:11] thebody1403 commented on #1238
Just tested with input from top of the Sawmill with the Ender IO Item Conduit. Still crashed.

[2017-08-16 16:55] forfai opened #1239 "Digital Chest will copy items"
Digital Chest with a wrench to take down, there are things there, and the ground spray a lot of repeated items.

TechReborn-1.12.1-2.6.11.177-universal.jar,RebornCore-1.12-3.2.5.88-universal.jar,Forge-1.12-14.21.1.2443

[2017-08-17 15:26] unkidrik commented on #1221
I also have oil texture missing on the same pack. I have unlocked the packed and updated all mods but still have no texture. I have tried on multiple world types, this made no difference.

[2017-08-18 15:50] drcrazy commented on #1155
Slots 1&3 are used to store input ingredients. Fluid required for grinding and item being grinded.
Slot 2 used to store empty buckets\cells used from slot 1.
![image](https://user-images.githubusercontent.com/1382352/29466578-10e6ae06-8446-11e7-86aa-c1f3107669b2.png)

Fluid tank is not updated, confirmed.

[2017-08-21 14:18] craft90 opened #1240 "[MC 1.12] Strange energy glitch i.e. cables producing energy for free"
So I ran into a strange little bug which I highly doubt it intentional. I have a very basic set-up (Generator, Battery Box, cables, Extractor, Grinder, Powered Furnace and some Extra Utils 2 transfer pipes between Grinder & Furnace). However when I connected in a Tesla Machine (Latex processor) I noticed that it was gaining energy. Despise both the Battery box and the Generator being empty and no

[2017-08-23 13:49] craft90 commented on #1187
I concur with the others in this thread. I have only tested the fusion reactor in creative but it's really disappointing that it has to restart all the time. As it's now it consumes way more power than it generates. It makes the fusion reactor pretty useless, except for making materials I reckon.

[2017-08-23 13:59] craft90 opened #1243 "[1.12.1] Transformers not rotating"
The energy system is giving me a bit of a headache recently. Sure it doesn't seem like things burn up or go boom if they get more power than able to handle. However I do try to keep transformers up just in case. I have noticed some issues tho.

1. You can't rotate them. Which I don't know if it's intended or not.

2. Which sides do you connect too? I assume the big "hole" connects to the higher ti

[2017-08-23 21:06] craft90 opened #1244 "[MC 1.12.1] Diesel Generator not properly clearing NBT-data in cells"
Another little annoyance I ran into. If you put a cell into the Diesel Generator with fuel it clears it out seemingly properly. However the Industrial Electrolyser refuses to use those cells. Advanced tool tips showed that there's still a NBT-data tag in the used cells. Upon further research I saw that while the cells seems to have 0 NBT tags after use, once you place it in your inventory it gets

[2017-08-23 22:13] modmuss50 commented on #1170
Fixed ^

[2017-08-23 22:13] #1170 closed, assigned to nobody

[2017-08-24 00:10] #1225 closed, assigned to nobody

[2017-08-24 00:10] #1223 closed, assigned to nobody

[2017-08-24 00:10] #1190 closed, assigned to nobody

[2017-08-24 14:50] drcrazy commented on #1244
Can you test the following with newly created and used cells:
1) Use cell on water source to get water cell. Is it working for both new and used?
2) Use water cell on ground to get water out of the cell. Can you re-use emptied cell in Electrolyser?

Thank you in advance.

[2017-08-24 15:08] drcrazy commented on #1233
There is no Highly Advanced Machine block in IC2. This frame used for Matter Fabricator and Advanced Machine Casing.  Other recipes are fixed in MC 1.12.1

[2017-08-24 15:33] #1233 closed, assigned to nobody

[2017-08-24 15:43] meerple commented on #1233
I am using Tech Reborn 2.6.11.177 on MC 1.12.1. Is there a newer version? Because these issues are still happening. The Highly Advanced Machine Frame has no recipe. The Matter Fabricator recipe uses Advanced Machine Frames, whose recipe is messed up. The Advanced Machine Casing uses Advanced Machine Frames. And I had to put my script back in to craft an Industrial Blast Furnace yesterday.

![1](ht

[2017-08-24 16:46] drcrazy commented on #1233
TechReborn-1.12.1-2.6.12.181 should be available on curse soon. Issue fixed in builds >180 )

[2017-08-24 18:14] craft90 commented on #1244
1. Yes, both used and new can be used to get water cells by clicking water.
2. I'm unable to empty the cells by clicking on the ground, regardless if they're new or old. However, by using the Extractor I was able to empty an old cell filled with water. That one did work in the Electrolyser.

[2017-08-25 17:43] #1234 closed, assigned to nobody

[2017-08-25 17:43] #1055 closed, assigned to nobody

[2017-08-25 18:08] #1157 closed, assigned to nobody

[2017-08-25 19:57] #1216 closed, assigned to nobody

[2017-08-25 19:59] drcrazy commented on #1244
Thank you for testing. Both inability to drain cell and excessive NBT data is fixed in TR build >= 184

[2017-08-25 20:23] drcrazy commented on #842
It looks like it is fixed now

![image](https://user-images.githubusercontent.com/1382352/29731258-6e7bbbfa-89ec-11e7-8447-6d5262b10cf9.png)

[2017-08-25 20:54] #842 closed, assigned to nobody

[2017-08-25 21:08] drcrazy commented on #881
There is a wiki article on how to build multi-block for Implosion Compressor: https://wiki.techreborn.ovh/doku.php?id=blocks:implosion_compressor

Vacuum freezer works fine in 1.12.1 and it is not a multi-block

[2017-08-25 21:13] drcrazy commented on #1203
A lot of machines in 1.12.1 use plate instead of ingots.

[2017-08-25 21:13] #1203 closed, assigned to nobody

[2017-08-25 21:22] drcrazy commented on #1032
Fixed in 1.12.1

[2017-08-25 21:22] #1032 closed, assigned to modmuss50

[2017-08-25 21:23] drcrazy commented on #1028
Not reproducible in 1.12.1

![image](https://user-images.githubusercontent.com/1382352/29733224-d2387ec8-89f4-11e7-8ec0-fb37ce94d556.png)

[2017-08-25 21:23] #1028 closed, assigned to nobody

[2017-08-25 21:31] drcrazy commented on #1020
Not reproducible in 1.12.1

![image](https://user-images.githubusercontent.com/1382352/29733460-dc89275a-89f5-11e7-85db-cd11c3b4bfaa.png)

[2017-08-25 21:31] #1020 closed, assigned to nobody

[2017-08-25 21:35] drcrazy commented on #952
Heat generator removed, cells are fine in 1.12.1

[2017-08-25 21:35] #952 closed, assigned to nobody

[2017-08-25 21:40] drcrazy commented on #867
Diesel, Carbon Fiber and Nitrofuel are still actual

[2017-08-25 22:07] drcrazy commented on #1069
1 ingot  = 1 plate in 1.12.1

[2017-08-25 22:07] #1069 closed, assigned to nobody

[2017-08-25 22:58] #1205 closed, assigned to nobody

[2017-08-25 23:56] lynxx131 opened #1250 "[1.12.1] Industrial Centrifuge draining IC2 CESU"
I have noticed that the lava cell -> tin ingot recipe in the Industrial Centrifuge is listed as requiring 75,000 EU but when I connect the Centrifuge to an IC2 CESU which has 300,000 EU it is drained with only 3,335 EU left in the Centrifuge's internal buffer.

The amount of IC2 EU required to satisfy the stated 75,000 EU appears to be approximately 286.200 EU.

My setup was:

IC2 CESU -> IC2 LV t

[2017-08-26 06:27] Vectrobe commented on #1020
@drcrazy water is where the problem lies, did you test that?

[2017-08-26 13:38] TheLimePixel opened #1251 "[1.12] Missing Rolling Machine CT Support"
On all the 1.12 versions so far,the Rolling Machine has been missing CT support for adding recipes. Every time that I try to add a recipe I get the error : "no such static member in mods.techreborn.rollingMachine: addShaped". Even External Tweaker, which lists all possible CT functions with mod integration, doesn't list it.

[2017-08-26 14:25] drcrazy commented on #1020
tested with water also
![image](https://user-images.githubusercontent.com/1382352/29742214-96a23d56-8a83-11e7-8fdd-56691d22cfab.png)

[2017-08-26 14:26] drcrazy commented on #1020
The only Industrial Grinder specific issue in 1.12.1 as for now is that tank level is not updated properly

[2017-08-26 14:30] drcrazy commented on #1226
Fixed with #1231

[2017-08-26 14:30] #1226 closed, assigned to nobody

[2017-08-26 14:46] drcrazy commented on #1152
Not reproducible in 1.12.1. Workaround for 1.11.2 is to add IC2

![image](https://user-images.githubusercontent.com/1382352/29742359-7f4a9c86-8a86-11e7-8ad1-14d1671ddcf9.png)

[2017-08-26 14:46] #1152 closed, assigned to nobody

[2017-08-26 16:07] drcrazy commented on #1229
LESU was having 359996FE. Than it was connected to charge-o-mat with 400k FE internal storage. 359992FE was transfered from LESU to Charge-o-mat. So, not reproducible in TR 2.6.12.186 and RebornCore 3.2.6.92

There could be issue with energy transfer for long cables, not for LESU itself. Going to test long cables separately

![image](https://user-images.githubusercontent.com/1382352/29743001-90f21

[2017-08-26 16:07] #1229 closed, assigned to nobody

[2017-08-26 22:28] lynxx131 opened #1252 "[1.12.1] Machines not exploding when using IC2 EU"
I am currently running with IC2 dedupe enabled and I have noticed that the Industrial Blast Furnace and Industrial Electralyzer appear to be the only machines I can make explode by providing too much EU.

I have tried the following machines connected to an IC2 MFSU and none of them explode:

Industrial Centrifuge
Implosion Compressor
Vacuum Freezer
Industrial Grinder

They work as normal and when

[2017-08-27 21:38] #1155 closed, assigned to nobody

[2017-08-29 21:44] drcrazy commented on #1206
Grinder and extractor works fine. Lag with iron furnace confirmed.

[2017-08-29 21:45] drcrazy commented on #1204
How it is connected? I mean using IC2 cables or TR cables?

[2017-08-29 22:24] drcrazy commented on #1093
Not reproducible in 1.12.1
For 1.10.2 use Quantum Storage instead of this one.

[2017-08-29 22:24] #1093 closed, assigned to nobody

[2017-08-29 22:28] drcrazy commented on #1112
Duplicate for #1043

[2017-08-29 22:28] #1112 closed, assigned to nobody

[2017-08-29 22:31] drcrazy commented on #1013
Industrial chunkloader is work in progress. So it is not yet implemented

[2017-08-29 22:31] #1013 closed, assigned to Prospector

[2017-08-29 22:33] drcrazy commented on #956
Duplicate for #1043

[2017-08-29 22:33] #956 closed, assigned to nobody

[2017-08-30 20:25] #1043 closed, assigned to modmuss50

[2017-08-31 00:02] #1109 closed, assigned to drcrazy

[2017-08-31 00:03] drcrazy commented on #1109
@Skillotic0703 , thank you for reporting this

[2017-08-31 09:20] Skillotic0703 opened #1255 "[1.12] QuantumChest really weird display bugs"
TechReborn-1.12.1-2.6.13.195-universal
RebornCore-1.12.1-3.2.7.97-universal
The number of items in the quantum chest is correctly displayed in TOP. But the number of items displayed in the quantum chest GUI is weirdly displayed:
Between 0 and 191 it displays the correct number.
Between 192 and 320 it displays 64 Stored.
Between 321 and 447 it displays the correct number.
And I don't understand the

[2017-08-31 09:21] modmuss50 commented on #1255
I recommend you use the Quantum storage mod.

[2017-08-31 09:26] Skillotic0703 opened #1256 "[1.12] Coal Dust recipe displayed 2 times"
When looking the recipe for the coal dust in JEI, it displays 2 times the coal to coal dust recipe.

[2017-08-31 09:26] Skillotic0703 commented on #1255
It has other features that I don't want

[2017-08-31 09:28] Skillotic0703 commented on #1255
TechReborn has to have a functionnal quantum chest. It's not a problem if you can't fix this today, tomorrow, this week or even this year but I want to see that bug fixed. I want to see a complete version of TechReborn in the future!

[2017-08-31 09:40] Skillotic0703 opened #1257 "[1.12] Grinder's GUI not updated while not working"
When you use the Grinder and then stop using it, it keeps its "turned on" texture until it has no power.

[2017-08-31 10:06] #1256 closed, assigned to nobody

[2017-08-31 13:07] Skillotic0703 commented on #1257
I can't reproduce the bug...

[2017-08-31 13:13] Skillotic0703 commented on #1204
Even when using IC2 and not respecting tiers, they don't explode.

[2017-08-31 13:13] Skillotic0703 commented on #1204
But it's ok.

[2017-08-31 13:24] Skillotic0703 opened #1258 "[1.12] Red/Yellow garnet blocks don't have crafting recipes"
It's impossible to craft the Yellow and Red Garnet blocks!

[2017-08-31 13:42] Skillotic0703 opened #1259 "[1.12] Iridium reinforced blocks are not hard at all"
Iridium reinforced stone and Iridium reinforced tungstensteel blocks should be completely unvulnerable to nuke/nuclear reactor explosions, yet they are not even hard enough to resist to a simple TNT explosion!

[2017-08-31 14:35] Skillotic0703 opened #1260 "[1.12] Lithium batpack sends energy as packets of 100 EU"
Let's define some variables.
energyBuffer is the quantity of energy an item can hold
energyStore is the quantity of energy stored in the item.
If energyBuffer - energyStore is inferior to 100 EU, the amount of energy spent by the lithium batpack is 100 regardless of the amount of EU that is needed to fully charge the item.
So for example, a steel drill/chainsaw consumes 50 EU per use. If you take

[2017-09-01 13:20] #1219 closed, assigned to nobody

[2017-09-01 13:26] drcrazy commented on #1219
Lapotronic Energy Orb will have 400M FE
MFSU will have 40M FE
Drill, Chainsaw and Jackhammer will have 40k, 400k and 4M  FE for steel, diamond and advanced versions
Nano saber will have
Electric treetap will have 40k FE
Nano-saber will have 160k FE

[2017-09-01 14:35] #1105 closed, assigned to nobody

[2017-09-01 14:36] drcrazy commented on #1105
Fixed in 1.12.1. Sulfur cells are not produced by Industrial Centrifuge from glowstone or netherrack dusts.

[2017-09-01 14:39] drcrazy commented on #1144
Not reproducible in 1.12.1
Refined Iron ingot produced by smelting iron ingot in any kind of furnace. Dragon Egg Energy Siphon is WIP.

[2017-09-01 14:39] #1144 closed, assigned to nobody

[2017-09-01 15:02] #1257 closed, assigned to nobody

[2017-09-01 15:40] #1258 closed, assigned to nobody

[2017-09-01 22:30] #1259 closed, assigned to nobody

[2017-09-01 22:31] drcrazy commented on #1259
Blast resistance fixed. Hardness is same as previous.

[2017-09-02 10:14] Skillotic0703 commented on #1259
thank you!

[2017-09-02 10:36] ZigTheHedge commented on #1222
The same here. Reason: CT returns ItemStack.EMPTY instead of null when null is passed in Zenscript. Should be pretty easy to fix: https://github.com/TechReborn/TechReborn/blob/d5a31188013566ca6ecd577c3e09123d5b55e48b/src/main/java/techreborn/api/recipe/machines/IndustrialGrinderRecipe.java#L42-L49

[2017-09-02 20:23] drcrazy commented on #1222
Can you use air?

[2017-09-02 21:30] modmuss50 commented on #1222
those if checks need to make sure the stack isnt empty. But should still do a null check.

[2017-09-03 08:25] ZigTheHedge commented on #1222
@drcrazy, nope, we get "Output stack should not be empty" when using minecraft:air.

[2017-09-03 08:35] ZigTheHedge commented on #1222
@modmuss50 indeed. Should be something like:
[code]

[2017-09-03 09:27] modmuss50 commented on #1222
`if(output1 != null && !output1.isItemEqual(ItemStack.EMPTY))` is what needs to be done. If I get a chance it will only take 10 mins to fix.

[2017-09-03 09:28] modmuss50 commented on #1222
Could even put those checks in the addOutput method.

[2017-09-03 10:47] TheLimePixel opened #1261 "[1.12] Diamonds missing from Grinder recipe"
Well the title says it all. As I know, before the last update the Grinder had diamonds in its recipe. Is this intentional or a bug?
![image](https://user-images.githubusercontent.com/25333164/30002291-0374d60a-90a6-11e7-8bb6-443262360c5a.png)

[2017-09-03 11:36] VermillionX opened #1262 "[1.12] Change plateIridium"
Should be fairly obvious, but both TechReborn and IC2 use "plateIridium" for their iridium (alloy) plates.
Needless to say, other more popular mods also have iridium plates (the pure iridium kind) and it's causing dupes in every modpack that uses ThermalExpansion, PlusTiC and ImmersiveEngineering (which is most modpacks these days), where IE's metal press can turn ingotIridium into plateIridium; T

[2017-09-03 12:05] ZigTheHedge commented on #1222
I'm not a java guy, and have no idea - whether it is smart enough not to check second condition, if first one is already false, otherwise it is quite possible to get NPE ;) But you're the boss ;)

[2017-09-03 16:18] carif opened #1263 "[1.11.2] Internal Server Error"
Whenever someone throws a Dreadium Katana Sword from AbyssalCraft (**edit: also happens with other items etc. from other mods and Vanilla Items (like vanilla seeds to name an example)**) to the ground, he gets kicked from the Server with the following message:
https://pastebin.com/T9X7Yk6J

It should be noted that the log indicates that the problem is caused by the following line
in [TechReborn](h

[2017-09-03 18:23] drcrazy commented on #1261
Yes, Recipe for grinder made same as for ic2 macerator. They are same machines thus it will not worth to made grinder with diamonds if you can make macerator with gravel )

[2017-09-03 18:23] #1261 closed, assigned to nobody

[2017-09-03 21:13] #1097 closed, assigned to drcrazy

[2017-09-03 21:15] drcrazy commented on #1211
Recipes are updated

[2017-09-03 21:15] #1211 closed, assigned to nobody

[2017-09-03 21:15] Geird opened #1264 "Machine duplication"
Not sure about other machines, but if a recycler is placed down, then clicked with another recycler in hand, a third recycler will be gained. this can be repeated by picking the recycler up putting it back down allowing for infinite recyclers.

[2017-09-03 21:15] drcrazy commented on #1207
PLease, report individual issues

[2017-09-03 21:15] #1207 closed, assigned to nobody

[2017-09-04 07:44] drcrazy commented on #1097
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:45] drcrazy commented on #1259
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:45] drcrazy commented on #1258
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:45] drcrazy commented on #1105
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:46] drcrazy commented on #1219
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:46] drcrazy commented on #1256
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:46] drcrazy commented on #1109
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-04 07:47] drcrazy commented on #1043
Fix available on curse starting from TechReborn-1.12.1-2.7.0.205

[2017-09-05 12:26] drcrazy commented on #867
Carbon fiber cell could be made in Industrial Electrolyzer from Ash
Nitrofuel cell could be made in Chemical reactor from oil and nitrogen
Diesel recipe added to Industrial Centrifuge as a temporary workaround until Distiallation tower will be implemented

[2017-09-05 12:32] #867 closed, assigned to drcrazy

[2017-09-05 13:00] drcrazy commented on #1119
Rolling machines recipes are visible in JEI
![image](https://user-images.githubusercontent.com/1382352/30062280-4d560efc-9253-11e7-8efe-bff4a261f956.png)

[2017-09-05 13:00] #1119 closed, assigned to nobody

[2017-09-05 14:11] drcrazy commented on #1082
Not reproducible in 1.12.1

[2017-09-05 14:11] #1082 closed, assigned to nobody

[2017-09-05 15:02] #1222 closed, assigned to nobody

[2017-09-05 15:07] drcrazy commented on #1222
Guys, can you test CT support for Industrial Grinder, please?
Pick jenkins build here: https://jenkins.modmuss50.me/job/Team%20Reborn/job/TechReborn/job/1.12/208/artifact/build/libs/TechReborn-1.12.1-2.7.0.208-universal.jar

[2017-09-05 15:36] ZigTheHedge commented on #1222
We've got crush here:
https://gist.github.com/ZigTheHedge/851a742253e809e974cb0a96be87a3dd

[2017-09-05 15:52] drcrazy commented on #1222
Have you updated reborn core? You can pick latest from curse

[2017-09-05 20:40] #1210 closed, assigned to nobody

[2017-09-05 20:44] drcrazy commented on #1138
Duplicate for #1255

[2017-09-05 20:44] #1138 closed, assigned to nobody

[2017-09-05 21:38] drcrazy commented on #1222
CraftTweaker2-1.12-4.0.4
RebornCore-1.12.1-3.3.0.99-universal
TechReborn-1.12.1-2.7.0.209-universal

CT script:
mods.techreborn.grinder.addRecipe(<minecraft:diamond>, null, null, null, <minecraft:dirt>, null, <liquid:water>, 200, 20);

Results:
![image](https://user-images.githubusercontent.com/1382352/30084581-a328bdb4-929b-11e7-913e-6f0539a7872f.png)

[2017-09-05 23:38] #1073 closed, assigned to drcrazy

[2017-09-05 23:38] #1262 closed, assigned to nobody

[2017-09-06 07:29] drcrazy commented on #1204
Duplicate for #1252

[2017-09-06 07:29] #1204 closed, assigned to nobody

[2017-09-06 12:25] modmuss50 commented on #1140
I think this has been fixed on 1.12. Please re-open if it happens on 1.12

[2017-09-06 12:25] #1140 closed, assigned to modmuss50

[2017-09-06 12:46] #988 closed, assigned to nobody

[2017-09-06 12:46] #1264 closed, assigned to modmuss50

[2017-09-06 15:47] drcrazy commented on #1263
Not reproduced

![image](https://user-images.githubusercontent.com/1382352/30121244-d5c246f8-9333-11e7-8648-b4a79ec94424.png)

[2017-09-06 15:47] #1263 closed, assigned to drcrazy

[2017-09-06 19:34] drcrazy commented on #1018
Duplicate for #1251

[2017-09-06 19:34] #1018 closed, assigned to nobody

[2017-09-06 19:52] drcrazy commented on #983
Cannot reproduce.

I've set the following in config:
  "generateTechRebornFeatures": true,
  "generateOres": false,
  "retroGenOres": false,

And created a new world.
![image](https://user-images.githubusercontent.com/1382352/30131583-ffb9ec64-9355-11e7-8a39-479e46c0ab9b.png)

[2017-09-06 19:52] #983 closed, assigned to nobody

[2017-09-06 19:59] drcrazy commented on #1014
Can't reproduce

![image](https://user-images.githubusercontent.com/1382352/30131849-f5868dc8-9356-11e7-9adf-925fd1d03f25.png)

[2017-09-06 19:59] #1014 closed, assigned to nobody

[2017-09-07 00:08] 0Navis0 commented on #1014
Simply because it has already been solved since a long time.

[2017-09-07 12:57] TheLimePixel opened #1266 "[1.12] Wrenches don't work"
On the latest version of Reborn Core, Wrenches don't work on machines. I'm reporting it here, as the Wrench is from TR.

[2017-09-07 15:29] #865 closed, assigned to drcrazy

[2017-09-07 15:31] #1176 closed, assigned to nobody

[2017-09-07 16:23] craft90 commented on #1244
It seems to still be an issue in the new build (2.6.12.181). Cell in diesel generator has the tool-tip NBT-tags: 0 but as soon as you place it in your inventory it gains 1 NBT tag and then it won't work until filled with water and emptied via Extractor.

[2017-09-07 16:31] craft90 commented on #1243
Another little glitch... so I have both medium producers/users and low producers/users. I have connected them to the same system with transformers separating low tiers from medium tier. However, the power isn't going through the LV-transformer. So the Battery box runs out of power but no power is input. So I removed the transformer and have cables, gold cables, connecting directly to the low tier

[2017-09-07 17:57] craft90 opened #1267 "[MC 1.12x] Gas turbine suffering from extra NBT data in cells aswell"
So yeah, I reported an issue with the Diesel Generator where used cells retained a NBT data tag which kept them from being used in the Industrial Electrolyser. Apparently the Gas Turbine suffers from the same issue where a used cell has a NBT data which stops it from being used unless filled and emptied. With Actually Additions advanced tool tips I managed to get some extra info. Apparently the NB

[2017-09-07 18:08] craft90 commented on #1267
Thermal Generator has the same issue with fuel via cells. While testing that, I noticed that the Thermal Generator doe not keep view data. So while the One Probe said their internal tanks were full the GUI showed 0 fluid and 0 energy. Until I attempted to put the cell in. Then it freaked out.

[2017-09-07 18:09] drcrazy commented on #1267
Duplicate for #1244. Reason is same. I will take a look later today.

[2017-09-07 18:09] #1267 closed, assigned to drcrazy

[2017-09-07 18:22] craft90 commented on #1267
I guess so. I thought that I should open another one for the Gas Turbine. Sorry for making another issue report... I didn't know. I also tried in a world with just Tech Reborn, Actually Additions and The One Probe. The issue remained. So it shouldn't be some other mod making a mess.
Also, I was wrong. The empty bad fluid cells actually do stack. At least in a fresh world.
Oh btw, strangely enough

[2017-09-07 18:38] craft90 commented on #1244
My sincerest apologies! I just checked the new releases. I was sure I had updated it but I was two versions behind. This issue is fixed in 2.7.0.205 Once again, I'm sorry for making such a stupid mistake.

Also, I'd like the new GUI. Much cleaner and user friendly than the old one. :)

[2017-09-07 18:38] #1244 closed, assigned to drcrazy

[2017-09-07 21:56] drcrazy commented on #1267
yeah, NBT-containing empty cells stack with NBT-containing empty cell and do no stack with empty cells w\out NBT. All 4 fluid generators and, probably, industrial grinder affected. Easiest way to fix cells is to click on water to get water cell and then empty it by clicking anywhere in the world

[2017-09-07 22:02] drcrazy commented on #1244
No prob. Github definitely miss 'Fix version' field )

[2017-09-07 22:02] craft90 commented on #1267
It seems to be fixed in the latest version, at least for the generators (I've not tested the Industrial Grinder or the Semi-fluid generator tho)

[2017-09-07 22:06] craft90 commented on #1260
Huh in my experience the drill takes 200 FE per operation. But that's probably a unit mismatch as I do not use IndustrialCraft2.

[2017-09-07 23:42] drcrazy commented on #1266
Looks like this is already fixed in latest dev builds. I can confirm that issue reproducible in latest version from curse:
RebornCore-1.12.1-3.3.0.99-universal
TechReborn-1.12.1-2.7.0.205-universal

Please, wait till dev build will be released to curse.

![image](https://user-images.githubusercontent.com/1382352/30189818-0e2ef228-943f-11e7-9709-192bc776bbe8.png)

[2017-09-07 23:42] #1266 closed, assigned to modmuss50

[2017-09-08 07:36] modmuss50 commented on #1266
Yep, I broke it, and then I fixed it a few days later.

[2017-09-08 09:09] drcrazy commented on #967
Duplicate for #1103

[2017-09-08 09:09] #967 closed, assigned to nobody

[2017-09-08 15:37] ProsperCraft commented on #967
For the record I was the original not the duplicate :)

[2017-09-08 15:40] drcrazy commented on #967
#1103 is more generic. I believe nobody will wait till users will report each and every machine )

[2017-09-08 20:10] modmuss50 commented on #1012
Fixed

[2017-09-08 20:10] #1012 closed, assigned to nobody

[2017-09-08 22:47] drcrazy commented on #1215
Not reproducible on latest TR.
script mods.techreborn.rollingMachine.removeRecipe(<minecraft:iron_bars>); removes iron bars,

![image](https://user-images.githubusercontent.com/1382352/30233829-c7dbff10-9500-11e7-8fba-a3c6ef008b54.png)

[2017-09-08 22:47] #1215 closed, assigned to drcrazy

[2017-09-09 22:20] drcrazy commented on #881
Fixed by @alexpic57 with #1269

[2017-09-09 22:20] #881 closed, assigned to nobody

[2017-09-09 22:25] drcrazy commented on #928
Not reproducible

[2017-09-09 22:25] #928 closed, assigned to nobody

[2017-09-11 08:49] drcrazy commented on #1250
Test #1: Pre-req: Centrifuge disconnected and full of energy 10k EU. Magma cream recipe consume 2.5k EU as per recipe. Works as intended.
Test #2: Pre-req: Centrifuge has 7.5k out of 10k EU and is not crafting. Connect via copper cable to transformer to get energy from CESU. Centrifuge drain ~2.5k EU from CESU. Works as intended.

Test #3: Connect centrifuge to CESU via transformer and cable and s

[2017-09-11 14:45] drcrazy commented on #1191
Any specific machine? Most of them are showing energy usage in JEI.

[2017-09-11 19:00] TheLimePixel opened #1270 "[1.12] Loading Crash"
The latest version (2.7.1.224) crashes while loading the game:
https://pastebin.com/LVpvAPV2

[2017-09-11 19:01] modmuss50 commented on #1270
Nice spot, forgot to push RebornCore update. Doing that now.

[2017-09-11 19:28] modmuss50 commented on #1270
Update reborn core from here: https://minecraft.curseforge.com/projects/reborncore/files/2478873

[2017-09-11 19:28] #1270 closed, assigned to modmuss50

[2017-09-11 20:04] TheLimePixel opened #1271 "Broken Localization of Iridium alloy plate"
The new Iridium Alloy Plates have broken localization:
![image](https://user-images.githubusercontent.com/25333164/30294380-31a4a0bc-973d-11e7-91f2-642a2c2fb65b.png)

[2017-09-11 20:14] drcrazy commented on #1271
Yeah, typo in translation file

[2017-09-11 20:16] #1271 closed, assigned to drcrazy

[2017-09-12 02:10] tgstyle opened #1272 "[1.12.1] GUI issue Inustrial Electrolyzer"
Upgrades missing the background ?

![2017-09-11_19 56 55](https://user-images.githubusercontent.com/5832709/30304921-3d7715ce-972d-11e7-8675-a7bdf311d528.png)

[2017-09-12 02:14] tgstyle opened #1273 "[1.12.1] RF/FE is not flowing in to machines properly"
TR - 2.7.1.224
RC - 3.4.0.104

You can see a fluxduct below the machine here. Power flow is restricted even though it can receive up to 25000 RF. Transformer upgrade makes no difference. Removing the overclockers makes no difference.

![2017-09-11_19 58 31](https://user-images.githubusercontent.com/5832709/30305005-c45e085e-972d-11e7-996d-b24fd1442fd6.png)
![2017-09-11_19 58 55](https://user-image

[2017-09-12 07:06] codewarrior0 commented on #1191
That's the catch. Lots of machines have EU usage assigned to the individual recipes so you can't simply say "This machine uses 10 EU/t". But some machines, such as the generator or electric furnace, *do* have a constant EU usage or output.

Currently, the tooltips just tell you the maximum transfer rate into or out of the machine. When possible, they should also tell you the machine's constant EU

[2017-09-12 08:26] codewarrior0 commented on #1250
Bug is in how TilePowerAcceptor implements the IC2 IEnergySink interface. `injectEnergy()` should return the remainder of EU not accepted by the machine, but always returns zero, deleting the excess energy via `setEnergy`.

However, the IC2 API docs recommend accepting all energy offered by `injectEnergy()` and overcharging the machine's energy buffer (such that later calls to `getDemandedEnergy()

[2017-09-12 09:17] drcrazy commented on #1250
I haven't dig deeper yet, but injectEnergy called 3 or 4 times per tick. First call was with missing energy, e.g. 5 EU and subsequent calls were done to inject energy into already full machine. Maybe blockstate update registers additional sinks for that tile, need to check.

[2017-09-12 09:45] codewarrior0 commented on #1250
If the transformer is in Step-Down mode (the default), I'd expect it to output up to 4 amps per tick, which would explain four injectEnergy calls.

[2017-09-12 13:27] drcrazy commented on #1191
For machines (not generators) JEI usually says how much it will use per recipe. If there is a machine without energy usage shown in JEI - please, name it here

[2017-09-12 14:01] codewarrior0 commented on #1191
All of them.

[2017-09-12 14:07] drcrazy commented on #1191
It is not so.

For example, Alloy Furnace energy usage shown in JEI:
![image](https://user-images.githubusercontent.com/1382352/30330125-dcc11c7e-97dc-11e7-9803-6772fc1bc0c6.png)

[2017-09-12 14:09] codewarrior0 commented on #1191
I thought this is what we're talking about.

![image](https://user-images.githubusercontent.com/307683/30330228-30aaea3a-9770-11e7-9c53-255e8598aab9.png)

[2017-09-12 14:33] modmuss50 commented on #1191
We could display the average or something. ¯\_(ツ)_/¯

[2017-09-12 14:37] drcrazy commented on #1191
What do you mean 'average' ? Across all recipes?

[2017-09-12 18:27] mtdudek opened #1274 "[1.12.1] Electric Furnace upgrade slots"
Hello,
is it intended that electric furnace has no upgrade slots, or is it a bug?
Thank you for response

[2017-09-13 00:40] #1272 closed, assigned to drcrazy

[2017-09-13 10:38] drcrazy commented on #1274
Hi ospis12,
furnace needs additional efforts to use these upgrades. Thus it is not implemented yet.

[2017-09-13 15:39] Smartaros opened #1275 "[1.12.1] Crush with Failed to get ore name:gemTitanium"
Forge 1.12.1-14.22.1.2478

`net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Tech Reborn (techreborn)
Caused by: java.lang.RuntimeException: Failed to get ore name:gemTitanium
	at reborncore.common.util.OreUtil.getStackFromName(OreUtil.java:56)
	at techreborn.init.ModRecipes.addCompressorRecipes(ModRecipes.java:146)
	at techreborn.init.ModRecipes.init(ModRecipes.java:88

[2017-09-13 15:49] drcrazy commented on #1275
Hi @Smartaros, what mod adds gemTitanium in your pack?

[2017-09-13 17:33] Smartaros commented on #1275
The reason is infinitic, but it does not add gemTitanium, it adds material from titanium for tinkersconstruct

[2017-09-13 20:19] drcrazy commented on #1275
What is in your json config?

[2017-09-14 15:08] drcrazy commented on #1100
Fixed in RebornCore version RebornCore-1.12.1-3.4.0.107.jar
Minor issue like loss of 1-2 EU due to rounding from double to int will persist

[2017-09-14 15:08] #1100 closed, assigned to drcrazy

[2017-09-14 18:31] Catonyx commented on #1273
I think it's being throttled by the leadstone energy conduits, rather than the machine

[2017-09-14 18:34] benstreb commented on #1240
I found that the diesel generator just kept producing energy, even after it ran out of oil. I suspect this is the same underlying issue,

[2017-09-14 19:46] drcrazy commented on #1240
@benstreb, do you also has tesla?

[2017-09-14 20:27] tgstyle commented on #1273
That is not a Leadstone, that is a Resonant.

[2017-09-14 22:54] #1273 closed, assigned to drcrazy

[2017-09-14 22:54] drcrazy commented on #1133
Not reproducible in 1.12

[2017-09-14 22:54] #1133 closed, assigned to nobody

[2017-09-15 19:38] Smartaros commented on #1275
`{
	"name": "Titanium",
	"textColor": "#FFE2F9FF",
	"whitelist": {
		"oredict": [],
		"ingots": ["techreborn:ingot:14"],
		"nuggets": [],
		"dusts": [],
		"gems": [],
		"blocks": ["techreborn:storage:2"],
		"ores": []
	},
	"blacklist": {
		"oredict": ["gemTitanium"],
		"ores": []
	},
	"fluidData": {
		"color": "#FFE2F9FF",
		"density": 2000,
		"viscosity": 10000,
		"temperature": 800,
		"luminosit

[2017-09-15 20:29] Smartaros commented on #1275
"name": "Titanium",
	"textColor": "#FFE2F9FF",
	"whitelist": {
		"oredict": [],
		"ingots": ["techreborn:ingot:14"],
		"nuggets": [],
		"dusts": [],
		"gems": [],
		"blocks": ["techreborn:storage:2"],
		"ores": []
	},
	"blacklist": {
		"oredict": [],
		"ores": []
	},
	"fluidData": {
		"color": "#FFE2F9FF",
		"density": 2000,
		"viscosity": 10000,
		"temperature": 800,
		"luminosity": 10,
		"rarity

[2017-09-15 20:30] Smartaros commented on #1275
"name": "Titanium",
	"textColor": "#FFE2F9FF",
	"whitelist": {
		"oredict": [],
		"ingots": ["techreborn:ingot:14"],
		"nuggets": [],
		"dusts": [],
		"gems": [],
		"blocks": ["techreborn:storage:2"],
		"ores": []
	},
	"blacklist": {
		"oredict": [],
		"ores": []
	},
	"fluidData": {
		"color": "#FFE2F9FF",
		"density": 2000,
		"viscosity": 10000,
		"temperature": 800,
		"luminosity": 10,
		"rarity

[2017-09-15 20:54] drcrazy commented on #1275
is it still crashing with gem removed from blacklist?

[2017-09-15 21:13] drcrazy commented on #1173
Do you have IC2?

[2017-09-15 21:14] drcrazy commented on #1125
Not reproducible in 1.12

[2017-09-15 21:14] #1125 closed, assigned to nobody

[2017-09-16 09:58] Smartaros commented on #1275
"blacklist": {
		"oredict": ["gem"],
		"ores": []
	}

...same crush

[2017-09-16 11:44] drcrazy commented on #1275
can you not mention gem at all?

[2017-09-17 22:25] #1240 closed, assigned to nobody

[2017-09-17 22:26] drcrazy commented on #1230
@Paul17041993  can you recheck plz? And if it is possible can you describe how you checking this, please?

[2017-09-17 22:58] Vectrobe commented on #1230
- connecting an RF source, such as an energy cell or fluxduct, to a TR machine would result in 4FE per 1 RF, but when  the flow is reversed the conversion is extremely lossy...
- TR cables would transport FE in weird ways...

haven't tested the latest builds as of yet...

[2017-09-17 23:37] drcrazy commented on #1230
I've set energy cell. Filled it in and connected electrolyzer via fluxducts. Upon connection it drained more than expected but i'm not sure about reason for that because fluxducts energy jumped from 5k RF to 10k RF. Then I replenished cell to 2M RF once again. And used electrolyzer once to produce electrolyzed water cell. According to recipe it should take 4k RF. And it took 4k RF from cell.

![im

[2017-09-17 23:37] #1230 closed, assigned to nobody

[2017-09-18 21:00] drcrazy commented on #1195
Not reproducible in 1.12.1

[2017-09-18 21:00] #1195 closed, assigned to nobody

[2017-09-18 21:05] drcrazy commented on #971
Not reproducible in 1.12

[2017-09-18 21:05] #971 closed, assigned to nobody

[2017-09-19 12:11] #1255 closed, assigned to drcrazy

[2017-09-19 13:14] Dourmouki opened #1276 "[1.12.1] Hologram view does not work"
In a few machines i tryed..its the first time i use this mod so i would appriciate to be fixed
i am using this TechReborn-1.12.1-2.7.2.233-universal for MC 1.12.1

[2017-09-19 13:25] drcrazy commented on #1276
Not reproducible. Some multiblock machines expected to be on top of multiblock. Thus if you place them on ground multiblock hologram will be below them. You can check how to build multiblock on wiki: https://wiki.techreborn.ovh/doku.php?id=blocks

![image](https://user-images.githubusercontent.com/1382352/30594497-ef88ffc8-9d56-11e7-9475-d340e44c6801.png)

[2017-09-19 13:25] #1276 closed, assigned to drcrazy

[2017-09-19 23:26] #1239 closed, assigned to drcrazy

[2017-09-19 23:30] drcrazy commented on #1213
Not reproducible in 1.12

[2017-09-19 23:30] #1213 closed, assigned to nobody

[2017-09-22 01:03] #1026 closed, assigned to drcrazy

[2017-09-26 21:21] drcrazy commented on #1095
Not reproducible in 1.12

![image](https://user-images.githubusercontent.com/1382352/30884849-c9f3c964-a319-11e7-8912-b51d8b1e8371.png)

[2017-09-26 21:21] #1095 closed, assigned to nobody

[2017-09-26 21:30] drcrazy commented on #1238
Not reproducible in 1.12

I've checked with xnet transferring wood from chest to side of Sawmill.
![image](https://user-images.githubusercontent.com/1382352/30885232-19f716ae-a31b-11e7-9dbe-79dc8f518836.png)

[2017-09-26 21:30] #1238 closed, assigned to nobody

[2017-09-26 21:32] drcrazy commented on #1103
Not reproducible in 1.12

I've checked with xnet and sawmill. Xnet connector was attached to side. Wood from chest successfully went to sawmill. There might be an issue with some machines. Please, name them explicitly.

![image](https://user-images.githubusercontent.com/1382352/30885312-62cc2c70-a31b-11e7-9574-241f92531361.png)

[2017-09-26 21:32] #1103 closed, assigned to nobody

[2017-09-26 21:46] drcrazy commented on #1243
Transformers will output from multi-hole side.

Direct connection works for same tier machines:
![image](https://user-images.githubusercontent.com/1382352/30885560-662e8768-a31c-11e7-99fb-d5a031d83fa0.png)

As for rotation - confirmed

[2017-09-26 21:49] drcrazy commented on #1099
Not reproducible in 1.12. At least as per tooltip )

![image](https://user-images.githubusercontent.com/1382352/30885899-b9736ea6-a31d-11e7-897c-b4712e71c53f.png)

[2017-09-26 21:49] #1099 closed, assigned to nobody

[2017-09-27 12:01] modmuss50 commented on #1029
Links are dead. Closing. Reopen if you can make this happen in 1.12. Thanks

[2017-09-27 12:01] #1029 closed, assigned to modmuss50

[2017-09-27 12:40] modmuss50 commented on #1250
Ok, ive had a go at fixing it. If you could let me know if its any better: https://github.com/TechReborn/RebornCore/commit/37493d7e21aeffcc59841599d68d36734e04eb49

Jenkins build: https://jenkins.modmuss50.me/job/Team%20Reborn/job/RebornCore/job/1.12/

[2017-09-27 12:45] #1251 closed, assigned to modmuss50

[2017-09-27 23:03] #1172 closed, assigned to drcrazy

[2017-09-27 23:08] drcrazy commented on #1243
Fixed by 40e470629d08cfce7237d8be6a517b1871327a39

[2017-09-27 23:08] #1243 closed, assigned to drcrazy

[2017-09-27 23:18] erwin1234777 opened #1277 "[1.12.1] Crash, Failed to get ore name:ingotDiamond"
Welp, havent had that issue before, however i think ModernMetals is the culprid. saw the same with titanium on another issue, figured i should post too to let you know that diamond is also causing a crash, not only titanium. https://pastebin.com/8jMz64Pk

[2017-09-28 08:56] llloyd4 opened #1278 "Machine Casing and Machine Block share recipes."
Ok, so, on 1.10.2, the IC2 Machine Casing uses 8 iron plates, and all iron plates are ore dictionaried together, says in the tool tip "accepts any plateIron", when I go to craft it I get a Machine Block from Tech Reborn instead and the recipe (Compressor from IC2) won't accept the Machine Block in place of a Machine Casing.

Then again this is a bit weird, I am trying to make a Rolling Machine fro

[2017-09-28 09:35] drcrazy commented on #1277
Hi @erwin1234777,

What mod adds DIamond ingot? Do you also have infinitic?

BR,
drcrazy

[2017-09-28 19:18] Zafaranec opened #1279 "Diesel generator generating small amount of energy"
Hi, I don't know is only bug or feature, but Diesel generator have wrong amount of energy for fuels.
Oil in semifluid generator generate(or in JEI I see) 64K EU but in Diesel generator have only 16K EU.
Nitrodiesel in old table on ftb wiki have 400K EU but in game have only 36K EU.
for unknown reason is for oil better generator semifluid than diesel but should be same.

sorry for my bad English bu

[2017-09-28 20:02] drcrazy commented on #1250
Nope. Magma cream recipe still drains x4 energy

[2017-09-28 20:02] modmuss50 commented on #1250
@drcrazy can you give me a screenshot of your setup?

[2017-09-28 20:03] drcrazy commented on #1250
![image](https://user-images.githubusercontent.com/1382352/30987906-42119bb4-a4a1-11e7-8d55-f4e2687e2f6b.png)

[2017-09-28 20:04] drcrazy commented on #1250
CESU->Trans->cable (missing on screen)-> Centrifuge

Same issue with all recipes I believe. And x4 drain occurs only during craft in the cable-connected machine

[2017-09-28 20:05] drcrazy commented on #1250
Disconnected centrifuge. And exactly 2500 EU used to process 1 magma cream
![image](https://user-images.githubusercontent.com/1382352/30988019-93f4ee40-a4a1-11e7-8287-d726d44e3fd2.png)

[2017-09-28 20:07] drcrazy commented on #1250
Connected it back to fill in internal buffer. Drain from CESU a little bit more that 2.5k due to lossess in cables

![image](https://user-images.githubusercontent.com/1382352/30988058-bc37853e-a4a1-11e7-8379-dce1022b93a3.png)

[2017-09-28 20:08] drcrazy commented on #1250
Connected centrifuge processed 1 magma cream. A little bit more that 10k of EU drained from CESU

![image](https://user-images.githubusercontent.com/1382352/30988114-f5eb8942-a4a1-11e7-8f24-a25b0dd4d725.png)

[2017-09-28 22:06] 0Navis0 opened #1280 "broken techreborn oil texture"
I suspect an incompability with Optifine. I use Minecraft 1.12.2 and TechReborn 2.7.4.243.
![2017-09-29_00 03 46](https://user-images.githubusercontent.com/17103411/30992417-14c72652-a4aa-11e7-95e7-7207ba91e3b8.png)

[2017-09-28 22:07] modmuss50 commented on #1280
Can you ensure all your mods are fully update including forge? This was an issue a while back, that was fixed when some other mod updated.

[2017-09-29 00:31] erwin1234777 commented on #1277
Infinitic? I dont that mod. If you're talking about PlusTic i do have it. And i have no clue on what adds diamond ingot.

[2017-09-29 06:03] Skillotic0703 commented on #1279
Let me check the amounts generated in Gregtech 2 and I will tell you soon what's the problem here !

[2017-09-29 11:38] Zafaranec opened #1281 "Industrial blast furnace 1.12"
Hi, I have problem with industrial blast furnace, on wiki I read, must have constant energy 128EU/t and for this is recommended have dedicated MFE, I have this setup connected with gold cable but not working, energy is drained from internal storage and slowly recharging for use. I don't know, where is problem.

[2017-09-29 19:47] Skillotic0703 opened #1282 "[1.12.2] IDSU not outputting power"
Minecraft 1.12.2 (latest)
TechReborn 1.12.2-2.7.5.254 (latest released on curseforge)
RebornCore 1.12.2-3.4.4.120 (latest released on curseforge)
It doesn't matter what power accepting block I put adjacent to the power output of the IDSU (I tried with matter fabricator and MFSU) even if I put put cables between blocks.

[2017-09-29 21:45] #1282 closed, assigned to drcrazy

[2017-09-29 22:29] drcrazy commented on #1281
You can use workaround until fix will be on curse - place two cables between MFE and Industrial Blast Furnace.

[2017-09-29 22:29] #1281 closed, assigned to drcrazy

[2017-09-29 23:15] Zafaranec commented on #1281
oh Ok, how, when MFE have only one output? I add second MFE, that looks like it's working, but fix would be nice :) , and what is problem, packet transfering or machine work on different energy level?

[2017-09-29 23:30] drcrazy commented on #1281
MFE->Cable->Cable->Blast Furnace
Issue is that single cable tries to put energy both back to MFE and to Blast furnace in equal shares. Put to MFE fails, thus no energy loss. But blast furnace is getting only half energy per tick, e.g. 64eu\t. If you have two cables than cable connected to Blast Furnace will try to give energy only to Blast furnace and not to other cable. Thus blast furnace will ge

[2017-09-29 23:41] Zafaranec commented on #1281
oh nice, this working, thanks, but have one additional question, all changes apply with tiny delay, this look like cables have some internal buffer, that is correct?

[2017-09-30 00:03] #1279 closed, assigned to drcrazy

[2017-09-30 00:04] drcrazy commented on #1281
yes, cable do have internal buffer

[2017-09-30 00:07] Zafaranec commented on #1281
thank for all.

[2017-09-30 00:12] Zafaranec commented on #1279
awesome, thanks for your hard work on this awesome project.

[2017-09-30 00:23] drcrazy commented on #1279
Rádo se stalo!

[2017-09-30 00:31] drcrazy commented on #1047
Electric furnace doesn't have upgrades anymore )

[2017-09-30 00:31] #1047 closed, assigned to nobody

[2017-09-30 09:27] Zafaranec commented on #1279
huh, czech language?

[2017-09-30 21:07] iWasntHere opened #1283 "Industrial Blast Furnace can't maintain charge"
The Industrial Blast Furnace can't seem to keep a charge when powered.
The tooltip states that it takes in 512 FE per tick, but the actual power use seems to be way higher than that, making the machine quickly drop to 0% charge, and only continuing when the charge reaches around 1k.
Maybe I'm doing something wrong, but this doesn't seem to be intended behavior. All of the other machine's I've used

[2017-09-30 22:28] drcrazy commented on #1283
Duplicate for #1281

[2017-09-30 22:28] #1283 closed, assigned to drcrazy

[2017-10-01 06:54] Zafaranec commented on #1279
jak jsi to věděl?

[2017-10-01 12:08] drcrazy commented on #1279
By your nickname. It's a Czech surname as far as I understood

[2017-10-01 12:21] Zafaranec commented on #1279
oh Ok :D

[2017-10-01 20:12] drcrazy commented on #1278
Due to very-very limited support for 1.10.2 I suspect there will be no code changes. If you will turn off IC2 deduplicates you will be able to craft IC2 casing

[2017-10-01 20:12] #1278 closed, assigned to drcrazy

[2017-10-02 15:38] #1187 closed, assigned to nobody

[2017-10-02 15:39] drcrazy commented on #1187
It shouldn't reset now. I\o issues duplicated in #1237

[2017-10-02 15:44] drcrazy commented on #1090
FE based on ForgeEnergy. Thus FE is compatible with all RF-based mods.
There are issues with EU power net. So maybe in some future there will be power converters. But not in nearest one. Too much work as for now.

[2017-10-02 15:44] #1090 closed, assigned to nobody

[2017-10-02 18:08] #1237 closed, assigned to drcrazy

[2017-10-03 10:12] #1275 closed, assigned to drcrazy

[2017-10-03 10:13] #1277 closed, assigned to drcrazy

[2017-10-03 10:16] drcrazy commented on #1280
Duplicate for #1221

[2017-10-03 10:16] #1280 closed, assigned to drcrazy

[2017-10-03 12:11] modmuss50 commented on #963
Closing as no log provided + link is dead. Reopen if still an issue in 1.12.2

[2017-10-03 12:11] #963 closed, assigned to nobody

[2017-10-03 12:12] modmuss50 commented on #1087
Closing as QS now has some different items/blocks, if a pack author wants to do it they can use minetweaker.

[2017-10-03 12:12] #1087 closed, assigned to nobody

[2017-10-03 12:14] modmuss50 commented on #1191
Closing as its not really possible without a lot of work, look at the recipe in JEI to see how much power it requires. The tool tips are the max values.

[2017-10-03 12:14] #1191 closed, assigned to nobody

[2017-10-03 12:24] #1150 closed, assigned to nobody

[2017-10-03 12:27] modmuss50 commented on #1011
Im not sure there is a lot we can do about the gui text spilling over the side. And the lang file can be cleaned up over time, but its not causing an issue.

[2017-10-03 12:27] #1011 closed, assigned to Prospector

[2017-10-03 12:33] modmuss50 commented on #1189
Done

[2017-10-03 12:33] #1189 closed, assigned to nobody

[2017-10-03 16:03] #1260 closed, assigned to nobody

[2017-10-03 16:05] modmuss50 commented on #1169
Seems fine to me in dev. Reopen if its still an issue.

[2017-10-03 16:05] #1169 closed, assigned to nobody

[2017-10-03 20:28] drcrazy commented on #1173
Not reproduced
Setup: batbox with battery inside->cable->electric furnace
I've put stack of ore in furnace. And flew away.
After returning to batbox it is working fine, draining battery and providing energy for furnace.

[2017-10-03 20:28] #1173 closed, assigned to nobody

[2017-10-03 20:33] drcrazy commented on #1107
IDSU GUI same as MFE.
AESU need more luv. Which is logged in #1209

[2017-10-03 20:33] #1107 closed, assigned to nobody

[2017-10-04 08:46] #1156 closed, assigned to nobody

[2017-10-04 09:12] #1016 closed, assigned to Prospector

[2017-10-04 09:15] modmuss50 commented on #1206
Should be fixed, reopen if not.

[2017-10-04 09:15] #1206 closed, assigned to nobody

[2017-10-04 12:14] Skillotic0703 opened #1286 "[1.12.2] Auto crafting table uses water buckets"
I set the recipe for coolant cells and it uses up water buckets. It doesn't return them back.

[2017-10-04 12:36] modmuss50 commented on #1274
Done

[2017-10-04 12:36] #1274 closed, assigned to modmuss50

[2017-10-04 14:19] #1286 closed, assigned to modmuss50

[2017-10-04 21:01] drcrazy commented on #1221
Not reproduced in latest ATM3 with all updated as of 5-OCT-2017 mod including forge v2500.

![image](https://user-images.githubusercontent.com/1382352/31199550-6ed5ab7c-a960-11e7-8671-c235273d9c25.png)

[2017-10-04 21:01] #1221 closed, assigned to nobody

[2017-10-05 23:43] drcrazy commented on #1252
Not reproduced.

Industrial grinder just exploded upon being placed.
![image](https://user-images.githubusercontent.com/1382352/31257213-0003c306-aa40-11e7-9be0-bb29759e72d7.png)

You need to use IC2 power source and IC2 cables to have machines exploded.

[2017-10-05 23:44] #1252 closed, assigned to drcrazy

[2017-10-06 14:10] VPDeadlyHunter opened #1288 "Wrench"
Hello, I have a problem with the wrench. Maybe I do not know how to shoot cars with wrench, or it's a bug of your mod. Correct the bug or help remove the machine. Thank you.

[2017-10-06 14:10] modmuss50 commented on #1288
What are you trying to do with the wrench?

[2017-10-06 16:07] drcrazy commented on #1288
As a workaround you can set in config that wrench is not required and use pickaxe to remove machine.

[2017-10-06 16:54] fane0info opened #1289 "Crash using Modern Skyblock 2"
Hello there.

I just crashed three times using the Modern Skyblock 2 modpack version 2.5.3
I created some recipes in AL2 (AE2 branch). When trying to create a Fusion coil I got the crash.

[crash-2017-10-06_19.36.31-server.txt](https://github.com/TechReborn/TechReborn/files/1363355/crash-2017-10-06_19.36.31-server.txt)

[2017-10-06-5.log.gz](https://github.com/TechReborn/TechReborn/files/1363363/2

[2017-10-06 18:15] VPDeadlyHunter commented on #1288
I'm trying to remove a machine with wrench (Generator).

[2017-10-06 18:17] VPDeadlyHunter commented on #1288
Tell me in which config you need to change the value to get the machine with a pick.

[2017-10-07 01:13] jusvit commented on #1289
[code]

[2017-10-07 19:36] drcrazy commented on #1289
I've just crafted fusion coil using AL2 without issues. Maybe it crashed during crafting of some other items, rather than Fusion Coil itself?

![image](https://user-images.githubusercontent.com/1382352/31311196-d4e17490-abaf-11e7-9f6f-4e3a4776ab57.png)

[2017-10-07 19:38] drcrazy commented on #1288
config\reborncore.cfg

Change  "Wrench required" to false

[2017-10-07 22:14] drcrazy commented on #1288
Issue is with updated forge. Wrench works on 2493. And does not work on 2500+

[2017-10-07 22:19] modmuss50 commented on #1288
My guess is, https://github.com/MinecraftForge/MinecraftForge/commit/025495f98b3b0c3738c7698b2ff848a22f2e5dd0 broke it. I will take a look at some point.

[2017-10-07 22:21] drcrazy commented on #1288
Yeah. I can confirm that forge 2497 is fine and 2498 is not fine

[2017-10-07 23:59] Timeslice42 opened #1291 "[1.12] Thermal Generator accepting Lava too slowly"
Eyeballing it the thermal generator is using about 4mb per second. It is only accepting about 2-3mb per second from attached pipes.

This is a little rediculous.

[2017-10-08 09:56] jusvit commented on #1291
![capture](https://user-images.githubusercontent.com/4002351/31315867-e63a42b8-ac6c-11e7-9ae4-b6c87486785a.PNG)
I don't think it accepts lava too slow. The underlying problem is that the tank GUI capacity isn't updating to show the amount of lava inside it. (Unless you reload world)

[2017-10-08 10:30] fane0info commented on #1289
Crafting the recipe by hand was fine. Of course that I made a lot of components by auto-crafting. Cannot pinpoint which one of them was causing the crash. I reverted back to a backup and crafted the coils by hand.

I thought that it might help to post such a crash here.

[2017-10-08 11:14] drcrazy commented on #1289
Berillum cell for neutron deflector could be an issue according to crash log. But I was able to craft it automatically without crashing.

Can you start auto-craft of coil and check crafting monitor?

[2017-10-08 16:36] TheLimePixel opened #1293 "Issues with Plates"
A month or 2 ago there was issue about plates requiring 9 ingots, but yet 9 plates requiring a single block, the former being the issue. The issue was fixed for metal plates, but not for Gem Plates:
![image](https://user-images.githubusercontent.com/25333164/31318765-5c08d510-ac57-11e7-8c13-b668d4e4fc91.png)
There's also this small issue:
![image](https://user-images.githubusercontent.com/25333164

[2017-10-08 17:54] #1288 closed, assigned to modmuss50

[2017-10-08 17:56] #1289 closed, assigned to modmuss50

[2017-10-08 18:29] #1291 closed, assigned to modmuss50

[2017-10-09 09:44] TheLimePixel commented on #1293
Now a new issue arose: All Blocks give a single Plate:
![image](https://user-images.githubusercontent.com/25333164/31332589-3d79d21c-ace7-11e7-8da6-e6bff37d09a6.png)
And this recipe is still here:
![image](https://user-images.githubusercontent.com/25333164/31332631-655d75a4-ace7-11e7-8215-6b9a0b29b086.png)

[2017-10-09 12:23] #1293 closed, assigned to modmuss50

[2017-10-09 23:06] MrNinja93 opened #1295 "[1.12.2] Fences/ladders connect to oil due to changes to minecraft code."
Just noticed in a mineshaft that fences were connecting to oil (quick test confirms ladders can also be placed on oil, little trickery to ensure they don't replace oil though)

This will explain it better than I can as a non coder https://github.com/Vazkii/Botania/issues/2365

Probably more than just oil too

![2017-10-09_23 45 09](https://user-images.githubusercontent.com/21979276/31362136-d03af2

[2017-10-10 01:03] Timeslice42 opened #1296 "[1.12.1] Cables stop transmitting power after each new session"
Tech Reborn: 1.12.2.2.7.7.283
Reborn Core: 1.12.2-3.4.6.131
Forestry: 1.12.2-5.5.6.198
Actually Additions: 1.12.1-r121

Any time I load this world I have to remove **all** of the cables in this setup and replace them before the machines will recieve any power.

G = Generator (generator)
S = Storage (batbox)
T = Transformer (lv->mv)
E = EU consumer
R = RF consumer

The machine you can't see under t

[2017-10-10 23:10] drcrazy commented on #1209
Fixed with TR build >=285

[2017-10-10 23:10] #1209 closed, assigned to drcrazy

[2017-10-11 00:02] accessdenied0 opened #1297 "[1.12.1] Vacuum Freezer miss multiblock button in GUI"
MC-Version: 1.12.1
MinecraftForge-Version: 14.22.1.2478
TechReborn-Version: 1.12.2-2.7.7.283
Reborn-Core-Version: 1.12.2-3.4.6.131

Hello Reborn-Team,

I played a modified version of Modern Skyblock 2 and tried to cool off some Tungsteel. I looked up if there would be made some changes, but there were none. So I tried to use a Water-cell or Ice in it, didn't work. Replacing - didn't work.

The Cha

[2017-10-11 08:32] drcrazy commented on #1297
Do you have correct multiblock for VacuumFreezer?

[2017-10-11 12:47] accessdenied0 commented on #1297
If it is a multi-block structure, changes this issue from: "Vacuum Freezer refuses to work" to "Vacuum Freezer Multi-block structure detection broken."

[On your Wiki](https://wiki.techreborn.ovh/doku.php?id=blocks:vacuum_freezer), which is sadly very incomplete, is no clue on the page itself there is a multi-block structure involved or how these need to be assembled. So I missed that, sorry...

B

[2017-10-11 13:58] drcrazy commented on #1297
As for now Vacuum freezer expects to have 3x3 platform of reinforced casings below it

[2017-10-11 14:24] #1297 closed, assigned to drcrazy

[2017-10-11 14:26] drcrazy commented on #1297
Fixed in TR build >=295

[2017-10-11 17:39] TheLimePixel commented on #1293
This is the issue that I needed fixed and it's still not fixed :(
![image](https://user-images.githubusercontent.com/25333164/31457023-d16aa7a0-aebb-11e7-98a0-656a0615dae8.png)

[2017-10-11 19:55] drcrazy commented on #1296
Hmm. I'm not able to reproduce this in SSP. Are you playing any modpack?

I've set similar thing using TR generator, TR grinder, TR transformer and Thermal foundation redstone furnaces as RF consumers. After logging out and in everything still fine.

Difference between your setup and mine is that I've used updated version of TR (TechReborn-1.12.2-2.7.8.297). May I ask you to update both TR and RC

[2017-10-11 22:42] Dannez opened #1298 "Overclocker and energy upgrades not working"
Minecraft 1.11.2
Forge latest build
TechReborn latest 1.11.2 release

The overclocker and energy upgrades do not work in the machines, namely the grinder, generator and alloy furnace - which has double the number of upgrade slots - and the electric furnace does not have any upgrade slots. Is this an intentional feature?
Overclockers do not seem to speed up machines, whereas energy upgrades show th

[2017-10-11 23:10] drcrazy commented on #1296
I was able to reproduce that issue. And hopefully fix it )
Issue was not in combination of EU and RF machines but rather in specific update sequence of tile entities. And different behavior for energy providers like generator or bat box and cables

[2017-10-12 00:13] P3rf3ctXZer0 opened #1299 "Debugging - Model Errors and Block Interctions - MC1.12.2 Forge 512"
Debugging
https://gist.github.com/P3rf3ctXZer0/e2746bb3adcc937870c5b08e441a5ebd

Debug Crash Log
https://gist.github.com/P3rf3ctXZer0/a8cfefd4d67fd0e7327ccdf223f3cfca

[2017-10-12 07:20] modmuss50 commented on #1299
That crash log is something you have trigged and is completely pointless.

The other outputs are just warnings, and dont actually effect gameplay. But your not the first to ask about them, so I will leave this open in the hope that I can either "fix" them or suppress them

[2017-10-12 08:59] drcrazy commented on #1296
On the second thought I haven't fixed it (

[2017-10-12 09:21] Timeslice42 commented on #1296
I'm using the latest release versions. Do you want me to go to curseforge and download the latest beta/alpha versions? Or do you have everything you need from me?

[2017-10-12 09:26] drcrazy commented on #1296
Yes, I have everything I need.

[2017-10-12 12:27] drcrazy opened #1300 "Support for getChestContents from The One Probe"
Not all tile entities are shows inventory in TOP tooptip

[2017-10-12 14:59] VermillionX opened #1301 "[1.12.2] FE > RF Infinite power bug"
TechReborn energy storage blocks will output to Thermal Expansion fluxducts an unlimited amount of RF. As in, the energy stored an MFSU won't go down, but it will dump infinite RF into the cable.

[2017-10-12 15:23] #1296 closed, assigned to drcrazy

[2017-10-12 16:50] modmuss50 commented on #1300
Fixed in https://github.com/TechReborn/TechReborn/commit/984e9eb2f242bebe4a203ab508b4704b56f16db5

[2017-10-12 16:50] #1300 closed, assigned to modmuss50

[2017-10-12 17:26] OrdinatorStouff opened #1302 "No machine upgrades in IC2 compat mode"
As discussed in ATC chat, opening issue here for tracking/follow-up.

In IC2 "compatibility" mode, TR upgrades are hidden, but IC2 upgrades do not work in TR machines.

[2017-10-12 18:54] tgstyle opened #1303 "1.12.2-2.7.8.297 Crafttweaker change broke null in scripts"
Script entry is this

mods.techreborn.centrifuge.addRecipe(<enderore:dust_ender>, <minecraft:blaze_powder>, null, null, <techreborn:dust:19> * 2, null, 1840, 5);

Generates this error

https://gist.github.com/tgstyle/63502ce96339fe93b762baec453021ec

I believe it was due to this change

https://github.com/TechReborn/TechReborn/commit/23ccd878bd35dc848e4c7b19c2cc8135318e9dcb#diff-5c3208eba10e5e4bbc

[2017-10-12 19:18] modmuss50 commented on #1303
Yeah, it would have been. Sorry about that, I should really get a full script that tests all the machines.

[2017-10-12 20:19] #1303 closed, assigned to modmuss50

[2017-10-12 20:28] #1301 closed, assigned to modmuss50

[2017-10-12 20:32] #1295 closed, assigned to modmuss50

[2017-10-12 20:43] modmuss50 commented on #1298
overclockers seem to work fine for me?

I can confirm the power issues.

[2017-10-12 20:51] modmuss50 commented on #1298
Should be fixed, I would recommend updating to 1.12 to get the fixes.

[2017-10-12 20:51] #1298 closed, assigned to modmuss50

[2017-10-12 20:53] modmuss50 commented on #997
I dont think im going to do this, as the logic behind it is quite complex, and I dont really understand how the new? ic2 reactor works. If someone else wants to add this please feel free.

We may add our own reactor in the future

[2017-10-12 20:53] #997 closed, assigned to nobody

[2017-10-12 21:01] modmuss50 commented on #1299
Actually, im closing this, its not an issue.

[2017-10-12 21:01] #1299 closed, assigned to modmuss50

[2017-10-12 21:10] modmuss50 commented on #1153
[code]

number being the amount of power (in eu) that is generated per mb

[2017-10-12 21:10] #1153 closed, assigned to nobody

[2017-10-12 21:12] #1162 closed, assigned to nobody

[2017-10-12 21:12] modmuss50 commented on #1151
Log link dead, and 1.10.2 issue. Re open if still an issue in 1.12.

[2017-10-12 21:12] #1151 closed, assigned to nobody

[2017-10-12 22:07] modmuss50 commented on #1113
Not needed.

[2017-10-12 22:07] #1113 closed, assigned to nobody

[2017-10-12 22:10] modmuss50 commented on #1034
I dont think we are going to add it. We are trying to move away from just copying ic2 1 to 1 and adding our ideas. Something similar may happen.

[2017-10-12 22:10] #1034 closed, assigned to nobody

[2017-10-13 19:21] Skillotic0703 opened #1304 "[1.12.X] Some machines can't Input/Output items from their sides"
These machines are the grinder, the extractor, the compressor and the electric furnace.

[2017-10-13 19:25] Skillotic0703 opened #1305 "[Request] More crafttweaker support for the scrapbox"
Please add a way to remove items that drop from the scrapbox. It can also be a config that removes all scrapbox drops. Thank you in advance!

[2017-10-13 21:52] ali1234 opened #1306 "Powered lighting"
I have implemented a proof-of-concept powered light source for TR:

https://github.com/ali1234/TechReborn/tree/feature/lighting

![lamps](https://user-images.githubusercontent.com/651970/31566373-2cdfe6b6-b062-11e7-91bd-0f70fe128b4d.png)

Currently there are no recipes and power use is not balanced. It is only supposed to accept power through the back side, but currently storage blocks will power

[2017-10-13 21:58] modmuss50 commented on #1306
Wow, wasn't expecting a feature PR! Thanks for taking your time.

I really like the idea, and would be happy to see it in the mod. The code looks good and should be ready to merge.

If you wanted to add the other lamps, I would be happy for you to make a PR adding them as well.

👍

[2017-10-13 22:26] ali1234 commented on #1306
I'm not quite ready to do a PR yet. I just wanted to gauge interest before I polish it up further. :)

[2017-10-14 09:13] Skillotic0703 opened #1307 "[1.12.X] Flux-Infused OmniWrench support"
You are currently supporting the crescent hammer from TE. And all the blocks that can be dismantled by the crescent hammer should be able to be dismantled by the flux-infused omniwrench from Redstone Arsenal. I don't know if it's a bug but if it's not, could you add support for the omniwrench please?

[2017-10-14 09:33] modmuss50 commented on #1307
Yeah, should be easy to add.

Also, if you know of any mods that also add wrenches let me know.

Current supported list: https://github.com/TechReborn/RebornCore/blob/1.12/src/main/java/reborncore/RebornCore.java#L109

[2017-10-14 16:48] Skillotic0703 commented on #1307
The crescent hammer and the flux-infused wrench are the most important because they are supported by a large variety of mods.

[2017-10-15 00:21] DrZoddiak opened #1308 "Crash when inserting item into quantum chest"
**Minecraft version:** 1.10.2
**Mod version:** 2.1.18.235
**Forge version:** 12.18.3.2511

Crash happens when 2 stacks of any block are put into quantum chest.
Specifically it creates a ticking entity that then crashes the server.
Below is the crash report.

https://gist.github.com/DrZoddiak/35907d03e23911b1a4b176bf3bce0936

[2017-10-15 09:59] TheLimePixel opened #1309 "Iron Furnaces Drop Basic Frames"
Iron Furnaces drop Basic Machine Frames when broken, but yet they aren't in their recipe. This is mainly an issue for me as I have Basic Machine Frames gated mid-game, but Iron Alloy Furnaces are used at the beginning of my pack.

[2017-10-15 13:16] drcrazy commented on #1309
You can change to not require wrench to drop block. In this way Iron furnace will be dropped instead of frame

[2017-10-15 18:23] TheLimePixel commented on #1309
Actually, nvm. It's Electric Furnaces, not Iron Furnaces. It's a simple recipe change.

[2017-10-15 18:23] #1309 closed, assigned to nobody

[2017-10-15 23:54] dancc7t opened #1310 "[1.12.X issue] Rubber Wood logs can't be placed horizontally"
Hello i am playing TechReborn on 1.12.2, i have all updated to the last version.

I am creating a gallery for all blocks for decorative purposes and i noticed i cant place rubber wood logs horizontally like the rest of the wooden blocks, i tried placing it alone, shift+rightclicking and i also tried with the wrench of the mod, none of this worked.

This is a feature all wood blocks in minecraft ha

[2017-10-16 12:52] #884 closed, assigned to drcrazy

[2017-10-16 23:34] #1250 closed, assigned to modmuss50

[2017-10-17 12:41] drcrazy commented on #1308
Due to limited support for 1.10.2 please, use https://minecraft.curseforge.com/projects/quantumstorage mod. TR will detect that QS is there and will not register TR own quantum chest.

[2017-10-17 12:41] #1308 closed, assigned to drcrazy

[2017-10-17 12:43] drcrazy commented on #1304
These basic machines can use upgrades to change behavior of sided inventory. "ejection" and "injection" upgrades should help them to have configurable I\O side. Please, reopen if upgrades do not help.

[2017-10-17 12:43] #1304 closed, assigned to drcrazy

[2017-10-17 21:25] #1307 closed, assigned to drcrazy

[2017-10-17 21:47] drcrazy commented on #1200
Not reproducible anymore.

Blast furnace exploded as expected being connected to MFE via IC2 glass fiber cable.

![image](https://user-images.githubusercontent.com/1382352/31691209-f188794a-b39d-11e7-9864-6441e8a3b041.png)

[2017-10-17 21:47] #1200 closed, assigned to nobody

[2017-10-17 22:27] Toby343 opened #1312 "Chainsaw is not usable until full charge"
I'm using the steel chainsaw and I have a source of energy in my inventory to charge it as I go (thermal expansion hardened capacitor in this case but I think it happens with all). What is happening is when the chansaw is charging which is after a block break, it glitches being unable to break a block until it's at full charge again. I have to turn the capacitor off to stop charging to use the cha

[2017-10-17 22:36] drcrazy commented on #1312
What Minecraft version do you use?
What Tech Reborn version do you use?

[2017-10-18 04:08] Toby343 commented on #1312
Minecraft 1.12.2
Tech Reborn 1.12.2-2.7.9.301
Modpack All The Mods 3 version 4.2

[2017-10-18 17:59] Timeslice42 opened #1313 "Transformer Upgrade is misnamed as "Tranformer""
RC: 1.12.2-3.4.8.138
TR: 1.12.2-2.7.9.301

[2017-10-19 07:04] misteryman526 opened #1314 "Cloaking Device"
I'm using the current release version of TechReborn in the 1.10 FTB Beyond modpack (I added the newest update myself). I've made a Cloaking Device but it doesn't seem to actually DO anything. I'm able to charge it, but can't interact with it in any other way. According to old Wiki descriptions it's supposed to be wearable in the Chestplate slot and grant you total invisibility but I can't put it i

[2017-10-19 09:21] #1313 closed, assigned to drcrazy

[2017-10-19 22:58] #1314 closed, assigned to drcrazy

[2017-10-19 22:59] drcrazy commented on #1314
Fixed in 1.12.  Not sure if it will be back-ported to 1.10.

[2017-10-20 00:00] #1312 closed, assigned to drcrazy

[2017-10-20 07:34] modmuss50 commented on #1310
This isn’t possible/not easy to add as the meta data is being used for the sap spots. In the future this may become possible. Sorry about that.

[2017-10-20 07:34] #1310 closed, assigned to modmuss50

[2017-10-20 20:09] #1305 closed, assigned to drcrazy

[2017-10-21 14:56] BeLink13 opened #1316 "Output Power from Fusion Reactor"
Can you fix the fusion reactor so that you can output energy from it like in Gregtec?

[2017-10-21 16:21] drcrazy commented on #1316
what MC version? In 1.12 you can output from top and bottom sides

[2017-10-21 16:28] BeLink13 commented on #1316
Thank you for the fast answer. I play it in the Minecraft Version 1.10.2 in the FTB Beyond Modpack. Before i wrote this, I proofed the version of TR in the pack (1.10.2-2.1.17.233) and the changelogs to the newest version (1.10.2-2.1.18.235) but I found nothing about the fusion reactor.

[2017-10-21 19:43] drcrazy commented on #1316
huh. TR for 1.10 is not in the best shape.

[2017-10-22 08:07] Skillotic0703 opened #1317 "[1.12.2] Scrapbox crafttweaker removeAllRecipes not working"
When I use
mods.techreborn.scrapbox.removeAllRecipes();
The recipes aren't shown in JEI but they are still there. I still get glass panes, fences even though I didn't add them by myself.

[2017-10-22 08:33] modmuss50 commented on #1316
Sorry, 1.10 isnt supported. Please update to 1.12

[2017-10-22 08:33] #1316 closed, assigned to modmuss50

[2017-10-22 12:05] Skillotic0703 opened #1318 "[1.12] Grinder crafttweaker support"
There is support for all the machines except the grinder. Could you add support for it please? (I'm talking about the grinder not the industrial grinder)

[2017-10-22 12:32] Skillotic0703 opened #1319 "[1.12] Importer upgrades import in the output slot"
The importer upgrades fill the output slot of machines when the input slot already has items.

[2017-10-22 17:12] #1318 closed, assigned to modmuss50

[2017-10-23 04:42] MaxAstro opened #1320 "Import/Export From Rolling Machine?"
There doesn't seem to be any way to automate the rolling machine - neither the import upgrade nor the export upgrade seem to want to work with it, and no pipes that I've tried function either.

[2017-10-23 12:31] drcrazy commented on #1320
Starting from 1.11.2 Rolling machine can output from the bottom. As for input it is not clear to what crafting grid slot machine should import ingredients. For example, iron bars recipe contains 6 iron ingots. Rails recipe contains 6 iron ingots and a stick. If you will drop ingots first and then stick to input "slot" machine will start crafting iron bars as soon as it will have 6 iron ingots and

[2017-10-23 12:31] #1320 closed, assigned to drcrazy

[2017-10-23 13:11] Skillotic0703 opened #1321 "[1.12] Rolling Machine enhancement"
You should change the behavior of the rolling machine. You should have a ghost item system with an inventory. You set the recipe in the rolling machine and once the items are in the inventory it starts crafting. That helps for the automation.

[2017-10-23 13:11] modmuss50 commented on #1321
How about a bit like how the auto crafting table works?

[2017-10-23 13:17] Skillotic0703 commented on #1321
Yes

[2017-10-23 13:18] Skillotic0703 commented on #1321
It would be an autocrafting table but with an alternate list of crafts.

[2017-10-23 20:42] Skillotic0703 opened #1322 "[1.12] LESU not really functionnal"
I put this here as a reminder because you probably already know that the LESU has a horrible GUI and power conversion problems (4 RF -> 1 EU but 1 EU -> 1RF).

[2017-10-23 23:55] MaxAstro commented on #1320
Good to know for output.

For input, perhaps you could simply have a toggle that causes the machine to not craft it's last stack of resources?  Then any new resources would get added to the existing recipe and the recipe would never clear.

[2017-10-23 23:55] OrdinatorStouff commented on #1302
The TR overclockers are now visible in JEI as an item that "exists" however they are lacking a recipe of any kind (as far as I can tell). Is this intentional (i.e. modpack responsibility to add recipes) or an accidental oversight that they are missing recipes? -- When spawned in manually they do work in TR machines (albeit they only stack to 1 each)

[2017-10-24 09:21] #1302 closed, assigned to drcrazy, modmuss50

[2017-10-24 12:09] #1317 closed, assigned to drcrazy

[2017-10-24 19:09] Skillotic0703 opened #1323 "[Suggestion] Stainless Steel"
I know that your goal is to take the best features of each version of Gregtech 2-4. I would suggest you to add stainless steel (from GT4) because it would give a use to manganese:
![image](https://user-images.githubusercontent.com/12701912/31962792-d438c87a-b8fe-11e7-84ca-43ba8afb1d51.png)
The gray item is iron dust, the blue one is nickel dust, the white one is manganese dust, the pink one is chr

[2017-10-24 21:17] drcrazy commented on #1323
THere is no textures for stainless steel in TR.

[2017-10-24 22:23] Skillotic0703 commented on #1323
Maybe Yulife can make one no?

[2017-10-25 11:40] leytilera opened #1324 "Refined Iron Steel recipe conflict"
TechReborn ha a recipe conflict with my mod, the material api. when i smelt iron in a furnace my mod Outputs an Ingot with the oredict entry ingotSteel but your refined iron has not this entry. please add the oredict entry ingotSteel to Refined iron.

[2017-10-25 13:57] Prospector commented on #1324
Refined iron is not steel, it's its own material

[2017-10-25 13:58] #1324 closed, assigned to Prospector

[2017-10-25 14:17] leytilera commented on #1324
oh, ok. in the old ic2 it was steel because of that i thought that it is also steel here.

[2017-10-25 23:26] #1322 closed, assigned to drcrazy

[2017-10-26 00:18] Bigcheese opened #1325 "Disconnect while using Industrial Grinder"
Just got a disconnect while grinding Iridium Ore in an Industrial Grinder. I had the GUI open and as soon as the operation finished I was disconnected from the server. There was no error on the server side and when I reconnected the products were there.

MC: 1.12.2
Forge: 14.23.0.2512
TechReborn: 2.7.9.301
Log: [tr-error.log](https://github.com/TechReborn/TechReborn/files/1416597/tr-error.log)

[2017-10-26 04:05] VermillionX opened #1326 "Reversed Transformers"
The current version of TechReborn has the sides of the Transformers all inverted. So they have 5 inputs and 1 output. There's not enough outputs to downgrade voltages and 4 extra inputs.

[2017-10-29 22:16] FnordMan opened #1327 "[1.12.2] Transformer upgrade spelling issue"
Namely, they're called "Tranformer upgrade"
![2017-10-29_17 14 08](https://user-images.githubusercontent.com/7041560/32149031-df4d6de8-bccc-11e7-8f0b-f8adcc8fba14.jpg)

[2017-10-29 22:20] modmuss50 commented on #1327
This was fixed a while back, https://github.com/TechReborn/TechReborn/commit/3f1e7b9111350815342662c44dd73e5b9819b286 I need to get an update out.

[2017-10-29 22:20] #1327 closed, assigned to modmuss50

[2017-10-30 22:42] lugiaf commented on #1325
My server kick me after Industrial Grinder work finished... XD

MC: 1.12.2
forge: 14.23.0.2512
TechReborn: 2.7.10.327
RebornCore: 3.4.9.143
modlist: https://pastebin.com/yMgEJrdu

[2017-10-31 00:01] modmuss50 commented on #1325
Yeah, ok. I really do need to fix this bug. ASAP.

[2017-10-31 10:46] Leftorius opened #1328 "1.12.2 LESU Limit"
if you exceed your limit with LESU blocks, your LESU will show an negative number of energy!
I changed now that a lesu is 1/10 worth of energy so this happens not so early in my modpack (main focused on TR, so LESU will be the first big storage).

Could it be limited to if MAX = nothing more will be added? instead of going into negative numbers.

[2017-10-31 15:35] ghost opened #1329 "Tech Reborn Crashing with Immersiveengineering"
https://gist.github.com/xKnightGamingx/189309c615a19c1699619d781a203d4e

[2017-11-01 05:42] TonyPrindel opened #1330 "Iridium Vein Size Issues"
I've been messing around with ore gen options for Tech Reborn, and have run into issues where vein size for Iridium seems to be hard stuck on 1 despite my attempts to change it.

My steps for changing are as follows:
1. Set "veinSize": x≠1, (where x is my desired vein size)
2. Set config file to read only to prevent mod override
3. Start Minecraft
4. Generate new world
5. Use World Stripper to rev

[2017-11-01 10:12] modmuss50 commented on #1325
Fixed in https://github.com/TechReborn/RebornCore/commit/546ace48131a3ffdb52dee19fb6d8b9e84e76cee Updated reborn core once its on curse.

[2017-11-01 10:12] #1325 closed, assigned to modmuss50

[2017-11-01 10:12] modmuss50 commented on #1325
Let me know of any new issues

[2017-11-01 12:03] SirTwsted opened #1331 "Problem with Tech Reborn and IC2 product end results."
When creating a Macerator from IC2, no matter what happens and no matter what I try to do,
I keep getting Tech Reborn's Grinder.
as shown in this picture below, the Tech Reborn grinder is on the floor.
but in the crafting table it is a IC2 Macerator.
https://imgur.com/a/ITe1e

I tried both craft's..... (1) with the Tech Reborn's resources parts and (1) with the IC2 resource products items.
and no

[2017-11-01 12:15] lugiaf opened #1332 "Wrong name ( CT Compat )"
ah ...
/src/main/java/techreborn/compat/crafttweaker/CTIndustrialGrinder.java
Line 38 "@ZenClass("mods.techreborn.**industralGrinder**")"

When I used CraftTweker "industrialGrinder", I was in trouble... ;(
I'm using this now. sorry. XD

[2017-11-02 20:43] Skillotic0703 opened #1333 "[1.12] Assembling Machine GUI"
Could you change the Assembling Machine's GUI so that it matches those of the other machines?

[2017-11-04 12:50] Niuttuc opened #1335 "Removing Iron Furnace crafting recipe blocks Crafttweaker"
I tried to remove specifically the iron furnace eight iron ingot shaped recipe using Crafttweaker, but removing specifically this recipe (I didn't try everything but removing other techreborn recipes at random works fine) stops Crafttweaker to modify recipes afterwards.

The problematic line:
[SCRIPT](https://pastebin.com/aq0fKXP4)
[Resulting erroring log](https://pastebin.com/9z55M4PF)

[2017-11-04 18:12] Preminenc3 opened #1336 "[1.12.2 Latest Version]Tech Reborn Oil causing a Stacktrace Error"
[crash-2017-11-04_13.08.58-client.txt](https://github.com/TechReborn/TechReborn/files/1443455/crash-2017-11-04_13.08.58-client.txt)

[2017-11-04 18:13] modmuss50 commented on #1336
Try without optifine

[2017-11-05 16:03] FnordMan opened #1337 "[1.12.2] Fusion reactor shuts down upon save re-load"
Basically it appears the state of the fusion reactor isn't saved. If I quit the game with it running and re-load it I have to re-start the reaction (and the large energy load) to get it going again.

[2017-11-05 20:49] #1332 closed, assigned to drcrazy

[2017-11-05 21:16] drcrazy commented on #1329
From your log:
-- Particle being ticked --
Details:
	Particle: ParticleRedstone,

TR cable mentioned in stack trace spawn crit particle.

[2017-11-05 21:16] #1329 closed, assigned to drcrazy

[2017-11-05 21:21] drcrazy commented on #1333
Assembling Machine has no recipes in TR as for now. Maybe in 1.13 it will get some luv.

[2017-11-05 21:21] #1333 closed, assigned to drcrazy

[2017-11-05 21:22] drcrazy commented on #1306
Thank you for your PR. It was really great!

[2017-11-05 21:22] #1306 closed, assigned to nobody

[2017-11-07 02:35] lugiaf opened #1338 "FPS dropped when placing the TR machine [1.12.2]"
1. no TR machine
2. place Blast Furnace
3. Industrial Grinder x8 , Blast Furnace x4, Industrial Electrolyzer x2, Extractor x1

![2017-11-07_11 06 50](https://user-images.githubusercontent.com/32650275/32474396-b14c8264-c3af-11e7-8a7a-673c1ff30b11.png)
![2017-11-07_11 07 04](https://user-images.githubusercontent.com/32650275/32474386-a1aa744c-c3af-11e7-81ed-c0412ff67516.png)
![2017-11-07_11 13 42](

[2017-11-07 22:48] #1328 closed, assigned to drcrazy

[2017-11-07 23:05] #1331 closed, assigned to drcrazy

[2017-11-08 00:16] #1337 closed, assigned to drcrazy

[2017-11-10 10:01] modmuss50 commented on #1330
Yeah, this is a limitation of the way I fixed the world gen.

see here: https://github.com/TechReborn/TechReborn/blob/1.12/src/main/java/techreborn/world/TechRebornWorldGen.java#L221

I can fix this. Also you say the mod is overriding the config file?

[2017-11-10 10:02] modmuss50 commented on #1336
Closing as no response was given.

[2017-11-10 10:02] #1336 closed, assigned to modmuss50

[2017-11-10 10:02] modmuss50 commented on #1335
Uhh, I have a bad feeling about why this is the case. I will take a look.

[2017-11-10 20:30] Skillotic0703 opened #1339 "[1.12] Plasma Generator not outputting correct amount"
The plasma generator is currently outputting 400 EU/t whereas it should output 2048 EU/t .

[2017-11-10 20:32] Skillotic0703 commented on #1339
And also 1000 mB should get you 8192K EU

[2017-11-10 22:36] TonyPrindel commented on #1330
Oh, no, I just prefer to lock my configs as a just-in-case mechanism. I don't believe I ran into any write issues.

Glad to hear this will be addressed. I'll add that it'd be cool if all ores were unlocked (if hard limits exist with all of them), provided it wouldn't be too much of a bother to do so.

Thank you so much for the response! If you need any further information from me, please don't hes

[2017-11-11 11:08] modmuss50 commented on #1338
I can confirm this could be an issue.

[2017-11-12 11:11] #1338 closed, assigned to modmuss50

[2017-11-12 17:19] Staegrin opened #1340 "[1.12.2] (Forge version 14.23.0.2532 and higher) + (tech reborn) + latest IC2 = ShapelessRecipes = basic machine casing"
So I noticed this problem 8/11/2017 and at first I blamed the mod uppers. You could place any item into the crafting grid that didn't normally have a result when placed there and it would result in a hopper from uppers.

When Removing the mod the result from any such item in the crafting grid became a basic machine casing from IC2.
![2017-11-12_17 03 35](https://user-images.githubusercontent.com/8

[2017-11-13 00:00] drcrazy commented on #1339
400 EU\t is generation rate, not output. Please, see screen below.
As for energy per bucket I've used this link to set value:
https://ftb.gamepedia.com/Plasma_Generator_(GregTech_4)

![image](https://user-images.githubusercontent.com/1382352/32704930-9bde8620-c81e-11e7-9957-7ed4d2c69ccb.png)

[2017-11-13 00:00] #1339 closed, assigned to drcrazy

[2017-11-13 00:05] modmuss50 commented on #1340
humm, strange. Ill have to take a look at this.

[2017-11-13 04:25] Staegrin commented on #1340
I think the team from applied energistics might know something about it because their latest version has

"Fixes #3200: Cleanup recipe factories to prevent recipes from not working on servers with forge version 2532 or later. - fscan"

In the changelog pertaining to the change in forge.

[2017-11-13 07:51] drcrazy commented on #1340
Maybe forge will fix this.

https://github.com/MinecraftForge/MinecraftForge/pull/4472/files#r146108157

[2017-11-13 08:47] #1340 closed, assigned to drcrazy

[2017-11-13 08:47] drcrazy commented on #1340
I hope this one is fixed. )
Feel free to reopen if not

[2017-11-13 10:46] #968 closed, assigned to drcrazy

[2017-11-13 15:27] drcrazy commented on #1330
![image](https://user-images.githubusercontent.com/1382352/32733450-57aed356-c8a0-11e7-9651-2f3e4de0077c.png)

[2017-11-13 15:29] #1330 closed, assigned to drcrazy, modmuss50

[2017-11-13 20:06] drcrazy commented on #1335
Issue is with CraftTweaker itself.
It  is not able to remove Vanilla Iron Leggings for example. Every recipe with empty slot in inputs will produce error due to missing null check. Maybe this is already fixed in https://minecraft.curseforge.com/projects/crafttweaker/files/2487573

[2017-11-13 20:06] #1335 closed, assigned to drcrazy, modmuss50

[2017-11-13 23:15] modmuss50 commented on #1321
Doing this will require a large amount of work, as I would need to put a lot of effort into a GUI to select the recipes. I really think there are better things I can spend my time on. Maybe in the future but not now. Sorry about that.

[2017-11-13 23:15] #1321 closed, assigned to nobody

[2017-11-13 23:20] modmuss50 commented on #1323
No need.

[2017-11-13 23:20] #1323 closed, assigned to Yulife

[2017-11-13 23:39] drcrazy commented on #1321
Also having recipe selection might now work with craftweaker\minetweaker

[2017-11-14 10:07] Staegrin commented on #1340
Latest forge 2542 does not fix this.

I can still turn a block who has no 1x1 recipe normally into basic a machine casing.
![2017-11-14_10 52 10](https://user-images.githubusercontent.com/8494635/32773892-eed2ca28-c92a-11e7-8c5b-d8409f3893fa.png)

The recipe to turn a tech reborn basic machine frame into an IC2 basic machine casing also doesn't shown up in JEI. Only a blank crafting grid = IC2 bas

[2017-11-14 10:13] drcrazy commented on #1340
I hope issue fixed in TR in this commit: https://github.com/TechReborn/TechReborn/commit/53c8033a9927d5a7bf1087f9197cbc34731487ee

Updated version of TR is not released to curse yet.

[2017-11-14 11:34] #1326 closed, assigned to drcrazy

[2017-11-14 11:36] drcrazy commented on #1326
In 1.12 It will be in \config\teamreborn\techreborn\misc.cfg

Key "IC2TransformersStyle" in General section.

[2017-11-14 21:10] Staegrin commented on #1340
Latest forge 2542 does not fix this.

I can still turn a block who has no 1x1 recipe normally into basic a machine casing.
![2017-11-14_10 52 10](https://user-images.githubusercontent.com/8494635/32773892-eed2ca28-c92a-11e7-8c5b-d8409f3893fa.png)

The recipe to turn a tech reborn basic machine frame into an IC2 basic machine casing also doesn't shown up in JEI. Only a blank crafting grid = IC2 bas

[2017-11-15 12:09] Staegrin commented on #1340
Is indeed fixed. Thanks for all the help.

[2017-11-18 11:23] TheLimePixel opened #1342 "[1.12.2] Rolling Machine Dupe Glitch"
It's a bit hard to explain, but luckly someone made a video about it:

https://youtu.be/9NjlyU3m5cs

[2017-11-18 17:55] alexpic57 opened #1343 "[1.12.2] Dupe bug with a lot? of machines"
![2017-11-18_18-40-16](https://user-images.githubusercontent.com/2665978/32983228-a8d7c98c-cc91-11e7-8bda-64290efd95dd.gif)
![2017-11-18_18-43-27](https://user-images.githubusercontent.com/2665978/32983231-ada71508-cc91-11e7-90cb-ea84a0d7fc6e.gif)
![2017-11-18_18-48-54](https://user-images.githubusercontent.com/2665978/32983232-aeb3f0ba-cc91-11e7-89ca-e4b6406300a5.gif)

I only record this for 3 ma

[2017-11-18 20:31] #1343 closed, assigned to modmuss50

[2017-11-18 20:37] #1342 closed, assigned to modmuss50

[2017-11-26 15:30] ChiefLogan3010 opened #1344 "[Suggestion] Change mutiblock checks for water to be material"
For BWM hardcore buckets compat, discussed with Modmuss in the TR discord and posted here at his request.

[2017-11-27 13:34] #1202 closed, assigned to modmuss50

[2017-11-27 17:21] SawFowl opened #1345 "SpongeForge Low tps"
Timings
https://timings.aikar.co/?id=b0040837a1504e4480e68531e6292f1e

[2017-11-27 17:36] modmuss50 commented on #1345
Can you provide more information. Have you placed compressed air down? What version of the mod are you using? This isnt a lot of help.

[2017-11-27 18:00] SawFowl commented on #1345
The latest version of the mod.

All that was installed. I'm sorry, of course, I have everything in Russian, maybe you will not understand everything in the screenshots.
https://imgur.com/a/Zs8NB

[2017-11-27 19:11] modmuss50 commented on #1345
Does this happen without sponge forge? As I dont usually provide support for it.

[2017-11-28 04:51] SawFowl commented on #1345
Without Sponge did not check. I'm only dealing with the server. Perhaps the problem was not with these blocks. In the spawn of the world, a failure occurred and some of the blocks were replaced by others, although the server delay decreased after I removed and then placed the structures that you can see in the screenshots.
If I have any more useful information, I'll let you know. If you need lists

[2017-11-28 10:33] drcrazy commented on #1345
"techreborn:techreborn_techreborn.compressedair" is an itemblock for CompressedAir fluid. And this is strange stuff. Block for compresed air is "fluidcompressedair". Players are not able to get "techreborn:techreborn_techreborn.compressedair" in a legit way.

[2017-11-28 10:46] SawFowl commented on #1345
I also did not use it, then the load on the server looks even stranger.

[2017-11-28 11:07] modmuss50 commented on #1345
Please remove Sponge Forge, and reopen if the issue is still there.

[2017-11-28 11:07] #1345 closed, assigned to drcrazy, modmuss50

[2017-11-28 11:10] SawFowl commented on #1345
Unfortunately this is no longer clear, after the server reboot the id of the blocks from the mod has changed to random, the delay has disappeared, but I now have to make a map of the past.

[2017-11-28 11:12] SawFowl commented on #1345
I'll try to put the update you did yesterday. If the problem recurs, I'll let you know.

[2017-11-28 11:12] modmuss50 commented on #1345
Please remove sponge forge, and then come back for support.

[2017-11-29 09:35] #1344 closed, assigned to modmuss50

[2017-11-29 09:47] modmuss50 commented on #1319
Fixed in https://github.com/TechReborn/RebornCore/commit/988aa34c736568b656998902d6c157f890050ff4

[2017-11-29 09:47] #1319 closed, assigned to modmuss50

[2017-11-29 22:54] GLugia opened #1346 "Environmental Tech and Tech Reborn problem"
Tech Reborn constantly retrogens ores while the Void Ore Miner is running. It's been causing the server to freeze but the client is fine. I'm not getting any errors either. It's just really tedious since I would prefer to not have to mine much (if at all) during my mid-game antics. I have noticed that I haven't been getting any of Reborn's ores through the miner so it may be that the mod is trying

[2017-11-29 23:06] modmuss50 commented on #1346
Was TechReborn added later after the world was first generated?

[2017-11-29 23:58] GLugia commented on #1346
No. I added Tech Reborn during a world save that was set to creative and allowing cheats. The current world I play on was created after I added it and is survival without cheats.

[2017-12-01 21:34] Yzelast opened #1349 "No energy use on eletric furnace with 4 speed upgrades"
Hey guys, after some time of playing my pack i think i found a bug with the eletric furnace.

After placing the fourth speed upgrade, the machine runs without energy cost.

I also recorded a video to show the bug occuring : https://youtu.be/bAKCsHID_54

forge 1.12.2-14.23.1.2557
techreborn 2.10.0.364
reborncore 3.5.1.166

[2017-12-02 04:16] Locomotivers opened #1351 "Rolling machine doesn't accept items from top"
So I've trying to automate rolling machine with different mods (Integrated Tunnels, AE2) since R function doesn't work. but when I tried to input to the top side. Items won't go in at all.

Here is a short video about it

https://youtu.be/-doSzUQEDSw

forge - 14.23.1.2256
reborn core - 3.5.0.162
tech reborn - 2.10.0.364

[2017-12-02 06:22] fallenhunter1 opened #1352 "Automation Woes"
Automation problem.

Been at this all day. off and on.

Seems that the Industrial grinder has a few issues, some might intentional, most should not.

1) I have not found a way to pipe water into said machine directly. Using an ender IO tank, and a bucket, atm.  Is this a piping issue or am I missing something.

2) Piping in Ores, the ores seem to go into any slot it feels like. No pattern I can fi

[2017-12-02 13:56] ZeekDaGeek opened #1353 "Transformer upgrades don't increase Input Rate"
Putting transformer upgrades into machines doesn't seem to increase their input rate at all when it comes to the tool tip or RF consumption:

No transformer upgrades:
![No upgrades](http://zeekdageek.tv/ss/TIjm2.png)

2 Transformer upgrades:
![2 Upgrades](http://zeekdageek.tv/ss/u4jY1.png)

[2017-12-02 13:59] ZeekDaGeek commented on #1349
Side note: Your a bunch of your friends phone numbers are in that video, you may want to edit, reupload it and update your ticket. <;

[2017-12-02 15:52] Yzelast commented on #1349
Oops, totally forgot this. This is another video: https://youtu.be/VTnJ0RJF7Mg
i made another because i edited the first one wrong and it was faster to make another.
Furthermore i did a minor forge update from 14.23.1.2557 to  14.23.1.2558

[2017-12-02 15:53] modmuss50 commented on #1349
humm, that is a strange one. I think I know whats up. Should be an easy fix.

[2017-12-04 08:30] drcrazy commented on #1351
Duplicate for #1321

[2017-12-04 08:30] #1351 closed, assigned to drcrazy

[2017-12-04 11:03] #1353 closed, assigned to drcrazy

[2017-12-04 19:33] drcrazy commented on #1352
You can pipe water in 1.12
Piping ores just fixed.

![image](https://user-images.githubusercontent.com/1382352/33572130-17efe7ba-d943-11e7-9027-bc5db9e46b3d.png)

[2017-12-04 19:34] #1352 closed, assigned to drcrazy

[2017-12-04 20:56] #1349 closed, assigned to modmuss50

[2017-12-04 20:57] modmuss50 commented on #1346
I dont know how this could be our issue (Feel free to prove me wrong), I would recommend disabling retro gen and opening an issue on the ET tracker if you still have issues. Please let me know if you or the dev of ET have any ideas.

[2017-12-04 20:57] #1346 closed, assigned to modmuss50

[2017-12-06 03:15] ATMT88 opened #1354 "Potential bugs"
Hello TechReborn admins,

Recently I found some potential bugs.

1. display problem and crash. Under 1.10.2 and 1.11.2, there are some display problems with the conductive threads and machines.
 Crash sometimes happens when putting multiple items into the digital/quantum box.

2. problem of the conductive thread. In 1.12 version, part of the threads are super-conductive, such as HV thread.

If I u

[2017-12-06 08:14] drcrazy commented on #1354
Hello @xuexiaobin ,
Is p.3 about 1.12 ?

[2017-12-07 15:02] drcrazy commented on #1354
Just tested.
AESU transfers energy fine. Grinder got energy from it.
![image](https://user-images.githubusercontent.com/1382352/33721277-a18b4a4c-db77-11e7-903e-026641896da4.png)

There is an issue with GUI, like actual output rate is not show, Reproduced only in SMP.
![image](https://user-images.githubusercontent.com/1382352/33721473-2a2f75ee-db78-11e7-94ee-9483281403b3.png)

[2017-12-07 21:51] Aphenon commented on #1320
The old rolling machine from Railcraft did have this automate-able behaviour, where it left the last set of crafting ingredients in the machine as a pattern,

[2017-12-08 05:00] VermillionX opened #1355 "[1.12.2] Transformers not outputting to IC2"
With the IC2 Transformers config enabled so that the TR transformers are useful, they won't output to adjacent IC2 blocks through their output sides.

[2017-12-08 05:04] VermillionX opened #1356 "[1.12.2] Dusts, Ingots and Blocks not craftable/decraftable"
Several metal dusts (Brass, Electrum, Invar, etc...) cannot be smelted into ingots without the use of TiC or IE's Arc Furnace.
Similarly, metal blocks of the same type (made via TiC smeltery, since you can't craft them) cannot be crafted into ingots.
Additionally, Ashes can be Electrolyzed for Carbon Fiber Cells, instead of Carbon Cells. Carbon Cells can be made into Carbon Fiber, but Carbon Fiber

[2017-12-08 06:48] OneEyeMaker opened #1357 "[1.12+] Allow discharging IC2 items"
Hello.
Mostly, the title says it all. Energy containers (and other machines) of this mod allow charging IC2 items, but not allow discharging.
It can be done simply, because IC2 API (find it on [Jenkins](http://jenkins.ic2.player.to/job/IC2_112/16/)) provides such methods (check ```ic2.api.item.IElectricItemManager```). Just by adding similar helper method:
https://github.com/TechReborn/TechReborn/

[2017-12-08 11:06] modmuss50 commented on #1357
Yeah, that should be possible.

[2017-12-08 13:43] #1356 closed, assigned to drcrazy

[2017-12-09 07:08] frank89722 opened #1358 "[1.12+] Crash when shift right click on machine with a wrench"
I want to take away my solar panel but it crash as soon as I use the wrench to shift right click on it

[Crash report](https://pastebin.com/yKxJZdEd)

If you need other information please let me know :)

[2017-12-09 16:48] VimbaTheFish opened #1359 "[1.12] Error in console"
I do't know, does it have any influence on gameplay, but anyway, error in console: https://pastebin.com/ZhayKTar

forge-1.12.2-14.23.0.2551-universal.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2742.jar

[2017-12-09 16:50] modmuss50 commented on #1359
Seems like an issue with sponge forge, but I should be able to fix it.

[2017-12-09 18:14] KAfable opened #1360 "[Suggestion] Add fluid handling capabilities to the Assembling Machine"
I know this goes beyond the scope of GT that TR was based on, but would it be possible to add fluid tanks/fluid handling/consumption to the Assembling Machine?

**GUI Changes**
The UI has some whitespace on the left you can add for a vertical bar representing the tank similar to the one  in the industrial grinder. It'll also probably need a slot below that to allow players to shift click portable

[2017-12-10 15:24] ghost opened #1361 "Gold Block in Compressor makes Iron Plates"
See Video:

https://pudding.tk/YUtoqSRM.mp4

Minecraft-Version: 1.12.2
Mod-Version: TechReborn-1.12.2-2.9.1.354-universal
ModPack: Modern Skyblock 2 Version 2.7.2.2

[2017-12-11 08:52] drcrazy commented on #1361
Not reproduced.

![image](https://user-images.githubusercontent.com/1382352/33822768-d10714aa-de69-11e7-96c6-1eeb702a438d.png)

[2017-12-11 08:53] #1361 closed, assigned to drcrazy

[2017-12-11 09:03] #1358 closed, assigned to drcrazy

[2017-12-11 11:41] ghost opened #1362 "Gold Block in Compressor makes Iron Plates Part 2"
See here: https://github.com/TechReborn/TechReborn/issues/1361

Dont close >.<

i think the bug comes with Thermal Foundation

[2017-12-11 11:45] drcrazy commented on #1362
I saw video. Clean install of MC with TR only doesn't have this issue. Please, report to whatever mod register Block of Gold with ore dictionary name as 'blockMetal'

[2017-12-11 11:47] modmuss50 commented on #1362
I think this might be our issue. Ill take a look at it when I get a chance

[2017-12-11 12:09] #1362 closed, assigned to modmuss50

[2017-12-12 01:40] deathtar opened #1363 "multi block"
i am working on building a mod pack i have your mod in it every think seems to be working fine except when i place any part on a multi block other than the main block
and yes i do have the latest version
it crashes my server and my game

[2017-12-12 01:44] deathtar commented on #1363
i am working on building a mod pack i have your mod in it every think seems to be working fine except when i place any part on a multi block other than the main block
and yes i do have the latest version

[2017-12-12 01:45] deathtar commented on #1363
it crashes my server and my game

[2017-12-12 02:19] covers1624 commented on #1363
Not really helpful, we can't read minds or log on to your computer to grab the crash report. Please provide it through a service such as http://pastebin.com or https://gist.github.com/

[2017-12-12 03:22] deathtar commented on #1363
[crash-2017-12-07_15.49.31-server.txt.zip](https://github.com/TechReborn/TechReborn/files/1550140/crash-2017-12-07_15.49.31-server.txt.zip)

[2017-12-12 03:23] deathtar commented on #1363
[crash-2017-12-07_15.49.31-server.txt](https://github.com/TechReborn/TechReborn/files/1550141/crash-2017-12-07_15.49.31-server.txt)

[2017-12-12 03:29] deathtar commented on #1363
sry i dint think about adding that i hope this can be fix i really want to add this to my mod pack